@import "project/_imports";

@screen-lg: ~"(min-width:1901px)";
@screen-md: ~"(min-width:1360px) and (max-width:1900px)";
@screen-sm: ~"(min-width:768px) and (max-width:1359px)";

html,body,.page{
    height: 100%;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom:1
}


.page>main{
    position: relative;
    min-width: 1000px;
    height: 100%;
    overflow: hidden;
    background: url("/static/images/app_download/app_download_page_bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    @media @phone {
        min-width: 0;
        height: auto;
        background-image: url("/static/images/app_download/app_download_page_bg_mobile.jpg");
    }
    @media @screen-lg {
        min-height: 950px;
    }
    @media @screen-md {
        min-height: 800px;
    }
    @media @screen-sm {
        min-height: 700px;
    }
    &:after{
        position: absolute;
        z-index: 1;
        content: '';
        width: 100%;
        height: 60%;
        top: 20%;
        left: 0;
        background: rgba(88,101,100,0.8);
        @media @phone{
            height: auto;
            top: 180px;
            bottom: 270px;
        }
    }
    .guideLine {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: rgba(0,0,0,0.75);
        p{
            width: 180px;
            margin: 20px auto;
            line-height: 1.4em;
            color: #fff;
            font-size: 18px;
        }
        i.arrow{
            display: block;
            position: absolute;
            right: 21px;
            top: 6px;
            width: 52px;
            height: 40px;
            background: url("/static/images/app_download/guide_arrow.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
 }

