/*! Created by frank on 14-9-23.  */
.bigPictureBg {
    background: url('/static/images/background/login-background.jpg') no-repeat center top;
    background-size: cover;
    overflow: hidden;
    min-height: 300px;
    display: table;
    width: 100%;
    > .inner {
        display: table-cell;
        vertical-align: middle;
    }
}
