@import "project/_imports";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    .watermark {
        width: 58.28%;
        margin-left: 20.8%;
        margin-top: 8.85%;
        position: absolute;
        z-index: 0;
    }

    
}
.container {
   position: absolute;
   z-index: 1;
   width: 100%;
   .header {
        padding:2.2%;
        border-bottom: 1px solid #808080;
        .logo {
            width: 22.44%;
        }
    }

    .content {
            padding:5.2%;
            overflow: hidden;
            label.hint {
                color: #999999;
                font-size: 1.0rem;
                font-weight: bold;
                line-height: 1em;
            }

            p.value {
                font-size: 2.0rem;
                margin-top: 0.8rem;
                margin-bottom: 0px;                
                word-break: break-word;
            }
            p.tip {
                font-size: 0.9rem;
                line-height: 1.1em;
                color: #666;
                margin: 0;
            }
            div.field {
                margin-bottom: 4rem;
            }

            div.tenant {
                float: left;
                display: inline-block;
                width: 24.47%;
                height: 100%;
                border-right: 1px solid #c9cbcc;                
            }

             div.right {    
                float: left;
                display: inline-block;            
                width: 75%;
                div.property {
                    padding-left: 10%;
                    overflow: hidden;
                    div.field {
                        float: left;
                        display: inline-block;
                        width: 30%;
                        margin-left: 0px;
                        margin-right: 0px;
                        &.address {
                            width: 90%;
                        }                                                                                                
                    }
                }

                div.fee {
                    overflow: hidden;
                    margin-left: 10%;
                    border-top: 1px solid #ccc;
                    padding-top: 10%;
                    div.field {
                        float: left;
                        display: inline-block;
                        width: 25%;
                        .value {
                            color: @red;
                        }
                    }
                }
            }
    } 
    .footer {
        border-top: 1px solid #808080;
    }           
}

        
    
