@import "project/_imports";

* {
    box-sizing: border-box;
}
.fl{float: left;}
.fr{float: right;}
@chat-blue-color: #2bbde5;
@chat-green-color: #83c900;

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ddd;
}
/* bubble style */
.bubble {
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin: 0 10px;
    &:before,&:after {
        position: absolute;
        top: 13px;
        border: 8px solid transparent;
        content: " "
    }
    &.right:after {
        border-left-color: #FFF
    }
    &.left:before,&.left:after {
        right: 100%
    }
    &.left:after {
        border-right-color: @chat-blue-color;
        border-right-width: 8px
    }
    &.right:before,&.right:after {
        left: 100%
    }
    &.bubble_default {
        background-color: @chat-blue-color;
    }
    &.bubble_primary {
        background-color: @chat-green-color;
        &.left:after {
            border-right-color: @chat-green-color;
            border-right-width: 8px
        }
        &.right:after {
            border-left-color: @chat-green-color;
            border-left-width: 8px
        }
        &.right.arrow_primary:before {
            border-left-color: @chat-green-color;
            border-left-width: 8px
        }
        &.right.arrow_primary:after {
            border-left-color: #fff;
            border-left-width: 8px;
            margin-left: -3px
        }
    }
    .bubble_cont {
        word-wrap: break-word;
        word-break: break-all;
        min-height: 25px;
        li{
            overflow: hidden;
            color: #888;
        }
        img {
            vertical-align: middle;
        }
        .plain {
            padding: 12px 15px;
            color: #fff;
            >pre{
                margin: 0;
                padding: 0;
            }
        }
    }
}

/* message */
.message{
    width: 100%;
    margin-bottom: 30px;
    float: left;
    .avatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        float: left;
    }
    .content{
        overflow:hidden;
    }
    &.me{
        float: right;
        text-align: right;
        clear: right;
        .avatar{
            float: right;
        }
    }
}




.main_container{
    max-width: 1080px;
    margin: 100px auto;
    position: relative;
}



/* chat user info */
.chatUserInfo{
    width: 350px;
    background: #fff;
    .userHeader{
        padding: 24px;
        height: 230px;
        background-color: @chat-blue-color;
        .chatHost & {
            background-color: @chat-green-color;
        }
        text-align: center;
        &_pic{
            display: block;
            width: 132px;
            height: 132px;
            overflow: hidden;
            background: #fff;
            border-radius: 50%;
            border: 5px solid #fff;
            margin: 0 auto 10px;
            >img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &_type{
            font-weight: bold;
            font-size: 12px;
            color: #8adbf1;
            .chatHost & {
                color: #c1e480;
            }
        }
        &_name{
            font-size: 16px;
            color: #fff;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .chatDetails{
        border: 1px solid #ccc;
        border-top-color: #fff;
        background: #fff;
        padding: 12px 20px 1px;

    }
}
.chatCenter{
    width: 680px;
    .box_hd{
        overflow:hidden;
        margin-bottom: 20px;
        >.fl{
            width: 580px;
        }
        >.fr{
            width: 80px;
        }
        .content{
            height: 170px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 20px;
            .edit_area{
                height: 9em;
                width: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0 10px;
                margin: 7px auto;
                outline: 0;
                border: 0;
                resize: none;
                font-size: 14px;
                vertical-align: top;
            }
            .toolbar{
                height: 28px;
                line-height: 28px;
                margin: 0 10px;
                font-size: 20px;
                a{
                    color: #999;
                    text-decoration: none;
                }
            }
        }
        .action{
            text-align: right;
            .btn_send{
                width: 120px;
                height: 38px;
                font-weight: bold;
                font-size: 14px;
                line-height: 38px;
                border-radius: 3px;
                background: @chat-green-color;
                .chatHost & {
                    background: @chat-blue-color;
                }
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                display: inline-block;
                text-decoration: none;
            }
        }
        .avatar{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow:hidden;
        }
    }
}

.chatContent{
    border-top: 2px solid #dcdcdc;
    padding-top: 20px;

}

/* userDetailsList style */
.userDetailsList{
    margin-bottom: 20px;
    border-bottom: 2px solid #e6e6e6;
    &:last-of-type{border-bottom: 0;}
    >dt{
        border-bottom: 2px solid #e6e6e6;
        font-weight: bold;
        font-size: 12px;
        color: #999;
        text-transform: uppercase;
    }
    >dd{
        margin: 3px 6px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        overflow: hidden;
        >span{
            float: left;            
            color: #707070;
        }
        >strong{
            float: right;
            font-weight: bold;
            color: #2fbee5;
        }
        &.total{
            font-size: 16px;
        }
    }
}





