@import "project/_imports";

.horizontalCenter(@width:100px) {
    position: absolute;
    left: 50%;
    width: @width;
    margin-left: -@width /2;
}

* {
    box-sizing: border-box;
}

html { height: 100%; }

body {
    height: 100%;
    .opening {
        background: url('/static/images/background/login-background.jpg') no-repeat center center;
        height: 100%;
        background-size: cover;
        min-height: 672px;
        &_inner { //子元素的 margin 依赖于宽度，所以这里设置了最大宽度，保证 resize 时，margin 不会过大，而让子元素超出背景高度
            max-width: 700px; margin: 0 auto; text-align: center; position: relative; height: 100%;
            @content-margin-top: 6%;
            .logo { margin-top: @content-margin-top; }
            .hint { margin-top: 12%; margin-bottom: 4%; font-size: 48px; letter-spacing: 3px;
                @media @phone {
                    font-size: 24px;
                }
                color: #ffffff;
            }
            .subscription {
                > input {
                    width: 450px; font-size: 20px; height: 48px; padding: 0 10px; vertical-align: middle; color: #ffffff;
                    border: 2px solid; display: inline-block; background: transparent; border-radius: 6px;
                    @media @phone {
                        width: 80%;
                        font-size: 16px;
                    }
                }
                > button {
                    margin-left: 20px;
                    width: 110px;
                    @media @phone {
                        margin-left: 0px;
                        margin-top: 20px;
                        width: 80%;
                    }
                }
                > .resultMessage {
                    display: none; color: red; margin-top: 10px; margin-bottom: 0px;
                }
            }
            .wechat {
                @width: 120px;
                position: absolute; bottom: 16px;
                width: @width; margin-left: -@width / 2; left: 50%;
            }
        }
    }

    .whatWeDo {
        &_wrapper {
            background: #EEEEEE;
        }
        overflow: hidden;
        padding: 100px;
        @media @phone {
            padding: 10px;
        }
        .title {
            text-align: center;
            font-size: 36px;
            color: #333333;
        }
        .description {
            margin-top: 88px;
            text-align: center;
            font-size: 14px;
            line-height: 34px;
            color: #666666;
            @media @phone {
                margin-top: 20px;
                line-height: 1.6em;
            }
        }
    }

    .requirement {
        max-width: 1200px;
        margin: 100px auto;
        overflow: hidden;
        left: 50%;
        &_title {
            float: left;
            .title {
                margin-top: 0px;
                font-size: 36px;
                color: #333333;
            }
            .subtitle {
                font-size: 12px;
                line-height: 2;
                color: #999999;
                max-width: 360px;
            }

            @media @phone {
                float: none;
                padding: 10px;

                .title {
                    margin-top: 0px;
                    font-size: 24px;
                }
                .subtitle {
                    font-size: 12px;
                    line-height: 1.6em;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
        }

        &_form {
            float: right;
            input {
                width: 270px;
                padding-left: 0.5em;
                padding-right: 0.5em;
                &.phone {
                    width: 170px;
                }
            }
            .form_row { line-height: 1.5; }
            .budgetHint {
                font-size: 14px;
                color: #333333;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            select {
                width: 270px;
                &.coutry {
                    width: 96px;
                }
            }
            textarea {
                width: 560px;
                height: 150px;
                padding: 0.5em;
                margin-top: 20px;
            }
            button {
                margin-top: 8px;
            }
            > .resultMessage {
                display: none; color: red; margin-top: 10px; margin-bottom: 0px;
            }
            @media @phone {
                float: none;
                padding: 10px;
                input {
                    width: 100%;
                    &.phone {
                        margin-left: 2%;
                        width: 70%;

                    }
                }
                select {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                }
                button {
                    width: 100%;
                }
            }
        }

        @media @phone {
            margin: 20px auto;
        }
    }
}

.copyright { .clearfix(); overflow: hidden; background: @copyright-bg; height: 40px; width: 100%;
    > p { margin: 12px auto; height: 100%; max-width: @max-width; font-size: 14px; text-align: center; color: #ffffff; }
}

.placeholder { color: #ccc !important; }
