@import "project/_imports";

.horizontalCenter(@width:100px) {
    position: absolute;
    left: 50%;
    width: @width;
    margin-left: -@width /2;
}

* {
    box-sizing: border-box;
}
html { height: 100%; }
body {
    height: 100%;
    .opening {
        background: url('/static/images/background/login-background.jpg') no-repeat center center;
        height: 100%;
        background-size: cover;
        min-height: 672px;
        &_inner {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            @content-margin-top: 3%;
            .logo {
                margin-top: @content-margin-top;
            }

            .hint {
                margin-top: 6%;
                font-size: 48px;
                color: #ffffff;
            }
            .subscription {
                margin-top: 6%;
                > input {
                    width: 450px;
                    font-size: 20px;
                    line-height: 48px;
                    height: 48px;
                    padding: 0 10px;
                    vertical-align: middle;
                    color: #ffffff;
                    border: 2px solid;
                    display: inline-block;
                    background: transparent;
                    border-radius: 6px;
                }
                > button {
                    margin-left: 20px;
                    width: 110px;
                }
            }
            .wechat {
                margin-top: 7%;
            }
        }
    }

    .whatWeDo {
        &_wrapper {
            background: #EEEEEE;
        }
        overflow: hidden;
        padding: 100px;
        .title {
            text-align: center;
            font-size: 36px;
            color: #333333;
        }
        .description {
            margin-top: 88px;
            text-align: center;
            font-size: 14px;
            line-height: 34px;
            color: #666666;
        }
    }

    .requirement {
        max-width: 1200px;
        height: 680px;
        margin: 100px auto;
        overflow: hidden;
        left: 50%;
        &_title {
            float: left;
            .title {
                margin-top: 0px;
                font-size: 36px;
                color: #333333;
            }
            .subtitle {
                font-size: 12px;
                line-height: 2;
                color: #999999;
                max-width: 360px;
            }
        }

        &_form {
            float: right;
            input {
                width: 270px;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }
            .budgetHint {
                font-size: 14px;
                color: #333333;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            select {
                width: 270px;
            }
            textarea {
                width: 560px;
                height: 150px;
                padding: 0.5em;
                margin-top: 20px;
            }
            button {
                margin-top: 8px;
            }
        }
    }
}

.copyright { .clearfix(); overflow: hidden; background: @copyright-bg; height: 40px; width: 100%;
    > p { margin: 12px auto; height: 100%; max-width: @max-width; font-size: 14px; text-align: center; color: #ffffff; }
}
.placeholder { color: #ccc !important; }
