/*! Created by frank on 14-9-5.  */
@import "project/_imports";

body { font: 14px/1.6 @font-normal; }

.page {
    background: #ffffff;
    > main { min-height: 300px; }
}

.textCenter {
    text-align: center;
}

.error { color: @red; }
