/*! Created by frank on 14-9-5.  */
@import "project/_imports";

body { font: 14px/1.6 @font-normal; }

.page {
    background: #ffffff;
    > main {
        min-height: 300px;
        width:100%;
        min-width:@min-page-width;

        @media @phone {
            min-width:0;
        }
    }
}

p, label {text-decoration:none;}

.textCenter {
    text-align: center;
}

.error { color: @red; }

.clearfix { .clearfix(); }


.withPlaceholder {
    background-color:#eee;
    background-image: url('/static/images/placeholder/holder.png');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    width:100%
}
