@import "project/_imports";
@orange: #ff6600;
@orange2: #ff7800;
@blue: #0ba1df;
@text: #666;
.lighter(){
    font-weight: lighter;
    @media @phone{
        font-weight: normal;
    }
}
.orangeBg(){
    background-color: @orange;
}
.orangeColor(){
    color: @orange;
}
.howItWorks {
    display: block;
    @media @phone {
        display: none;
    }
}
.howItWorks_phone {
    display: none;
    @media @phone {
        display: block;
    }
}
.clearfix {
    *zoom: 1;
    &:after {
        content: "\200B";
        display: block;
        height: 0;
        clear: both;
    }
}

main{
    h1,h2{
        .lighter()
    }
    color: @text;
    .lighter();
    .gallery {
        position: relative;
        overflow: hidden;
        margin-bottom: 102px;
        @media @phone {
            margin-bottom: 60px;
        }
        .img {
            position: relative;
            display: block;
            width: 100%;
            background-size: cover;
            background-position: 50% 50% !important;
            @media @phone {
                height:300px;
            }
        }

        .img:before{
            content:"";
            display: block;
            padding-top: 540px; 	/* initial ratio of 1:1*/
        }

        .img_shadow{
            background:#000000;
            opacity: .60; /* Standards Compliant Browsers */
            filter: alpha(opacity=60); /* IE 7 and Earlier */
            /* Next 2 lines IE8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top:0;
        }

        .imageText {
            &_table {
                display: table;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 110px;
                @media @phone {
                    margin-top: 40px;
                }
                width: 100%;
            }
            &_wrapper {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                height: 100%;
                width: 100%;
            }

            margin: 0 auto;
            .slogan {
                color: #ffffff;
                font-size: 54px;
                margin-bottom: 20px;
                @media @phone {
                    margin-bottom: 21px;
                    font-size:24px;
                    line-height:1.4em;
                }
            }
            h2{
                position: static;
                font-size: 30px;
                @media @phone {
                    font-size:18px;
                    line-height:1.4em;
                }
            }
            .button {
                font-size: 28px;
                margin-top: 93px;
                padding: 16px 46px;

                @media @phone {
                    margin-top:30px;

                    font-size:18px;
                    line-height:14px;
                    padding: 18px 27px;
                    border-radius: 3px;
                }
                &.orange{
                    .orangeBg;
                    &:hover{
                        background-color: lighten(@orange, 10%);
                    }
                }

            }
        }
    }
    .container{
        width: 1280px;
        margin: 0 auto;
        @media @phone {
            width: 100%;
        }
        .part{
            float: left;

            @media @phone {
                margin: 0 auto 30px;
            }


            &.partOfTwo{
                width: 640px;
                @media @phone {
                    width: 100%;
                }
            }
            &.partOfThree{
                width: 420px;
                &:first-child{
                    margin-left: 10px;
                }
                @media @phone{
                    width: 100%;
                }
            }
        }
    }
    .box{
        margin-bottom: 100px;
        text-align: center;
        overflow: hidden;
        @media @phone {
            margin-bottom: 70px;
        }
        h2{
            position: relative;
            display: inline-block;
            margin-bottom: 90px;
            font-size: 34px;
            @media @phone {
                font-size: 21px;
                line-height: 2em;
                margin-bottom: 36px;
            }
            &.title:after{
                position: absolute;
                left: 0;
                bottom: -6px;
                width: 100%;
                height: 4px;
                background-color: #ccc;
                content: '';
                @media @phone {
                    height: 2px;
                }
            }
        }

        p{
            margin: 0 auto 48px;
            padding: 50px;
            font-size: 22px;
            line-height: 1.8em;
            @media @phone {
                margin-bottom: 25px;
                padding: 30px;
                font-size: 17px;
            }
            strong{
                .orangeColor;
            }
        }
        .img{
            margin: 0 auto;
            background-size: contain;
        }
        @device-width:calc(~'100%+0px');
        &.chartBox{
            .img{
                width:1200px;
                height: 428px;
                @media @phone{
                    width: 100vw;
                    height: 100vw * 428 / 640;

                }
            }

        }
        &.chartBox2{
            background-color: #eeeeee;
            background-size: cover;
            margin-bottom: 145px;
            padding: 50px 0 80px;
            @media @phone {
                margin-bottom: 65px;
            }
            p{
                margin-top: 32px;
            }
            .img{
                width: 1204px;
                height: 413px;
                @media @phone{
                    width: 100vw;
                    height: 100vw * 421 / 640;
                }
            }
        }
        &.whatBox {
            margin-bottom: 0;
            @media @phone {
                margin-bottom: 20px;
            }
            h2{
                margin-bottom: 50px;
                @media @phone {
                    margin-bottom: 20px;
                }
            }
        }
        &.operationMode{
            margin-bottom: 70px;
            padding: 100px 0;
            background: url("/static/images/crowdfunding/background.png") 50% 50%;
            background-size: cover;
            @media @phone {
                padding: 80px 0 20px;
                margin-bottom: 100px;
            }

            .textWrapper{
                text-align: left;
                @media @phone {
                    text-align: center;
                }
                h2{
                    margin: 54px auto 50px 50px;
                    @media @phone {
                        margin: 20px auto 20px;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 2em;
                    @media @phone {
                        font-size: 17px;
                    }
                }
            }
            .img{
                width: 482px;
                height: 490px;
                @media @phone {
                    width: 80vw;
                    height: 80vw * 490 / 482;
                }
            }
        }
        &.advantage{
            .part{
                margin-bottom: 0;
                @media @phone {
                    margin-bottom: 80px;
                    &:nth-child(3){
                        margin: 0 auto;
                    }
                }

            }
            h2{
                position: relative;
                color: @orange2;
                margin-bottom: 54px;
                @media @phone {
                    font-size: 26px;
                    margin-bottom: 40px;
                }
                &:before,&:after{
                    position: absolute;
                    content: '';
                    background-color: @orange2;
                    width: 4px;
                    height: 100%;
                    transform: skewX(-22deg);
                    z-index: 10;
                    @media @phone {
                        width: 2px;
                    }
                }
                &:before{
                    left: -20px;
                    @media @phone {
                        left: -15px;
                    }
                }
                &:after{
                    right: -20px;
                    @media @phone {
                        right: -15px;
                    }
                }
            }
            h3{
                margin-bottom: 40px;
                font-size: 20px;
                font-weight: bold;
                @media @phone {
                    width: 80%;
                    margin: 0 auto 40px;
                    text-align: center;
                    font-size: 18px;
                }
            }
            ol{
                li{
                    position: relative;
                    width: 290px;
                    margin: 0 auto 22px;
                    padding-left: 45px;
                    text-align: left;
                    font-size: 18px;
                    line-height: 1.5em;
                    @media @phone {
                        width: 65%;
                        margin: 0 auto 16px;
                        font-size: 16px;
                    }
                    &:before{
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        content: '';
                        top: 2px;
                        left: 8px;
                        background-image: url("/static/images/crowdfunding/num_sprites.png");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        @media @phone {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    &:nth-child(1):before{
                        background-position: 0 0;
                    }
                    &:nth-child(2):before{
                        background-position: 0 percentage(1/4);
                    }
                    &:nth-child(3):before{
                        background-position: 0  percentage(2/4);
                    }
                    &:nth-child(4):before{
                        background-position: 0  percentage(3/4);
                    }
                    &:nth-child(5):before{
                        background-position: 0  percentage(4/4);
                    }
                }
            }
        }
        &.orderBox{
            .part:nth-child(1){
                margin-bottom: 130px;
            }
            margin-bottom: 60px;
            @media @phone{
                margin-bottom: 100px;
            }
            .img{
                margin-bottom: 40px;
                img{
                    width: 580px;
                    height: 390px;
                    @media @phone {
                        width: 100vw;
                        height: 100vw * 390 / 580;
                    }
                }
            }
            .textWrapper{
                margin-bottom: 35px;
                height: 440px;
                @media @phone {
                    height: auto;
                }
                h2{
                    margin-bottom: 12px;
                    font-size: 38px;
                    @media @phone {
                        font-size: 28px;
                        margin-bottom: 8px;
                    }
                }
                h3{
                    margin-bottom: 34px;
                    font-size: 28px;
                    @media @phone{
                        font-size: 24px;
                        margin-bottom: 20px;
                    }
                    &.orange{
                        color: @orange;
                    }
                    &.blue{
                        color: @blue;
                    }
                }
                h4{
                    margin-bottom: 60px;
                    font-size: 24px;
                    @media @phone{
                        margin-bottom: 30px;
                        padding: 0 10%;
                        font-size: 21px;
                    }

                }
                p{
                    margin-bottom: 35px;
                    padding: 0 40px;
                    font-size: 17px;
                    line-height: 1.8em;
                    text-align: left;
                    @media @phone {
                        margin-bottom: 20px;
                        font-size: 15px;
                        text-align: center;
                    }
                }

            }
            .button{
                font-size: 24px;
                padding: 15px 30px;
                @media @phone {
                    font-size: 21px;
                    padding: 28px 35px;
                }
                &.orange{
                    background-color: @orange;
                    &:hover{
                        background-color: lighten(@orange, 10%);
                    }
                }
                &.blue{
                    background-color: @blue;
                    &:hover{
                        background-color: lighten(@blue, 10%);
                    }
                }
            }
        }
    }

}
