/*! Created by frank on 14-9-29.  */
@import "project/_imports";

@border-color: #ccc;
@light-text-color: #999;
@dark-text-color: #555;
@brochure-guide-color:#FFF7E4;

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.propertyDetails {
    .team {
        ul.members {
            margin-top:50px;
            li {
                display:inline-block;
                width:33%;
                overflow:hidden;
                text-align:center;

                .avatar_wrapper {
                    position:relative;
                    width:140px;
                    margin:0 auto;

                    .avatar {
                        background-repeat: no-repeat;
                        background-position: 50%;
                        border-radius: 50%;
                        width: 140px;
                        height: 140px;
                        border:5px solid #ccc;
                    }

                    .linkedin {
                        position:absolute;
                        bottom:0;
                        right:0;
                    }
                }

                label {
                    display:block;
                    &.name {
                        font-size:24px;
                        color:#666;
                    }

                    &.position {
                        font-size:14px;
                        color:#999;
                    }
                }
            }

        }
    }

    .materials {
        ul {
            margin-top:50px;

            li.material {
                display:inline-block;
                width:33%;
                overflow:hidden;
                img {
                    float:left;
                }

                .text {
                    float:left;
                    margin-left:15px;
                    label {
                        display:block;
                        &.name {
                            font-size:24px;
                            line-height:28px;
                            color:#666;
                        }

                        &.type {
                            font-size:14px;
                            color:#666;
                        }
                    }

                }
            }
        }
    }

    .records {
        margin-bottom:40px;

        table {
            width:100%;
            text-align:center;
            border:1px solid #ccc;

            tr {
                border-top:1px solid #ccc;
            }
            th {
                background:#eee;
                height:50px;
                font-size:14px;
                color:#999;

            }

            td {
                height:70px;
                font-size:14px;
                color:#666;

                &.name {
                    font-weight:bold;
                }

                &.status {
                    color:#55c800;
                    font-weight:bold;
                }
            }
        }

        .more {
            width:100%;
            border-left:1px solid #ccc;
            border-right:1px solid #ccc;
            border-bottom:1px solid #ccc;
            padding:40px 0;

            .expand {
                width:100px;
                background:transparent;
                border:0;
                margin:0 auto;
                display:block;
                font-size:14px;
                color:#999;
                vertical-align:middle;
            }
        }
    }

    .comments {
        .addComment {
            width:100%;
            overflow:hidden;
            h4.user {
                color:#372f2b;
                font-size:16px;
                float:left;
            }

            textarea[name=comment] {
                float:left;
                width:100%;
                height:120px;
                margin-top:20px;

            }

            button {
                display:block;
                float:right;
                margin-top:30px;
            }
        }

        .comment_list {
            width:100%;
            margin-top:20px;

            li {
                border-top:1px solid #ccc;
                padding:40px 20px;
                overflow:hidden;

                h4.user {
                    color:#372f2b;
                    font-size:16px;
                    float:left;
                    display:inline-block;
                }

                .date {
                    float:right;
                }

                .content {
                    float:left;
                }
                &:last-child {
                    border-bottom:1px solid #ccc;
                }
                &.staff {
                    background:#fff2da;
                }

            }

        }

        .loadMore {
            display:block;
            margin:40px auto;
        }
    }
}