@import "project/_imports";
main {
    .main_container {
        max-width: @max-width;
        margin: 0 auto;
        .title{
            margin-top: 60px;
            margin-bottom: 10px;
            font-size: 24px;
        }
        .subtitle{
            padding: 58px 40px 50px 40px;
            font-size: 20px;
        }

        .content {
            background-color: #f6f6f6;
            margin-bottom: 140px;
            hr{
                color: #cccccc;
            }
        }
        .detail {
            overflow: hidden;
        }
        .information {
            width: 50%;
            float: left;
        }
        td{
            font-size: 16px;
        }
        .text{
            text-align: right;
            color: #999999;
            padding: 0 50px ;
        }
        .property_type{
            color: #333333;
            font-size: 16px;
        }
    }
}