@import "project/_imports";

@light-text-color: #999;
@dark-text-color: #555;

main {
    max-width:@max-width;
    margin: 40px auto;
    overflow:hidden;

    @media @phone {
        margin: 0 auto;
    }
}

.host_wrapper {
    overflow: hidden;
    background: #f4f4f4;
    color: @light-text-color;
    .host {
        padding-top: @standard-margin*3;

        @media @phone {
            padding-top: @standard-margin*6;
        }
        .avatar {
            height: 80px;
            width: 80px;
            display: inherit;
            margin: 0 auto;
        }

        .hostName {
            margin-top: @standard-margin*2;
            width: 100%;
            padding: @standard-margin;
            font-size: @large-font-size;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            @media @phone {
                padding-top: @standard-margin*4;
            }
        }

        .hostType {
            width: 100%;
            padding: 0 8px 8px 8px;
            font-size: 0.95rem;
            text-align: center;
            display: inline-block;

        }


        .hostContactWrap{
            margin: 20px 0;
            .hostContact {
                display: none;
                padding: @standard-margin @standard-margin @standard-margin @standard-margin * 6;
                font-size: @slarge-font-size * 0.8;
                text-align: left;
                color: @dark-text-color;
                position: relative;
                &.show{
                    display: block;
                }
                @media @phone {
                    padding: @standard-margin @standard-margin @standard-margin @standard-margin * 3;
                    text-align: left;
                }
                a {
                    color: @dark-text-color;
                    text-decoration: none;
                }
                .ico{
                    display: inline-block;
                    height: 32px;
                    width: 32px;
                    vertical-align: text-bottom;
                    float: left;
                    margin-right: 16px;
                    font-size: 32px;
                    color: #666666;
                    @media @phone {
                        float: none;
                    }
                }
                span{
                    &.email{
                        width: 255px;
                        word-break: break-all;
                        float: left;
                        @media @phone{
                            width:auto;
                            float: none;
                        }
                    }
                }
            }
            .hint{
                color: #999;
                font-size: 16px;
                text-align: center;
                p{
                    margin-bottom: 20px;
                }
                img{
                    display: inline-block;
                    margin-bottom:20px;
                }
            }
        }

    }

    .contactRequest {
        &.hide{
            display: none;
        }
        margin: @standard-margin;

        button.ghostButton {
            display: block;
            margin: @standard-margin*2 auto;
            padding: @standard-margin 45px;
            line-height: 1;
            font-size: @root-font-size;
            color: #e60012;
            border-color: #e60012;
            p{
                margin: 0;
                font-size: 21px;

                &.hint{
                    margin-top: 4px;
                    font-size: 14px;
                }
            }
        }
        .knownMore{
            margin-bottom: 27px;
            display: block;
            font-size: 14px;
            color: #e60012;
            text-align: center;
            text-decoration: underline;
        }
    }
}

.contactRequestForm {
    display: none;
    padding: @standard-margin 24px @standard-margin; margin-top: 16px; background: #f6f6f6; overflow: hidden; margin-bottom: 16px;
    .row { .clearfix(); }
    @input-height: 44px;
    @input-color: #333;
    input[type=text], textarea { border: 1px solid @border-color; border-radius: 4px; display: block; width: 100%;
        height: @input-height; padding: 4px 16px; margin: @standard-margin 0; font-size: @base-font-size;
        color: @input-color; vertical-align: middle;
    }
    input[type=text][readonly] { background: #f6f6f6; }
    .label {
        margin: 16px 0 0;
        display: block;
    }
    .link {
        cursor: pointer;
        color: @red;
        text-decoration: none;
    }
    textarea { height: 200px; margin-top: 16px; font-size: 14px; }
    select { vertical-align: middle; font-size: @base-font-size; width: 100%; color: @input-color; }
    button { width: 100%; margin: 16px 0; padding: 16px 0; line-height: 1; font-size: 16px; }
    hr { margin: @standard-margin 0; }
    .contact {
        color: @red; font-size: 24px; text-align: center; padding: 16px 0;
        a {
            text-decoration: none;
            color: @red;
        }
    }
    .inputAddOn { position: relative;
        input { padding-right: 32px; }
        .addOn { position: absolute; right: 0; top: 0; font-size: @base-font-size; line-height: @input-height;
            display: inline-block; width: 32px; text-align: center;
        }
    }

    .phone {
        > select {
            height: @input-height; border: 1px solid @border-color; vertical-align: middle; margin: @standard-margin 0;
            font-size: @base-font-size; background: white;
            &[name=country] {
                width: 35%; float: left;
            }
        }

        > input[name=phone] {
            width: 63%; float: right;
        }
    }

    .code {
        > input[name=code] {
            width: 63%; float: left;
        }

        > button[name=getCodeBtn] {
            margin-bottom: 0px;
            margin-top: @standard-margin;
            padding: 14px 0px;
            width: 35%; float: right;
        }
    }
}
