* {
  box-sizing: border-box;
}
main .category {
  text-align: center;
  margin-top: 96px;
  overflow: hidden;
}
main .category_wrapper {
  height: 240px;
  width: 100%;
  background: #f6f6f6
            overflow: hidden;
}
main .result {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
main .result .result_number {
  font-size: 16px;
  line-height: 1em;
  margin: 0px;
}
main .result .result_number .number {
  color: #e82633;
}
main .result .result_list {
  margin-top: 44px;
}
main .result .result_list_container {
  margin-top: 80px;
  max-width: 800px;
  display: inline-block;
  float: left;
}
main .result .result_list .houseCard {
  margin-top: 0px;
  margin-bottom: 60px;
}
main .result .border {
  max-width: 800px;
  color: #ccc;
  margin: 0;
}
main .result .loadMore {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 132px;
  display: block;
}
main .result .tags {
  float: right;
  margin-left: 60px;
  margin-top: 140px;
  background: #f6f6f6;
  width: 340px;
  padding: 24px 20px 10px 20px;
}
main .result .tags .title {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1em;
  color: #333333;
}
main .result .tags .price,
main .result .tags .intention {
  margin: 0px;
  border-top: 1px solid #ccc;
  display: block;
  min-height: 180px;
}
main .result .tags .price_icon,
main .result .tags .intention_icon {
  float: left;
  display: inline-block;
  margin-top: 16px;
}
main .result .tags .price_title,
main .result .tags .intention_title {
  float: left;
  display: inline-block;
  margin-top: 16px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 14px;
}
main .result .tags .price .inner,
main .result .tags .intention .inner {
  margin-top: 72px;
  margin-bottom: 0px;
}
main .result .tags .price .inner .toggleTag,
main .result .tags .intention .inner .toggleTag {
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
}
