@import "project/_imports";

@font-face {
    font-family: 'icomoon';
    src:url('/static/fonts/icon_font/icomoon.eot');
    src:url('/static/fonts/icon_font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/icon_font/icomoon.woff') format('woff'),
    url('/static/fonts/icon_font/icomoon.ttf') format('truetype'),
    url('/static/fonts/icon_font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.red{
        color: @red;
    }
}
.icon-bicycling:before {
    content: "\e900";
}
.icon-transit:before {
    content: "\e901";
}
.icon-driving:before {
    content: "\e902";
}
.icon-walking:before {
    content: "\e903";
}
.icon-requirement_line:before {
    content: "\e666";
}
.icon-eye_line:before {
    content: "\e664";
}
.icon-phone_line:before {
    content: "\e665";
}
.icon-minus:before {
    content: "\e663";
}
.icon-bubbles:before {
    content: "\e662";
}
.icon-gift:before {
    content: "\e661";
}
.icon-android:before {
    content: "\e65d";
}
.icon-pc:before {
    content: "\e65e";
}
.icon-QA:before {
    content: "\e65c";
}
.icon-invest:before {
    content: "\e65a";
}
.icon-key:before {
    content: "\e65b";
}
.icon-circle:before {
    content: "\e659";
}
.icon-play:before {
    content: "\e658";
}
.icon-up_arrow2:before {
    content: "\e657";
}
.icon-search_icon:before {
    content: "\f002";
}
.icon-Apple_logo:before {
    content: "\e656";
}
.icon-email:before {
    content: "\e655";
}
.icon-email_header:before {
    content: "\e654";
}
.icon-down_arrow:before {
    content: "\e64f";
}
.icon-down_arrow1:before {
	content: "\e65f";
}
.icon-enter:before {
    content: "\e650";
}
.icon-left_arrow:before {
    content: "\e651";
}
.icon-right_arrow2:before {
    content: "\e652";
}
.icon-up_arrow:before {
    content: "\e653";
}
.icon-coin_hiw:before {
    content: "\e649";
}
.icon-double_file_hiw:before {
    content: "\e64a";
}
.icon-select:before {
    content: "\e64b";
}
.icon-submit:before {
    content: "\e64c";
}
.icon-switch_button:before {
    content: "\e64d";
}
.icon-user_header:before {
    content: "\e64e";
}
.icon-circle_close_delete:before {
    content: "\e62c";
}
.icon-nav-arrow-right:before {
    content: "\e62d";
}
.icon-calc:before {
    content: "\e62e";
}
.icon-calender_filter:before {
    content: "\e62f";
}
.icon-calender_homepage:before {
    content: "\e630";
}
.icon-category_a:before {
    content: "\e631";
}
.icon-category_b:before {
    content: "\e632";
}
.icon-category_c:before {
    content: "\e633";
}
.icon-category_d:before {
    content: "\e634";
}
.icon-category_e:before {
    content: "\e635";
}
.icon-category_f:before {
    content: "\e636";
}
.icon-cellphone:before {
    content: "\e637";
}
.icon-coin_filter:before {
    content: "\e638";
}
.icon-crowdfunding:before {
    content: "\e639";
}
.icon-faveractive:before {
    content: "\e63a";
}
.icon-faver:before {
    content: "\e63b";
}
.icon-files_homepage:before {
    content: "\e63c";
}
.icon-gotop:before {
    content: "\e63d";
}
.icon-house_account:before {
    content: "\e63e";
}
.icon-house_homepage:before {
    content: "\e63f";
}
.icon-list_view:before {
    content: "\e640";
}
.icon-map_view:before {
    content: "\e641";
}
.icon-message_notice:before {
    content: "\e642";
}
.icon-requirement:before {
    content: "\e643";
}
.icon-requirement_bottom:before {
    content: "\e644";
}
.icon-search_homepage:before {
    content: "\e645";
}
.icon-setting:before {
    content: "\e646";
}
.icon-size_filter:before {
    content: "\e647";
}
.icon-add:before {
    content: "\e606";
}
.icon-art:before {
    content: "\e607";
}
.icon-bank:before {
    content: "\e608";
}
.icon-block:before {
    content: "\e609";
}
.icon-block_line:before {
    content: "\e60a";
}
.icon-building:before {
    content: "\e60b";
}
.icon-bus:before {
    content: "\e60c";
}
.icon-camera:before {
    content: "\e60d";
}
.icon-clock:before {
    content: "\e60e";
}
.icon-delete:before {
    content: "\e60f";
}
.icon-door:before {
    content: "\e610";
}
.icon-edit:before {
    content: "\e611";
}
.icon-education:before {
    content: "\e612";
}
.icon-flight:before {
    content: "\e613";
}
.icon-floor:before {
    content: "\e614";
}
.icon-food:before {
    content: "\e615";
}
.icon-hospital:before {
    content: "\e616";
}
.icon-house:before {
    content: "\e617";
}
.icon-house_icon:before {
    content: "\e618";
}
.icon-location:before {
    content: "\e619";
}
.icon-location_fill:before {
    content: "\e61a";
}
.icon-log_out:before {
    content: "\e61b";
}
.icon-menu:before {
    content: "\e61c";
}
.icon-phone_icon:before {
    content: "\e61d";
}
.icon-refresh:before {
    content: "\e61e";
}
.icon-right_arrow:before {
    content: "\e61f";
}
.icon-room_category:before {
    content: "\e620";
}
.icon-rooms:before {
    content: "\e621";
}
.icon-search:before {
    content: "\e622";
}
.icon-share:before {
    content: "\e623";
}
.icon-shopping:before {
    content: "\e624";
}
.icon-size:before {
    content: "\e625";
}
.icon-subway:before {
    content: "\e626";
}
.icon-tag_icon_small:before {
    content: "\e648";
}
.icon-tag_icon:before {
    content: "\e627";
}
.icon-tag_line:before {
    content: "\e628";
}
.icon-time:before {
    content: "\e629";
}
.icon-track_location:before {
    content: "\e62a";
}
.icon-train:before {
    content: "\e62b";
}
.icon-furnishings:before {
    content: "\e600";
}
.icon-da:before {
    content: "\e601";
}
.icon-terrace:before {
    content: "\e602";
}
.icon-garage:before {
    content: "\e603";
}
.icon-water_cooler:before {
    content: "\e800";
}
.icon-air_condition:before {
    content: "\e801";
}
.icon-coffeemaker:before {
    content: "\e802";
}
.icon-computer:before {
    content: "\e803";
}
.icon-dryer:before {
    content: "\e804";
}
.icon-electronic_iron:before {
    content: "\e805";
}
.icon-electronic_oven:before {
    content: "\e806";
}
.icon-gym:before {
    content: "\e807";
}
.icon-network:before {
    content: "\e808";
}
.icon-microwave:before {
    content: "\e809";
}
.icon-parking:before {
    content: "\e80a";
}
.icon-washer:before {
    content: "\e80b";
}
.icon-security_monitoring:before {
    content: "\e80c";
}
.icon-swimming_pool:before {
    content: "\e80d";
}
.icon-gas:before {
    content: "\e80e";
}
.icon-refrigerator:before {
    content: "\e80f";
}
.icon-heating:before {
    content: "\e810";
}
.icon-shower:before {
    content: "\e812";
}
.icon-tv:before {
    content: "\e813";
}
.icon-toaster:before {
    content: "\e814";
}
.icon-oven:before {
    content: "\e815";
}
.icon-balcony:before {
    content: "\e9d4";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-linkedin2:before {
    content: "\eac9";
}
.icon-weibo:before {
    content: "\e604";
}
.icon-wechat:before {
    content: "\e605";
}
