@import "project/_imports";

* {
    box-sizing: border-box;
}

.horizontalCenter(@width:100px) {
    position: absolute;
    left: 50%;
    width: @width;
    margin-left: -@width /2;
}

.newsList() {
    display: inline-block;
    border-left: 1px solid #CCCCCC;
    padding: 0 0 0 20px;

    @media @phone {
        padding: 0 12px 0 12px;
    }

    .title {
        font-size: @base-title-font-size-mobile;
        line-height: 1;
        color: #e60012;
        margin-top: 0;
        margin-bottom: 0;

        @media @phone {
            font-size:@base-title-font-size-mobile;
        }
    }

    .list {
        margin-top: 20px;
        .item {
            display: block;
            font-size: @base-font-size-mobile;
            line-height: 28px;
            color: #666666;
            text-decoration: none;
        }
    }
}

main {
    @media @phone{
        background-color: #f6f6f6;
    }
    .gallery {
        li {
            position: relative;

            .img {
                position: relative;
                width: 100%;
                @media @phone {
                    min-height:200px;
                    height:200px;
                }
            }

            .img:before{
                content:"";
                display: block;
                padding-top: 35%; 	/* initial ratio of 1:1*/
            }

            .img_shadow{
                background:#000000;
                opacity: .30; /* Standards Compliant Browsers */
                filter: alpha(opacity=20); /* IE 7 and Earlier */
                /* Next 2 lines IE8 */
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
                min-width: 100%;
                min-height: 100%;
                position: absolute;
                top:0;
            }

            .imageText {
                &_table {
                    display: table;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-top: 8%;
                    @media @phone {
                        margin-top: 15%;
                    }
                    width: 100%;
                }
                &_wrapper {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    height: 100%;
                    width: 100%;
                }

                margin: 0 auto;
                .slogan {
                    color: #ffffff;
                    font-size: 48px;

                    @media @phone {
                        font-size:20px;
                        line-height:1em;
                    }
                }
                .button {
                    margin-top: 30px;

                    @media @phone {
                        margin-top:20px;

                        font-size:14px;
                        line-height:14px;
                        padding: 8px 10px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .roleChooser {
        .tab {
            width:1200px;
            margin:0px auto;
            overflow:hidden;
            height:122px;

            @media @phone {
                width:100%;
                height:40px;
            }

            &_wrapper {
                background:#333;
                width:100%;
                overflow:hidden;

                @media @phone {
                    background:#ffffff;
                }
            }

            >li {
                display:inline-block;
                width:33%;
                color:#aaa;
                overflow:hidden;
                position:relative;
                padding:40px 0;
                cursor:pointer;

                @media @phone {
                    float:left;
                    padding:10px 0;
                    color:#999;
                    height:100%;
                }
                &.selectedTab {
                    color:white;
                    @media @phone {
                        color:#444;
                    }
                }

                .img_wrapper {
                    font-size:42px;
                    line-height:1em;
                    float:left;
                    vertical-align:middle;

                    @media @phone {
                        font-size:18px;
                        margin-left: 10px;
                    }
                }

                .text {
                    display:inline-block;
                    float:left;
                    margin-left:20px;
                    vertical-align:middle;

                    @media @phone {
                        margin-left:10px;
                    }

                    .title {
                        font-size:20px;
                        line-height:1em;
                        margin-bottom:8px;
                        cursor:pointer;

                        @media @phone {
 	                    margin-bottom: 0px;
	                    font-size: 14px;
	                    vertical-align: middle;
	                    line-height: 18px;
                        }
                    }

                    .hint {
                        font-size:14px;
                        line-height:1em;
                        display:block;
                        cursor:pointer;

                        @media @phone {
                            display:none;
                        }
                    }
                }

                &:after {
                    .arrow(up; #f6f6f6; 32px;);
                    position: absolute;
                    bottom: 0;
                    left:72px;
                    display: none;
                    margin:0 auto;
                    @media @phone {
                        border-color: #e60012;
                        left: 0px;
                        width: 100%;
                        border-width: 2px;
                    }
                }
                &.selectedTab:after {
                    display: inline-block;
                }
            }
        }
    }


    .news {
        margin: 0 auto;
        width: @max-width;
        overflow: hidden;

        @media @phone {
            width:100%;
        }

        &_wrapper {
            height: 440px;
            background: #f6f6f6;
            width: 100%;

            @media @phone {
                height:auto;
            }
        }

        .title {
            margin-top: 60px;
            margin-bottom: 0;
            font-size: 24px;
            color: #333;
            line-height: 1;

            @media @phone {
                font-size:16px;
                margin-top:25px;
                margin-bottom:15px;
                margin-left:12px;

            }

        }

        .featuredNews {
            float: left;
            display: inline-block;
            overflow: hidden;
            width: 830px;
            margin-top: 40px;
            @media @phone {
                width:100%;
                height:auto;
                margin-top:0;
            }

            .picture {
                float: left;
                display: inline-block;
                width: 320px;
                margin-right:20px;

                @media @phone {
                    width:100%;
                }

            }

            .content_wrapper {
                float: left;
                width: 490px;
                height: 240px;
                display: inline-block;
                position: relative;

                @media @phone {
                    position:static;
                    height:auto;
                    width:100%;
                    display:block;
                    padding:12px;
                }


                .title {
                    margin-top: 0;
                    font-size: 19px;
                    color: #666666;
                    font-weight: bold;
                    text-decoration:none;

                    @media @phone {
                        font-size:14px;
                        margin-left:0;
                    }

                }

                .content {
                    font-size: 12px;
                    line-height: 2;
                    color: #666666;
                    max-height: 168px;
                    overflow: hidden;

                    @media @phone {
                        border-bottom:1px solid #ccc;
                        .limitedLines(3, 24px, #f6f6f6);

                    }
                }

                .detail {
                    position: absolute;
                    bottom: 0;

                    @media @phone {
                        position:static;
                        float:left;
                        display:none;
                    }
                }
            }
        }

        .moreNews {
            float: right;
            margin-top: 40px;
            position: relative;
            .newsList();
            width: 320px;
            height: 240px;

            @media @phone {
                width:100%;
                height:auto;
                padding:0;
                margin-top:0;
            }

            .list {
                .item {
                    .limitedLines(1, 28px, #f6f6f6);
                }

                @media @phone {

                    padding: 0 12px;
                    margin-top:20px;
                    margin-bottom:20px;
                }
            }

            .more {
                position: absolute;
                bottom: 0;

                @media @phone {
                    bottom:auto;
                    right:12px;
                    top:-6px;
                }
            }
        }
    }

    .floatBar_phone {
        display:none;
        @media @phone {
            display:block;
            overflow:hidden;
            position:fixed;
            z-index:@float_bar_phone-z-index;
            bottom:0;
            width:100%;
            background:#333;
        }

        li {
            @media @phone {
                float:left;
                display:inline-block;
                text-align:center;
                height:40px;
                font-size:16px;
                line-height:40px;
            }

            &.phone {
                width: 75%;
            }

            &.requirement {
                width: 25%;
                i{
                    font-size: 22px;
                    color: #999;
                    vertical-align: middle;
                }
            }

            a {
                text-decoration:none;
                color:#999;
            }

            img {
                @media @phone {
                    height:20px;
                    margin-top:10px;
                }
            }
        }
    }
}