@import "project/_imports";

* {
    box-sizing: border-box;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Hide default site header
.siteHeader_phone {
    @media @phone {
        display: none;
    }
}
// Show custom header
.newsHeader_phone{
    z-index: @header-z-index;
    position: fixed;
    @media @phone {
        display: block;
    }

    #rmm-center-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 170px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;

        img {
            height:5px;
            margin-top: 8px;
            vertical-align: top;
        }
    }
}

.rmm.graphite .rmm-toggled-share {
    display:block;
    position:absolute;
    top:14px;
    right:15px;
    font-size:16px;
    line-height:1;
    color:white;
    cursor:pointer;
    text-shadow:1px 1px 1px black;
}

.page > main {
    .container {
        width:800px;
        margin: 120px auto;

        @media @phone {
            width:100%;
            margin:0;
        }

        .title {
            font-size:24px;
            color:#333;
            line-height:1;
            margin-bottom:40px;

            @media @phone {
                font-size:16px;
                line-height:25px;
                margin:5px 12px 15px 12px;
            }

        }

        .source {
            font-size:14px;
            color:#999;
            line-height:1;
            margin-left:24px;
            i {
                font-style:normal;
            }
            a {
                color:#999;
                text-decoration:none;
            }

            a:hover{
                color:@red;
            }

            a:active{
                color:@red;
            }

            @media @phone {
                font-size:@base-font-size-mobile;
            }

        }

        .date {
            font-size:14px;
            font-style:normal;
            color:#999;
            line-height:1;
            i {
                font-style:normal;
            }

            @media @phone {
                margin-left:12px;
                font-size:@base-font-size-mobile;
            }

        }

        .category {
            font-size:@base-font-size;
            color:#999;
            line-height:1;
            i {
                font-style:normal;
            }
            a {
                color:#999;
                text-decoration:none;
            }

            a:hover{
                color:@red;
            }

            a:active{
                color:@red;
            }

            @media @phone {
                font-size:@base-font-size-mobile;
            }

        }

        .share {
            float:right;
            display:inline-block;
            vertical-align: middle;

            .shareButton {
                float:left;
                margin-left:20px;
                border: 0 solid;
                display: inline-block;
                background: transparent;
                img {
                    cursor:pointer;
                }
            }

            @media @phone {
                display:none;
            }

        }

        .button-group {
            margin-bottom: 5px;

            @media @phone {
                display: inline-block;
            }
        }

        .content {
            border-top:2px solid #ccc;
            padding:40px 0;

            @media @phone {
                padding:20px 12px;
            }


            img {
                margin-bottom: 28px;
                margin: 0 auto 28px;
                display: block;
            }

            .fullText {
                font-size:@base-font-size;
                line-height:26px;
                color:#666;
                margin:0;

                @media @phone {
                    font-size:@base-font-size-mobile;
                    line-height:20px;
                }

            }

            .propertyListEntry{
                text-align: center;
            }
        }
    }

    .relatedNews {
        border-top:1px solid #ccc;
        margin-top:40px;
        margin-bottom:40px;
        height: auto;
        overflow: hidden;


        @media @phone {
            display:none;
        }

        >.title {
            font-size:16px;
            color:#666;
            margin-top:40px;
            margin-bottom:30px;
        }

        ul {
             width:100%;
              @media @phone {
                padding:0 12px 12px 12px
            }
        }

        li.newsItem {
            float:left;
            position:relative;
            width:240px;
            height:180px;
            display:inline-block;
            margin-right:40px;

            &:last-child {
                margin-right:0
            }

            @media @phone {
                width:100%;
                margin-bottom:12px;
            }



            a {
                text-decoration:none;
                .img_shadow{
                    background:#000000;
                    opacity: .20; /* Standards Compliant Browsers */
                    filter: alpha(opacity=20); /* IE 7 and Earlier */
                    /* Next 2 lines IE8 */
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top:0;
                }

                >.title {
                    position:absolute;
                    bottom:20px;
                    left:20px;
                    margin-bottom:0;
                    width:200px;
                    height:auto;
                    font-size:18px;
                    color:white;
                }
            }
        }
    }
}
