@import "project/_imports";

* {
    box-sizing: border-box;
}

.content {
    overflow:hidden;
    .contentTitle {
        margin-top:0px;
        margin-bottom:0px;
        font-size:24px;
        color:#333;
        line-height:1;
    }

    .contentList {
        margin-top:40px;

        .newsCard {
            margin-bottom:60px;
        }
    }
}