@import "/project/payCard";
@import "/project/chatOrder";

.chatUserInfo{
    float: right;
}
.content{
    width: 728px;
    float: left;
    @media @phone{
        padding: 10px;
        width: 100%;
    }
    
    .rules{
        margin-top: 62px;
        @media @phone{
            display: none;
        }
        .title{
            color: #666;
            font-size: 26px;
            line-height: 32px;
            text-transform: uppercase;
        }
        .secondTitle{
            color: #868686;
            font-size: 18px;
            line-height: 22px;
            margin: 12px auto;           
        }
        .rulesList{
            color: #00bfe1;
            font-size: 18px;
            line-height: 22px;
            li{
                margin-bottom: 8px;
            }
        }
    }
}
.dhtmlx_message_area{
    bottom: auto!important;
    top: 0!important;
}
