@import "/project/payCard";
@import "/project/chatOrder";

.chatUserInfo{
    float: right;
}
.content{
    width: 728px;
    float: left;
    #cardFormModal{
        width: 664px;
        .modal-title{
            font-size: 20px;
            line-height: 32px;
            color: #00c0e1;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.dhtmlx_message_area{
    bottom: auto!important;
    top: 0!important;
}
