@import "project/_imports";

* {
    box-sizing: border-box;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    .category {
        text-align:center;
        margin-top:96px;
        overflow: hidden;
        &_wrapper {
            height: 240px;
            width:100%;
            background:#f6f6f6;
            overflow: hidden;

            @media @phone {
                height:auto;
            }
        }

        &_title {
            display:none;
            @media @phone {
                display:block;
                text-align:left;
                font-size:14px;
                color:#333;
            }

        }

        @media @phone {
            margin-top:0;
            padding:12px;
        }

        span {
            color:#333333;
            @media @phone {
                display:none;
            }

        }
        select {
            color:#333333;
            @media @phone {
                display:block;
                width:100%;
                margin-top:12px;
                font-size:12px;
                font-weight:bold;
            }
        }
    }

    .result {
        overflow:hidden;
        width:@max-width;
        margin: 0 auto;

        @media @phone {
            width:100%;
        }

        .tags {
            float: right;
           // margin-left: 60px;
            margin-top:140px;
            margin-bottom:60px;
            background:#f6f6f6;
            max-width: 340px;
            padding: 24px 20px 10px 20px;

            @media @phone {
                float:left;
                margin:0;
                width:100%;
                padding:0 12px;
            }


            .title {
                margin-top:0px;
                margin-left:0px;
                margin-bottom: 24px;
                font-size:18px;
                line-height: 1em;
                color: #333333;

                @media @phone {
                    display:none;
                }
            }

            .price, .intention {
                margin: 0px;
                border-top: 1px solid #ccc;
                display:block;
                min-height: 180px;
                overflow:hidden;

                @media @phone {
                    min-height:135px;
                }


                &_icon {
                    float:left;
                    display:inline-block;
                    margin-top:16px;

                    @media @phone {
                        margin-top:20px;
                    }

                }
                &_title {
                    float:left;
                    display:inline-block;
                    margin-top:16px;
                    margin-left:8px;
                    font-size:12px;
                    line-height:14px;

                    @media @phone {
                        margin-top:20px;
                    }
                }

                .inner {
                    margin-top:72px;
                    margin-bottom:0px;
                    .toggleTag {
                        float: left;
                        margin-right:12px;
                        margin-bottom:12px;
                    }

                    @media @phone {
                        margin-top:46px;
                    }

                }
            }
        }

        .result_number {
            font-size:16px;
            line-height:1em;
            margin:0px;

            @media @phone {
                font-size:14px;
                margin-left:12px;
            }

            .number {
                color:#e82633;
            }
        }
        .result_list {
            &_container {
                margin-top:80px;
                width: 800px;
                display:inline-block;
                float:left;
                overflow:hidden;

                @media @phone {
                    width:100%;
                    margin-top:20px;
                }

            }
            margin-top:44px;
            overflow:hidden;

            @media @phone {
                margin-top:15px;
            }

            .houseCard {
                margin-top:0px;
                margin-bottom:60px;
                display:block;
                width:100%;

                @media @phone {
                    display:none;
                }
            }
        }

        .border {
            max-width:800px;
            color:#ccc;
            margin: 0;
        }

        .loadIndicator {
            margin-top: 60px;
            margin-bottom:20px;
            margin-left:auto;
            margin-right:auto;
            display:block;
        }

        .loadMore {
            margin-top: 40px;
            margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 132px;
            display:block;

            @media @phone {
                margin-top:20px;
                margin-bottom:40px;
                width:auto;
            }

        }

        .emptyPlaceHolder {
            margin-top:140px;
            margin-bottom:100px;
            width:800px;
            display:inline-block;
            overflow:hidden;

            @media @phone {
                width:100%;
                margin-top:20px;
                margin-bottom:20px;
            }


            img {
                float:left;
                @media @phone {
                    float:none;
                    display:block;
                    margin-left:auto;
                    margin-right:auto;
                }
            }

            .info {
                float:left;
                margin-left:20px;


                .hint {
                    font-size:24px;
                    line-height:1;
                    margin-top:14px;
                    color:#e60012;

                    @media @phone {
                        font-size:14px;
                    }

                }

                .addition {
                    font-size:16px;
                    color:#ccc;
                    margin-bottom:60px;

                    strong {
                        color:#666;
                    }

                    @media @phone {
                        margin-bottom:20px;
                        font-size:12px;
                    }

                }
            }


            .requirement_form {
                float:left;
                margin-top:0px;
                width:100%;
            }

            .successMessage {
                float:left;
                margin-top:80px;
            }

        }


    }
}
