/*! Created by frank on 14-10-2.  */
@import "project/_imports";
.propertyCard {
    hr { color: #ccc; }
    img { vertical-align: middle; }
    > h1 { color: #333; }
    > .tag { padding-right: 8px;
             overflow:hidden;
             line-height:1.8em;
             img {
                 margin-top: 4px;
                 display:inline-block;
                 float:left;
             }
             label {
                 display:inline-block;
                 float:right;
                 width:91%;
             }
             a { text-decoration: none; }
           }

    .price {
        margin:40px 0;
        table {
            width:100%;
        }
        .price_inner {
            width: 100%;
            background: #f4f4f4; padding: 16px 8px; color: @red; font-size: 20px;
            display:inline-block;
            br {
                display:none;
            }

            strong { font-size: 36px; }

            .price_reference {
                color: @grey;
                width: 100%;
                font-size: @small-font-size;
                display: inline-block;

                strong { font-size: @small-font-size; }
            }

        }

        .minimumDownPaymentRate {
            padding:0 0 0 20px;
            font-size:14px;
            color:white;
            background:@red;
            strong {
                font-size:24px;
            }
        }

        .soldOut {
            padding:0 20px;
            font-size:24px;
            color:white;
            background:#666666;
        }
    }

    .numbers { .clearfix(); width:100%;
                  td { width: 50%; border-left: 1px solid #ccc; padding-left: 8px;
                        .percentage { display: block; font-size: 20px; min-height: 32px; vertical-align: bottom;
                                      strong { line-height: 23px; }
                                      &.emphasized { color: @red;
                                                     strong { font-size: 23px; word-break:break-all; display:block; }
                                                   }
                                    }
                      }
               }
    > .actions { width: 100%;
                 .flatButton { padding: 0; width: 110px; font-size: 12px; line-height: 40px;
                               img { vertical-align: text-top; }
                             }
               }
}
