@import "project/_imports";

* {
    box-sizing: border-box;
}

main {
    .category {
        text-align:center;
        margin-top:96px;
        overflow: hidden;
        &_wrapper {
            height: 240px;
            width:100%;
            background:#f6f6f6;
            overflow: hidden;
        }

        span {
            color:#333333;
        }
        select {
            color:#333333;
        }
    }

    .result {
        overflow:hidden;
        width:@max-width;
        margin: 0 auto;
        .result_number {
            font-size:16px;
            line-height:1em;
            margin:0px;
            .number {
                color:#e82633;
            }
        }
        .result_list {
            &_container {
                margin-top:80px;
                width: 800px;
                display:inline-block;
                float:left;
            }
            margin-top:44px;
            .houseCard {
                margin-top:0px;
                margin-bottom:60px;

                .properties {
                    width: 50%;

                    li {
                        margin-bottom:8px;
                        img {
                            height:16px;
                            vertical-align:middle;
                        }
                        span {
                            font-size:12px;
                            height:16px;
                            line-height: 16px;
                            margin-left:8px;
                        }
                    }
                }
            }
        }

        .border {
            max-width:800px;
            color:#ccc;
            margin: 0;
        }

        .loadIndicator {
            margin-top: 60px;
            margin-bottom:20px;
            margin-left:auto;
            margin-right:auto;
            display:block;
        }

        .loadMore {
            margin-top: 40px;
            margin-bottom: 100px;
            margin-left: auto;
            margin-right: auto;
            width: 132px;
            display:block;
        }

        .emptyPlaceHolder {
            margin-top:140px;
            margin-bottom:100px;
            width:800px;
            display:inline-block;
            overflow:hidden;


            img {
                //display:inline-block;
                float:left;
            }

            .info {
                float:left;
                margin-left:20px;


                .hint {
                    font-size:24px;
                    line-height:1;
                    margin-top:14px;
                    color:#e60012;
                }

                .addition {
                    font-size:16px;
                    color:#ccc;
                    margin-bottom:60px;

                    strong {
                        color:#666;
                    }
                }
            }


            .requirement_form {
                float:left;
                margin-top:0px;
            }

            .successMessage {
                float:left;
                margin-top:80px;
            }

        }

        .tags {
            float: right;
            margin-left: 60px;
            margin-top:140px;
            margin-bottom:60px;
            background:#f6f6f6;
            width: 340px;
            padding: 24px 20px 10px 20px;

            .title {
                margin-top:0px;
                margin-left:0px;
                margin-bottom: 24px;
                font-size:18px;
                line-height: 1em;
                color: #333333;
            }

            .price, .intention {
                margin: 0px;
                border-top: 1px solid #ccc;
                display:block;
                min-height: 180px;
                overflow:hidden;
                &_icon {
                    float:left;
                    display:inline-block;
                    margin-top:16px;
                }
                &_title {
                    float:left;
                    display:inline-block;
                    margin-top:16px;
                    margin-left:8px;
                    font-size:12px;
                    line-height:14px;
                }

                .inner {
                    margin-top:72px;
                    margin-bottom:0px;
                    .toggleTag {
                        float: left;
                        margin-right:12px;
                        margin-bottom:12px;
                    }
                }
            }
        }
    }
}
