/*! Created by frank on 14-9-29.  */
@import "project/_imports";
@border-color:;
@light-text-color: #999;
@dark-text-color: #555;
.propertyDetails {
    .wrapped(); .clearfix();
    > .content {
        width: 800px;
        float: left;
    }
    > .aside {
        width: 360px;
        float: right;
    }
    .thumbnails { margin-top: 24px; margin-bottom: 48px;
        > ul {
            .clearfix();
            > li { float: left; width: 25%; position: relative; cursor: pointer;
                > img { display: block; max-width: 100%; }
                > span { position: absolute; left: 0; top: 0; width: 100%; height: 100%;
                    &.border { display: none; border: 3px solid @red; }
                    &.text { text-align: center; line-height: 120px; background: rgba(255, 255, 255, 0.5); font-size: 32px;
                        color: #444444;
                    }
                }
                &.selected {
                    .border { display: block; }
                    .text { display: none; }
                }
            }
        }
    }
    .nav { margin-bottom: 64px; }
    .meta {
        .numbers { .clearfix(); margin-bottom: 16px;
            > li { float: left; width: 100% / 6; border-left: 1px solid @border-color; padding-left: 8px;
                &:first-child {
                    border-left: none; padding-left: 0;
                }
                color: @light-text-color;
                strong { display: block; font-size: 24px; font-weight: normal; color: @dark-text-color; }
            }
        }
        hr { color: @border-color; margin-bottom: 24px; }
        .other { width: 100%; color: @light-text-color;
            .col-name { width: 120px; }
            td { padding: 8px 0; vertical-align: top; }
            strong { color: #555; }
            i { display: inline-block; width: 16px; vertical-align: middle; height: 16px; line-height: 16px;
                margin-right: 4px;
            }
            .name { display: inline-block; width: 6em; }
        }
    }
}
