@import "project/_imports";


.page > main {
    .container {
        .content {
            .intro {
                font-size:14px;
                color:#666;
                line-height:30px;
            }

            .contact {
                margin-top:40px;

                li {
                    font-size:14px;
                    line-height:30px;
                    color:#666;
                    a {
                        color:@red;
                        text-decoration:none;
                        font-weight:bold;
                    }
                }
            }

            .qas {
                margin-top:40px;
                overflow:hidden;

                .qaCategory {
                    float:left;
                    overflow:hidden;
                    margin-top:20px;
                    >h3 {
                        font-size:24px;
                        color:#666;
                        
                        a {
                            text-decoration: none;
                            color: #666;
                        }
                    }

                    >ul {
                        float:left;
                        li {
                            margin: 30px 0 30px 0;
                            h4.title {
                                font-weight:bold;
                                font-size:16px;
                                margin-bottom:0px;

                                .indicator {
                                    display:inline-block;
                                    width:14px;
                                    height:14px;
                                    border-radius:8px;
                                    font-size:16px;
                                    line-height:16px;
                                    text-align:center;
                                    background:@red;
                                    margin-right:5px;
                                    margin-top:-4px;
                                }
                            }

                            p {
                                color:#888;
                                font-size:16px;
                                line-height:1.5em;
                            }
                        }
                    }
                }
            }
        }
    }

}
