#recaptcha_div, #recaptcha_area,  table#recaptcha_table {
    width:100%!important;
    max-width:100%!important;
}

.recaptcha_widget
{
    background: #AF1500;
    border: 4px solid #AF1500;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 10px;
    max-width: 300px;
    moz-border-radius: 4px;
    moz-box-sizing: border-box;
    ms-border-radius: 4px;
    o-border-radius: 4px;
    webkit-border-radius: 4px;
    webkit-box-sizing: border-box;
}
#recaptcha_image
{
    height: auto !important;
    width: 100% !important;
}
#recaptcha_image img
{
    border: 3px solid #FFF;
    border-radius: 2px;
    box-sizing: border-box;
    height: auto;
    moz-border-radius: 2px;
    moz-box-sizing: border-box;
    ms-border-radius: 2px;
    o-border-radius: 2px;
    webkit-border-radius: 2px;
    webkit-box-sizing: border-box;
    width: 100%;
}
.recaptcha_is_showing_audio embed
{
    height: 0;
    overflow: hidden;
    width: 0;
}
.recaptcha_is_showing_audio #recaptcha_image
{
    background: #FFF;
    border: 3px solid #FFF;
    border-radius: 2px;
    box-sizing: border-box;
    height: 60px;
    moz-border-radius: 2px;
    moz-box-sizing: border-box;
    ms-border-radius: 2px;
    o-border-radius: 2px;
    webkit-border-radius: 2px;
    webkit-box-sizing: border-box;
    width: 100%;
}
.recaptcha_is_showing_audio #recaptcha_image br
{
    display: none;
}
.recaptcha_is_showing_audio #recaptcha_image #recaptcha_audio_download
{
    display: block;
}
.recaptcha_input
{
    background: #FFDC73;
    border: 4px solid #FFDC73;
    border-radius: 2px;
    color: #000;
    font: 13px/1.5 "HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
    margin: 4px 0 0;
    moz-border-radius: 2px;
    ms-border-radius: 2px;
    o-border-radius: 2px;
    padding: 0 4px 4px;
    webkit-border-radius: 2px;
}
.recaptcha_input label
{
    box-sizing: border-box;
    margin: 0 0 6px;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}
.recaptcha_input input
{
    width: 100%;
}
.recaptcha_options
{
    height: 18px;
    list-style: none;
    margin: 4px 0 0;
}
.recaptcha_options li
{
    float: left;
    margin: 0 4px 0 0;
}
.recaptcha_options li a
{
    color: #FFF;
    display: block;
    font-size: 16px;
    height: 18px;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
    width: 20px;
}
.recaptcha_options li a:active
{
    position: relative;
    text-shadow: none;
    top: 1px;
}
.captcha_hide
{
    display: none;
}