@import "project/_imports";

* {
    box-sizing: border-box;
}

main {
    .info {
        position:relative;
        img {
            background: @footer-bg url('/static/images/background/login-background.jpg') no-repeat center top;
            background-size: cover;
            overflow: hidden;
            min-height: 600px;
            display: table;
            width: 100%;
            border:0px;

            @media @phone {
                min-height:400px;
            }
        }

        .img_shadow{
            background:#000000;
            opacity: .20; /* Standards Compliant Browsers */
            filter: alpha(opacity=20); /* IE 7 and Earlier */
            /* Next 2 lines IE8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top:0;
        }


        .text {
            &_container {
                position:absolute;
                top:0;
                left:0;
                z-index:2;
                width:100%;
                height:100%;
            }

            max-width:1200px;
            margin:60px auto;
            color:white;


            @media @phone {
                padding:0 20px;
            }

            .name {
                font-size:60px;
                margin-bottom:40px;

                @media @phone {
                    font-size:24px;
                    margin-bottom:20px;
                }


            }

            .hint {
                font-size:24px;
                padding-bottom:40px;
                border-bottom: 5px solid white;

                max-width: 240px;
                @media @phone {
                    font-size:16px;
                    padding-bottom:20px;
                    border-bottom: 3px solid white;
                }
            }

            .description {
                font-size:18px;
                line-height:30px;
                margin-top:80px;

                @media @phone {
                    margin-top:25px;
                    font-size:12px;
                    line-height:18px;
                }
            }
        }
    }

    .relatedInfo {
        max-width:1200px;
        margin:100px auto;

        @media @phone {
            margin: 25px auto;
        }

        h2.title {
            font-size:20px;
            color:#333;

            @media @phone {
                font-size:16px;
            }
        }

        .relatedNews {
            overflow:hidden;
            .supplementNews {
                float:left;
                width: 760px;
                display:inline-block;

                @media @phone {
                    width:100%;
                    padding:0 20px;
                }

                >.title {
                    margin-bottom:35px;
                    @media @phone {
                        margin-bottom:20px;
                    }
                }

                .news {
                    overflow:hidden;
                    margin-bottom:30px;

                    @media @phone {
                        margin-bottom:20px;
                    }


                    .summary {
                        margin:0;
                        float:left;
                        width:100%;
                        font-size:14px;
                        line-height:24px;
                        color:#999;

                        @media @phone {
                            font-size:12px;
                        }
                    }
                    .title {
                        float:right;
                        text-decoration:none;
                        font-size:14px;
                        margin:0;
                        color:#666;

                        @media @phone {
                            font-size:12px;
                        }

                    }
                }
            }

            .right {
                float:right;
                width:400px;
                display:inline-block;
                @media @phone {
                    width:100%;
                }

                .planningNews {
                    padding-bottom:43px;
                    @media @phone {
                        padding:20px 20px 0 20px;
                        border-top:1px solid #ccc;
                    }

                    >.title {
                        margin-bottom:35px;
                        @media @phone {
                            margin-bottom:20px;
                        }
                    }
                    .news {
                        margin:0 0 15px 0;
                        .title {
                            text-decoration:none;
                            line-height:1em;
                            font-size:14px;
                            color:#666;
                            @media @phone {
                                font-size:12px;
                            }
                        }
                    }
                }

                .jobNews {
                    border-top:1px solid #ccc;
                    padding-top:20px;
                    @media @phone {
                        padding:20px 20px 0 20px;
                    }

                    >.title {
                        line-height:1em;
                        margin-bottom:35px;
                        @media @phone {
                            margin-bottom:20px;
                        }
                    }

                    .news {
                        margin:0 0 15px 0;
                        .title {
                            text-decoration:none;
                            line-height:1em;
                            font-size:14px;
                            color:#666;
                        }
                    }

                }
            }
        }

        .relatedProperties {
            width:100%;
            overflow:hidden;
            margin-bottom:90px;

            @media @phone {
                margin-top:30px;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;
                @media @phone {
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {
                display:none;

                .rslides {
                    li {
                         .houseCard {
                            .properties {
                                li {
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                        }
                        .houseCard_phone {
                            .properties {
                                li {
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }


                .rslides_nav {
                    @height: 32px;
                    position: absolute; z-index: 1; text-decoration: none; font-weight: bold; color: @red;
                    display: inline-block; width: @height; height: @height;
                    top: 50%; margin-top: -16px;
                    border-radius: 50%;
                    background: fade(white, 30%); line-height: @height; text-align: center;
                    box-shadow: inset 0 0 2px 0 fade(black, 30%);

                    @media @phone {
                        top:120px;
                        margin-top:0px;
                    }
                    &.prev { left: 8px; }
                    &.next { right: 8px; }
                }
            }

            .jcarousel-wrapper {
                margin:0 auto;
                display:none;

                .jcarousel {
                    height:213px;
                    @media @phone {
                        height:auto;
                    }

                    li {
                        width:600px;
                        border:0;

                        @media @phone {
                            width:330px;
                        }

                        .houseCard {
                            width: 590px;
                            margin-right:10px;
                            min-width: 0;
                            .description {
                                .name {
                                    max-width:100%;
                                }
                                .price {
                                    right: auto;
                                    left: 0;
                                    top: 63px;
                                    max-width: 100%;
                                }
                                .details {
                                    display:none;
                                }
                            }
                        }

                        .houseCard_phone {
                            width:320px;
                            margin-right:10px;

                        }

                    }
                }

                .jcarousel-control-prev {
                    z-index:@jcarousel-control-z-index;
                }

                .jcarousel-control-next {
                    z-index:@jcarousel-control-z-index;
                }
            }

            .loadIndicator {
                margin-top: 60px;
                margin-bottom:20px;
                margin-left:auto;
                margin-right:auto;
                display:block;
            }
        }

        .priceCharts {
            width:100%;
            overflow:hidden;
            margin-bottom:90px;
            @media @phone {
                margin-top:25px;
                margin-bottom:0;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;

                @media @phone {
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {
                width:800px;
                float:left;
                display:inline-block;

                @media @phone {
                    width:100%;
                }

                .rslides {
                    width: 100%;
                    margin: 0;
                }

                .rslides_tabs {
                    position:static;
                    list-style: none;
                    padding: 0;
                    font-size: 18px;
                    list-style: none;
                    margin: 0 auto 0px;
                    padding: 10px 0;
                    text-align: center;
                    width: 100%;
                }

                .rslides_tabs li {
                    display: inline;
                    float: none;
                    margin-right: 0px;
                    margin-left: 0px;
                    width:25%;
                }

                .rslides_tabs a {
                    width: auto;
                    line-height: 20px;
                    padding: 0;
                    height: auto;
                    background: transparent;
                    display: inline;
                    border-radius:0px;
                    max-width:95%;
                }

                .rslides_tabs li:first-child {
                    margin-left: 0;
                }

                .rslides_tabs .rslides_here a {
                    background: rgba(255,255,255,.1);
                    color: #fff;
                    font-weight: bold;
                    background: transparent;
                    box-shadow: 0 0 0 3px @red;
                }

                .rslidesPager a {
                    display: inline-block;
                    padding: 0;
                }

                .rslidesPager img {
                    float: left;
                    max-width:190px;

                    @media @phone {
                        max-width:74px;
                    }
                }
            }

            .text {
                float:left;
                display: inline-block;
                margin-left:50px;
                width:350px;

                @media @phone {
                    margin-left:0px;
                    display:block;
                    width:100%;
                    padding:0 12px;
                }

                .title {
                    font-size:24px;
                    color:black;

                    @media @phone {
                        font-size:16px;
                    }
                }

                .description {
                    font-size:12px;
                    line-height:2em;
                    color:#666;

                    @media @phone {
                        line-height:20px;
                    }
                }
            }
        }

        .areaValueCharts {
            width: 100%;
              @media @phone {
                margin-top:25px;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;

                @media @phone {
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {
                ul.rslides {
                    width:900px;
                    height:212px !important;
                    margin:0 auto;
                    position: relative;
                    overflow: hidden;

                    @media @phone {
                        width:100%;
                        height:auto !important;
                    }

                    li {
                        overflow:hidden;
                        width:100% !important;
                        height:100% !important;
                        display:inline-block;

                        .image {
                            float:left;
                            display:inline-block;
                            @media @phone {
                                display:block;
                                margin: 0 auto;
                                float: none;
                            }
                            img {
                                width:400px;

                                @media @phone {
                                    width:300px;
                                    margin: 0 auto;
                                    float: none;
                                }
                            }

                        }

                        .text {
                            float:left;
                            display: inline-block;
                            margin-left:70px;
                            width:400px;

                            @media @phone {
                                width:100%;
                                display:block;
                                margin-left:0;
                                padding:0 12px;
                            }

                            .title {
                                font-size:24px;
                                color:black;

                                @media @phone {
                                    font-size:16px;
                                }
                            }

                            .description {
                                font-size:12px;
                                line-height:2em;
                                color:#666;

                                @media @phone {
                                    line-height:20px;
                                }
                            }
                        }
                    }


                }

                .rslides_nav {
                    @height: 32px;
                    position: absolute; z-index: 1; text-decoration: none; font-weight: bold; color: @red;
                    display: inline-block; width: @height; height: @height;
                    top: 50%; margin-top: -16px;
                    border-radius: 50%;
                    background: fade(white, 30%); line-height: @height; text-align: center;
                    box-shadow: inset 0 0 2px 0 fade(black, 30%);

                    @media @phone {
                        top:50px;
                        margin-top:0px;
                    }
                    &.prev { left: 8px; }
                    &.next { right: 8px; }
                }
            }
        }
    }
}
