@import "project/_imports";

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}

main {
    .info {
        position:relative;
        overflow: hidden;
        .img {
            //background: @footer-bg no-repeat center top;
            //background-size: cover;
            overflow: hidden;
            height: 600px;
            display: table;
            width: 100%;
            border:0;
            color: transparent;//hide alt
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            -moz-filter: blur(5px);
            -webkit-filter: blur(5px);
            filter: blur(5px);
            transform: scale(1.05);

            @media @phone {
                height:400px;
            }
        }

        .img_shadow{
            background:#000000;
            opacity: .25; /* Standards Compliant Browsers */
            filter: alpha(opacity=25); /* IE 7 and Earlier */
            /* Next 2 lines IE8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top:0;
        }


        .text {
            &_container {
                position:absolute;
                top:0;
                left:0;
                z-index:2;
                width:100%;
                height:100%;
            }

            max-width:1200px;
            margin:60px auto;
            color:white;


            @media @phone {
                padding:0 20px;
            }

            .name {
                font-size:60px;
                margin-bottom:40px;

                @media @phone {
                    font-size:24px;
                    margin-bottom:20px;
                }


            }

            .hint {
                font-size:24px;
                padding-bottom:40px;
                border-bottom: 5px solid white;

                max-width: 240px;
                @media @phone {
                    font-size:16px;
                    padding-bottom:20px;
                    border-bottom: 3px solid white;
                }
            }

            .description {
                font-size:18px;
                line-height:30px;
                margin-top:80px;
                word-wrap: break-word;
                font-weight: lighter;

                @media @phone {
                    margin-top:25px;
                    font-size:12px;
                    line-height:18px;
                }
            }
        }
    }

    .relatedInfo {
        max-width:1200px;
        margin:100px auto;

        @media @phone {
            margin: 25px auto;
        }

        h2.title {
            font-size:20px;
            color:#333;

            @media @phone {
                font-size:16px;
            }
        }

        .relatedNews {
            overflow:hidden;
            .supplementNews {
                float:left;
                width: 760px;
                display:inline-block;

                @media @phone {
                    width:100%;
                    padding:0 20px;
                }

                >.title {
                    margin-bottom:35px;
                    @media @phone {
                        margin-bottom:20px;
                    }
                }

                .news {
                    overflow:hidden;
                    margin-bottom:30px;

                    @media @phone {
                        margin-bottom:20px;
                    }


                    .summary {
                        margin:0;
                        float:left;
                        width:100%;
                        font-size:14px;
                        line-height:24px;
                        color:#999;

                        @media @phone {
                            font-size:12px;
                        }
                    }
                    .title {
                        float:right;
                        text-decoration:none;
                        font-size:14px;
                        margin:0;
                        color:#666;

                        @media @phone {
                            font-size:12px;
                        }

                    }
                }
            }

            .right {
                float:right;
                width:400px;
                display:inline-block;
                @media @phone {
                    width:100%;
                }

                .planningNews {
                    padding-bottom:43px;
                    @media @phone {
                        padding:20px 20px 0 20px;
                        border-top:1px solid #ccc;
                    }

                    >.title {
                        margin-bottom:35px;
                        @media @phone {
                            margin-bottom:20px;
                        }
                    }
                    .news {
                        margin:0 0 15px 0;
                        .title {
                            text-decoration:none;
                            line-height:1em;
                            font-size:14px;
                            color:#666;
                            @media @phone {
                                font-size:12px;
                            }
                        }
                    }
                }

                .jobNews {
                    border-top:1px solid #ccc;
                    padding-top:20px;
                    @media @phone {
                        padding:20px 20px 0 20px;
                    }

                    >.title {
                        line-height:1em;
                        margin-bottom:35px;
                        @media @phone {
                            margin-bottom:20px;
                        }
                    }

                    .news {
                        margin:0 0 15px 0;
                        .title {
                            text-decoration:none;
                            line-height:1em;
                            font-size:14px;
                            color:#666;
                        }
                    }

                }
            }
        }

        .relatedProperties {
            width:100%;
            overflow:hidden;
            margin-bottom:90px;

            @media @phone {
                margin-bottom:30px;
                border-top:1px solid #ccc;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;
                @media @phone {
                    margin-top:20px;
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {
                display:none;
                width:100%;

                .leftPressArea {
                    position:absolute;
                    height:100%;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    left:0;
                    top:0;

                    @media @phone {
                        height:260px;
                    }
                }

                .rightPressArea {
                    position:absolute;
                    height:100%;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    right:0;
                    top:0;
                    @media @phone {
                        height:260px;
                    }
                }

                .rslides {
                    max-width: 800px;
                    margin: 0 auto;
                    min-height:240px;

                    @media @phone {
                        max-width:100%;
                    }
                    li {
                        .houseCard {
                            .properties {
                                float: left;
                                li {
                                    overflow: hidden;
                                    float: left;
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                            .details{
                                overflow: hidden;
                                float: left;
                                width: 100%;
                            }
                        }
                        .houseCard_phone {
                            .textPart_inner {
                                .border {
                                    margin:0;
                                    width:100%;
                                }
                            }
                            .properties {
                                li {
                                    img {
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }


                .rslides_nav {
                    @height: 32px;
                    position: absolute; z-index: 1; text-decoration: none; font-weight: bold; color: @red;
                    display: inline-block; width: @height; height: @height;
                    top: 50%; margin-top: -16px;
                    border-radius: 50%;
                    background: fade(white, 30%); line-height: @height; text-align: center;
                    box-shadow: inset 0 0 2px 0 fade(black, 30%);

                    @media @phone {
                        top:120px;
                        margin-top:0;
                    }
                    &.prev { left: 8px; }
                    &.next { right: 8px; }
                }
            }

            .loadIndicator {
                margin: 60px auto 20px auto;
                display:block;
            }
        }

    }

    .relatedCharts {
        max-width:1200px;
        margin:100px auto;
        position:relative;

        @media @phone {
            margin: 25px auto;
        }

        h2.title {
            font-size:20px;
            color:#333;

            @media @phone {
                font-size:16px;
            }
        }
        .nonLoginCover {
            background:white;
            opacity: .90; /* Standards Compliant Browsers */
            filter: alpha(opacity=90); /* IE 7 and Earlier */
            /* Next 2 lines IE8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top:0;
            z-index:@region_report_cover-z-index;


            .content {
                max-width:1200px;
                margin:230px auto;
                text-align:center;

                .title {
                    font-size:56px;
                    color:#333;
                    margin-bottom:80px;

                    @media @phone {
                        font-size:24px;
                        margin-bottom:35px;
                    }
                }

                .register {
                    margin-bottom:38px;

                    @media @phone {
                        margin-bottom:20px;
                    }
                }

                .login {
                    display:block;
                    font-size:20px;
                    color:#333;

                    a {
                        text-decoration:none;
                        color:@red;
                        cursor: pointer;
                    }
                }
            }
        }

        .priceCharts {
            width:100%;
            overflow:hidden;
            margin-bottom:90px;
            @media @phone {
                margin-top:25px;
                margin-bottom:0;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;

                @media @phone {
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {
                width:800px;
                float:left;
                display:inline-block;

                @media @phone {
                    width:100%;
                    height:auto;
                }

                .rslides {
                    width: 100%;
                    height:424px;
                    margin: 0;

                    @media @phone {
                        height:auto;
                    }
                }

                .leftPressArea {
                    position:absolute;
                    height:424px;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    left:0;
                    top:0;
                }

                .rightPressArea {

                    position:absolute;
                    height:424px;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    right:0;
                    top:0;
                }

                .rslides_tabs {
                    position:static;
                    list-style: none;
                    padding: 0;
                    font-size: 18px;
                    list-style: none;
                    margin: 0 auto 0;
                    padding: 10px 0;
                    text-align: center;
                    width:800px;

                    @media @phone {
                        width:100%;
                    }
                }

                .rslides_tabs li {
                    display: inline-block;
                    float: none;
                    margin-right: 0;
                    margin-left: 0;
                    width:190px;
                    height:100%;

                    @media @phone {
                        width:auto;
                    }
                }

                .rslides_tabs a {
                    width:95%;
                    height: 100%;
                    line-height: 20px;
                    padding: 0;
                    background: transparent;
                    display: inline;
                    border-radius:0;
                }

                .rslides_tabs li:first-child {
                    margin-left: 0;
                }

                .rslides_tabs .rslides_here a {
                    background: rgba(255,255,255,.1);
                    color: #fff;
                    font-weight: bold;
                    background: transparent;
                    box-shadow: 0 0 0 3px @red;
                }

                .rslidesPager a {
                    display: inline-block;
                    padding: 0;
                }

                .rslidesPager img {
                    float: left;
                    max-width:190px;
                    height: 106px;

                    @media @phone {
                        max-width:74px;
                        height:auto;
                    }
                }

                .rslides_nav {
                    @height: 32px;
                    position: absolute; z-index: 1; text-decoration: none; font-weight: bold; color: @red;
                    display: inline-block; width: @height; height: @height;
                    top: 40%; margin-top: -16px;
                    border-radius: 50%;
                    background: fade(white, 30%); line-height: @height; text-align: center;
                    box-shadow: inset 0 0 2px 0 fade(black, 30%);

                    @media @phone {
                        top:30%;
                        margin-top:0;
                    }
                    &.prev { left: 8px; }
                    &.next { right: 8px; }
                }
            }

            .text {
                float:left;
                display: inline-block;
                margin-left:50px;
                width:350px;

                @media @phone {
                    margin-left:0;
                    display:block;
                    width:100%;
                    padding:0 12px;
                }

                div {
                    display:none;
                    &.selected {
                        display:block;
                    }
                    .title {
                        font-size:24px;
                        color:black;

                        @media @phone {
                            font-size:16px;
                        }
                    }

                    .description {
                        font-size:12px;
                        line-height:2em;
                        color:#666;

                        @media @phone {
                            line-height:20px;
                        }
                    }
                }
            }


        }

        .mapLoadIndicator {
            margin:250px 392px;

            @media @phone {
                margin: 100px auto;
            }
        }

        .staticMap {
           // margin-bottom:90px;
            background:#f6f6f6;
            .mapImg {
                width: 800px;
                left: 0;
                background:white;
            }



            .button {
                margin:175px 100px 100px 900px;
                height:60px;
                padding:20px;
                cursor:pointer;


                @media @phone {
                    width:160px;
                    height:54px;
                    margin: 160px auto;
                    padding: 5px 10px;
                }

                label {
                    border-bottom:0px;
                    cursor:pointer;

                    @media @phone {
                        border-bottom: 1px solid #be0001;
                    }
                }

                .icons {
                    display:none;

                    @media @phone {
                        display:block;
                    }
                }
            }

            .icons_big {
                position:absolute;
                right:50px;
                top:275px;

                @media @phone {
                    display:none;
                }
            }
        }


        .areaValueCharts {
            width: 100%;
            @media @phone {
                margin-top:25px;
            }
            >.title {
                line-height:1em;
                margin-bottom:60px;

                @media @phone {
                    margin-bottom:20px;
                    margin-left:20px;
                }
            }

            .rslides_wrapper {

                .leftPressArea {
                    position:absolute;
                    height:325px;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    left:0;
                    top:0;

                    @media @phone {
                        height:150px;
                    }

                    img {
                        position: absolute;
                        top: 80px;
                        @media @phone {
                            display:none;
                        }
                    }
                }

                .rightPressArea {

                    position:absolute;
                    height:325px;
                    width:20%;
                    z-index:@rslides-control-z-index;
                    box-shadow:none;
                    background:transparent;
                    cursor:pointer;
                    border-radius:0;
                    right:0;
                    top:0;
                    @media @phone {
                        height:150px;
                    }

                    img {
                        position: absolute;
                        right: 0;
                        top: 80px;
                        @media @phone {
                            display:none;
                        }
                    }
                }
                ul.rslides {
                    width:1100px;
                    height:325px !important;
                    margin:0 auto;
                    position: relative;
                    overflow: hidden;

                    @media @phone {
                        width:100%;
                        height:auto !important;
                        padding-bottom: 10px;
                    }

                    li {
                        overflow:hidden;
                        width:100% !important;
                        height:100% !important;
                        display:inline-block;

                        .image {
                            float:left;
                            display:inline-block;
                            @media @phone {
                                display:block;
                                margin: 0 auto;
                                float: none;
                            }
                            img {
                                width:600px;

                                @media @phone {
                                    width:300px;
                                    margin: 0 auto;
                                    float: none;
                                }
                            }

                        }

                        .text {
                            float:left;
                            display: inline-block;
                            margin-left:70px;
                            width:400px;

                            @media @phone {
                                width:100%;
                                display:block;
                                margin-left:0;
                                padding:0 12px;
                                margin-top:10px;
                            }

                            .title {
                                font-size:24px;
                                color:black;

                                @media @phone {
                                    font-size:16px;
                                }
                            }

                            .description {
                                font-size:12px;
                                line-height:2em;
                                color:#666;

                                @media @phone {
                                    line-height:20px;
                                }
                            }
                        }
                    }
                }

                .rslides_nav {
                    @height: 32px;
                    position: absolute; z-index: 1; text-decoration: none; font-weight: bold; color: @red;
                    display: inline-block; width: @height; height: @height;
                    top: 50%; margin-top: -16px;
                    border-radius: 50%;
                    background: fade(white, 30%); line-height: @height; text-align: center;
                    box-shadow: inset 0 0 2px 0 fade(black, 30%);
                    display:none;

                    @media @phone {
                        top:50px;
                        margin-top:0;
                        display:block;
                    }
                    &.prev { left: 8px; }
                    &.next { right: 8px; }
                }
            }
        }
    }
}
