@import "project/_imports";

.requirement_popup {
    &_shadow {
        z-index: @requirement_popup-shadow-z-index;
        background: #000000; opacity: 0.5; filter: alpha(opacity=50);
        position: fixed; top: 0; left: 0; bottom: @copyright-height; width: 100%; height: 100%;
    }

    .requirement {
        &_wrapper {
            z-index: @requirement_popup-content-z-index;
            position: absolute;
            top:0;
            left:0;
            padding-top:100px;
            padding-bottom:100px;
            width:100%;
            min-width:@min-page-width;
            background:#eeeeee;
            border-top: 125px solid #626262;

            @media @phone {
                min-width:0;
            }

        }

        max-width:@max-width + 40px;
        margin:0 auto;
        overflow:hidden;

        .info {
            float: left;
            margin-left: 20px;
            width: 450px;
            @media @phone {
                margin: 0 20px;
                float: none;
                width: 100%;
            }

            .contact {
                float:left;
                margin-top: 365px;

                @media @phone {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                }

                .hint {
                    font-size:16px;
                    color:#999;
                    line-height:24px;
                    @media @phone {
                        display:inline-block;
                    }

                }

                a {
                    font-size:24px;
                    text-decoration:none;
                    color:@red;
                    line-height:24px;
                    display:block;
                    @media @phone {
                        display:inline-block;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }

            .requirement_title {
                float:left;
                width: 100%;

                .title {
                    margin-top: 0;
                    font-size: 36px;
                    color: #333333;
                }
                .subtitle {
                    font-size: 12px;
                    line-height: 2;
                    color: #999999;
                    max-width: 360px;
                }

                @media @phone {
                    .title {
                        margin-top: 0;
                        font-size: 24px;
                    }
                    .subtitle {
                        font-size: 12px;
                        line-height: 1.6em;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }


        .successMessage {
            display:none;
            text-align:center;
            margin: 272px auto;
            color: #666666;
            font-size:30px;
            @media @phone {
                margin: 100px 20px;
            }
        }

        @media @phone {
            margin: 20px auto;
        }
    }
}