@import "project/_imports";

.main {
    table tr td {
        label[name=userLanguage] {

        }
        select[name=userLanguage] {
            background:white;
            border:1px solid #cccccc;
            border-radius:4px;
            color:#999;
            width:140px;
        }
    }
}
