@import "/project/_imports";
.content {
    .list {
        @border-width: 2px;
        @border-color: #d2d2d2;
        @padding-top: 20px;
        @black: #333333;
        @grey: #a3a3a3;

        .intentionCard {
            position: relative;
            border-top: @border-width solid @border-color;
            font-size: 14px;
            color: @grey;
            height: 213px;
            min-width: 700px;
            margin-bottom: 100px;
            overflow: hidden;

            .budget {
                position: absolute;
                top: 28px;
                left: 0;
                color: #e60012;
                font-size: 24px;
                margin: 0;
                line-height: 1;

                i {
                    font-style: normal;
                    color: #333;
                }
            }

            .detail {
                position: absolute;
                top: 64px;
                left: 0;
                color: #666;
                font-size: 14px;
                line-height: 1;
                margin: 0;
            }

            .date {
                position: absolute;
                bottom: 52px;
                left: 0;
                color: #666;
                font-size: 12px;
                line-height: 1;
                margin: 0;

                i {
                    font-style: normal;
                }
            }

            .status {
                position: absolute;
                right: 0;
                top: 28px;
                color: #0090c6;
                font-size: 14px;
            }

            .otherAction {
                position: absolute;
                right: 0;
                bottom: 0;

                button {
                    padding: 0 24px;
                    font-size: 14px;
                }
            }
        }

    }
}
.intentionCard {
    display: block;
    @media @phone {
        display: none;
    }
    &_phone {
        display: none;
        @media @phone {
            display: block;
        }
        width: 100%;
        background-color: #fff4f5;
        margin-bottom: 20px;
        min-height: 100px;

        .budget {
            color: #e60012;
            font-size: 24px;
            padding: 20px 12px;
            line-height: 1;

            i {
                font-style: normal;
                color: #333;
            }
        }

        .detail {
            color: #666;
            font-size: 14px;
            line-height: 1;
            margin: auto 12px;
        }

        .textPart_innerTable {
            overflow: hidden;
            table-layout: fixed;
            width: 100%;
            .properties {
                width: 64%;
                ul {
                    margin: 12px;
                    li {
                        vertical-align: middle;
                        font-size: 14px;
                        line-height: 15px;
                        margin-bottom: 8px;
                        color: #999;
                        overflow: hidden;

                        label {
                            float: left;
                            display: inline-block;
                            width: 80%;
                            width: ~"calc(100% - 30px)"
                        }
                    }
                }
            }

            .estimate {
                width: 36%;
            }
        }
    }
}
.houseCard_phone .textPart .properties {
    border: 0;
}
.textPart_innerTable .estimate {
    position: relative;
    .status {
        position: absolute;
        right: 16px;
        top: 8px;
        color: #0090c6;
        font-size: 14px;
    }
}