@import "project/_imports";


* {
    box-sizing: border-box;
}

.content{
    background:#f6f6f6;
    padding:20px 20px 50px 20px;
    width:760px;
    overflow:hidden;
    @media @phone{
        width:100%;
    }
    .title {
        font-size:20px;
        line-height:1;
        color:#333333;
        @media @phone {
            text-align: center;
        }
    }

    form {
        border-top:1px solid #cccccc;
        margin-top:14px;
        margin-left:0;
        margin-right:0;
        .tip {
            width:100%;
            margin-top:20px;
            background:#fff5ce;
            border:1px solid #ff8a00;
            padding:16px 0 16px 16px;
            @media @phone {
                text-align: center;
                padding:16px;
            }
            img {
                vertical-align: top;
                display:inline-block;
                margin-right:13px;
                margin-top:3px;
            }

            p {
                font-size:12px;
                height:28px;
                line-height:28px;
                margin:0;
                width:640px;
                color:#ff8a00;
                display:inline-block;
                @media @phone {
                    margin-top: 10px;
                    width:100%;
                    text-align:center;
                    line-height:20px;
                    height:auto;
                }
            }
        }

        .inner {
            margin-top:50px;
        }

        .row {
            margin-left:0;
            margin-bottom:20px;

            label {
                width:170px;
                text-size:14px;
                text-align:right;
                color:#999999;
                font-style:normal;
                display:inline-block;
                @media @phone {
                    display: none;
                }
            }

            input {
                margin-left:38px;
                width:360px;
                height:48px;
                padding-left:4px;
                padding-right: 4px;
                font-size:14px;
                border:1px solid #cccccc;
                border-radius:4px;
                background:white;
                @media @phone {
                    margin-left: 0;
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        .resultMessage {
            margin: 10px 0 0 210px;
            color:#e60012;
            @media @phone {
                margin: 10px 0 0 0;
            }
        }

        button {
            margin-left:210px;
            margin-top:28px;
            @media @phone {
                margin-left: 0;
                margin-top:56px;
                width: 100%;
            }
        }
    }

}
.userPageHeader_phone {
    #rmm-center-wrapper {
        display: none;
    }
}
