@import "project/_imports";


* {
    box-sizing: border-box;
}

.content{

    form {

        .row {
            input[name=code] {
                width:228px;
            }

            button[name=code] {
                margin-left:20px;
                margin-top:-4px;
                height:48px;
                width:110px;
                font-size:14px;
                font-weight:normal;
                padding:10px 10px;
            }
        }
    }
}