@import "project/_imports";

.container {
    >.currentStep {
        .purchase {
            width:100%;
            overflow:hidden;
            background:#f6f6f6;
            margin-top:40px;

            .crowdfundingInfo {
                padding:30px;

                .title {
                    font-size:24px;
                    font-weight:bold;
                    color:#ff8a00;
                }
            }

            .confirm {
                overflow:hidden;
                .password {
                    float:left;
                    width:910px;
                }

                >button {
                    float:left;
                    width:290px;
                    border-radius:0px;
                }
            }

        }

        .investmentAnalysis {
            width:100%;
            overflow:hidden;
            margin-top:40px;
            border-top:1px solid #ccc;

            .title {
                font-size:16px;
                color:#666;
                margin-top:20px;
            }

        }
    }
}