@import "/project/payCard";

.modal-pay-card{
	margin-top: 32px;
	.modal-footer{
		input[type=submit]{
			float: left;
			dispaly: block;
		}
		.addContactWrap{
			width: 450px;
			text-align: left;
			float: right;
		}
	}
}
