/*! Created by frank on 14-9-19.  */
@import "project/_imports";
.userPage { .clearfix(); width: 100%; max-width: 1200px; margin: 80px auto;
    > .aside { float: left; width: 30%; }
    > .main { float: left; width: 63%; margin-left: 7%; font-size: 12px;

        > .caption { font-size: 24px; color: #333; margin-bottom: 16px; }

        .table_wrapper {
            background: #f6f6f6; padding: 0 16px;
        }
        table { width: 100%; color: #999; margin-bottom: 48px;
            tr { border-top: 1px solid #ccc;
                &:first-child { border-top: none; }
                td {
                    padding: 12px 0;
                    strong {
                        font-size: 20px; color: #666; margin: 12px 0; display: block; font-weight: normal;
                    }
                    p { margin: 12px 0; }
                    &.action { text-align: right; }


                }
            }
        }
    }
}
