/*! Created by frank on 14-9-19.  */
@import "project/_imports";
.userPage {
    .clearfix();
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    @media @phone {
        margin: 0 auto;
        background: white;
    }
    > .aside {
        float: left;
        width: 30%;
        @media @phone{
            display: none;
        }
    }
    > .main {
        float: left;
        width: 63%;
        margin-left: 7%;
        font-size: 12px;
        @media @phone {
            width: 100%;
            margin-left: 0;
        }
        > .caption {
            font-size: 24px;
            color: #333;
            margin-bottom: 16px;
        }

        .table_wrapper {
            background: #f6f6f6;
            padding: 0 16px;
        }
    }
}
