@import "project/_imports";

.container {
    >.currentStep {
        >.tip {
            width:100%;
            margin-top:80px;
            background:#fff5ce;
            border:1px solid #ff8a00;
            padding:16px 0 16px 16px;
            @media @phone {
                text-align: center;
                padding:16px;
            }
            img {
                vertical-align: top;
                display:inline-block;
                margin-right:13px;
                margin-top:3px;
            }

            p {
                font-size:12px;
                height:28px;
                line-height:28px;
                margin:0;
                width:640px;
                color:#ff8a00;
                display:inline-block;
                @media @phone {
                    margin-top: 10px;
                    width:100%;
                    text-align:center;
                    line-height:20px;
                    height:auto;
                }
            }

        }

        .userInfo {
            overflow:hidden;
            background:#f6f6f6;
            width:100%;
            margin-top:40px;
            padding:40px;

            .row {
                width:100%;
                float:left;
                margin-left:0;
                margin-bottom:20px;

                label {
                    width:80px;
                    font-size:14px;
                    text-align:right;
                    color:#999999;
                    font-style:normal;
                    display:inline-block;
                }

                input {
                    height:48px;
                    padding-left:4px;
                    padding-right: 4px;
                    font-size:14px;
                    border:1px solid #cccccc;
                    border-radius:4px;
                    background:white;
                    color:#4d4d4d;
                }

                select {
                    border:1px solid #cccccc;
                    border-radius:4px;
                    background:white;
                    height:48px;
                    color:#4d4d4d;
                }
            }

            >.info {
                float:left;
                width:50%;
                padding-right:45px;
                >.title {
                    font-size:20px;
                    color:#333;
                    margin-bottom:60px;
                }

                >.countrySelector {
                    select[name=country] {
                        width:380px;
                        margin-left:50px;
                    }
                }

                .birthday {
                    margin-left:50px;
                    display:inline-block;
                    select.year {
                        width:160px !important;
                        margin-right:20px;
                    }

                    select.month {
                        margin-right:20px;
                        width:87px !important;
                    }
                    select.day {
                        width:87px !important;
                    }
                }

                >.countryOptions {
                    input {
                        width:380px;
                        margin-left:50px;
                    }

                    input[name=zipcode] {
                        width:140px;
                    }

                    select[name=gender] {
                        width:160px;
                        margin-left:50px;
                    }

                    button.fetchAddress {
                        line-height:28px;
                        font-size:14px;
                        width:100px;
                        padding:10px 20px;
                        margin-left:20px;
                    }

                    button.manuallyInputAddress {
                        line-height:28px;
                        font-size:14px;
                        width:auto;
                        padding:10px 0px;
                        margin-left:30px;
                    }

                    .sectionTitle {
                        font-weight:bold;
                        margin-top:20px;
                    }

                    .addressOverOneYear {
                        overflow:hidden;
                        height: auto;
                        width: 100%;
                        .hint {
                            display:inline-block;
                            float:left;
                            width:300px;
                            font-size:16px;
                            color:#999;
                            line-height:1em;
                            margin: 0px;
                        }

                        button {
                            float:right;
                            font-size:16px;
                            line-height:1em;
                            padding:10px 20px;
                            margin-left: 20px;
                            font-weight:normal;

                            &.ghostButton {
                                padding:8px 20px;
                            }
                        }
                    }
                }
            }


            >.phone {
                float:left;
                width:50%;
                padding-left:45px;
                >.title {
                    font-size:20px;
                    color:#333;
                    margin-bottom:60px;
                }

                select[name=country_code] {
                    margin-left:50px;
                    width:160px;
                    margin-right:20px;
                }

                input[name=phone] {
                    width:180px;
                }

                .verification {
                    margin-left:50px;
                    display:inline-block;

                    input[name=code] {
                        width:160px;
                        margin-right:20px;
                    }

                    button.fetchCode {
                        line-height:28px;
                        font-size:14px;
                        width:180px;
                    }

                }
            }

            .error {
                width: 100%;
                display: block;
                float: left;
                text-align: center;

            }

            .success {
                width: 100%;
                display: block;
                float: left;
                text-align: center;
            }

            .confirm {
                &_wrapper {
                    float:left;
                    width:100%;
                    margin:60px 0 0px;
                }
                display:block;
                margin:0 auto;
            }
        }
    }
}