@import "project/_imports";


* {
    box-sizing: border-box;
}

.content{

    form {

        .row {

            select[name=country] {
                margin-left:40px;
                width:110px;
                height:48px;
                margin-top:-4px;
                background:white;
                border:1px solid #cccccc;
                border-radius:4px;
            }
            input[name=phone] {
                width:226px;
                margin-left:20px;
            }

            input[name=old_phone] {
                width:226px;
                margin-left:20px;
            }

            input[name=code] {
                width:228px;
            }

            button[name=code] {
                margin-left:20px;
                margin-top:-4px;
                height:48px;
                width:110px;
                font-size:14px;
                font-weight:normal;
                padding:10px 10px;
            }
        }
    }
}