@import "/project/_imports";
.titleFrame {
    width: 100%;
    @media @phone{
        background-color: #EEEEEE;
    }
}
.titleCell {
    height: 30px;
    text-align: center;
    color: #9a9a9a;
    font-size: 24px;
    &.selected {
        border-bottom: 2px solid #ff2e5b;
        color: #ff2e5b;
        @media @phone{
            color: #595959;
        }
    }
}
.cfdPageTitle {
    font-size: 24px;
    color: #333333;
    padding-top: 48px;
    padding-bottom: 32px;
}
.cfdDividerTitle {
    padding-top: 48px;
    padding-bottom: 32px;
}
.orangeTable {
    background-color: #fff5ce;
    border: 1px solid #ffb34f;
    height: 180px;
}
.topClass {
    margin: 0 auto;
    width: 98%;
    @media @phone{
        table-layout: fixed;
    }
    td {
        width: 21%;
        @media @phone {
            width: 33%;
        }
        > div {
            border-left: 1px solid #cccccc;
            padding: 0 8px;
            &.noLine {
                border-left: 0;
            }
            &.phone {
                @media @phone {
                    border-left: 0;
                }
            }
        }
        div {
            color: #666666;
        }
    }
    .earning {
        width: 36%;
        @media @phone {
            width: auto;
        }
    }
}
.orangeTitle {
    color: #ff8a00;
    font-size: 24px;
    &.web {
        color: #ff8a00;
        margin: 14px;
        display: block;
        @media @phone {
            display: none;
        }
    }
    &.phone {
        color: #ff8a00;
        display: none;
        @media @phone {
            display: block;
        }
    }
    &.number {
        color: #ff8a00;
        font-size: 80px;
    }
}
.cfdLittleTitle {
    font-size: 15px;
    &.orange {
        color: #ff8a00;
    }
}
.cfdContentFrame {
    padding-top: 56px;
    padding-bottom: 36px;
}
.cfdContentTitle {
    font-size: 24px;
    color: #333333;
}
.cfdFilterMenu {
    font-size: 14px;
    color: #999999;
}
.cfdFilterButton {
    display: inline-block;
    font-size: 14px;
    color: #999999;
    background-color: transparent;
    border: 2px solid #cccccc !important;
    margin: 10px;
    width: 70px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    &.selected {
        color: #ffffff;
        background-color: #e60012;
        border: 2px solid #e60012 !important;
    }
}
.cfdFilterInput{
    font-size: 14px;
    border: 1px solid #cccccc !important;
    margin: 10px;
    width: 160px;
    height: 30px;
    color: #999999;
}
.ui-tabs {
    display: none;
    @media @phone {
        display: block;
    }

    .ui-tabs-nav {
        min-width: 140px;
        padding: 20px 0 20px 0;
        background: transparent;
        border-width: 0;
        margin: 0 auto;
        text-align: center;
        width: 98%;
    }
    .ui-tabs-nav li {
        display: inline;
        text-align: center;
        color: red;
        min-width: 40px;
        position: static;
        margin: 0;
        border: 2px solid red !important;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        a {
            padding: 6px;
            width: 100%;
            text-align: center;
        }
    }
    .ui-tabs-nav li:first-child {
        -moz-border-radius: 6px 0 0 6px;
        -webkit-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;
        border-right: 0 !important;
    }
    .ui-tabs-nav li:last-child {
        -moz-border-radius: 0 6px 6px 0;
        -webkit-border-radius: 0 6px 6px 0;
        border-radius: 0 6px 6px 0;
        border-left: 0 !important;
    }
    .ui-tabs-nav li.ui-tabs-selected {
        background: red;
        color: #ffffff;
    }
}