@import "/project/_imports";

.gray {
    transition: all ease 0.4s 0s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
    >*{
        transition: all ease 0.4s 0s;
        opacity: 0.5;
    }
}
.page{
    @media @phone{
        position: static;
        min-height: 100vh;
        background: #eee;
    }
}
.main {
    @media @phone {
        background-color:@light-grey;
    }
}

.content {
    min-height: 800px;
    @media @phone {
        min-height: 0;
    }

    .contentHeader {
        display: block;
        @media @phone {
            display: none;
        }
        h1 {
            font-size: 24px;
            color: #333;
            display: inline-block;
        }
        .buttons {
            float: right;
            button {
                margin-left: 10px;
            }

            .button {
                padding: 4px 26px;
                line-height: 24px;
                font-size: 12px;
            }
        }

    }

    .list_wrapper {
        .loadIndicator {
            margin: 60px auto 20px auto;
            display: block;
        }
        .list {
            margin-top: 50px;

            @media @phone {
                margin-top:0px;
            }
            .houseCard {
                .otherAction {
                    opacity: 1;
                }
                &_phone_new {
                    transition: all ease 0.4s 0s;
                    .propertyInfo .size > div .content{
                        font-size: 18px;
                        color: #e61919;
                    }
                    .otherAction {
                        opacity: 1;
                    }
                    .undoFavorite {
                        width: 100%;
                        background: none;
                        border: none;
                        font-size: 14px;
                        &:active{
                            border: none;
                        }

                        span {
                            vertical-align: middle;
                        }
                        img,i {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 2px;
                            margin-top: -5px;
                            font-size: 18px;
                        }
                    }
                }

            }
        }
    }

    .contentFooter {
        margin: 0 auto;
        width: 224px;

        button {
            width: 110px;
            display: inline-block;
            border: 0;
            background: transparent;
            text-align: center;
            font-size: 16px;
            padding-top: 2px;
            color: #ccc;
            line-height: 20px;

            img {
                height: 20px;
                vertical-align: bottom;
                &.pre {
                    margin-right: 8px;
                }
                &.next {
                    margin-left: 16px;
                }
            }

            label {
                height: 20px;
                line-height: 20px;
            }
        }
    }

    .emptyPlaceHolder {
        width: 280px;
        margin: 150px auto 0 auto;
        overflow: hidden;
        @media @phone {
            margin: 80px auto;
        }
        img {
            display: inline-block;
            float: left;
            @media @phone {
                float: none;
                display: block;
                margin: 0 auto 20px;
            }
        }

        .holderText {
            display: inline-block;
            float: left;
            width: 180px;
            margin-left: 20px;
            text-align: left;
            @media @phone {
                display: block;
                float: none;
                margin: 0 auto;
                text-align: center;
                width: 200px;
            }
            h2 {
                margin: 0;
                font-size: 24px;
                line-height: 1.5;
                color: #999;
                @media @phone {
                    font-size: 21px;
                }
            }
            p {
                margin: 0;
                font-size: 16px;
                line-height: 36px;
                color: #ccc;

                a {
                    text-decoration: none;
                    color: #e60012;
                }
            }
        }
    }

    .ui-tabs {
        text-align: center;
        display: none;
        @media @phone {
            display: block;
        }
        .ui-tabs-nav {
            min-width: 140px;
            padding: 20px 0 20px 0;
            background: transparent;
            border-width: 0;
            margin: 0 auto;
            width: 98%;
            overflow: hidden;
        }
        .ui-tabs-nav li {
            width: 33%;
            text-align: center;
            color: red;
            min-width: 40px;
            position: static;
            margin: 0;
            border: 2px solid red !important;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            border-radius: 0;
            display: inline-flex;
            a {
                padding: 6px;
                width: 100%;
                text-align: center;
            }
        }
        .ui-tabs-nav li:first-child {
            -moz-border-radius: 6px 0 0 6px;
            -webkit-border-radius: 6px 0 0 6px;
            border-radius: 6px 0 0 6px;
            border-right: 0 !important;
            margin-right: -3px;
        }
        .ui-tabs-nav li:last-child {
            -moz-border-radius: 0 6px 6px 0;
            -webkit-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0;
            border-left: 0 !important;
        }
        .ui-tabs-nav li.ui-tabs-selected {
            background: red;
            color: #ffffff;
        }
    }
}