@import "/project/_imports";

.chatList{
    .chatListContent{
        margin-bottom: 20px;
    }    
    .chatListHeader{
        border-bottom: 2px solid #ccc;
        margin-top: 22px;
        height: 26px;
        font-size: 14px;
        line-height: 26px;
        color: #666;
        @media @phone{
            display: none!important;
        }
        .title{
            width: 30%;
            float: left;
            @media @phone {
                padding-left: 10px;
            }
        }
        .info{
            width: 70%;
            float:left;
        }
    }

    .chatListItmes{
        border-bottom: 1px solid #ccc;
        padding: 18px 0 24px 0;
        height: 106px;
        background: #fff;
        position: relative;
        @media @phone{
            height: auto;
            padding: 10px 0 0;
            margin-bottom: 16px;
            border-top: 1px solid #ccc;
        }
        .title{
            float: left;
            width: 25%;
            height: 62px;
            padding: 0 3% 0 2%;
            overflow: hidden;
            @media @phone{
                width: 100%;
                border-bottom: 1px solid #ccc;
                height: auto;
                float: none;
            }
            .name{
                font: bold 14px/22px 'Microsoft YaHei';
                color: #666;
                height: 22px;
                overflow: hidden;
                margin-bottom: 4px;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                @media @phone{
                    margin-bottom: 0;
                }
            }
            a{
                text-decoration: none;
                color: #e61919;
                font-size: 14px;
                line-height: 18px;
                max-height: 36px;
                display: inline-block;
                overflow: hidden;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .info{
            font-size: 14px;
            height: 64px;
            width: 70%;
            padding-right: 16%;
            float: left;
            position: relative;
            @media @phone{
                position: static;
                float: none;
                height: auto;
                width: 100%;
                padding: 6px;
                border-bottom: 1px solid #ccc;
            }
            .loading{
                height: 64px;
                line-height: 64px;
                color: #888;
                img{
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            .name{
                font-weight: bold;
                color: #666;
                margin-bottom: 6px;
            }
            .message{
                color: #999;
                line-height: 20px;
                height: 56px;
                overflow: hidden;
                @media @phone{
                    height: auto;
                }
                .text{                
                    overflow: hidden;
                    font-size: 14px;
                    line-height: 20px;
                    height: 40px;
                    display: block;
                }
                .msgtime{
                    display: block;
                    line-height: 20px;
                    i{
                        font-size: 12px;
                        margin-right: 5px;
                    }
                    @media @phone{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                }
                &.sent{
                    .text{
                        color: #333;
                    }                    
                }
            }
        }
        .reply{
            position: absolute;
            top: 50%;
            right: 2%;
            margin-top: -15px;
            background: #e61919;
            border-radius: 3px;
            text-align: center;
            color: #fff;
            height: 30px;
            line-height: 30px;
            padding: 0 16px;
            display: inline-block;
            text-decoration: none;
            border: 0;
            @media @phone{
                position: static;
                width: 100%;
                color: #e61919;
                background: #fff;
                margin-top: 0;
                height: 36px;
                line-height: 36px;
            }
        }
    }
    .loadIndicator{
        display: block;
        margin: 0 auto;
    }
}
.currentIndex{
    color: #f00;
    font-size: 16px;
    font-weight: bold;
}
