@import "project/_imports";

.container {
    >.currentStep {
        >.tip {
            width:100%;
            margin-top:80px;
            background:#fff5ce;
            border:1px solid #ff8a00;
            padding:16px 0 16px 16px;
            @media @phone {
                text-align: center;
                padding:16px;
            }
            img {
                vertical-align: top;
                display:inline-block;
                margin-right:13px;
                margin-top:3px;
            }

            p {
                font-size:12px;
                height:28px;
                line-height:28px;
                margin:0;
                width:640px;
                color:#ff8a00;
                display:inline-block;
                @media @phone {
                    margin-top: 10px;
                    width:100%;
                    text-align:center;
                    line-height:20px;
                    height:auto;
                }
            }

        }

        .userInfo {
            overflow:hidden;
            background:#f6f6f6;
            width:100%;
            margin-top:40px;
            padding:40px;

            .row {
                width:100%;
                float:left;
                margin-left:0;
                margin-bottom:20px;

                label {
                    width:80px;
                    font-size:14px;
                    text-align:right;
                    color:#999999;
                    font-style:normal;
                    display:inline-block;
                }

                input {
                    height:48px;
                    padding-left:4px;
                    padding-right: 4px;
                    font-size:14px;
                    border:1px solid #cccccc;
                    border-radius:4px;
                    background:white;

                }

                select {
                    border:1px solid #cccccc;
                    border-radius:4px;
                    background:white;
                    height:48px;
                }
            }

            >.info {
                float:left;
                width:50%;
                padding-right:45px;
                >.title {
                    font-size:20px;
                    color:#333;
                    margin-bottom:60px;
                }

                input[name=nickname] {
                    width:380px;
                    margin-left:50px;
                }

                select[name=gender] {
                    width:160px;
                    margin-left:50px;
                }

                .birthday {
                    margin-left:50px;
                    display:inline-block;
                    select.year {
                        width:160px !important;
                        margin-right:20px;
                    }

                    select.month {
                        margin-right:20px;
                        width:87px !important;
                    }
                    select.day {
                        width:87px !important;
                    }
                }

                .address {
                    margin-left:50px;
                    display:inline-block;
                    select[name=country] {
                        display:block;
                        width:380px;
                        margin-bottom:20px;
                    }

                    select[name=state] {
                        width:178px;
                        margin-bottom:20px;
                        margin-right:20px;
                    }

                    select[name=city] {
                        width:178px;
                        margin-bottom:20px;
                    }

                    input[name=address1] {
                        display:block;
                        width:380px;

                    }
                }

                input[name=zipcode] {
                    margin-left:50px;
                    width:380px;
                }

            }

            >.phone {
                float:left;
                width:50%;
                padding-left:45px;
                >.title {
                    font-size:20px;
                    color:#333;
                    margin-bottom:60px;
                }

                select[name=country] {
                    margin-left:50px;
                    width:160px;
                    margin-right:20px;
                }

                input[name=phone] {
                    width:180px;
                }

                .verification {
                    margin-left:50px;
                    display:inline-block;

                    input[name=verificationCode] {
                        width:160px;
                        margin-right:20px;
                    }

                    button.fetchCode {
                        line-height:28px;
                        font-size:14px;
                        width:180px;
                    }

                }
            }

            .error {
                width: 100%;
                display: block;
                float: left;
                text-align: center;

            }

            .success {
                width: 100%;
                display: block;
                float: left;
                text-align: center;
            }

            .confirm {
                &_wrapper {
                    float:left;
                    width:100%;
                    margin:60px 0 0px;
                }
                display:block;
                margin:0 auto;
            }
        }
    }
}