image: felixonmars/archlinux

stages:
  - prepare
  - test
  - doc
  - deploy

server_prepare:
  stage: prepare
  script:
    - git submodule update --init

server_test:
  stage: test
  script:
    - cd source/server
    - python2 wsgi.py --test
  tags:
    - docker

server_doc:
  stage: doc
  script:
    - cd source/server/docs
    - make SPHINXBUILD=sphinx-build2 clean html
  tags:
    - docker

server_deploy:
  stage: deploy
  script:
    - "echo 'fixme: server_deploy stub'"
  tags:
    - docker
