<div class="imagePart">
    {_if (house.cover){_}
    <a href="/property/{=house.id=}">
        <img src="{=team.convertToHttps({'link':house.cover, 'property_id':house.id, 'thumbnail':true})=}" width=320 height=213 onerror="window.onImgError(this);"/>
    </a>
    {_ } else if(house.reality_images && house.reality_images.length) {_}
    <a href="/property/{=house.id=}">
        <img src="{=team.convertToHttps({'link':house.reality_images[0], 'property_id':house.id, 'thumbnail':true})=}" width=320 height=213 onerror="window.onImgError(this);"/>
    </a>
    {_ }else { _}
    <a href="/property/{=house.id=}">
        <img class="withPlaceholder" width="320" height="213"/>
    </a>
    {_}_}
    <div class="labels">
        {_if (house.rental_guarantee_term){_}
        <label class="rent" for="">{=house.rental_guarantee_term + ' ' + window.i18n('年包租')=}
            {_if (house.rental_guarantee_rate){_}
            {=' ' +  parseFloat(house.rental_guarantee_rate).toFixed(2) + '%'=}
            {_}_}
        </label>
        {_}_}
        {_if (house.property_type && house.property_type.value){_}
        <label class="type" for="">{=house.property_type.value=}</label>
        {_}_}
    </div>
    {_if (house.status === 'sold out'){_}
    <div class="soldOut">
        <img alt="" src="/static/images/background/sold-out.png"/>
        <label for="">{=window.i18n('售罄')=}</label>
    </div>
    {_}_}
</div>

<div class="description_wrapper">
    <div class=description>
        <h1 class=name>
            <a href="/property/{=house.id=}">
                {_if (house.country){_}
                {=window.team.countryMap[house.country.code]=}
                {_}_}
                {_if (house.city){_}
                {=house.city.name=}
                {_}_}
                {=house.name=}
            </a>
        </h1>
        <!--@@placeholder=price -->
        <div class=details>
            <div class="left">
                {_if (house.property_type && house.property_type.slug !== 'new_property' && house.property_type.slug !== 'student_housing'){_}
                <p class=size>
                    <!--@@include=../../../partials/get_size.tpl.html -->
                </p>
                {_}_}

                <p class=estimate>
                    {_ if (house.annual_return_estimated) { _}
                    <span class=label>{=window.i18n('预计年化收益率')=}</span>
                    <span class=value><strong>{=house.annual_return_estimated=}</strong></span>
                    {_} else if (house.annual_cash_return_estimated) { _}
                    <span class=label>{=window.i18n('预估租金收益率')=}</span>
                    <span class=value><strong>{=house.annual_cash_return_estimated=}</strong></span>
                    {_}_}
                </p>
            </div>
            <div class="right">
                <ul class=properties>
                    {_if(house.intention && house.intention.length) {_}
                    <li>
                        <i class="icon-tag_icon"></i>
                        <label>
                            {_ _.each(house.intention, function(oneIntention) { _}
                            {=oneIntention.value=}
                            {_})_}
                        </label>
                    </li>
                    {_}_}
                    {_if(house.street) {_}
                    <li>
                        <i class="icon-location_fill"></i>
                        <label>{=house.street=}</label>
                    </li>
                    {_}_}
                </ul>
            </div>

        </div>
        <!--@@placeholder=action -->
    </div>
</div>
<!--@@placeholder=cover -->
