<!--@@placeholder=var -->
<div class="imagePart">
    {_if (house.cover){_}
    <a href="/property/{=house.id=}">
        <img src="{=team.convertToHttps({'link':house.cover, 'property_id':house.id, 'thumbnail':true})=}" width=320 height=213 onerror="window.onImgError(this);"/>
    </a>
    {_ } else if(house.reality_images && house.reality_images.length) {_}
    <a href="/property/{=house.id=}">
        <img src="{=team.convertToHttps({'link':house.reality_images[0], 'property_id':house.id, 'thumbnail':true})=}" width=320 height=213 onerror="window.onImgError(this);"/>
    </a>
    {_ }else { _}
    <a href="/property/{=house.id=}">
        <img class="withPlaceholder" width="320" height="213"/>
    </a>
    {_}_}
    <div class="labels">
        {_if (house.rental_guarantee_term){_}
        <label class="rent" for="">{=house.rental_guarantee_term + ' ' + window.i18n('年包租')=}
            {_if (house.rental_guarantee_rate){_}
            {=' ' +  parseFloat(house.rental_guarantee_rate).toFixed(2) + '%'=}
            {_}_}
        </label>
        {_}_}
        {_if (house.property_type && house.property_type.value){_}
        <label class="type" for="">{=house.property_type.value=}</label>
        {_}_}
    </div>
    {_if (house.status === 'sold out'){_}
    <div class="soldOut">
        <img alt="" src="/static/images/background/sold-out.png"/>
        <label for="">{=window.i18n('售罄')=}</label>
    </div>
    {_}_}
</div>

<div class="description_wrapper">
    % if not ('no_link' in vars() or 'no_link' in globals()):
    <a class="description" href="/property/{=house.id=}">
    % else:
    <div class="description">
    % end
        <h1 class=name>
        % if ('no_link' in vars() or 'no_link' in globals()):
        <a class="description" href="/property/{=house.id=}">
        % end
            {_if (house.country){_}
            {=window.team.countryMap[house.country.code]=}
            {_}_}
            {_if (house.city){_}
            {=house.city.name=}
            {_}_}
            {=house.name=}
        % if ('no_link' in vars() or 'no_link' in globals()):
        </a>
        % end
        </h1>

        <!--@@placeholder=price -->
        <ul class=properties>
            {_if(house.intention && house.intention.length) {_}
            <li>
                <i class="icon-tag_icon"></i>
                <label>
                    {_ _.each(house.intention, function(oneIntention) { _}
                    {=oneIntention.value=}
                    {_})_}
                </label>
            </li>
            {_}_}
            {_if(house.street) {_}
            <li>
                <i class="icon-location_fill"></i>
                <label>{=house.street=}</label>
            </li>
            {_}_}
            % if 'show_rooms' in vars() or 'show_rooms' in globals():
            {_if(house.living_room_count || house.bathroom_count || house.space) {_}
            <li>
                <i class="icon-rooms"></i>
                <label>
                    {_if(house.living_room_count) {_}
                    <span class="bold">{=house.living_room_count=}</span>{=window.i18n('室')=}
                    {_}_}
                    {_if(house.bathroom_count) {_}
                    <span class="bold">{=house.bathroom_count=}</span>{=window.i18n('卫')=}
                    {_}_}

                    {_if(house.space) {_}
                    <span class="bold">{= parseFloat(house.space.value).toFixed(2)=}</span>
                    {_if (house.space.unit === 'foot ** 2'){_}
                    SQFT
                    {_} else if(house.space.unit === 'acre'){_}
                    ACRE
                    {_} else if (house.space.unit === 'meter ** 2') {_}
                    m <sup>2</sup>
                    {_} else if (house.space.unit === 'kilometer ** 2') {_}
                    km <sup>2</sup>
                    {_} else {_}
                    {=house.space.unit=}
                    {_}_}
                    {_}_}
                </label>
            </li>
            {_}_}
            % end
        </ul>
        <div class=details>
            {_if (house.annual_return_estimated || house.annual_cash_return_estimated) {_}
            <div class="left">
                {_if (house.annual_return_estimated) { _}
                <div style="width: 50%">
                    <p class="title">{=window.i18n('预计年化收益率')=}</p>
                    <p class="content">
                        <span class="bold">{=house.annual_return_estimated=}</span>
                    </p>
                </div>
                {_}_}

                {_if (house.annual_cash_return_estimated) { _}
                <div style="width: 42%">
                    <p class="title">{=window.i18n('预估现金年化收益率')=}</p>
                    <p class="content">
                        <span class="bold">{=house.annual_cash_return_estimated=}</span>
                    </p>
                </div>
                {_}_}
            </div>
            {_}_}

            <!--@@placeholder=more_detail -->
        </div>
        <!--@@placeholder=action -->
        <!--@@placeholder=bottom_action -->
    % if ('no_link' in vars() or 'no_link' in globals()):
    </div>
    % else:
    </a>
    % end
    <!--@@placeholder=consult_action -->
</div>
<div class="otherActionWrap">

    <!--@@placeholder=other_action -->
</div>
<!--@@placeholder=cover -->
