<div>
{%$root.i18n('【洋房东】您好，租客已向您提出视频看房请求。如果您愿意为租客提供看房视频，请您按照以下流程上传时视频。')%}
{%$root.i18n('视频录制tips:')%}
{%$root.i18n('1. 请尽量录的慢一点，这样比较容易看清。')%}
{%$root.i18n('2. 请在录制时加上一些介绍，比如周边超市，地铁站距离。')%}
{%$root.i18n('3. 如果光线允许，请录一下窗外的景色。')%}
{%$root.i18n('4. 请尽量详细的录一下：个人卧室，厨房，客厅，厕所和功能设施。')%}
{%$root.i18n('发送上传视频方式：')%}
{%$root.i18n('(1) 微信')%}
{%$root.i18n('请加微信yangfd9，发送视频给客服并且告知咨询单号。每段录像不要超过1分30秒，因为微信传送文件大小有限制。')%}
{%$root.i18n('(2) 邮件')%}
{%$root.i18n('请将邮件主题改为咨询单号，直接发送到services@youngfunding.co.uk。')%}
{%$root.i18n('(温馨提示：您只需要提供一次看房视频即可，未来租客再提出看房申请将直接使用本视频)。感谢您的支持。')%}
{%$root.i18n('回复消息与租客继续交流。')%}
</div>