@import "../project/_imports";

.hiddenInClient {
    @media @phone {
        display:none;
    }
}

.floatBar_phone {
    &.hiddenInClient {
        display:none;
    }
}

main >.result >.tabSelector_phone {
    &.hiddenInClient {
        display:none;
    }
}