<div>
    <div class="controls form-inline" ng-if="!phone">
        <div select-phone-country ng-model="phoneCountry" text="{%$root.i18n('国家')%}"></div>
        <input type="text" class="form-control" ng-model="phoneNumber"/>
        <input type="button" ng-click="checkPhone(phoneCountry,phoneNumber)" class="btn btn-primary" value="{%$root.i18n('确认号码')%}">
    </div>
    <div class="controls form-inline" ng-if="phone">
        <span class="form-control">{%phone%}</span>
        <input type="button" ng-click="cleanPhone()" class="btn btn-primary" value="{%$root.i18n('删除号码')%}">
    </div>
</div>
