<div>
    <div class="controls form-inline" ng-if="!phone">
        <div enum-select name="country" ng-model="phoneCountry" text="国家"></div>
        <input type="text" class="form-control" ng-model="phoneNumber"/>
        <input type="button" ng-click="checkPhone(phoneCountry,phoneNumber)" class="btn btn-primary" value="确认号码">
    </div>
    <div class="controls form-inline" ng-if="phone">
        <span class="form-control">{%phone%}</span>
        <input type="button" ng-click="cleanPhone()" class="btn btn-primary" value="删除号码">
    </div>
</div>
