<div ui-view>

    <div class="btn-group form-inline">
        <button class="btn btn-primary" ui-sref=".create">{%$root.i18n('添加新号码')%}</button>
    </div>

    <table class="table table-bordered table-striped table-condensed" style="margin-bottom:30px">
        <tbody>
            <tr>
                <th>{%$root.i18n('号码')%}</th>
                <th>{%$root.i18n('管理')%}</th>
            </tr>
            <tr ng-repeat="item in list">
                <td>{%item.phone%}</td>
                <td>
                    <a class="btn btn-info btn-group form-inline" ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <a class="btn btn-danger btn-group form-inline" ng-click="onRemove(item,$index)" title="Delete">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>

</div>
