<div ui-view>
    <span class="btn-group">
        <button class="btn" ui-sref=".create">
            <span class="fa fa-plus-circle"></span>{%$root.i18n('添加预算')%}
        </button>
    </span>
    <div class="btn-group form-inline">
        <select class="form-control" ng-options="p.key as p.value for p in [{key: 'new', value: $root.i18n('正常')},{key: 'deprecated', value: $root.i18n('已弃用')}]" ng-model="status" ng-change="getRentBudget(status)"></select>
    </div>
    <div class="btn-group form-inline pull-right">
        <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
    </div>

    <table class="table table-bordered table-striped table-condensed" ng-init="getRentBudgetItem(status)"
        style="margin-bottom:30px">
        <colgroup>
            <col/>
            <col style="width: 120px;"/>
            <col style="width: 120px;"/>
            <col style="width: 80px;"/>
            <col style="width: 120px;"/>
        </colgroup>
        <tbody>
            <tr>
                <th>{%$root.i18n('描述')%}</th>
                <th>{%$root.i18n('货币数目')%}</th>
                <th>{%$root.i18n('货币单位')%}</th>
                <th>{%$root.i18n('sort_value')%}</th>
                <th>{%$root.i18n('操作')%}</th>
            </tr>
            <tr ng-repeat="item in rent_budget_item" >
                <td><div show-i18n="item.value"></div></td>
                <td>{%item.slug%}</td>
                <td>{%item.currency%}</td>
                <td>{%item.sort_value%}</td>
                <td style="text-align:center;">
                    <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                        <i class="fa fa-trash-o"></i>
                    </span>
                    <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onDeprecate(item,$index)" ng-disabled="item.status==='deprecated'" title="{%$root.i18n('弃用')%}">
                        <i class="fa fa-ban"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="rent_budget.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
</div>
