<div ui-view>

    <div get-news-category></div>

    <div class="buttons">

        <span class="btn-group">
            <button class="btn" ui-sref=".create">
                <span class="fa fa-plus-circle"></span> 添加房产信息
            </button>
        </span>
        <div class="btn-group form-inline">
            <select class="form-control" ng-options="p.value as p.name for p in propertyStatus" ng-model="selected.status"></select>
        </div>

        <span class="btn-group pull-right" style="margin-left: 10px">
            <button ng-hide="noPrev" class="btn" ng-click="prevPage()">← 上一页</button>
            <button ng-hide="noNext" class="btn" ng-click="nextPage()">下一页 →</button>
        </span>
        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col class="name">
            <col class="status">
            <col class="changeStatus">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>名称</th>
                <th>状态</th>
                <th>新闻类型</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    {%item.name[userLanguage.value]%}
                </td>
                <td>
                    <change-property-status ng-model="item"></change-property-status>
                </td>
                <td>
                    <change-property-news-category name="news_category" ng-model="item" news-category-list="newsCategoryList" api="api"></change-property-news-category>
                </td>
                <td style="text-align:center;">
                    <a class="btn btn-success" href ui-sref=".detail({id:item.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                    <a ng-if="item.status !== 'not reviewed'" class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="Remove">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">No results</div>
    <div class="buttons">

        <span class="btn-group pull-right" style="margin-right: 10px">
            <button ng-hide="noPrev" class="btn" ng-click="prevPage()">← 上一页</button>
            <button ng-hide="noNext" class="btn" ng-click="nextPage()">下一页 →</button>
        </span>

    </div>

</div>
