<div ui-view>
    <div class="buttons">
        <div class="btn-group">
            <button class="btn" ui-sref=".create">
                <span class="fa fa-plus-circle"></span> {%$root.i18n('创建邀请码')%}
            </button>
        </div>
        <div class="btn-group form-inline">
            <select class="form-control" ng-options="p.value as p.name for p in invitationStatus" ng-model="selected.status">
                <option value="">-- {%$root.i18n('过滤条件')%} --</option>
            </select>
        </div>

        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>

    <table class="table table-bordered table-striped table-condensed" style="margin-bottom:30px">
        <colgroup>
            <col style="width: 200px;">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>{%$root.i18n('邮箱')%}</th>
                <th>{%$root.i18n('时间')%}</th>
                <th>{%$root.i18n('IP')%}</th>
                <th>{%$root.i18n('国家')%}</th>
                <th>{%$root.i18n('状态')%}</th>
                <th>{%$root.i18n('发送邀请码')%}</th>
                <th>{%$root.i18n('邮箱注册情况')%}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    <div ng-bind="item.email"></div>
                </td>
                <td>
                    <div>{%(item.time?(item.time * 1000 | date : 'short'):'')%}</div>
                </td>
                <td>{% item.ipaddress.length ? item.ipaddress[0] : '' %}</td>
                <td>{% item.country %}</td>
                <td>
                    <div>
                        {%item.status | invitationStatusName %}
                    </div>
                </td>
                <td style="text-align:center;">
                    <span has-permission="admin,jr_admin,sales,operation" class="btn btn-success" ng-click="onSend(item,$index)" title="{%$root.i18n('发送')%}" ng-disabled="item.status==='invited'">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                </td>
                <td>
                    <a ng-if="item.register.id" ng-bind="item.register.nickname" ui-sref="dashboard.users.detail({ id: item.register.id })"></a>
                    <div ng-if="!item.register.id" ng-bind="item.register"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">

        <span class="btn-group pull-right" style="margin-right: 10px">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>

    </div>

</div>
