<div ui-view>
    <span class="btn-group">
        <button class="btn" ui-sref=".create">
            <span class="fa fa-plus-circle"></span>{%$root.i18n('添加省')%}
        </button>
    </span>
    <div class="btn-group form-inline pull-right">
        <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
    </div>

    <div get-states></div>
    <table class="table table-bordered table-striped table-condensed"
        style="margin-bottom:30px">
        <colgroup>
            <col style="width: 100px;"/>
            <col/>
            <col style="width: 120px;"/>
        </colgroup>
        <tbody>
            <tr>
                <th>{%$root.i18n('省')%}</th>
                <th>{%$root.i18n('所属国家')%}</th>
                <th>{%$root.i18n('sort_value')%}</th>
                <th>{%$root.i18n('操作')%}</th>
            </tr>
            <tr ng-repeat="item in states">
                <td>
                    <div show-i18n="item.value"></div>
                </td>
                <td>
                    <div show-i18n="item.country.value"></div>
                </td>
                <td>
                    <div show-i18n="item.sort_value"></div>
                </td>
                <td style="text-align:center;">
                    <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="states.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
</div>
