<div style="min-height: 600px;" ui-view>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>{%$root.i18n('名称')%}</th>
                <th>{%$root.i18n('详细描述')%}</th>
                <th>{%$root.i18n('优惠类型')%}</th>
                <th>{%$root.i18n('分享按钮文案')%}</th>
                <th>{%$root.i18n('分享文案(旧版App)')%}</th>
                <th>{%$root.i18n('分享文案(新版App)')%}</th>
                <th>{%$root.i18n('分享前')%}</th>
                <th>{%$root.i18n('分享后')%}</th>
                <th style="width:85px;">{%$root.i18n('是否展示')%}</th>
                <th>{%$root.i18n('管理')%}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    <div show-i18n="item.name"></div>
                </td>
                <td>
                    <div show-i18n="item.description"></div>
                </td>
                <td>
                    <div ng-bind="item.deal_type | keyName : dealTypes"></div>
                </td>
                <td>
                    <div show-i18n="item.share_button_text"></div>
                </td>
                <td>
                    <div show-i18n="item.share_text"></div>
                </td>
                <td>
                    <div show-i18n="item.share_text_v2"></div>
                </td>
                <td>
                    <div ng-if="item.deal_type !== 'free'" ng-bind="item.deal_off"></div>
                    <div ng-if="item.deal_type === 'free'" show-i18n="item.free_text"></div>
                </td>
                <td>
                    <div ng-if="item.deal_type !== 'free'" ng-bind="item.deal_off_shared"></div>
                    <div ng-if="item.deal_type === 'free'" show-i18n="item.free_text_shared"></div>
                </td>
                <td>
                    <select class="form-control" ng-options="p.value as p.name for p in displayTypes" ng-model="item.display" ng-change="updateDisplay(item)"></select>
                </td>

                <td>

                    <a class="btn btn-info" href ui-sref=".edit({dealId:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <span class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="!fetched||noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="!fetched||noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>
</div>