<div ui-view>
    <div ng-controller="ctrlIntention">

        <div class="buttons">
            <div class="btn-group">
                <a class="btn" href="/export-excel/user-rent-intention.xlsx" target="_blank">
                    <span class="fa fa-plus-circle"></span> {%$root.i18n('导出到Excel')%}
                </a>
            </div>

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>
        </div>

        <table class="table table-bordered table-striped table-condensed">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width: 300px!important;">
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>{%$root.i18n('提交时间')%}</th>
                    <th>{%$root.i18n('预算下限')%}</th>
                    <th>{%$root.i18n('预算上限')%}</th>
                    <th>{%$root.i18n('租期')%}</th>
                    <th>{%$root.i18n('出租需求')%}</th>
                    <th>{%$root.i18n('地址')%}</th>
                    <th>{%$root.i18n('客户')%}</th>
                    <th>{%$root.i18n('详情')%}</th>
                    <th>{%$root.i18n('匹配情况')%}</th>
                    <th>{%$root.i18n('来源地址')%}</th>
                    <th>{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('备注')%}</th>
                    <th>{%$root.i18n('管理')%}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        {%(item.time?(item.time * 1000 | date : 'short'):'')%}
                    </td>
                    <td>
                        <div>{%item.rent_budget_min.unit%}{%item.rent_budget_min.value%}</div>
                    </td>
                    <td>
                        <div>{%item.rent_budget_max.unit%}{%item.rent_budget_max.value%}</div>
                    </td>
                    <td>
                        <div>{%(item.rent_available_time?(item.rent_available_time * 1000 | date : 'yyyy-MM-d'):'') + $root.i18n('起') + (item.rent_deadline_time?  $root.i18n('至') + (item.rent_deadline_time * 1000 | date : 'yyyy-MM-d'):'') %}</div>
                    </td>
                    <td>
                        <div>{%$root.i18n('出租类型:')%}{%item.rent_type.value%}</div>
                        <div>{%$root.i18n('居室:')%}{%item.bedroom_count.value%}</div>
                    </td>
                    <td >
                        <div>{%item.city.name%}</div>
                        <div>{%item.zipcode_index%}</div>
                        <div>{%item.maponics_neighborhood.name%}</div>
                        <div>{%item.address%}</div>
                    </td>
                    <td>
                        <a ui-sref="dashboard.users.detail.rent_intentions({ id: item.user.id })" ng-bind="item.nickname"  target="_blank"></a>
                        <span edit-remark ng-model="item.user.custom_fields" update="updateUserItem(data)" item-id="item.user.id"></span>
                        <div>{%item.phone%}</div>
                        <div>{%item.email%}</div>
                    </td>
                    <td >
                        {%item.description%}
                    </td>
                    <td >
                        {%item.tags | rentIntentionTags%}
                    </td>
                    <td>
                        <a style="display: block; max-width:300px;overflow: scroll;" ng-if="item.refer.id" ui-sref="dashboard.rent.detail({ id: item.refer.id })" target="_blank">{% item.refer.text %}</a>
                        <a style="display: block; max-width:300px;overflow: scroll;" ng-if="!item.refer.id" ng-href="{% item.refer.link %}" target="_blank">{% item.refer.text %}</a>
                    </td>
                    <td>
                        {%item.status | intentionTicketStatusName %}
                    </td>
                    <td>
                        <div edit-remark ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                    </td>
                    <td>
                        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
        <div class="buttons">

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>

        </div>

        <!--/container-->
    </div>
</div>
