<div ui-view>
    <div ng-controller="ctrlIntention">
        <div class="buttons">
            <div class="btn-group">
                <a class="btn" href="/export-excel/user-rent-request.xlsx" target="_blank">
                    <span class="fa fa-plus-circle"></span> {%$root.i18n('导出到Excel')%}
                </a>
            </div>

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>
        </div>

        <table class="table table-bordered table-striped table-condensed">
            <colgroup>
                <col class="time">
                <col class="target">
                <col class="period">
                <col class="user">
                <col class="info">
                <col class="des">
                <col class="visa">
                <col class="status">
                <col class="note">
                <col class="manage">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>{%$root.i18n('提交时间')%}</th>
                    <th>{%$root.i18n('意向房源')%}</th>
                    <th>{%$root.i18n('租期')%}</th>
                    <th>{%$root.i18n('客户')%}</th>
                    <th>{%$root.i18n('入住信息')%}</th>
                    <th>{%$root.i18n('描述')%}</th>
                    <th>{%$root.i18n('visa')%}</th>
                    <th>{%$root.i18n('IP')%}</th>
                    <th>{%$root.i18n('Relocate')%}</th>
                    <th>{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('备注')%}</th>
                    <th>{%$root.i18n('管理')%}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        {%(item.time?(item.time * 1000 | date : 'short'):'')%}
                    </td>
                    <td>
                        <div ng-repeat="ticket in item.interested_rent_tickets">
                            <a ui-sref="dashboard.rent.detail({ id: ticket.id })" target="_blank">{%ticket.title%}</a>
                        </div>
                    </td>
                    <td>
                        <div>{%(item.rent_available_time?(item.rent_available_time * 1000 | date : 'yyyy-MM-d'):'') + $root.i18n('起') + (item.rent_deadline_time?  $root.i18n('至') + (item.rent_deadline_time * 1000 | date : 'yyyy-MM-d'):'') %}</div>
                    </td>
                    <td>
                        <a ui-sref="dashboard.users.detail.rent_intentions({ id: item.user.id })" ng-bind="item.nickname" target="_blank"></a>
                        <span edit-custom-fields ng-model="item.user.custom_fields" update="updateUserItem(data)" item-id="item.user.id"></span>
                        <div>{%item.phone%}</div>
                        <div>{%item.email%}</div>
                        <div>{%$root.i18n('性别:')%}{%item.gender%}</div>
                        <div ng-if="item.occupation">{%item.occupation.value%}</div>
                        <div>{%$root.i18n('年龄:')%}{%item.age | number:0%}</div>
                    </td>
                    <td>
                        <div>{%$root.i18n('人数:')%}{%item.tenant_count%}</div>
                        <div>{%$root.i18n('吸烟:')%}{%item.smoke%}</div>
                        <div>{%$root.i18n('带小孩:')%}{%item.baby%}</div>
                        <div>{%$root.i18n('带宠物:')%}{%item.pet%}</div>
                    </td>
                    <td >
                        {%item.description%}
                    </td>
                    <td >
                        <span class="btn btn-success" ng-if="item.visa" ng-click="openImage(item)" title="{%$root.i18n('查看visa')%}">
                        <i class="fa fa-picture-o"></i>
                        </span>
                    </td>
                    <td>
                        <a ng-href="{% item.log.link %}" target="_blank">{% item.log.ip %}</a>
                    </td>
                    <td>
                        <div edit-relocate-field ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                    </td>
                    <td>
                        {%item.status | intentionTicketStatusName %}
                    </td>
                    <td>
                        <div edit-custom-fields ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                    </td>
                    <td>
                        <div output-fields-tooltip ng-model="item.output" placement="left"></div>
                        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
        <div class="buttons">

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>

        </div>

        <!--/container-->
    </div>
</div>
