<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>

        <span class="btn-group pull-right">
            <a class="btn btn-info" target="_blank" ng-href="/property-to-rent/{% item.id %}/edit?editor=admin" title="{% $root.i18n('编辑该房产') %}">
                <i class="fa fa-pencil"></i>
            </a>
            <span has-permission="admin,jr_admin" class="btn btn-success" ng-click="onRefresh(item,$index)" title="{%$root.i18n('刷新')%}">
                <i class="fa fa-refresh"></i>
            </span>
            <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onRentOut(item,$index)" title="{%$root.i18n('已租出')%}">
                <i class="fa fa-sign-out"></i>
            </span>
            <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onSuspend(item,$index)" title="{%$root.i18n('下架并通知')%}">
                <i class="fa fa-minus-circle"></i>
            </span>
            <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                <i class="fa fa-trash-o"></i>
            </span>
        </span>

    </div>
    <form>
        <div ng-controller="ctrlHasPermission">
            <tabset justified="true" style="margin: 16px 0;">
                <tab heading="{%$root.i18n('房产信息')%}">
                    <div ng-include="'/static/admin/templates/dashboard.rent.detail.tabProperty.tpl.html'"></div>
                </tab>
                <tab heading="{%$root.i18n('出租信息')%}">
                    <div ng-include="'/static/admin/templates/dashboard.rent.detail.tabRent.tpl.html'"></div>
                </tab>
            </tabset>
        </div>
    </form>
</div>
