
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-content">
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_from" placeholder="{%i18n('起租时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_to" placeholder="{%i18n('结束时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <button class="btn btn-primary" ng-click="get_aggregate_data()">{%$root.i18n('获取数据')%}</button>
        </div>
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
          <tr>
            <td colspan="2" class="col-sm-4">
              求租意向单总数：
            </td>
            <td class="col-sm-8">
              {%value.aggregation_rent_intention_total%}
            </td>
          </tr>
          <tr ng-if="!value.aggregation_rent_intention_total_city.length">
            <td colspan="2">各城市求租意向单总数：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in value.aggregation_rent_intention_total_city">
            <td ng-if="$index === 0" rowspan="{%value.aggregation_rent_intention_total_city.length%}">
              各城市求租意向单总数：
            </td>
            <td>
              <span>{%item.city%}</span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
          <tr ng-if="!value.aggregation_rent_intention_type_london.length">
            <td colspan="2">按单间整租统计伦敦求租意向单：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in value.aggregation_rent_intention_type_london">
            <td ng-if="$index === 0" rowspan="{%value.aggregation_rent_intention_type_london.length%}">
              按单间整租统计伦敦求租意向单：
            </td>
            <td>
              <span>{%item.type%}</span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="col-sm-4">
              统计200镑以上的伦敦求租意向单：
            </td>
            <td class="col-sm-8">
              {%value.aggregation_rent_intention_total_above_200%}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="col-sm-4">
              伦敦填写了街区的求租意向单：
            </td>
            <td class="col-sm-8">
              {%value.aggregation_rent_intentionl_has_neighborhood_total%}
            </td>
          </tr>
          <tr ng-if="!value.aggregation_rent_intentionl_has_neighborhood.length">
            <td colspan="2">伦敦各街区的求租意向单数量：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in value.aggregation_rent_intentionl_has_neighborhood">
            <td ng-if="$index === 0" rowspan="{%value.aggregation_rent_intentionl_has_neighborhood.length%}">
              伦敦各街区的求租意向单数量：
            </td>
            <td>
              <span>{%item.neighborhood%}</span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
