
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-content">
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_from" placeholder="{%i18n('起租时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_to" placeholder="{%i18n('结束时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <button class="btn btn-primary" ng-click="get_aggregate_data()">{%$root.i18n('获取数据')%}</button>
        </div>
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
          <tr>
            <td colspan="2" class="col-sm-4">
              海外房产浏览总量：
            </td>
            <td class="col-sm-8">
              {%value.aggregation_property_view_total%}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="col-sm-4">
              注册用户浏览量：
            </td>
            <td class="col-sm-8">
              {%value.aggregation_property_view_register_user%}
            </td>
          </tr>
          <tr ng-if="!value.aggregation_property_view_times_by_user_sort.length">
            <td colspan="2">浏览过海外房产数量的用户排名：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in value.aggregation_property_view_times_by_user_sort">
            <td ng-if="$index === 0" rowspan="{%value.aggregation_property_view_times_by_user_sort.length%}">
              浏览过海外房产数量的用户排名：
            </td>
            <td>
              <span>
                <a ui-sref="dashboard.users.detail({ id: item.user_id })">
                  {%item.user%}
                </a>
              </span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
          <tr ng-if="!value.aggregation_property_view_times_by_property_sort.length">
            <td colspan="2">被浏览最多的海外房产排名：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in value.aggregation_property_view_times_by_property_sort">
            <td ng-if="$index === 0" rowspan="{%value.aggregation_property_view_times_by_property_sort.length%}">
              被浏览最多的海外房产排名：
            </td>
            <td>
              <span>
                <a ui-sref="dashboard.property.detail({id: item.url_id})">
                  {%item.title%}
                  <span ng-if="item.title === ''">
                    找不到房产
                  </span>
                </a>
              </span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
