<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="cancelDelayer();onBackClick()"><span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}
            </button>
        </span>

    </div>

    <hr/>

    <form class="form-horizontal" method="post" autocomplete="on" ng-class="{submitted:submitted}"
        ng-submit="submit($event,createProperty)" name="createProperty" novalidate>
        <div class="row">
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages"
                    ng-model="userLanguage.value"></select>
            </div>
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="item for item in i18nArea" ng-model="userArea.value">
                    <option value="">-- {%$root.i18n('面积单位')%} --</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="item for item in i18nCurrency" ng-model="userCurrency.value">
                    <option value="">-- {%$root.i18n('货币单位')%} --</option>
                </select>
            </div>
        </div>
        <div ng-controller="ctrlPropertyItems">
            <tabset justified="true" style="margin: 16px 0;" ng-if="userLanguage.value && userArea.value && userCurrency.value">
                <tab heading="{%$root.i18n('房产通用信息')%}">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('名称')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.name" ng-model="item.name[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产类型')%}</label>

                            <div class="controls">
                                <div select-enum name="property_type" ng-model="item.property_type" slug="propertyType"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('国家')%}</label>

                            <div class="controls">
                                <div select-enum name="country" ng-model="item.country"></div>

                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('城市')%}</label>

                            <div class="controls">
                                <div select-city-by-country country="item.country" ng-model="item.city"></div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('街区')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.street" ng-model="item.street[userLanguage.value]"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('邮编')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.zipcode"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">{%$root.i18n('Postal Area')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.zipcode_index"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">{%$root.i18n('街区名称')%}</label>

                            <div class="controls">
                                <label>{%zipcode_name%}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地址详情')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.address"
                                    ng-model="item.address[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('真实地址')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.real_address"
                                    ng-model="item.real_address[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">

                            <div class="controls">
                                <div type-i18n="item.highlight"></div>
                                <table class="table table-bordered table-striped table-condensed "
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="highlight">
                                        <col class="delete">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('亮点')%}</th>
                                            <th>{%$root.i18n('删除')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="point in item.highlight[userLanguage.value] track by $index">
                                            <td>
                                                <input type="text" ng-model="item.highlight[userLanguage.value][$index]"/>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveHighlight($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input type="button" ng-click="addHighlight()" class="btn btn-primary" value="{%$root.i18n('添加亮点')%}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('详情')%}</label>

                            <div class="controls">
                                <textarea ng-model="item.description[userLanguage.value]" class="form-control" type-i18n="item.description" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('预计租金年化回报率')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.annual_cash_return_estimated" placeholder="e.g. 10%"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('预计年化收益率')%}</label>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.annual_return_estimated" placeholder="e.g. 15%"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('开发商包租')%}</label>
                            <div class="controls form-inline">
                                <input type="text" class="form-control" style="width: 40px" ng-model="item.rental_guarantee_rate"/>
                                <span>{%$root.i18n('%开发商保证最低收益率')%}</span>
                                <input type="text" class="form-control" style="width: 40px" ng-model="item.rental_guarantee_term"/>
                                <span>{%$root.i18n('年')%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最低首付比例')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.minimum_down_payment_rate" placeholder="{%$root.i18n('eg: 0.1 为10%')%}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group   col-sm-12">
                            <label class="control-label">{%$root.i18n('投资标签')%}</label>
                            <div class="controls">
                                <div select-multiple-enums name="intention" ng-model="item.intention"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group   col-sm-12">
                            <label class="control-label">{%$root.i18n('投资类型')%}</label>
                            <div class="controls">
                                <div select-multiple-enums name="investment_type" ng-model="item.investment_type"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('产权类型')%}</label>

                            <div class="controls">
                                <div select-enum name="equity_type" ng-model="item.equity_type"></div>

                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('装修风格')%}</label>

                            <div class="controls">
                                <div select-enum name="decorative_style" ng-model="item.decorative_style"></div>

                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地图位置')%}</label>

                            <div class="form-inline">
                                <input type="text" class="form-control  col-sm-3" ng-model="item.latitude"
                                    placeholder="Latitude"/>
                                <input type="text" class="form-control  col-sm-3" ng-model="item.longitude"
                                    placeholder="Longitude"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.reality_images" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('实景图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.surroundings_images" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('生活配套设施图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产价格类型')%}</label>
                            <div class="controls">
                                <div select-enum name="property_price_type" ng-model="item.property_price_type" slug="propertyPriceType"></div>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="propertyPriceType === 'similar_history_price'">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('同等房产描述')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.equal_property_description"
                                    ng-model="item.equal_property_description[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('历史成交价格')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed "
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="item">
                                        <col class="price">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('成交时间')%}</th>
                                            <th>{%$root.i18n('成交价格')%}</th>
                                            <th>{%$root.i18n('删除')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="price in item.historical_price">
                                            <td>
                                                <div edit-date style="width: 185px;" ng-model="price.time"></div>
                                            </td>
                                            <td>
                                                <div type-i18n-unit unit="price.price.unit||userCurrency.value" data="i18nCurrency" ng-model="price.price"
                                                    placeholder="{%$root.i18n('成交价格')%}"></div>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveHistoricalPrice($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <input type="button" ng-click="addHistoricalPrice()" class="btn btn-primary" value="{%$root.i18n('添加历史成交价格')%}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('月收支分析简要描述')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.estimated_income_description"
                                    ng-model="item.estimated_income_description[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('估计月租金收入')%}</label>
                            <div class="controls">
                                <div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.estimated_monthly_rent"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('估计月平均支出')%}{%$root.i18n('(最多4项)')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="item">
                                        <col class="price">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('支出名称')%}</th>
                                            <th>{%$root.i18n('支出费用')%}</th>
                                            <th>{%$root.i18n('删除')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cost in item.estimated_monthly_cost">
                                            <td>
                                                <input type="text" type-i18n="cost.item" ng-model="cost.item[userLanguage.value]"
                                                    placeholder="{%$root.i18n('支出名称')%}" class="form-control"/>
                                            </td>
                                            <td>
                                                <div type-i18n-unit unit="cost.price.unit||userCurrency.value" ng-model="cost.price" data="i18nCurrency" placeholder="{%$root.i18n('支出费用')%}"></div>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveCost($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="3">
                                                <input type="button" ng-click="addCost()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-videos="item.videos" text="视频"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('推广资料')%}</label>

                            <div class="controls">
                                <div edit-brochure ng-model="item.brochure" text="{%$root.i18n('上传推广资料')%}"></div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('非楼盘特有信息')%}" ng-if="propertyType !== 'new_property'&&propertyType!=='student_housing'&&propertyType!=='house'">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('总价格')%}</label>
                            <div class="controls">
                                <div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.total_price" placeholder="{%$root.i18n('总价格')%}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-2">
                            <label class="control-label">{%$root.i18n('居室数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.bedroom_count"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2">
                            <label class="control-label">{%$root.i18n('客厅数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.living_room_count"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2">
                            <label class="control-label">{%$root.i18n('卫生间数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.bathroom_count"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2">
                            <label class="control-label">{%$root.i18n('厨房数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.kitchen_count"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('朝向')%}</label>

                            <div class="controls">
                                <div select-enum name="facing_direction" ng-model="item.facing_direction"></div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('面积')%}</label>

                            <div class="controls">
                                <div type-i18n-unit unit="userArea.value" data="i18nArea" ng-model="item.space"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.floor_plan" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('户型图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%getTabTitle(propertyType)%}" ng-if="propertyType === 'new_property'||propertyType==='student_housing'||propertyType==='house'">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('开发商')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.developer"
                                    ng-model="item.developer[userLanguage.value]"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('建筑类型')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.building_type"
                                    ng-model="item.building_type[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row  col-sm-6">
                            <label class="control-label">{%$root.i18n('单位面积参考价格')%}</label>

                            <div class="controls form-inline">
                                <div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.unit_price.price"></div>
                                <div type-i18n-unit unit="userArea.value" data="i18nArea" ng-model="item.unit_price.unit"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-4">
                            <label class="control-label">{%$root.i18n('开盘时间')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.opening_time"
                                    ng-model="item.opening_time[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-sm-4">
                            <label class="control-label">{%$root.i18n('完工时间')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.completion_time"
                                    ng-model="item.completion_time[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('建筑面积')%}</label>

                            <div class="controls">
                                <div type-i18n-unit unit="userArea.value" data="i18nArea" ng-model="item.building_area"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('规划面积')%}</label>

                            <div class="controls">
                                <div type-i18n-unit unit="userArea.value" data="i18nArea" ng-model="item.planning_area"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('容积率')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.plot_ratio"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('绿化率')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.greening_rate"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('规划户数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.planning_household_count"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('车位数')%}</label>

                            <div class="controls">
                                <input type="number" min="0" class="form-control" ng-model="item.parking_space_count"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('物业类型')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.property_management_type"
                                    ng-model="item.property_management_type[userLanguage.value]"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('物业公司')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.property_management_company"
                                    ng-model="item.property_management_company[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('主要户型')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <colgroup>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('户型名')%}</th>
                                            <th>{%$root.i18n('户型结构')%}</th>
                                            <th>{%$root.i18n('面积与价格')%}</th>
                                            <th>{%$root.i18n('户型描述')%}</th>
                                            <th>{%$root.i18n('户型图')%}</th>
                                            <th>{%$root.i18n('删除')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="main_type in item.main_house_types">
                                            <td>
                                                <input type="text" type-i18n="main_type.name" ng-model="main_type.name[userLanguage.value]" placeholder="{%$root.i18n('户型名')%}"/>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>{%$root.i18n('居室数')%}</td>
                                                        <td>
                                                            <input type="number" min="0" ng-model="main_type.bedroom_count" placeholder="{%$root.i18n('居室数')%}" style="width:40px"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('客厅数')%}</td>
                                                        <td>
                                                            <input type="number" min="0" ng-model="main_type.living_room_count" placeholder="{%$root.i18n('客厅数')%}" style="width:40px"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('卫生间数')%}</td>
                                                        <td>
                                                            <input type="number" min="0" ng-model="main_type.bathroom_count" placeholder="{%$root.i18n('卫生间数')%}" style="width:40px"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('厨房数')%}</td>
                                                        <td>
                                                            <input type="number" min="0" ng-model="main_type.kitchen_count" placeholder="{%$root.i18n('厨房数')%}" style="width:40px"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>{%$root.i18n('最小面积')%}</td>
                                                        <td>
                                                            <div type-i18n-unit unit="main_type.building_area_min.unit||userArea.value" data="i18nArea" ng-model="main_type.building_area_min"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最大面积')%}</td>
                                                        <td>
                                                            <div type-i18n-unit unit="main_type.building_area_max.unit||userArea.value" data="i18nArea" ng-model="main_type.building_area_max"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最低总价')%}</td>
                                                        <td>
                                                            <div type-i18n-unit unit="main_type.total_price_min.unit||userCurrency.value" data="i18nCurrency" ng-model="main_type.total_price_min"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最高总价')%}</td>
                                                        <td>
                                                            <div type-i18n-unit unit="main_type.total_price_max.unit||userCurrency.value" data="i18nCurrency" ng-model="main_type.total_price_max"></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <input type="text" type-i18n="main_type.description" ng-model="main_type.description[userLanguage.value]" placeholder="{%$root.i18n('户型描述')%}"/>
                                            </td>
                                            <td>
                                                <div type-i18n="main_type.floor_plan"></div>
                                                <div edit-i18n-images="main_type.floor_plan" width-limit="1280" thumbnail-size="320,213" watermark="true"
                                                    text="{%$root.i18n('上传户型图')%}" style="width: 300px;"></div>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveHouse($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="9">
                                                <input type="button" ng-click="addHouse()" class="btn btn-primary" value="{%$root.i18n('添加户型')%}"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.effect_pictures" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('效果图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.indoor_sample_room_picture" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('室内样板间图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.planning_map" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('规划图')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('房产审核单')%}">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核备注')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.comment"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核附件')%}</label>

                            <div class="controls">
                                <div edit-files ng-model="item.attachment" text="{%$root.i18n('上传附件')%}"></div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('创建草稿')%}" ng-if="userLanguage.value && userArea.value && userCurrency.value">
        <input type="button" class="btn btn-primary" value="{%$root.i18n('提交审核')%}" ng-if="userLanguage.value && userArea.value && userCurrency.value" ng-click="submitForReview($event,createProperty)">
    </form>
</div>
