<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn" ui-sref=".create">
                <span class="fa fa-plus-circle"></span>{%$root.i18n('添加物业销售状态')%}
            </button>
        </span>
        <div class="btn-group form-inline">
            <div select-property-or-student-item="item.propertyId"></div>
        </div>

        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>
    <div ng-controller="ctrlSortPlot">
        <table class="table table-bordered table-striped table-condensed" style="margin-bottom:30px">
            <colgroup>
            </colgroup>
            <thead>
                <tr>
                    <th ng-click="sort(0)">{%$root.i18n('名称')%}</th>
                    <th ng-click="sort(1)">{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('类型')%}</th>
                    <th>{%$root.i18n('户型结构')%}</th>
                    <th ng-click="sort(2)">{%$root.i18n('面积')%}</th>
                    <th ng-click="sort(3)">{%$root.i18n('价格')%}</th>
                    <th ng-click="sort(4)">{%$root.i18n('楼层')%}</th>
                    <th ng-click="sort(5)">{%$root.i18n('备注')%}</th>
                    <th>{%$root.i18n('编辑')%}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        <div show-i18n="item.name"></div>
                    </td>
                    <td>{%item.status|plotStatusName%}</td>
                    <td>
                        <div ng-repeat="t in item.investment_type">
                            <div show-i18n="t.value"></div>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr ng-if="item.bedroom_count">
                                <td>{%$root.i18n('居室数')%}</td>
                                <td>{%item.bedroom_count|showBedroom%}</td>
                            </tr>
                            <tr ng-if="item.living_room_count">
                                <td>{%$root.i18n('客厅数')%}</td>
                                <td>{%item.living_room_count%}</td>
                            </tr>
                            <tr ng-if="item.bathroom_count">
                                <td>{%$root.i18n('卫生间数')%}</td>
                                <td>{%item.bathroom_count%}</td>
                            </tr>
                            <tr ng-if="item.kitchen_count">
                                <td>{%$root.i18n('厨房数')%}</td>
                                <td>{%item.kitchen_count%}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{%item.space.value%}{%item.space.unit%}</td>
                    <td>{%item.total_price.value%}{%item.total_price.unit%}</td>
                    <td>{%item.floor%}</td>
                    <td>
                        <div style="max-width: 360px">{%item.description||''%}</div>
                    </td>
                    <td style="text-align:center;">
                        <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                            <i class="fa fa-edit "></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
</div>
