<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> Back</button>
    </span>
</div>
<form name="partnerCreateForm" class="form-horizontal" ng-class="{submitted:submitted}"
    style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,partnerCreateForm)"
    novalidate>
    <input name="channel" type="hidden" ng-init="item.channel = $stateParams.channel">


    <div class="form-group">
        <label class="control-label">Image *</label>
        <div class="controls">
            <single-image-edit class="imageEdit" ng-model="item.image" width-limit="1920" ratio="2" thumbnail-size="800,400" required></single-image-edit>
            <div class="help-block">Please upload one image.</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Link *</label>
        <div class="controls">
            <input name="link" class="form-control" type="text" ng-model="item.link" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Image tooltip *</label>
        <div class="controls">
            <input name="image_alt" class="form-control" type="text" ng-model="item.image_alt" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Description *</label>
        <div class="controls">
            <textarea ng-model="item.description" class="form-control" rows="3" style="resize: none;" required></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Text *</label>
        <div class="controls">
            <div class="input-group">
                <input id="appendedInputButton" class="form-control" type="text">
                <span class="input-group-btn">
                    <button class="btn" type="button">Add</button>
                </span>
            </div>
        </div>
    </div>


    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" bbg-disabler="loading" value="Submit">
        <input type="button" ng-click="$state.go('^')" class="btn" value="Cancel">
    </div>
    <div class="help-block">* Required</div>
</form>
