<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
            <button ng-if="item.status !== 'not reviewed'" class="btn" ng-click="$state.go('^.edit',{id:$stateParams.id})">
                <span class="fa fa-edit"></span> {%$root.i18n('编辑')%}
            </button>
        </span>
        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>

    </div>
    <form>
        <div>
            <tabset justified="true" style="margin: 16px 0;">
                <tab heading="{%$root.i18n('通用信息')%}">
                    <div class="row" ng-if="item.name">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('名称')%}</label>

                            <div class="controls">
                                <div show-i18n="item.name"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.property_type">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产类型')%}</label>

                            <div class="controls">
                                <div show-i18n="item.property_type.value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.investment_type">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('投资类型')%}</label>

                            <div class="controls">
                                <div class="controls" ng-repeat="i in item.investment_type">
                                    <div show-i18n="i.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.intention">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('投资标签')%}</label>

                            <div class="controls">
                                <div class="controls" ng-repeat="i in item.intention">
                                    <div show-i18n="i.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.country">
                            <label class="control-label">{%$root.i18n('国家')%}</label>

                            <div class="controls">
                                <div display-country-name="item.country.code"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.city">
                            <label class="control-label">{%$root.i18n('城市')%}</label>

                            <div class="controls">
                                <div><span>{% item.city.name %}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.street">
                            <label class="control-label">{%$root.i18n('街区')%}</label>

                            <div class="controls">
                                <div show-i18n="item.street"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.zipcode">
                            <label class="control-label">{%$root.i18n('邮编')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.zipcode%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.address">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地址详情')%}</label>

                            <div class="controls">
                                <div show-i18n="item.address"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.latitude||item.longitude">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地图位置')%}</label>

                            <div class="form-inline">
                                <span class="input-xlarge uneditable-input">{%item.latitude%}</span>
                                <span class="input-xlarge uneditable-input">{%item.longitude%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" ng-if="item.funding_start_date">
                            <label class="control-label">{%$root.i18n('起投时间')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.funding_start_date * 1000 | date : 'short'%}</span>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-if="item.funding_end_date">
                            <label class="control-label">{%$root.i18n('截止时间')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.funding_end_date * 1000 | date : 'short'%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.term">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('项目周期')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.term%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.funding_goal">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('项目总金额')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.funding_goal%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.funding_min">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('项目起投金额')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.funding_min%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.highlight">
                        <div class="form-group  col-sm-6">
                            <div type-i18n="item.highlight"></div>
                            <table class="table table-bordered table-striped table-condensed "
                                style="margin-bottom:30px">
                                <colgroup>
                                    <col class="highlight">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>{%$root.i18n('亮点')%}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="point in item.highlight[userLanguage.value] track by $index">
                                        <td>
                                            <span class="input-xlarge uneditable-input">{%point%}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-if="item.min_annual_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最小预估年化回报率')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.min_annual_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.max_annual_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最大预估年化回报率')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.max_annual_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.min_annual_cash_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最小年化现金回报预估')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.min_annual_cash_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.max_annual_cash_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最大年化现金回报预估')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.max_annual_cash_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.description">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('详情')%}</label>

                            <div class="controls">
                                <div show-i18n="item.description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.reality_images">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('图片')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.reality_images[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.videos">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('视频')%}</label>

                            <div class="controls">
                                <a class="btn btn-info" href="property/{%$stateParams.id%}" target="_blank">点击预览视频</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.materials">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{%$root.i18n('相关资料')%}</label>

                            <div class="controls" ng-repeat="material in item.materials">
                                <a href="{%material.link%}">{%material.filename%}</a>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('管理团队')%}">
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('开发商介绍')%}</label>

                            <div class="controls">
                                <div style="border:1px solid #DDD; padding: 16px;"
                                    ng-bind-html="renderHtml(item.operator[userLanguage.value])"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-controller="ctrlCrowdfundingItems">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('管理团队')%}</label>
                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('姓名')%}</th>
                                            <th>{%$root.i18n('头像')%}</th>
                                            <th>{%$root.i18n('职位')%}</th>
                                            <th>{%$root.i18n('介绍')%}</th>
                                            <th>{%$root.i18n('领英')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="manager in item.management_team">
                                            <td>
                                                <div show-i18n="manager.name"></div>
                                            </td>
                                            <td>
                                                <img class="img-thumbnail" ng-src="{%manager.avatar%} ">
                                            </td>
                                            <td>
                                                <div show-i18n="manager.title"></div>
                                            </td>
                                            <td>
                                                <div show-i18n="manager.description"></div>
                                            </td>
                                            <td>
                                                <span class="input-xlarge uneditable-input">{%manager.linkedin_home%}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('项目资产')%}">
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('项目财务分析介绍')%}</label>

                            <div class="controls">
                                <div style="border:1px solid #DDD; padding: 16px;"
                                    ng-bind-html="renderHtml(item.financials[userLanguage.value])"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('项目资本结构')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('类型')%}</th>
                                            <th>{%$root.i18n('来源')%}</th>
                                            <th>{%$root.i18n('费用')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="capital in item.capital_structure">
                                            <td>
                                                <div show-i18n="capital.type"></div>
                                            </td>
                                            <td>
                                                <div show-i18n="capital.source"></div>
                                            </td>
                                            <td>
                                                <span class="input-xlarge uneditable-input">{%capital.price%}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="salesCommentEnabled===undefined" heading="{%$root.i18n('房产审核单')%}">
                    <div class="row" ng-if="item.comment">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核备注')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.comment%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.attachment">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核附件')%}</label>

                            <div class="controls">
                                <div ng-repeat="obj in item.attachment">
                                    <a href="{%obj.url%}">{%obj.description%}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
            <div ng-if="item.status==='not reviewed'">
                <button class=" btn btn-primary" type="button" ng-click="submitForAccept()">{%$root.i18n('批准审核')%}
                </button>
                <button class=" btn btn-danger" type="button" ng-click="submitForReject()">{%$root.i18n('拒绝审核')%}
                </button>
            </div>
        </div>
    </form>
</div>
