<div class="buttons">
    <span class="btn-group">
        <button class="btn btnGoBack"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}</button>
    </span>
</div>
<form name="shopCreateForm" class="form-horizontal"
    style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,shopCreateForm)"
    novalidate>
    <div class="row">
        <div class="form-group col-sm-6 ">
            <label class="control-label">{%$root.i18n('名称')%} *</label>

            <div class="controls">
                <input class="form-control" type="text" ng-model="item.name"/>
            </div>
        </div>
    </div>

    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
        <input type="button btnGoBack" class="btn" value="{%$root.i18n('取消')%}">
    </div>
    <div class="help-block">* {%$root.i18n('必填')%}</div>
</form>
