<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <header id="header" class="navbar">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
                <a class="navbar-brand col-md-2 col-sm-1 col-xs-2" ui-sref="dashboard"><span>Dashboard</span></a>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn btn-primary" ng-click="logout()">
                                Logout
                            </a>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </header>

        <div class="container">
            <div class="row">

                <div id="sidebar-left" class="col-lg-2 col-sm-1 " style="display: block;">

                    <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                        <ul class="nav main-menu">
                            <!-- http://stackoverflow.com/questions/22054391/angular-ui-router-how-do-i-get-parent-view-to-be-active-when-navigating-to-ne -->
                            <li has-permission="admin" ng-class="{active:$state.includes('dashboard.admins')}">
                                <a href ui-sref="dashboard.admins"><i class="fa fa-home"></i><span class="hidden-sm text">人员管理</span></a>
                            </li>
                            <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums')}">
                                <a href ui-sref="dashboard.enums" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">枚举数据管理</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation,developer,agency" ng-class="{active:$state.includes('dashboard.property')}">
                                <a href ui-sref="dashboard.property" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">房产数据管理</span></a>
                            </li>
                            <!--<li has-permission="admin,jr_admin,operation,jr_operation" ng-class="{active:$state.includes('dashboard.team')}">-->
                                <!--<a href ui-sref="dashboard.team" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">房产区域分析</span></a>-->
                            <!--</li>-->
                            <!--<li has-permission="admin,jr_admin,sales" ng-class="{active:$state.includes('dashboard.partners')}">-->
                                <!--<a href ui-sref="dashboard.partners" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">投资人管理</span></a>-->
                            <!--</li>-->
                            <li has-permission="admin,jr_admin,sales,jr_sales" ng-class="{active:$state.includes('dashboard.intention')}">
                                <a href ui-sref="dashboard.intention" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">投资意向单管理</span></a>
                            </li>
                            <!--<li has-permission="admin,jr_admin,sales,jr_sales,developer,agency" ng-class="{active:$state.includes('dashboard.partners')}">-->
                                <!--<a href ui-sref="dashboard.partners" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">楼盘销售状态</span></a>-->
                            <!--</li>-->
                            <li has-permission="admin,jr_admin,operation" ng-class="{active:$state.includes('dashboard.operation')}">
                                <a class="dropmenu" href ui-sref="dashboard.operation.news">
                                    <i class="fa fa-puzzle-piece"></i><span class="hidden-sm text">品牌运营管理</span>
                                    <span class="chevron" ng-class="{closed:!$state.includes('dashboard.operation'),opened:$state.includes('dashboard.operation')}"></span>
                                </a>
                                <ul ng-style="{display:$state.includes('dashboard.operation')?'block':'none'}">
                                    <!--<li has-permission="admin,jr_admin,operation,jr_operation" ng-class="{active:$state.includes('dashboard.operation.wiki')}">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.wiki">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">投资知识库</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <li has-permission="admin,jr_admin,operation,jr_operation" ng-class="{active:$state.includes('dashboard.operation.news')}">
                                        <a class="submenu" href ui-sref="dashboard.operation.news">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">房产资讯编辑</span>
                                        </a>
                                    </li>
                                    <!--<li has-permission="admin,jr_admin,operation">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.contract" ng-class="{active:$state.includes('dashboard.operation.contract')}">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">用户合同管理</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li has-permission="admin,jr_admin,operation,jr_operation">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.content" ng-class="{active:$state.includes('dashboard.operation.content')}">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">网站内容管理</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li has-permission="admin,jr_admin,operation">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.sns" ng-class="{active:$state.includes('dashboard.operation.sns')}">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">社交平台账号管理</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li has-permission="admin,jr_admin,operation">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.newsLetter" ng-class="{active:$state.includes('dashboard.operation.newsLetter')}">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">NewsLetter</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                    <!--<li has-permission="admin,jr_admin,operation">-->
                                        <!--<a class="submenu" href ui-sref="dashboard.operation.behavior" ng-class="{active:$state.includes('dashboard.operation.behaviors')}">-->
                                            <!--<i class="fa fa-angle-right"></i>-->
                                            <!--<span class="hidden-sm text">用户行为</span>-->
                                        <!--</a>-->
                                    <!--</li>-->
                                </ul>
                            </li>
                            <li has-permission="admin,jr_admin,support,jr_support" ng-class="{active:$state.includes('dashboard.support')}">
                                <a href ui-sref="dashboard.support" ui-sref-active="active"><i class="fa fa-picture-o"></i><span class="hidden-sm text">客服单管理</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="content" class="col-lg-10 col-sm-11" ui-view one-screen style="min-height: 400px;">
                    Welcome, {%user.nickname || user.email%}
                </div>

            </div>
        </div>

    </body>
</html>
