<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn" ui-sref=".create">
                <span class="fa fa-plus-circle"></span> {%$root.i18n('添加内容')%}
            </button>
        </span>
        <div class="btn-group form-inline">
            <select class="form-control" ng-options="p as p for p in availableChannels" ng-model="selected.channel"></select>
        </div>
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
        <div class="btn-group form-inline pull-right" style="margin-right: 10px">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col style="width: 120px;">
            <col>
            <col style="width: 150px;">
        </colgroup>
        <thead>
            <tr>
                <th>{%$root.i18n('频道名')%}</th>
                <th>{%$root.i18n('描述')%}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    {%item.channel%}
                </td>
                <td>
                    {%item.description[userLanguage.value]%}
                </td>
                <td>
                    <a class="btn btn-success" href ui-sref=".detail({id:item.id,channel:item.channel})" title="View">
                        <i class="fa fa-search-plus"></i>
                    </a>
                    <a class="btn btn-info" href ui-sref=".edit({id:item.id,channel:item.channel})" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">No results</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>
</div>
