<div ui-view>
    <div ng-controller="ctrlIntention">

        <div class="buttons">
            <div class="btn-group">
                <button class="btn" ui-sref=".create">
                    <span class="fa fa-plus-circle"></span> {%$root.i18n('添加投资意向单')%}
                </button>
            </div>
            <div class="btn-group form-inline">
                <select class="form-control" ng-options="p.value as p.name for p in intentionTicketStatus" ng-model="selected.status">
                    <option value="">-- {%$root.i18n('过滤条件')%} --</option>
                </select>
            </div>

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>
        </div>

        <table class="table table-bordered table-striped table-condensed">
            <colgroup>
                <col class="status">
                <col class="nickname">
                <col class="phone">
                <col class="email">
                <col class="time">
                <col class="assigned_time">
                <col class="assign">
                <col class="actions">
            </colgroup>
            <thead>
                <tr>
                    <th>{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('客户姓名')%}</th>
                    <th>{%$root.i18n('客户手机')%}</th>
                    <th>{%$root.i18n('客户邮箱')%}</th>
                    <th>{%$root.i18n('用户来源')%}</th>
                    <th>{%$root.i18n('提交时间')%}</th>
                    <th>{%$root.i18n('受理时间')%}</th>
                    <th>{%$root.i18n('指派')%}</th>
                    <th>{%$root.i18n('备注')%}</th>
                    <th>{%$root.i18n('管理')%}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        {%item.status | intentionTicketStatusName %}
                    </td>
                    <td>
                        <a ui-sref="dashboard.users.detail.intentions({ id: item.user.id })" ng-bind="item.nickname"></a>
                    </td>
                    <td>
                        {%item.phone%}
                    </td>
                    <td>
                        {%item.email%}
                    </td>
                    <td ng-bind="item.referrer | userReferrer">

                    </td>
                    <td>
                        {%(item.time?(item.time * 1000 | date : 'short'):'')%}
                    </td>
                    <td>
                        {%(item.assigned_time?(item.assigned_time * 1000 | date : 'short'):'')%}
                    </td>
                    <td class="form-inline" style="white-space: nowrap;">
                        <div add-assignee ng-model="item" type="intention_ticket"></div>
                    </td>
                    <td>
                        <div edit-custom-fields ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                    </td>
                    <td>
                        <a class="btn btn-success" href ui-sref=".detail({id:item.id})" title="View">
                            <i class="fa fa-search-plus"></i>
                        </a>
                        <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                            <i class="fa fa-edit "></i>
                        </a>
                        </a>
                        <span class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
        <div class="buttons">

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>

        </div>

        <!--/container-->
    </div>
</div>
