<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> Back</button>
    </span>
</div>
<form name="enumCreateForm" class="form-horizontal" ng-class="{submitted:submitted}"
      style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,enumCreateForm)"
      novalidate>

    <div class="form-group">
        <label class="control-label">类别 *</label>

        <div class="controls">
            <select class="form-control" ng-model="item.type" style="width: 185px;"
                    ng-options="p.value as p.name for p in enum_types">
                <option value="">-- 选择 --</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">内容 *</label>

        <div class="controls">
            <input class="form-control" ng-model="item.value" type="text"
                   style="width: 30em"/>
        </div>
    </div>

    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" ng-hide="existingItem" value="提交">
        <input type="button" ng-click="$state.go('^')" class="btn" value="Cancel">
    </div>
    <div class="help-block">* 必填</div>
</form>
