<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('dashboard.users')"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
        </button>
    </span>
</div>

<div class="row profile">

    <div class="col-sm-2">

        <div class="row">
            <!--<div class=" col-sm-12">
                                <img class="profile-image" data-ng-src="{%item.face%}">
                            </div>-->
            <div class=" col-sm-12">
                <h3>General Information</h3>

                <ul class="profile-details">
                    <li>
                        <div><i class="fa fa-briefcase"></i> {%$root.i18n('姓名')%}</div>
                        <span data-ng-bind="item.nickname"></span>
                    </li>
                    <li>
                        <div><i class="fa fa-building-o"></i> {%$root.i18n('性别')%}</div>
                        <span data-ng-bind="item.gender"></span>
                    </li>
                    <li>
                        <div><i class="fa fa-building-o"></i> {%$root.i18n('国家')%}</div>
                        <!-- TODO: find out why display_country_name not working here-->
                        <span data-ng-bind="item.country.code"></span>
                    </li>
                    <li>
                        <div><i class="fa fa-building-o"></i> {%$root.i18n('城市')%}</div>
                        <span data-ng-bind="item.city.name"></span>
                    </li>
                    <li>
                        <div><i class="fa fa-building-o"></i> {%$root.i18n('用户类型')%}</div>
                        <span ng-repeat="user_type in item.user_type">{%user_type.value + ' '%}</span>
                    </li>
                </ul>

                <h3>Contact Information</h3>

                <ul class="profile-details">
                    <li>
                        <div><i class="fa fa-phone"></i> mobile phone</div>
                        <span>+{%item.country_code%} {%item.phone%}</span>
                    </li>
                    <li>
                        <div><i class="fa fa-envelope"></i> {%$root.i18n('邮箱')%}</div>
                        <span>{%item.email%}</span>
                    </li>
                    <li>
                        <div><i class="fa fa-envelope"></i> {%$root.i18n('微信')%}</div>
                        <span>{%item.wechat%}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--/row-->

    </div>
    <!--/col-->

    <div class="col-sm-10">

        <ul class="nav nav-tabs" id="userInfoTab">
            <li ng-class="{active:$state.includes('dashboard.users.detail.favs')}">
                <a style="cursor: pointer;" ui-sref=".favs">{%$root.i18n('收藏房产')%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.intentions')}">
                <a style="cursor: pointer;" ui-sref=".intentions"><span>{%$root.i18n('投资意向单')%}</span>{%item.counter.intention+1 === 1? '':'('+item.counter.intention+')'%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.boughts')}">
                <a style="cursor: pointer;" ui-sref=".boughts">{%$root.i18n('已购房产')%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.supports')}">
                <a style="cursor: pointer;" ui-sref=".supports"><span>{%$root.i18n('客服单')%}</span>{%item.counter.support+1 === 1? '':'('+item.counter.support+')'%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.logs')}">
                <a style="cursor: pointer;" ui-sref=".logs">{%$root.i18n('浏览记录')%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.orders')}">
                <a style="cursor: pointer;" ui-sref=".orders">{%$root.i18n('众筹订单')%}</a>
            </li>
            <li ng-class="{active:$state.includes('dashboard.users.detail.properties')}">
                <a style="cursor: pointer;" ui-sref=".properties">{%$root.i18n('发布的房产')%}</a>
            </li>
        </ul>

        <div style="min-height: 600px;" ui-view></div>
    </div>
    <!--/col-->
</div>
