<div class="buttons">
    <span class="btn-group">
        <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}</button>
    </span>
</div>
<div ng-init="getEditEnumItem()"></div>
<form name="countryEditForm" class="form-horizontal"
    style="max-width: 800px; padding-bottom: 100px;" ng-submit="editCountry($event,countryEditForm)"
    novalidate>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('国家标识')%} *</label>

        <div class="controls">
            <input class="form-control" type="text" ng-model="item.slug"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('sort_value')%}</label>

        <div class="controls">
            <input class="form-control" type="text" ng-model="item.sort_value"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('内容')%} *</label>

        <div class="controls">
            <table class="table table-bordered table-striped table-condensed "
                style="margin-bottom:30px">
                <colgroup>
                    <col class="item">
                    <col class="price">
                </colgroup>
                <thead>
                    <tr>
                        <th>{%$root.i18n('语言')%}</th>
                        <th>{%$root.i18n('内容')%}</th>
                        <th>{%$root.i18n('删除')%}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tempValue in item.tempValues">
                        <td>{%tempValue[0]%}</td>
                        <td><input class="form-control" type="text" ng-model="tempValue[1]"/></td>
                        <td>
                            <span class="btn btn-danger" ng-click="removeI18nValue($index)" title="{%$root.i18n('移除')%}">
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div select-language></div>
        <div class="controls">

            <div class="controls">
                <select class="form-control" ng-model="item.tempI18n" style="width: 185px;"
                    ng-options="p.value as p.name for p in availableLanguages">
                    <option value="">-- {%$root.i18n('选择语言')%} --</option>
                </select>
            </div>
            <input class="form-control" type="text" ng-model="item.tempValue" placeholder="{%$root.i18n('内容')%}"/>
            <input type="button" ng-click="addI18nValue()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
        </div>
    </div>

    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
        <input type="button" class="btn btnGoBack" ng-click="onBackClick()" value="{%$root.i18n('取消')%}">
    </div>
    <div class="help-block">* {%$root.i18n('必填')%}</div>
</form>
