<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <header id="header" class="navbar">
            <div class="container">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
                <a class="navbar-brand col-md-2 col-sm-1 " ui-sref="dashboard"><span>Dashboard</span></a>
                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
                                <div class="avatar"></div>
                                <div class="user">
                                    <span class="hello">{%user.nickname%}</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user-settings"><i class="fa fa-cog"></i> {%$root.i18n('设置')%}</a></li>
                                <li><a ng-click="logout()"><i class="fa fa-off"></i> {%$root.i18n('登出')%}</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <select class="form-control" style="height: 30px; margin: 5px 0;"
                                ng-options="p.value as p.name for p in i18nLanguages" ng-model="dashboardLanguage.value"
                                ng-change="changeLanguage()">
                                <option value="" disabled>-- 界面语言 --</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </header>

        <div class="container">
            <div class="row">

                <div id="sidebar-left" class="col-lg-2 col-sm-1 " style="display: block;">

                    <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                        <ul class="nav main-menu">
                            <li has-permission="admin" ng-class="{active:$state.includes('dashboard.admins')}">
                                <a href ui-sref="dashboard.admins">
                                    <i class="fa fa-user"></i><span class="hidden-sm text">{%$root.i18n('人员管理')%}</span></a>
                            </li>
                            <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums')}">
                                <a href ui-sref="dashboard.enums.normal" ui-sref-active="active">
                                    <i class="fa fa-book"></i><span class="hidden-sm text">{%$root.i18n('枚举数据管理')%}</span>
                                    <span class="chevron"
                                        ng-class="{closed:!$state.includes('dashboard.enums'),opened:$state.includes('dashboard.enums')}"></span></a>
                                <ul ng-style="{display:$state.includes('dashboard.enums')?'block':'none'}">
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.normal')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.normal">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('常用类型')%}</span>
                                        </a>
                                    </li>

                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.country')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.country">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('国家')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.state')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.state">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('省')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.city')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.city">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('城市')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.budget')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.budget">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('预算')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.building_area')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.building_area">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('面积')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.intention')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.intention">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('投资意向')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.room_count')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.room_count">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('房间数')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.rent_budget')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.rent_budget">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('租房预算')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin" ng-class="{active:$state.includes('dashboard.enums.hesa_university')}">
                                        <a class="submenu" href ui-sref="dashboard.enums.hesa_university">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('学校')%}</span>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.property')}">
                                <a href ui-sref="dashboard.property" ui-sref-active="active"><i
                                    class="fa fa-home"></i><span class="hidden-sm text">{%$root.i18n('房产数据管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.rent')}">
                                <a href ui-sref="dashboard.rent" ui-sref-active="active"><i
                                    class="fa fa-home"></i><span class="hidden-sm text">{%$root.i18n('出租房数据管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.rent_intention')}">
                                <a href ui-sref="dashboard.rent_intention" ui-sref-active="active"><i
                                    class="fa fa-home"></i><span class="hidden-sm text">{%$root.i18n('求租意向单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,sales,jr_sales"
                                ng-class="{active:$state.includes('dashboard.intention')}">
                                <a href ui-sref="dashboard.intention" ui-sref-active="active"><i
                                    class="fa fa-files-o"></i><span class="hidden-sm text">{%$root.i18n('投资意向单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,sales,jr_sales"
                                ng-class="{active:$state.includes('dashboard.request_rent')}">
                                <a href ui-sref="dashboard.request_rent" ui-sref-active="active"><i
                                    class="fa fa-files-o"></i><span class="hidden-sm text">{%$root.i18n('委托出租单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,sales,jr_sales"
                                ng-class="{active:$state.includes('dashboard.request_sell')}">
                                <a href ui-sref="dashboard.request_sell" ui-sref-active="active"><i
                                    class="fa fa-files-o"></i><span class="hidden-sm text">{%$root.i18n('委托出售单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.report')}">
                                <a href ui-sref="dashboard.report" ui-sref-active="active"><i
                                    class="fa fa-table"></i><span class="hidden-sm text">{%$root.i18n('街区报告')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.operation')}">
                                <a class="dropmenu" href ui-sref="dashboard.operation.news">
                                    <i class="fa fa-h-square"></i><span class="hidden-sm text">{%$root.i18n('品牌运营管理')%}</span>
                                    <span class="chevron"
                                        ng-class="{closed:!$state.includes('dashboard.operation'),opened:$state.includes('dashboard.operation')}"></span>
                                </a>
                                <ul ng-style="{display:$state.includes('dashboard.operation')?'block':'none'}">
                                    <li has-permission="admin,jr_admin,operation,jr_operation"
                                        ng-class="{active:$state.includes('dashboard.operation.news')}">
                                        <a class="submenu" href ui-sref="dashboard.operation.news">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('房产资讯编辑')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin,jr_admin,operation,jr_operation" ng-class="{active:$state.includes('dashboard.operation.contents')}">
                                        <a class="submenu" href ui-sref="dashboard.operation.contents">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('网站内容管理')%}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li has-permission="admin,jr_admin,sales,jr_sales"
                                ng-class="{active:$state.includes('dashboard.sales')}">
                                <a class="dropmenu" href ui-sref="dashboard.sales.plot">
                                    <i class="fa fa-building-o"></i><span class="hidden-sm text">{%$root.i18n('房产销售管理')%}</span>
                                    <span class="chevron"
                                        ng-class="{closed:!$state.includes('dashboard.sales'),opened:$state.includes('dashboard.sales')}"></span>
                                </a>
                                <ul ng-style="{display:$state.includes('dashboard.sales')?'block':'none'}">
                                    <li has-permission="admin,jr_admin,sales,jr_sales"
                                        ng-class="{active:$state.includes('dashboard.sales.plot')}">
                                        <a class="submenu" href ui-sref="dashboard.sales.plot">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('物业销售状态')%}</span>
                                        </a>
                                    </li>
                                    <li has-permission="admin,jr_admin,sales,jr_sales" ng-class="{active:$state.includes('dashboard.sales.housing')}">
                                        <a class="submenu" href ui-sref="dashboard.sales.housing">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('房源信息')%}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li has-permission="admin,jr_admin,support,jr_support"
                                ng-class="{active:$state.includes('dashboard.support')}">
                                <a href ui-sref="dashboard.support" ui-sref-active="active">
                                    <i class="fa fa-file-text-o"></i><span class="hidden-sm text">{%$root.i18n('客服单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,sales,jr_sales,support,jr_support"
                                ng-class="{active:$state.includes('dashboard.users')}">
                                <a href ui-sref="dashboard.users" ui-sref-active="active">
                                    <i class="fa fa-group"></i><span class="hidden-sm text">{%$root.i18n('投资人管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin"
                                ng-class="{active:$state.includes('dashboard.message')}">
                                <a href ui-sref="dashboard.message" ui-sref-active="active">
                                    <i class="fa fa-comment-o"></i><span class="hidden-sm text">{%$root.i18n('消息管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.weixin')}">
                                <a class="dropmenu" href ui-sref="dashboard.weixin.menu">
                                    <i class="fa fa-puzzle-piece"></i><span class="hidden-sm text">{%$root.i18n('微信公共号管理')%}</span>
                                    <span class="chevron"
                                        ng-class="{closed:!$state.includes('dashboard.weixin'),opened:$state.includes('dashboard.weixin')}"></span>
                                </a>
                                <ul ng-style="{display:$state.includes('dashboard.weixin')?'block':'none'}">
                                    <li ng-class="{active:$state.includes('dashboard.weixin.menu')}">
                                        <a class="submenu" href ui-sref="dashboard.weixin.menu">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="hidden-sm text">{%$root.i18n('菜单管理')%}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.crowdfunding')}">
                                <a ng-if="shopId" href ui-sref="dashboard.crowdfunding.item({shop_id:shopId})" ui-sref-active="active">
                                    <i class="fa fa-suitcase"></i><span class="hidden-sm text">{%$root.i18n('众筹管理')%}</span></a>
                                <a ng-if="!shopId" href ui-sref="dashboard.crowdfunding" ui-sref-active="active">
                                    <i class="fa fa-suitcase"></i><span class="hidden-sm text">{%$root.i18n('众筹管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.orders')}">
                                <a href ui-sref="dashboard.orders" ui-sref-active="active">
                                    <i class="fa fa-tablet"></i><span class="hidden-sm text">{%$root.i18n('订单管理')%}</span></a>
                            </li>
                            <li has-permission="admin,jr_admin,operation,jr_operation"
                                ng-class="{active:$state.includes('dashboard.subscribe')}">
                                <a class="dropmenu" href ui-sref="dashboard.subscribe.invitation">
                                    <i class="fa fa-h-square"></i><span class="hidden-sm text">{%$root.i18n('用户申请管理')%}</span>
                                    <span class="chevron"
                                        ng-class="{closed:!$state.includes('dashboard.subscribe'),opened:$state.includes('dashboard.subscribe')}"></span>
                                </a>
                                <ul ng-style="{display:$state.includes('dashboard.subscribe')?'block':'none'}">
                                    <li has-permission="admin,jr_admin,operation,jr_operation"
                                        ng-class="{active:$state.includes('dashboard.subscribe.invitation')}">
                                        <a href ui-sref="dashboard.subscribe.invitation" ui-sref-active="active">
                                            <i class="fa fa-comment-o"></i><span class="hidden-sm text">{%$root.i18n('邀请码管理')%}</span></a>
                                    </li>
                                    <li has-permission="admin,jr_admin,operation,jr_operation"
                                        ng-class="{active:$state.includes('dashboard.subscribe.android')}">
                                        <a href ui-sref="dashboard.subscribe.android" ui-sref-active="active">
                                            <i class="fa fa-comment-o"></i><span class="hidden-sm text">{%$root.i18n('Android订阅管理')%}</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li has-permission="admin"
                                ng-class="{active:$state.includes('dashboard.appversion')}">
                                <a href ui-sref="dashboard.appversion" ui-sref-active="active">
                                    <i class="fa fa-mobile-phone"></i><span class="hidden-sm text">{%$root.i18n('App版本管理')%}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="content" class="col-lg-10 col-sm-11" ui-view one-screen>
                    {%user.nickname || user.email%}
                    <div ng-repeat="role in user.role">
                        {%role | permissionName %}
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
