<div>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>
    </div>
    <form name="reportCreateForm" class="form-horizontal" ng-controller="ctrlReportItems"
        style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,reportCreateForm)"
        novalidate>
        <div class="row">
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages"
                    ng-model="userLanguage.value"></select>
            </div>
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="item for item in i18nDistance" ng-model="userDistance.value">
                    <option value="">-- {%$root.i18n('长度单位')%} --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区名称')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" type-i18n="item.name" ng-model="item.name[userLanguage.value]"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('Postal Area')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.zipcode_index"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区介绍')%}</label>
                <div class="controls">
                    <textarea ng-model="item.description[userLanguage.value]" class="form-control" type-i18n="item.description" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区图片')%}</label>
            <div class="controls form-inline">
                <div edit-single-image ng-model="item.image" width-limit="1280" text="{%$root.i18n('背景图')%}" watermark="false"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('国家')%}</label>

                <div class="controls">
                    <div select-supported-country name="country" ng-model="item.country"></div>

                </div>
            </div>
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('城市')%}</label>

                <div class="controls">
                    <div select-city-by-country country="item.country" ng-model="item.city"></div>

                </div>
            </div>
        </div>
        <div class="row" ui-on-Drop="onSupplement($event,$data)" drop-channel="supplement">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区房屋供给资讯')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('新闻标题')%}</th>
                                <th>{%$root.i18n('新闻摘要')%}</th>
                                <th>{%$root.i18n('来源')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <input type="button" ng-click="addSupplementNews()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                            <tr ng-repeat="news in item.supplement_news">
                                <td>
                                    <input type="text" type-i18n="news.title" ng-model="news.title[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" type-i18n="news.summary" ng-model="news.summary[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="news.link" class="form-control"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveSupplementNews($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ui-on-Drop="onJob($event,$data)" drop-channel="job">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区就业机会资讯')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('新闻标题')%}</th>
                                <th>{%$root.i18n('新闻摘要')%}</th>
                                <th>{%$root.i18n('来源')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <input type="button" ng-click="addJobNews()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                            <tr ng-repeat="news in item.job_news">
                                <td>
                                    <input type="text" type-i18n="news.title" ng-model="news.title[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" type-i18n="news.summary" ng-model="news.summary[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="news.link" class="form-control"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveJobNews($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-actions" style="margin-bottom: 80px;">
            <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
            <input type="button" class="btn btnGoBack" ng-click="onBackClick()" value="{%$root.i18n('取消')%}">
        </div>
        <div class="help-block">* {%$root.i18n('必填')%}</div>
        <div style="width:20%;position:fixed;bottom:0;right:0;z-index: 100">
            <div style="display:block;margin:20px;padding:20px;">
                <table class="table table-bordered table-striped table-condensed">
                    <colgroup>
                        <col class="title">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <select class="form-control" ng-options="p as p.value[userLanguage.value] for p in newsCategoryList"
                                    ng-model="selected.category">
                                    <option value="">-- {%$root.i18n('请选择新闻类别')%} --</option>
                                </select></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in newsList">
                            <td ui-draggable="true" drag="{%$index+1%}" drag-channel="job,supplement,planning">
                                <div show-i18n="item.title"></div>
                            </td>
                        </tr>
                    </tbody>
                    <tr>
                        <td>
                            <button style="float: left;" ng-hide="noPrev" class="btn btnRequestSequence" type="button" ng-click="prevPage()">←</button>
                            <button style="float: right;" ng-hide="noNext" class="btn btnRequestSequence" type="button" ng-click="nextPage()"> →</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>