<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> 返回</button>
    </span>
    <span class="btn-group">
        <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
    </span>

</div>
<div class="form-horizontal" style="max-width: 800px; padding-bottom: 100px;">

    <div class="row">
        <div class="form-group col-sm-6">
            <label class="control-label">标题</label>

            <div class="controls">
                <span class="uneditable-input" type-i18n="item.title">{%item.title[userLanguage.value]%}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label class="control-label">内容</label>

            <div class="controls">
                <div type-i18n="item.content" style="border:1px solid #DDD; padding: 16px;" ng-bind-html="renderHtml(item.content[userLanguage.value])"></div>
            </div>
        </div>
    </div>

</div>
