
<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-content">
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_from" placeholder="{%i18n('起租时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <div edit-date ng-model="$parent.selected.date_to" placeholder="{%i18n('结束时间')%}"></div>
        </div>
        <div class="btn-group form-inline">
          <div class="">
            选择时间分段
            <select class="form-control" name="time_segment" ng-model="$parent.time_segment">
              <option value="week">week</option>
              <option value="month">month</option>
              <option value="day">day</option>
            </select>
          </div>
        </div>
        <div class="btn-group form-inline">
          <button class="btn btn-primary" ng-click="get_aggregate_data()">{%$root.i18n('获取数据')%}</button>
        </div>
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
          <tr>
            <td colspan="2" class="col-sm-4">
              注册用户人数：
            </td>
            <td class="col-sm-8">
              {%register_user_total%}
            </td>
          </tr>
          <tr ng-if="!user_type_list.length">
            <td colspan="2">按用户角色统计人数：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in user_type_list">
            <td ng-if="$index === 0" rowspan="{%user_type_list.length%}">
              按用户角色统计人数：
            </td>
            <td class="col-sm-2">
              <span>{%item.type%}</span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              收到咨询申请的数量：
            </td>
            <td>
              {%rent_request_total%}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              新发布的出租房数量：
            </td>
            <td>
              {%rent_ticket_total%}
            </td>
          </tr>
          <tr ng-if="!rent_ticket_type.length">
            <td colspan="2">出租房类型对应数量：</td>
            <td>{%place_holder%}</td>
          </tr>
          <tr ng-repeat="item in rent_ticket_type">
            <td ng-if="$index === 0" rowspan="{%rent_ticket_type.length%}">
              出租房类型对应数量：
            </td>
            <td>
              <span>{%item.type%}</span>
            </td>
            <td>
              {%item.total%}
            </td>
          </tr>
        </table>
        <div class="row">
          <div class="col-sm-8">
            <div class="box">
              <div class="box-header">
                <h2><i class="fa fa-bar-chart-o"></i>注册用户人数</h2>
              </div>
              <div class="box-content">
                <figure id="aggregation_register_user_total"></figure>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <div class="box-header">
                <h2><i class="fa fa-bar-chart-o"></i>用户角色占比</h2>
              </div>
              <div class="box-content">
                <figure id="aggregation_user_type"></figure>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="box">
              <div class="box-header">
                <h2><i class="fa fa-bar-chart-o"></i>新增出租房数量的曲线图</h2>
              </div>
              <div class="box-content">
                <figure id="aggregation_rent_ticket_total"></figure>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="box">
              <div class="box-header">
                <h2><i class="fa fa-bar-chart-o"></i>新增咨询单数量的曲线图</h2>
              </div>
              <div class="box-content">
                <figure id="aggregation_rent_request_total_count"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
