<div class="buttons">
    <span class="btn-group">
        <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}</button>
    </span>
</div>
<form name="partnerCreateForm" class="form-horizontal" ng-class="{submitted:submitted}"
    style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,partnerCreateForm)"
    novalidate>

    <div class="form-group">
        <label class="control-label">{%$root.i18n('邮箱')%} *</label>

        <div class="controls">
            <input class="form-control" ng-model="item.email" type="email"
                style="width: 30em"/>
        </div>
    </div>


    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
    </div>
    <div class="help-block">* {%$root.i18n('必填')%}</div>
</form>
