<div>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>
        <span class="btn-group">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </span>

    </div>
    <form name="partnerCreateForm" class="form-horizontal" ng-class="{submitted:submitted}"
        style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,partnerCreateForm)"
        novalidate>

        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('标题')%} *</label>

                <div class="controls">
                    <input class="form-control col-sm6" type-i18n="item.title" ng-model="item.title[userLanguage.value]" ng-required="true" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('链接')%}</label>

                <div class="controls">
                    <input class="form-control col-sm6" ng-model="item.link" type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('类别')%} *</label>

                <div get-news-category-list></div>
                <div class="controls">
                    <select ng-options="p.id as p.value[userLanguage.value] for p in newsCategoryList" ng-model="item.category"
                        class="form-control input-sm" multiple required>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('封面图片')%}{%$root.i18n('(最大宽度是1280px)')%}</label>

                <div class="controls">
                    <div edit-images ng-model="item.images" width-limit="1280" thumbnail-size="320,240" text="{%$root.i18n('添加图片')%}" watermark="false"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-10">
                <label class="control-label">{%$root.i18n('摘要')%} *</label>
                <div class="controls">
                    <textarea class="form-control col-sm6" type-i18n="item.summary" ng-model="item.summary[userLanguage.value]" ng-required="true" style="width: 100%; height: 6em;"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('内容')%} *</label>
                <div edit-rich-content ng-model="item.content"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('地域')%}</label>
                <div class="controls">
                    <div edit-region country="item.country" city="item.city" zip="item.zipcode_index"></div>
                </div>
            </div>
        </div>

        <div class="form-actions" style="margin-bottom: 80px;">
            <input type="submit" class="btn btn-primary" ng-disabled="!partnerCreateForm.$valid"  value="{%$root.i18n('更新')%}">
            <input type="button" class="btn btnGoBack" ng-click="onBackClick()" value="{%$root.i18n('取消')%}">
        </div>

        <div class="help-block">* {%$root.i18n('必填')%}</div>
    </form>
</div>