<div ui-view>

    <div class="row" style="min-height: 600px;">
        <div class="col-lg-12">
            <div class="buttons">

                <span class="form-inline">
                    <span add-on-search></span>
                </span>
                <span class="btn-group pull-right">
                    <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                    <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
                </span>


            </div>
            <table class="table table-bordered table-striped table-condensed" style="margin-top: 16px;">
                <colgroup>
                    <col class="nickname">
                    <col class="phone">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>{%$root.i18n('用户姓名')%}</th>
                        <th>{%$root.i18n('用户手机')%}</th>
                        <th>{%$root.i18n('用户邮箱')%}</th>
                        <th>{%$root.i18n('注册时间')%}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>
                            <a href ui-sref=".detail.favs({id:item.id})">{%item.nickname%}</a>
                        </td>
                        <td>
                            {%item.phone%}
                        </td>
                        <td>
                            {%item.email%}
                        </td>
                        <td>
                            <div>{%(item.register_time?(item.register_time * 1000 | date : 'short'):'')%}</div>
                        </td>
                        <td>
                            <a class="btn btn-success" href ui-sref=".detail.favs({id:item.id})" title="View">
                                <i class="fa fa-search-plus "></i>
                            </a>
                            <span ng-show="item.status !== 'suspended'" has-permission="admin,jr_admin,operation" class="btn btn-danger" ng-click="onSuspend(item,$index)" title="{%$root.i18n('禁用')%}">
                                <i class="fa fa-ban"></i>
                            </span>
                            <span ng-show="item.status === 'suspended'" has-permission="admin,jr_admin,operation" class="btn btn-success" ng-click="onActivate(item,$index)" title="{%$root.i18n('恢复')%}">
                                <i class="fa  fa-rotate-left"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
            <div class="buttons">
                <span class="btn-group pull-right">
                    <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                    <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
                </span>

            </div>

        </div>
    </div>
    <!--/container-->
</div>
