<div ui-view>
    <div ng-controller="ctrlIntention">

        <div class="buttons">
            <!--<div class="btn-group">
                <button class="btn" ui-sref=".create">
                    <span class="fa fa-plus-circle"></span> {%$root.i18n('添加求租意向单')%}
                </button>
            </div>-->
<!--            <div class="btn-group form-inline">
                <select class="form-control" ng-options="p.value as p.name for p in intentionTicketStatus" ng-model="selected.status">
                    <option value="">-- {%$root.i18n('过滤条件')%} --</option>
                </select>
            </div>-->

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>
        </div>

        <table class="table table-bordered table-striped table-condensed">
            <colgroup>
                <col class="status">
                <col class="title">
                <col class="nickname">
                <col class="time">
                <col class="rent_type">
                <col class="rent_budget">
                <col class="period">
                <col class="city">
                <col class="postcode">
                <col class="地址">
                <col class="详情">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('标题')%}</th>
                    <th>{%$root.i18n('客户')%}</th>
                    <th>{%$root.i18n('提交时间')%}</th>
                    <th>{%$root.i18n('出租需求')%}</th>
                    <th>{%$root.i18n('出租位置')%}</th>
                    <th>{%$root.i18n('详情')%}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        {%item.status | intentionTicketStatusName %}
                    </td>
                    <td style="width: 200px">
                        {%item.title%}
                    </td>
                    <td>
                        <div>{%item.nickname%}</div>
                        <div>{%item.phone%}</div>
                        <div>{%item.email%}</div>
                    </td>
                    <td>
                        {%(item.time?(item.time * 1000 | date : 'short'):'')%}
                    </td>
                    <td>
                        <div>{%$root.i18n('出租类型:')%}{%item.rent_type.value%}</div>
                        <div>{%$root.i18n('预算:')%}{%item.rent_budget.currency%}{%item.rent_budget.value%}</div>
                        <div>{%$root.i18n('租期:')%}{%(item.rent_available_time?(item.rent_available_time * 1000 | date : 'shortDate'):'') + $root.i18n('起') + (item.rent_deadline_time?  $root.i18n('至') + (item.rent_deadline_time * 1000 | date : 'shortDate'):'') %}</div>
                    </td>
                    <td >
                        <div>{%item.city.name%}</div>
                        <div>{%item.zipcode_index%}</div>
                        <div>{%item.maponics_neighborhood.name%}</div>
                        <div>{%item.address%}</div>
                    </td>
                    <td >
                        {%item.description%}
                    </td>
                    <td>
                        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
        <div class="buttons">

            <span class="btn-group pull-right">
                <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
            </span>

        </div>

        <!--/container-->
    </div>
</div>
