<!-- start: Content -->
<div id="content" class="col-lg-10 col-sm-11 ">

    <div class="buttons">
        <span class="btn-group">
            <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> 返回</button>
        </span>
    </div>

    <div class="row profile">

        <div class="col-sm-3">

            <div class="row">
                <div class="col-xs-7 col-sm-12">
                    <img class="profile-image" data-ng-src="{%item.face%}">
                </div>
                <div class="col-xs-5 col-sm-12">
                    <h3>General Information</h3>

                    <ul class="profile-details">
                        <li>
                            <div><i class="fa fa-briefcase"></i> 姓名</div>
                            <span data-ng-bind="item.nickname"></span>
                        </li>
                        <li>
                            <div><i class="fa fa-building-o"></i> 性别</div>
                            <span data-ng-bind="item.gender"></span>
                        </li>
                        <li>
                            <div><i class="fa fa-building-o"></i> 国家</div>
                            <span data-ng-bind="item.country"></span>
                        </li>
                        <li>
                            <div><i class="fa fa-building-o"></i> 城市</div>
                            <span data-ng-bind="item.city"></span>
                        </li>
                    </ul>

                    <h3>Contact Information</h3>

                    <ul class="profile-details">
                        <li>
                            <div><i class="fa fa-phone"></i> mobile phone</div>
                            <span>+{%item.country_code%}  {%item.phone%}</span>
                        </li>
                        <li>
                            <div><i class="fa fa-envelope"></i> e-mail</div>
                            <span>{%item.email%}</span>
                        </li>
                        <li>
                            <div><i class="fa fa-envelope"></i> 微信</div>
                            <span>{%item.wechat_id%}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->

        <div class="col-sm-9">


            <ul class="nav nav-tabs" id="userInfoTab">
                <li data-ng-class="{active:tabName==='favs'}" data-ng-click="changeTab('favs')">
                    <a style="cursor: pointer;">收藏房产</a>
                </li>
                <li data-ng-class="{active:tabName==='intentions'}" data-ng-click="changeTab('intentions')">
                    <a style="cursor: pointer;">投资意向单</a>
                </li>
                <li data-ng-class="{active:tabName==='purchases'}" data-ng-click="changeTab('purchases')">
                    <a style="cursor: pointer;">已购房产</a>
                </li>
                <li data-ng-class="{active:tabName==='supports'}" data-ng-click="changeTab('supports')">
                    <a style="cursor: pointer;">客服单</a>
                </li>
            </ul>

            <grid></grid>

        </div>
        <!--/col-->
    </div>
</div>
<!--/profile-->