<div class="buttons">

    <span class="btn-group">
        <button class="btn btnGoBack" ng-click="onBackClick()">
            <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
        </button>
    </span>
    <span class="btn-group pull-right" style="margin-left: 20px;">
        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除咨询单')%}">
            <i class="fa fa-trash-o"></i>
            {%$root.i18n('移除咨询单')%}
        </span>
    </span>
    <span class="btn-group pull-right" ng-if="item" ng-init="ticketItem = item.interested_rent_tickets[0]" ng-controller="ctrlRentDetail">
        <a class="btn btn-info" target="_blank" ng-href="/property-to-rent/{% ticketItem.id %}/edit?editor=admin" title="{% $root.i18n('编辑目标房源') %}">
            <i class="fa fa-pencil"></i>
        </a>
        <span has-permission="admin,jr_admin" class="btn btn-success" ng-click="onRefresh(ticketItem,$index)" title="{%$root.i18n('刷新目标房源')%}">
            <i class="fa fa-refresh"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onRentOut(ticketItem,$index)" title="{%$root.i18n('已租出')%}">
            <i class="fa fa-sign-out"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onSuspend(ticketItem,$index)" title="{%$root.i18n('下架并通知')%}">
            <i class="fa fa-minus-circle"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(ticketItem,$index)" title="{%$root.i18n('移除目标房源')%}">
            <i class="fa fa-trash-o"></i>
        </span>

    </span>

</div>
<div class="panel panel-default" style="margin: 16px 0;">
    <div class="panel-heading clearfix" ng-init="activeTab = 'tenant'">
        <span class="pull-left" style="margin-right: 10px;line-height: 30px;">{%$root.i18n('当前状态')%}</span>
        <span class="pull-left" edit-rent-intention-ticket-status ng-model="item" new-status="newStatus"></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-if="newStatus && template.tenant[newStatus]" ng-class="{'btn-primary': activeTab === 'tenant'}" ng-click="switchTab('tenant')">{%template.tenant[newStatus].title%}</button>
            <button type="button" class="btn btn-default" ng-if="newStatus && template.landlord[newStatus]" ng-class="{'btn-primary': activeTab === 'landlord'}" ng-click="switchTab('landlord')">{%template.landlord[newStatus].title%}</button>
            <button type="button" class="btn btn-default" ng-class="{'btn-primary': activeTab === 'event'}" ng-click="switchTab('event')">{%$root.i18n('动态')%}</button>
        </div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'tenant'">
        <div ng-if="newStatus && template.tenant[newStatus]" edit-rich-content-of-template ng-model="emailTemplate" template="template.tenant[newStatus].url" role="tenant"></div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'landlord'">
        <div ng-if="newStatus && template.landlord[newStatus]" edit-rich-content-of-template ng-model="emailTemplate" template="template.landlord[newStatus].url" role="landlord"></div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'event'">
        动态
    </div>
</div>

<tabset style="margin: 16px 0;">
    <tab heading="{%$root.i18n('咨询单信息')%}" ng-if="item">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('租客信息')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-6" ng-if="item.creator_user.nickname">
                                <label class="control-label">{%$root.i18n('姓名')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.nickname%}</span>
                                </div>
                            </div>

                            <div class="form-group  col-sm-6" ng-if="item.creator_user.country.code">
                                <label class="control-label">{%$root.i18n('国家')%}</label>

                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" display-country-name="item.creator_user.country.code"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.phone">
                                <label class="control-label">{%$root.i18n('电话')%}</label>

                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.phone%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.email">
                                <label class="control-label">{%$root.i18n('邮箱')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.email%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.gender">
                                <label class="control-label">{%$root.i18n('性别')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.gender%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.occupation">
                                <label class="control-label">{%$root.i18n('职业')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" show-i18n="item.occupation.value"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.age">
                                <label class="control-label">{%$root.i18n('年龄')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.age | number:0%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.referrer">
                                <label class="control-label">{%$root.i18n('用户来源')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" ng-bind="item.referrer | userReferrer"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.log">
                                <label class="control-label">{%$root.i18n('IP')%}</label>
                                <div class="controls">
                                    <a ng-href="{% item.log.link %}" target="_blank">{% item.log.ip %}</a>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.custom_fields">
                                <label class="control-label">{%$root.i18n('Relocate')%}</label>
                                <div class="controls">
                                    <div edit-relocate-field ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('入住信息')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-6" ng-if="item.time">
                                <label class="control-label">{%$root.i18n('创建时间')%}</label>

                                <div class="controls">
                                    <span>{% item.time * 1000 | date : 'yyyy-MM-dd H:mm'%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12">
                                <label class="control-label">{%$root.i18n('入住&搬出时间')%}</label>

                                <div class="controls">

                                    <div><span>{% item.rent_available_time * 1000 | date : 'yyyy-MM-dd'%}{%$root.i18n('至')%}{% item.rent_deadline_time * 1000 | date : 'yyyy-MM-dd'%}</span></div>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.tenant_count">
                                <label class="control-label">{%$root.i18n('入住人数')%}</label>
                                <div class="controls">
                                    <span>{% item.tenant_count%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.smoke !== undefined">
                                <label class="control-label">{%$root.i18n('是否吸烟')%}</label>
                                <div class="controls">
                                    <span>{% item.smoke%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.baby !== undefined">
                                <label class="control-label">{%$root.i18n('是否带小孩')%}</label>
                                <div class="controls">
                                    <span>{% item.baby%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.pet !== undefined">
                                <label class="control-label">{%$root.i18n('是否带宠物')%}</label>
                                <div class="controls">
                                    <span>{% item.pet%}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('其他')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-12" ng-if="item.description">
                                <label class="control-label">{%$root.i18n('描述')%}</label>
                                <div class="controls">
                                    <span>{% item.description%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12" ng-if="item.visa">
                                <label class="control-label">{%$root.i18n('Visa')%}</label>
                                <div class="controls">
                                    <img class="img-thumbnail" ng-src="{%item.visa%}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{%$root.i18n('房产信息')%}" ng-controller="ctrlRentDetail" ng-if="item" ng-init="item = item.interested_rent_tickets[0]">
        <div ng-include="'/static/admin/templates/dashboard.rent.detail.tabProperty.tpl.html'"></div>
    </tab>
    <tab heading="{%$root.i18n('出租信息')%}" ng-controller="ctrlRentDetail" ng-if="item" ng-init="item = item.interested_rent_tickets[0]">
        <div ng-include="'/static/admin/templates/dashboard.rent.detail.tabRent.tpl.html'"></div>
    </tab>
</tabset>
