<div style="min-height: 600px;" ui-view>
    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col class="status">
            <col class="nickname">
            <col class="phone">
            <col class="email">
            <col class="submitTime">
            <col class="changeTime">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>{%$root.i18n('房产名')%}</th>
                <th>{%$root.i18n('房产类型')%}</th>
                <th>{%$root.i18n('总价')%}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    <div show-i18n="item.property.name"></div>
                </td>
                <td>
                    <div show-i18n="item.property.property_type.value"></div>
                </td>
                <td>
                    {%item.property.total_price.unit_symbol+item.property.total_price.value%}
                </td>
                <td>
                    <a class="btn btn-success" href ui-sref="dashboard.property.detail({id:item.property.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>
</div>