<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
            <button ng-if="item.status !== 'not reviewed'" class="btn" ng-click="$state.go('^.edit',{id:$stateParams.id})">
                <span class="fa fa-edit"></span> {%$root.i18n('编辑')%}
            </button>
        </span>
        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>

    </div>
    <form>
        <div ng-controller="ctrlHasPermission">
            <tabset justified="true" style="margin: 16px 0;">
                <tab heading="{%$root.i18n('房产通用信息')%}">
                    <div class="row" ng-if="item.name">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('名称')%}</label>

                            <div class="controls">
                                <div show-i18n="item.name"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.property_type">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产类型')%}</label>
                            <div class="controls">
                                <div show-i18n="item.property_type.value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.country">
                            <label class="control-label">{%$root.i18n('国家')%}</label>

                            <div class="controls">
                                <div display-country-name="item.country.code"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.city">
                            <label class="control-label">{%$root.i18n('城市')%}</label>

                            <div class="controls">
                                <div><span>{% item.city.name %}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.street">
                            <label class="control-label">{%$root.i18n('街区')%}</label>

                            <div class="controls">
                                <div show-i18n="item.street"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.zipcode">
                            <label class="control-label">{%$root.i18n('邮编')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.zipcode%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.zipcode_index">
                            <label class="control-label">{%$root.i18n('Postal Area')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.zipcode_index%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.address">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地址详情')%}</label>

                            <div class="controls">
                                <div show-i18n="item.address"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.real_address">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('真实地址')%}</label>

                            <div class="controls">
                                <div show-i18n="item.real_address"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.highlight">
                        <div class="form-group  col-sm-6">
                            <div type-i18n="item.highlight"></div>
                            <table class="table table-bordered table-striped table-condensed "
                                style="margin-bottom:30px">
                                <colgroup>
                                    <col class="highlight">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>{%$root.i18n('亮点')%}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="point in item.highlight[userLanguage.value] track by $index">
                                        <td>
                                            <span class="input-xlarge uneditable-input">{%point%}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" ng-if="item.description">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('详情')%}</label>

                            <div class="controls">
                                <div show-i18n="item.description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.annual_cash_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('预计租金年化回报率')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.annual_cash_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.annual_return_estimated">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('预计年总回报率')%}</label>
                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.annual_return_estimated%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.rental_guarantee_rate">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('开发商包租')%}</label>
                            <div class="controls form-inline">
                                {%item.rental_guarantee_rate%}
                                <span>{%$root.i18n('%开发商保证最低收益率')%}</span>
                                {%item.rental_guarantee_term%}
                                <span>{%$root.i18n('年')%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.intention">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('投资标签')%}</label>

                            <div class="controls">
                                <div class="controls" ng-repeat="i in item.intention">
                                    <div show-i18n="i.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.investment_type">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('投资类型')%}</label>

                            <div class="controls">
                                <div class="controls" ng-repeat="i in item.investment_type">
                                    <div show-i18n="i.value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.equity_type">
                            <label class="control-label">{%$root.i18n('产权类型')%}</label>

                            <div class="controls">
                                <div show-i18n="item.equity_type.value"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.decorative_style">
                            <label class="control-label">{%$root.i18n('装修风格')%}</label>

                            <div class="controls">
                                <div show-i18n="item.decorative_style.value"></div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" ng-if="item.latitude||item.longitude">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地图位置')%}</label>

                            <div class="form-inline">
                                <span class="input-xlarge uneditable-input">{%item.latitude%}</span>
                                <span class="input-xlarge uneditable-input">{%item.longitude%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.reality_images">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('实景图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.reality_images[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.surroundings_images">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('生活配设施图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.surroundings_images[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.property_price_type">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产价格类型')%}</label>

                            <div class="controls">
                                <div show-i18n="item.property_price_type.value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.property_price_type.slug === 'similar_history_price'">
                        <div class="form-group  col-sm-3" ng-if="item.equal_property_description">
                            <label class="control-label">{%$root.i18n('同等房产描述')%}</label>

                            <div class="controls">
                                <div show-i18n="item.equal_property_description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.historical_price">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('历史成交价格')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed "
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="item">
                                        <col class="price">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('成交时间')%}</th>
                                            <th>{%$root.i18n('成交价格')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="price in item.historical_price">
                                            <td>{%price.time * 1000 | date : 'short'%}</td>
                                            <td>{%price.price.value | number : 2%} {%price.price.unit %}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" ng-if="item.estimated_income_description">
                        <div class="form-group  col-sm-3" ng-if="item.estimated_income_description">
                            <label class="control-label">{%$root.i18n('月收支分析简要描述')%}</label>

                            <div class="controls">
                                <div show-i18n="item.estimated_income_description"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.estimated_monthly_rent">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('估计月租金收入')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.estimated_monthly_rent.unit%}{%item.estimated_monthly_rent.value | number : 2%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.estimated_monthly_cost">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('估计月平均支出')%}{%$root.i18n('(最多4项)')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="item">
                                        <col class="price">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('支出名称')%}</th>
                                            <th>{%$root.i18n('支出费用')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cost in item.estimated_monthly_cost">
                                            <td>
                                                <div show-i18n="cost.item"></div>
                                            <td>{%cost.price.value | number : 2 %} {%cost.price.unit %}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.videos">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('视频')%}</label>

                            <div class="controls">
                                <a class="btn btn-info" href="property/{%$stateParams.id%}" target="_blank">点击预览视频</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.brochure">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{%$root.i18n('推广资料')%}</label>

                            <div class="controls">
                                <a href="{%brochure.url%}">{%brochure.url%}</a>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('非楼盘特有信息')%}" ng-if="item.property_type.slug !== 'new_property'&&item.property_type.slug!=='student_housing'&&item.property_type.slug!=='house'">
                    <div class="row">
                        <div class="form-group  col-sm-2" ng-if="item.total_price">
                            <label class="control-label">{%$root.i18n('总价格')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.total_price.unit%}{%item.total_price.value | number : 2%}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-sm-3" ng-if="item.minimum_down_payment_rate">
                                <label class="control-label">{%$root.i18n('最低首付比例')%}</label>

                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.minimum_down_payment_rate%}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2" ng-if="item.bedroom_count">
                            <label class="control-label">{%$root.i18n('居室数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.bedroom_count|showBedroom%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2" ng-if="item.living_room_count">
                            <label class="control-label">{%$root.i18n('客厅数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.living_room_count%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-2" ng-if="item.bathroom_count">
                            <label class="control-label">{%$root.i18n('卫生间数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.bathroom_count%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-2" ng-if="item.kitchen_count">
                            <label class="control-label">{%$root.i18n('厨房数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.kitchen_count%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.facing_direction">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('朝向')%}</label>

                            <div class="controls">
                                <div show-i18n="item.facing_direction.value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.space">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('面积')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.space.value | number : 2%} {%item.space.unit %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.floor_plan">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('户型图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.floor_plan[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%getTabTitle(item.property_type.slug)%}" ng-controller="ctrlPropertyItems"
                    ng-if="item.property_type.slug==='new_property'||item.property_type.slug==='student_housing'||item.property_type.slug==='house'">
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.developer">
                            <label class="control-label">{%$root.i18n('开发商')%}</label>

                            <div class="controls">
                                <div show-i18n="item.developer"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.building_type">
                            <label class="control-label">{%$root.i18n('建筑类型')%}</label>

                            <div class="controls">
                                <div show-i18n="item.building_type"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6" ng-if="item.unit_price">
                            <label class="control-label">{%$root.i18n('单位面积参考价格')%}</label>

                            <div class="controls form-inline">
                                <span class="input-xlarge uneditable-input">{%item.unit_price.price.unit%}{%item.unit_price.price.value | number : 2%}</span>
                                <span class="input-xlarge uneditable-input">{%item.unit_price.unit.value | number : 2%}{%item.unit_price.unit.unit%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.minimum_down_payment_rate">
                            <label class="control-label">{%$root.i18n('最低首付比例')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.minimum_down_payment_rate%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.opening_time">
                        <div class=" col-sm-4">
                            <label class="control-label">{%$root.i18n('开盘时间')%}</label>

                            <div class="controls">
                                <div show-i18n="item.opening_time"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.completion_time">
                        <div class=" col-sm-4">
                            <label class="control-label">{%$root.i18n('完工时间')%}</label>

                            <div class="controls">
                                <div show-i18n="item.completion_time"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.building_area">
                            <label class="control-label">{%$root.i18n('建筑面积')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.building_area.value | number : 2%} {%item.building_area.unit%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.planning_area">
                            <label class="control-label">{%$root.i18n('规划面积')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.planning_area.value | number : 2%}{%item.planning_area.unit%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.plot_ratio">
                            <label class="control-label">{%$root.i18n('容积率')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.plot_ratio%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.greening_rate">
                            <label class="control-label">{%$root.i18n('绿化率')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.greening_rate%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.planning_household_count">
                            <label class="control-label">{%$root.i18n('规划户数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.planning_household_count%}</span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.parking_space_count">
                            <label class="control-label">{%$root.i18n('车位数')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.parking_space_count%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3" ng-if="item.property_management_type">
                            <label class="control-label">{%$root.i18n('物业类型')%}</label>

                            <div class="controls">
                                <div show-i18n="item.property_management_type"></div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3" ng-if="item.property_management_company">
                            <label class="control-label">{%$root.i18n('物业公司')%}</label>

                            <div class="controls">
                                <div show-i18n="item.property_management_company"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.main_house_types">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('主要户型')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="name">
                                        <col class="bedroom_count">
                                        <col class="living_room_count">
                                        <col class="bathroom_count">
                                        <col class="kitchen_count">
                                        <col class="space">
                                        <col class="total_price">
                                        <col class="floor_plan">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('户型名')%}</th>
                                            <th>{%$root.i18n('户型结构')%}</th>
                                            <th>{%$root.i18n('面积与价格')%}</th>
                                            <th>{%$root.i18n('户型描述')%}</th>
                                            <th>{%$root.i18n('户型图')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="main_type in item.main_house_types">
                                            <td>
                                                <div show-i18n="main_type.name"></div>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>{%$root.i18n('居室数')%}</td>
                                                        <td>{%main_type.bedroom_count|showBedroom%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('客厅数')%}</td>
                                                        <td>{%main_type.living_room_count%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('卫生间数')%}</td>
                                                        <td>{%main_type.bathroom_count%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('厨房数')%}</td>
                                                        <td>{%main_type.kitchen_count%}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>{%$root.i18n('最小面积')%}</td>
                                                        <td>{%main_type.building_area_min.value | number : 2%} {%main_type.building_area_min.unit%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最大面积')%}</td>
                                                        <td>{%main_type.building_area_max.value | number : 2%} {%main_type.building_area_max.unit%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最低总价')%}</td>
                                                        <td>{%main_type.total_price_min.value | number : 2%} {%main_type.total_price_min.unit%}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{%$root.i18n('最高总价')%}</td>
                                                        <td>{%main_type.total_price_max.value | number : 2%} {%main_type.total_price_max.unit%}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <div show-i18n="main_type.description"></div>
                                            </td>
                                            <td>
                                                <img class="img-thumbnail" ng-repeat="img in item.floor_plan[userLanguage.value]"
                                                    ng-src="{%img%} ">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="item.effect_pictures">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('效果图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.effect_pictures[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.indoor_sample_room_picture">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('室内样板间图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.indoor_sample_room_picture[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.planning_map">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('规划图')%}</label>

                            <div class="controls">
                                <img class="img-thumbnail" ng-repeat="img in item.planning_map[userLanguage.value]"
                                    ng-src="{%img%} ">
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="salesCommentEnabled===undefined" heading="{%$root.i18n('房产审核单')%}">
                    <div class="row" ng-if="item.comment">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核备注')%}</label>

                            <div class="controls">
                                <span class="input-xlarge uneditable-input">{%item.comment%}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="item.attachment">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核附件')%}</label>

                            <div class="controls">
                                <div ng-repeat="obj in item.attachment">
                                    <a href="{%obj.url%}">{%obj.description%}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-if="hasPermission('admin,jr_admin,sales,jr_sales') && salesCommentEnabled!==undefined" heading="{%$root.i18n('销售备注')%}">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label">{%$root.i18n('销售备注')%}</label>

                            <div class="controls">
                                <textarea ng-model="item.sales_comment" id="sales_comment" disabled="disabled" class="form-control" rows="10"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!salesCommentEnabled">
                        <div class="form-group col-sm-3">
                            <div class="controls">
                                <button class="btn btn-private" type="button" ng-click="editSalesComment()">{%$root.i18n('修改')%}</button>

                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="salesCommentEnabled">
                        <div class="form-group col-sm-12">
                            <div class="controls">
                                <button class="btn btn-private" type="button" ng-click="updateSalesComment()">{%$root.i18n('提交')%}</button>
                                <button class="btn btn-private" type="button" ng-click="cancelEditSalesComment()">{%$root.i18n('取消')%}</button>

                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
            <div ng-if="hasPermission('admin,jr_admin,operation') && salesCommentEnabled===undefined && item.status==='not reviewed'">
                <button class=" btn btn-primary" type="button" ng-click="submitForAccept()">{%$root.i18n('批准审核')%}
                </button>
                <button class=" btn btn-danger" type="button" ng-click="submitForReject()">{%$root.i18n('拒绝审核')%}
                </button>
            </div>
        </div>
    </form>
</div>
