<div style="min-height: 600px;">
    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col class="status">
            <col class="nickname">
            <col class="phone">
            <col class="email">
            <col class="submitTime">
            <col class="changeTime">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>{%$root.i18n('状态')%}</th>
                <th>{%$root.i18n('客户姓名')%}</th>
                <th>{%$root.i18n('客户手机')%}</th>
                <th>{%$root.i18n('客户邮箱')%}</th>
                <th>{%$root.i18n('提交时间')%}</th>
                <th>{%$root.i18n('受理时间')%}</th>
                <th>{%$root.i18n('备注')%}</th>
                <th>{%$root.i18n('管理')%}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    {%item.status | intentionTicketStatusName %}
                </td>
                <td>
                    {%item.nickname%}
                </td>
                <td>
                    {%item.phone%}
                </td>
                <td>
                    {%item.email%}
                </td>
                <td>
                    {%(item.time?(item.time * 1000 | date : 'short'):'')%}
                </td>
                <td>
                    {%(item.assigned_time?(item.assigned_time * 1000 | date : 'short'):'')%}
                </td>
                <td>
                    <div edit-remark ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                </td>
                <td>
                    <a class="btn btn-success" href ui-sref="dashboard.intention.detail({id:item.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href ui-sref="dashboard.intention.edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="!fetched||noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="!fetched||noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>
</div>