<div ui-view>

    <div get-news-category-list></div>

    <div class="buttons">


        <div class="btn-group form-inline" ng-controller="ctrlHasPermission">
            <select class="form-control" ng-if="hasPermission('admin,jr_admin,operation,jr_operation')" ng-options="p.value as p.name for p in rentStatus" ng-model="selected.status"></select>
        </div>
        <div class="btn-group form-inline">
            <div select-supported-country name="country" ng-model="selected.country" text="{%i18n('国家')%}"></div>
        </div>
        <div class="btn-group form-inline">
            <div select-city-by-country country="selected.country" ng-model="selected.city" text="{%i18n('城市')%}"></div>
        </div>
        <div class="btn-group form-inline">
            <div select-enum name="rent_type" ng-model="selected.rent_type" text="{%i18n('出租类型')%}"></div>
        </div>
        <div class="btn-group form-inline">
            <button class="btn btn-primary" ng-click="searchRent()">{%$root.i18n('搜索')%}</button>
        </div>
        <span class="btn-group pull-right" style="margin-left: 10px">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>

    <table class="table table-bordered table-striped table-condensed">

        <thead>
            <tr>
                <th style="width: 10%;">{%$root.i18n('标题')%}</th>
                <th style="width: 9%;">{%$root.i18n('出租类型')%}</th>
                <th style="width: 8%;">{%$root.i18n('房东类型')%}</th>
                <th style="width: 9%;">{%$root.i18n('postcode')%}</th>
                <th style="width: 10%;">{%$root.i18n('地址')%}</th>
                <th style="width: 9%;">{%$root.i18n('租金')%}</th>
                <th style="width: 10%;">{%$root.i18n('发布人')%}</th>
                <th style="width: 10%;">{%$root.i18n('发布时间')%}</th>
                <th style="width: 9%;">{%$root.i18n('汇总图')%}</th>
                <th style="width: 7%;">{%$root.i18n('生成图床')%}</th>
                <th style="width: 9%;">{%$root.i18n('管理')%}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    <a ng-bind="item.title" ng-href="/property-to-rent/{%item.id%}"></a>
                </td>
                <td>
                    <div show-i18n="item.rent_type.value"></div>
                </td>
                <td>
                    <div show-i18n="item.landlord_type.value"></div>
                </td>
                <td>
                    <div ng-bind="item.property.zipcode"></div>
                </td>
                <td>
                    <div ng-bind="item.property | propertyAddress"></div>
                </td>
                <td>
                    <div ng-bind="item.price.value | currency : currencyTypes[item.price.unit] : 2"></div>
                </td>
                <td>
                    <a ui-sref="dashboard.users.detail.properties({ id: item.creator_user.id })" ng-bind="item.creator_user.nickname"></a>
                </td>
                <td>
                    <div ng-bind="item.time * 1000 | date : 'yyyy-MM-dd H:mm'"></div>
                </td>
                <td>
                    <span class="btn btn-primary" ng-if="!item.isGenerating && (!item.digest_image_task_id || (item.digest_image_generate_time && Date.now() / 1000 - item.digest_image_generate_time > 24 * 3600))" ng-click="generateImage(item)" title="{%$root.i18n('生成digest图片')%}">
                        <i class="fa fa-camera"></i>
                    </span>
                    <span class="btn btn-success" ng-if="item.digest_image" ng-click="openImage(item)" title="{%$root.i18n('查看digest图片')%}">
                        <i class="fa fa-picture-o"></i>
                    </span>
                    <span ng-if="item.isGenerating" ng-bind="item.digestStatus"></span>
                </td>
                <td>
                    <a class="btn btn-primary" ui-sref=".digest({id:item.id})" title="{%$root.i18n('生成图床链接')%}">
                        <i class="fa fa-magic "></i>
                    </a>
                </td>
                <td style="text-align:center;">
                    <a class="btn btn-success" ui-sref=".detail({id:item.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                    <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                    <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除')%}">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">

        <span class="btn-group pull-right" style="margin-right: 10px">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>

    </div>

</div>
