<div>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>
        <div class="btn-group form-inline pull-right" style="margin-right: 10px">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>
    <form name="reportCreateForm" class="form-horizontal" ng-controller="ctrlReportItems"
        style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,reportCreateForm)"
        novalidate>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区名称')%}</label>
            <div class="controls form-inline">
                {%item.name[userLanguage.value]%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区ID')%}</label>
            <div class="controls form-inline">
                {%item.zipcode%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区介绍')%}</label>
            <div class="controls form-inline">
                {%item.description[userLanguage.value]%}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('别墅售价')%}</label>
                <div class="controls">
                    {%item.villa_price.value%}
                    {%item.villa_price.unit%}
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('别墅租金')%}</label>
                <div class="controls">
                    {%item.villa_rental.value%}
                    {%item.villa_rental.unit%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('公寓售价')%}</label>
                <div class="controls">
                    {%item.flat_price.value%}
                    {%item.flat_price.unit%}
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('公寓租金')%}</label>
                <div class="controls">
                    {%item.flat_rental.value%}
                    {%item.flat_rental.unit%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('附近学校')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('学校名')%}</th>
                                <th>{%$root.i18n('学校类型')%}</th>
                                <th>{%$root.i18n('年级')%}</th>
                                <th>{%$root.i18n('排名')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="school in item.schools">
                                <td>{%school.name[userLanguage.value]%}</td>
                                <td>{%school.type.value[userLanguage.value]%}</td>
                                <td>{%school.grade.value[userLanguage.value]%}</td>
                                <td>{%school.ranking%}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('附近生活服务设施得分')%}</label>
            <div class="controls form-inline">
                <td>{%item.walk_score%}</td>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('附近生活设施')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('设施名称')%}</th>
                                <th>{%$root.i18n('设施类型')%}</th>
                                <th>{%$root.i18n('设施地址')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="facility in item.facilities">
                                <td>{%facility.name[userLanguage.value]%}</td>
                                <td>{%facility.type.value[userLanguage.value]%}</td>
                                <td>{%facility.address[userLanguage.value]%}</td>
                                <td> {%facility.distance.value%}
                                    {%facility.distance.unit%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('附近交通设施综合得分')%}</label>
            <div class="controls form-inline">
                {%item.transit_score%}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('铁路线')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('路线名称')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="railway in item.railway_lines">
                                <td>{%railway.name[userLanguage.value]%}</td>
                                <td> {%railway.distance.value%}
                                    {%railway.distance.unit%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('公交路线')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('路线名称')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bus in item.bus_lines">
                                <td>{%bus.name[userLanguage.value]%}</td>
                                <td> {%bus.distance.value%}
                                    {%bus.distance.unit%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('汽车租赁点')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('租赁地点')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="car in item.car_rental_location">
                                <td>{%car.place[userLanguage.value]%}</td>
                                <td> {%car.distance.value%}
                                    {%car.distance.unit%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('自行车租赁点')%}</label>
                <div class="controls">
                    <div ng-model="item.bicycle_rental_location"></div>
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('租赁地点')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bicycle in item.bicycle_rental_location">
                                <td>{%bicycle.place[userLanguage.value]%}</td>
                                <td> {%bicycle.distance.value%}
                                    {%bicycle.distance.unit%}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区常驻人口数量')%}</label>
            <div class="controls form-inline">
                {%item.population%}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区常驻人口趋势描述')%}</label>
            <div class="controls form-inline">
                {%item.population_description%}
            </div>
        </div>
        <div class="row">

            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区年龄分布')%}</label>
                <div class="controls">
                    {%item.age_distribution%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区消费能力分布')%}</label>
                <div class="controls">
                    {%item.consumption_ability_distribution%}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区犯罪率统计图')%} </label>
            <div class="controls form-inline">
                {%item.crime_statistics%}
            </div>
        </div>
    </form>
</div>