<div ui-view>
    <span class="btn-group">
        <button class="btn" ui-sref=".create">
            <span class="fa fa-plus-circle"></span>添加预算
        </button>
    </span>

    <div get-budget></div>
    <table class="table table-bordered table-striped table-condensed"
        style="margin-bottom:30px">
        <colgroup>
            <col/>
            <col style="width: 120px;"/>
            <col style="width: 120px;"/>
            <col style="width: 80px;"/>
            <col style="width: 80px;"/>
        </colgroup>
        <tbody>
            <tr>
                <th>描述</th>
                <th>货币下限</th>
                <th>货币上限</th>
                <th>货币单位</th>
                <th>编辑</th>
            </tr>
            <tr ng-repeat="item in budget">
                <td>{%item.value[userLanguage.value]%}</td>
                <td>{%item.slug.substring(7, item.slug.indexOf(','))%}</td>
                <td>{%item.slug.substring((item.slug.indexOf(',')+1),item.slug.lastIndexOf(','))%}</td>
                <td>{%item.currency%}</td>
                <td style="text-align:center;">
                    <a class="btn btn-info" href ui-sref=".edit({id:item.id})" title="Edit">
                        <i class="fa fa-edit "></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="cities.length === 0" class="well" style="text-align:center;">No results</div>
</div>
