<div ui-view>

    <div class="row" style="min-height: 600px;">
        <div class="col-lg-12">
            <div class="buttons">

                <span class="form-inline">
                    <span add-on-search></span>
                </span>
                <div class="btn-group form-inline">
                    <div select-supported-country name="country" ng-model="selected.country" text="{%i18n('国家')%}"></div>
                </div>

                <div class="btn-group form-inline">
                    <div select-enum name="user_type" ng-model="selected.user_type" text="{%i18n('用户类型')%}"></div>
                </div>
                <div class="btn-group form-inline">
                    <div select-enum name="occupation" ng-model="selected.occupation" text="{%i18n('职业')%}"></div>
                </div>
                <span class="btn-group pull-right">
                    <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                    <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
                </span>


            </div>
            <table class="table table-bordered table-striped table-condensed" style="margin-top: 16px;">
                <colgroup>
                    <col class="nickname">
                    <col class="phone">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>{%$root.i18n('用户姓名')%}</th>
                        <th>{%$root.i18n('用户手机')%}</th>
                        <th>{%$root.i18n('用户邮箱')%}</th>
                        <th>{%$root.i18n('用户类型')%}</th>
                        <th>{%$root.i18n('职业')%}</th>
                        <th>{%$root.i18n('注册时间')%}</th>
                        <th>{%$root.i18n('备注')%}</th>
                        <th>{%$root.i18n('管理')%}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td>
                            <a href ui-sref=".detail.favs({id:item.id})">{%item.nickname%}</a>
                        </td>
                        <td>
                            {%item.phone%}
                            <i ng-if="!item.phone_verified" class="fa fa-check-circle btn btn-default btn-xs" tooltip data-title="{%$root.i18n('未验证')%}"></i>
                            <i ng-if="item.phone_verified" class="fa fa-check-circle btn btn-success btn-xs" tooltip data-title="{%$root.i18n('已验证')%}"></i>
                        </td>
                        <td>
                            {%item.email%}
                            <i ng-if="!item.email_verified" class="fa fa-check-circle btn btn-default btn-xs" tooltip data-title="{%$root.i18n('未验证')%}"></i>
                            <i ng-if="item.email_verified" class="fa fa-check-circle btn btn-success btn-xs" tooltip data-title="{%$root.i18n('已验证')%}"></i>
                        </td>
                        <td>
                            <div>
                                <span ng-repeat="user_type in item.user_type">{%user_type.value + ' '%}</span>
                            </div>
                        </td>
                        <td>
                            <div ng-if="item.occupation">{%item.occupation.value%}</div>
                        </td>
                        <td>
                            <div>{%(item.register_time?(item.register_time * 1000 | date : 'short'):'')%}</div>
                        </td>
                        <td>
                            <div edit-remark ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                        </td>
                        <td>
                            <a class="btn btn-success" href ui-sref=".detail.favs({id:item.id})" title="View">
                                <i class="fa fa-search-plus "></i>
                            </a>
                            <span ng-show="item.status !== 'suspended'" has-permission="admin,jr_admin,operation" class="btn btn-danger" ng-click="onSuspend(item,$index)" title="{%$root.i18n('禁用')%}">
                                <i class="fa fa-ban"></i>
                            </span>
                            <span ng-show="item.status === 'suspended'" has-permission="admin,jr_admin,operation" class="btn btn-success" ng-click="onActivate(item,$index)" title="{%$root.i18n('恢复')%}">
                                <i class="fa  fa-rotate-left"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
            <div class="buttons">
                <span class="btn-group pull-right">
                    <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
                    <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
                </span>

            </div>

        </div>
    </div>
    <!--/container-->
</div>
