<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}
            </button>
        </span>
    </div>
    <hr/>

    <form class="form-horizontal" method="post" autocomplete="on" ng-class="{submitted:submitted}"
        ng-submit="submit($event,createCrowdfunding)" name="createCrowdfunding" novalidate>
        <div class="row">
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages"
                    ng-model="userLanguage.value"></select>
            </div>
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="item for item in i18nCurrency" ng-model="userCurrency.value">
                    <option value="">-- {%$root.i18n('货币单位')%} --</option>
                </select>
            </div>
        </div>
        <div ng-controller="ctrlCrowdfundingItems">
            <tabset justified="true" style="margin: 16px 0;" ng-if="userLanguage.value && userCurrency.value">
                <tab heading="{%$root.i18n('通用信息')%}">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('名称')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.name" ng-model="item.name[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('房产类型')%}</label>

                            <div class="controls">
                                <div select-enum name="property_type" ng-model="item.property_type" slug="propertyType"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group   col-sm-12">
                            <label class="control-label">{%$root.i18n('投资类型')%}</label>
                            <div class="controls">
                                <div select-multiple-enums name="investment_type" ng-model="item.investment_type"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group   col-sm-12">
                            <label class="control-label">{%$root.i18n('投资标签')%}</label>
                            <div class="controls">
                                <div select-multiple-enums name="intention" ng-model="item.intention"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('国家')%}</label>

                            <div class="controls">
                                <div select-supported-country name="country" ng-model="item.country"></div>

                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('城市')%}</label>

                            <div class="controls">
                                <div select-city-by-country country="item.country" ng-model="item.city"></div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('街区')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.street" ng-model="item.street[userLanguage.value]"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('邮编')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.zipcode"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地址详情')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" type-i18n="item.address"
                                    ng-model="item.address[userLanguage.value]"/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<div class="form-group  col-sm-6">-->
                    <!--<label class="control-label">{%$root.i18n('真实地址')%}</label>-->

                    <!--<div class="controls">-->
                    <!--<input type="text" class="form-control" type-i18n="item.real_address"-->
                    <!--ng-model="item.real_address[userLanguage.value]"/>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="form-group  col-sm-6">
                            <label class="control-label">{%$root.i18n('地图位置')%}</label>

                            <div class="form-inline">
                                <input type="text" class="form-control  col-sm-3" ng-model="item.latitude"
                                    placeholder="Latitude"/>
                                <input type="text" class="form-control  col-sm-3" ng-model="item.longitude"
                                    placeholder="Longitude"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">{%$root.i18n('起投时间')%}</label>
                            <div class="controls">
                                <div edit-datetime ng-model="item.funding_start_date" style="width: 380px;"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">{%$root.i18n('截止时间')%}</label>

                            <div class="controls">
                                <div edit-datetime ng-model="item.funding_end_date" style="width: 380px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">{%$root.i18n('项目周期')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.term"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">{%$root.i18n('项目总金额')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.funding_goal"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="control-label">{%$root.i18n('项目起投金额')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.funding_min"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-6">

                            <div class="controls">
                                <div type-i18n="item.highlight"></div>
                                <table class="table table-bordered table-striped table-condensed "
                                    style="margin-bottom:30px">
                                    <colgroup>
                                        <col class="highlight">
                                        <col class="delete">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('亮点')%}</th>
                                            <th>{%$root.i18n('删除')%}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="point in item.highlight[userLanguage.value] track by $index">
                                            <td>
                                                <input type="text" ng-model="item.highlight[userLanguage.value][$index]"/>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveHighlight($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input type="button" ng-click="addHighlight()" class="btn btn-primary" value="{%$root.i18n('添加亮点')%}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最小预估年化回报率')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.min_annual_return_estimated" placeholder="e.g. 10%"/>
                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最大预估年化回报率')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.max_annual_return_estimated" placeholder="e.g. 15%"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最小年化现金回报预估')%}</label>
                            <div class="controls">
                                <!--<div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.min_annual_cash_return_estimated.price"></div>-->
                                <input type="text" class="form-control" ng-model="item.min_annual_cash_return_estimated" placeholder="e.g. 100.00"/>

                            </div>
                        </div>
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('最大年化现金回报预估')%}</label>
                            <div class="controls">
                                <!--<div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.max_annual_cash_return_estimated.price"></div>-->
                                <input type="text" class="form-control" ng-model="item.max_annual_cash_return_estimated" placeholder="e.g. 1000.00"/>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('详情')%}</label>

                            <div class="controls">
                                <textarea ng-model="item.description[userLanguage.value]" class="form-control" type-i18n="item.description" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-i18n-gallery-box="item.reality_images" cover="item.cover" width-limit="1280" watermark="true" thumbnail-size="320,213" text="{%$root.i18n('图片')%}{%$root.i18n('(最大宽度是1280px)')%}"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <div edit-videos="item.videos" text="视频"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">{%$root.i18n('相关资料')%}</label>

                            <div class="controls">
                                <div edit-materials ng-model="item.materials" text="{%$root.i18n('上传资料')%}"></div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('管理团队')%}">
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('开发商介绍')%}</label>

                            <div class="controls">
                                <div edit-rich-content ng-model="item.operator"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('管理团队')%}</label>
                            <div class="controls">
                                <div class="controls">
                                    <table class="table table-bordered table-striped table-condensed"
                                        style="margin-bottom:30px">
                                        <thead>
                                            <tr>
                                                <th>{%$root.i18n('姓名')%}</th>
                                                <th>{%$root.i18n('头像')%}</th>
                                                <th>{%$root.i18n('职位')%}</th>
                                                <th>{%$root.i18n('介绍')%}</th>
                                                <th>{%$root.i18n('领英')%}</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="manager in item.management_team">
                                                <td>
                                                    <input type="text" ng-model="manager.name[userLanguage.value]" class="form-control" type-i18n="manager.name"/>
                                                </td>
                                                <td>
                                                    <div edit-single-image ng-model="manager.avatar" width-limit="0" ratio="0" text="{%$root.i18n('添加头像')%}" watermark="false"></div>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="manager.title[userLanguage.value]" class="form-control" type-i18n="manager.title"/>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="manager.description[userLanguage.value]" class="form-control" type-i18n="manager.description"/>
                                                </td>
                                                <td>
                                                    <input type="text" ng-model="manager.linkedin_home" class="form-control"/>
                                                </td>
                                                <td>
                                                    <span class="btn btn-danger" ng-click="onRemoveManageTeam($index)" title="{%$root.i18n('移除')%}">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <input type="button" ng-click="addManageTeam()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('项目资产')%}">
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('项目财务分析介绍')%}</label>

                            <div class="controls">
                                <div edit-rich-content ng-model="item.financials"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label class="control-label">{%$root.i18n('项目资本结构')%}</label>

                            <div class="controls">
                                <table class="table table-bordered table-striped table-condensed"
                                    style="margin-bottom:30px">
                                    <thead>
                                        <tr>
                                            <th>{%$root.i18n('类型')%}</th>
                                            <th>{%$root.i18n('来源')%}</th>
                                            <th>{%$root.i18n('费用')%}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="capital in item.capital_structure">
                                            <td>
                                                <input type="text" ng-model="capital.type[userLanguage.value]" class="form-control" type-i18n="capital.type"/>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="capital.source[userLanguage.value]" class="form-control" type-i18n="capital.source"/>
                                            </td>
                                            <td>
                                                <input type="text" ng-model="capital.price" class="form-control"/>
                                            </td>
                                            <td>
                                                <span class="btn btn-danger" ng-click="onRemoveCapital($index)" title="{%$root.i18n('移除')%}">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <input type="button" ng-click="addCapital()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('审核单')%}">
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核备注')%}</label>

                            <div class="controls">
                                <input type="text" class="form-control" ng-model="item.comment"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-3">
                            <label class="control-label">{%$root.i18n('审核附件')%}</label>

                            <div class="controls">
                                <div edit-files ng-model="item.attachment" text="{%$root.i18n('上传附件')%}"></div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('创建草稿')%}" ng-if="userLanguage.value && userArea.value && userCurrency.value">
        <input type="button" class="btn btn-primary" value="{%$root.i18n('提交审核')%}" ng-if="userLanguage.value && userArea.value && userCurrency.value" ng-click="submitForReview($event,createCrowdfunding)">
    </form>
</div>
