<div>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>
    </div>
    <form name="reportEditForm" class="form-horizontal" ng-controller="ctrlReportItems"
        style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,reportEditForm)"
        novalidate>
        <div class="row">
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages"
                    ng-model="userLanguage.value"></select>
            </div>
            <div class="form-group col-sm-3">
                <select class="form-control" ng-options="item for item in i18nDistance" ng-model="userDistance.value">
                    <option value="">-- {%$root.i18n('长度单位')%} --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区名称')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" type-i18n="item.name" ng-model="item.name[userLanguage.value]"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区ID')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.zipcode_index"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区介绍')%}</label>
                <div class="controls">
                    <textarea ng-model="item.description[userLanguage.value]" class="form-control" type-i18n="item.description" rows="4"></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区图片')%}</label>
            <div class="controls form-inline">
                <div edit-single-image ng-model="item.image" width-limit="1280" text="{%$root.i18n('背景图')%}" watermark="false"></div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('国家')%}</label>

                <div class="controls">
                    <div select-enum name="country" ng-model="item.country"></div>

                </div>
            </div>
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('城市')%}</label>

                <div class="controls">
                    <div select-city-by-country country="item.country" ng-model="item.city"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('附近学校')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('学校名')%}</th>
                                <th>{%$root.i18n('学校类型')%}</th>
                                <th>{%$root.i18n('年级')%}</th>
                                <th>{%$root.i18n('排名')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="school in item.schools">
                                <td>
                                    <input type="text" type-i18n="school.name" ng-model="school.name[userLanguage.value]"
                                        class="form-control"/>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="p.id as p.value[userLanguage.value] for p in schoolTypeList" ng-model="school.type"></select>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="p.id as p.value[userLanguage.value] for p in gradeTypeList" ng-model="school.grade"></select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="school.ranking"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveSchool($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <input type="button" ng-click="addSchool()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('附近生活服务设施得分')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.walk_score"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('附近生活设施')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('设施名称')%}</th>
                                <th>{%$root.i18n('设施类型')%}</th>
                                <th>{%$root.i18n('设施地址')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="facility in item.facilities">
                                <td>
                                    <input type="text" type-i18n="facility.name" ng-model="facility.name[userLanguage.value]"
                                        class="form-control"/>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="p.id as p.value[userLanguage.value] for p in facilitiesList" ng-model="facility.type"></select>
                                </td>
                                <td>
                                    <input type="text" type-i18n="facility.address" ng-model="facility.address[userLanguage.value]"
                                        class="form-control"/>
                                </td>
                                <td>
                                    <div type-i18n-unit unit="userDistance.value" data="i18nDistance" ng-model="facility.distance"></div>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveFacilities($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <input type="button" ng-click="addFacilities()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('附近交通设施综合得分')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.transit_score"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('铁路线')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('路线名称')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="railway in item.railway_lines">
                                <td>
                                    <input type="text" ng-model="railway.name" class="form-control"/>
                                </td>
                                <td>
                                    <div type-i18n-unit unit="userDistance.value" data="i18nDistance" ng-model="railway.distance"></div>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveRailway($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="button" ng-click="addRailway()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('公交路线')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('路线名称')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bus in item.bus_lines">
                                <td>
                                    <input type="text" ng-model="bus.name" class="form-control"/>
                                </td>
                                <td>
                                    <div type-i18n-unit unit="userDistance.value" data="i18nDistance" ng-model="bus.distance"></div>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveBusStation($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="button" ng-click="addBusStation()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('汽车租赁点')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('租赁地点')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="car in item.car_rental_location">
                                <td>
                                    <input type="text" ng-model="car.place" class="form-control"/>
                                </td>
                                <td>
                                    <div type-i18n-unit unit="userDistance.value" data="i18nDistance" ng-model="car.distance"></div>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveCarRental($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="button" ng-click="addCarRental()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('自行车租赁点')%}</label>
                <div class="controls">
                    <div ng-model="item.bicycle_rental_location"></div>
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('租赁地点')%}</th>
                                <th>{%$root.i18n('距离')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="bicycle in item.bicycle_rental_location">
                                <td>
                                    <input type="text" ng-model="bicycle.place" class="form-control"/>
                                </td>
                                <td>
                                    <div type-i18n-unit unit="userDistance.value" data="i18nDistance" ng-model="bicycle.distance"></div>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveBicycleRental($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input type="button" ng-click="addBicycleRental()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区常驻人口数量')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.population"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区常驻人口趋势描述')%}</label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.population_description"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区年龄分布')%}</label>
                <div class="controls">
                    <div ng-model="item.age_distribution"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区消费能力分布')%}</label>
                <div class="controls">
                    <div ng-model="item.consumption_ability_distribution"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('街区犯罪率统计图')%} </label>
            <div class="controls form-inline">
                <input class="form-control" type="text" ng-model="item.crime_statistics"/>
            </div>
        </div>
        <div class="row" ui-on-Drop="onPlanning($event,$data)" drop-channel="planning">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区规划资讯')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('新闻标题')%}</th>
                                <th>{%$root.i18n('新闻摘要')%}</th>
                                <th>{%$root.i18n('来源')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <input type="button" ng-click="addPlanningNews()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                            <tr ng-repeat="news in item.planning_news">
                                <td>
                                    <input type="text" type-i18n="news.title" ng-model="news.title[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" type-i18n="news.summary" ng-model="news.summary[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="news.link" class="form-control"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemovePlanningNews($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ui-on-Drop="onSupplement($event,$data)" drop-channel="supplement">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区房屋供给资讯')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('新闻标题')%}</th>
                                <th>{%$root.i18n('新闻摘要')%}</th>
                                <th>{%$root.i18n('来源')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <input type="button" ng-click="addSupplementNews()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                            <tr ng-repeat="news in item.supplement_news">
                                <td>
                                    <input type="text" type-i18n="news.title" ng-model="news.title[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" type-i18n="news.summary" ng-model="news.summary[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="news.link" class="form-control"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveSupplementNews($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ui-on-Drop="onJob($event,$data)" drop-channel="job">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('街区就业机会资讯')%}</label>
                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <thead>
                            <tr>
                                <th>{%$root.i18n('新闻标题')%}</th>
                                <th>{%$root.i18n('新闻摘要')%}</th>
                                <th>{%$root.i18n('来源')%}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <input type="button" ng-click="addJobNews()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                                </td>
                            </tr>
                            <tr ng-repeat="news in item.job_news">
                                <td>
                                    <input type="text" type-i18n="news.title" ng-model="news.title[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" type-i18n="news.summary" ng-model="news.summary[userLanguage.value]" class="form-control"/>
                                </td>
                                <td>
                                    <input type="text" ng-model="news.link" class="form-control"/>
                                </td>
                                <td>
                                    <span class="btn btn-danger" ng-click="onRemoveJobNews($index)" title="{%$root.i18n('移除')%}">
                                        <i class="fa fa-trash-o"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-actions" style="margin-bottom: 80px;">
            <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
            <input type="button" ng-click="$state.go('^')" class="btn" value="{%$root.i18n('取消')%}">
        </div>
        <div class="help-block">* {%$root.i18n('必填')%}</div>
        <div style="width:20%;position:fixed;top:0;right:0;z-index: 100">
            <div style="display:block;margin:20px;padding:20px;">
                <table class="table table-bordered table-striped table-condensed">
                    <colgroup>
                        <col class="title">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <select class="form-control" ng-options="p as p.value[userLanguage.value] for p in newsCategoryList"
                                    ng-model="selected.category">
                                    <option value="">-- {%$root.i18n('请选择新闻类别')%} --</option>
                                </select></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in newsList">
                            <td ui-draggable="true" drag="{%$index+1%}" drag-channel="job,supplement,planning">
                                <span style="display: block" href>{%item.title[userLanguage.value]%}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tr>
                        <td>
                            <button style="float: left;" ng-hide="noPrev" class="btn" type="button" ng-click="prevPage()">←</button>
                            <button style="float: right;" ng-hide="noNext" class="btn" type="button" ng-click="nextPage()"> →</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>