<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}</button>
        </span>
        <span class="btn-group">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </span>
    </div>
    <form class="form-horizontal login" method="post" autocomplete="on" ng-class="{submitted:submitted}"
        ng-submit="submit($event,createProperty)" name="createProperty" novalidate>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('姓名')%}</label>

                <div class="controls">
                    {%item.nickname%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('电话')%}</label>

                <div class="controls">
                    {%item.phone%}
                </div>
            </div>
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('邮箱')%}</label>

                <div class="controls">
                    {%item.email%}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('指派')%}</label>

                <div class="controls">
                    <div add-assignee ng-model="item" type="intention_ticket"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('预算')%}</label>

                <div class="controls">
                    <div select-budget ng-model="item.budget" required></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('状态')%}</label>

                <div class="controls">
                    <div edit-ticket-status ng-model="item" type="intention"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('文字描述')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" ng-model="item.description" required/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('国家')%}</label>

                <div class="controls">
                    <div select-supported-country name="country" ng-model="item.country" required></div>
                </div>
            </div>
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('城市')%}</label>

                <div class="controls">
                    <div select-city-by-country country="item.country" ng-model="item.city"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('产权类型')%}</label>

                <div class="controls">
                    <div select-enum name="equity_type" ng-model="item.equity_type"></div>
                </div>
            </div>
            <div class="form-group col-sm-9">
                <label class="control-label">{%$root.i18n('投资意向标签')%}</label>

                <div class="controls">
                    <div select-multiple-enums name="intention" ng-model="item.intention"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div add-custom-fields></div>
            <div class="form-group  col-sm-6">
                <label class="control-label">{%$root.i18n('销售自定义描述')%}</label>

                <div class="controls">
                    <table class="table table-bordered table-striped table-condensed"
                        style="margin-bottom:30px">
                        <colgroup>
                            <col class="key">
                            <col class="value">
                        </colgroup>
                        <tbody>
                            <tr ng-repeat="field in item.custom_fields">
                                <td>{%field.key%}</td>
                                <td>{%field.value %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="controls form-inline">
                    <input type="text" ng-model="item.tempKey"
                        placeholder="{%$root.i18n('自定义项')%}" class="form-control"/>
                    <input type="text" ng-model="item.tempValue"
                        placeholder="{%$root.i18n('自定义项内容')%}" class="form-control"/>
                    <input type="button" ng-click="addCustomFields()" class="btn btn-primary" value="{%$root.i18n('添加')%}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('变更描述')%}</label>
                <input type="text" ng-model="item.updated_comment" placeholder="{%$root.i18n('变更描述内容')%}" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-sm-3">
                <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
            </div>
        </div>
    </form>
</div>
