<div style="min-height: 600px;">
    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col class="status">
            <col class="nickname">
            <col class="phone">
            <col class="email">
            <col class="date">
            <col class="actions">
        </colgroup>
        <thead>
        <tr>
            <th>状态</th>
            <th>客户姓名</th>
            <th>客户手机</th>
            <th>客户邮箱</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in list">
            <td>
                {%item.status | supportTicketStatusName%}
            </td>
            <td>
                {%item.nickname%}
            </td>
            <td>
                {%item.phone%}
            </td>
            <td>
                {%item.email%}
            </td>
            <td>
                {%item.time * 1000 | date : 'short'%}
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">No results</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn" ng-click="prevPage()">← 上一页</button>
            <button ng-hide="noNext" class="btn" ng-click="nextPage()">下一页 →</button>
        </span>
    </div>
</div>