<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}
            </button>
        </span>
        <div style="margin-top: 20px">
            <div class="btn-group form-inline">
                <div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.bedroom_count" placeholder="{%$root.i18n('居室数,填0表示studio')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.living_room_count" placeholder="{%$root.i18n('客厅数')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.kitchen_count" placeholder="{%$root.i18n('厨房数')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.bathroom_count" placeholder="{%$root.i18n('卫生间数')%}"/>
                    </div>
                </div>
                <div>
                    <div class="btn-group form-inline">
                        <input type="text" class="form-control" ng-model="selected.floor" placeholder="{%$root.i18n('楼层')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="text" class="form-control" ng-model="selected.zipcode_index" placeholder="{%$root.i18n('Postal Area')%}"/>
                    </div>
                </div>
                <div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.min_square" placeholder="{%$root.i18n('最小面积')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.max_square" placeholder="{%$root.i18n('最大面积')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <select class="form-control" ng-options="item for item in i18nArea" ng-model="userArea.value">
                            <option value="">-- {%$root.i18n('面积单位')%} --</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.min_money" placeholder="{%$root.i18n('最小金额')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <input type="number" min="0" class="form-control" ng-model="selected.max_money" placeholder="{%$root.i18n('最大金额')%}"/>
                    </div>
                    <div class="btn-group form-inline">
                        <select class="form-control" ng-options="item for item in i18nCurrency" ng-model="userCurrency.value">
                            <option value="">-- {%$root.i18n('货币单位')%} --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-group form-inline">
                <button class="btn btn-primary" ng-click="searchPlot()">{%$root.i18n('搜索')%}</button>
            </div>
        </div>
        <div>
            <div class="btn-group form-inline pull-right">
                <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
            </div>
        </div>
    </div>
    <div ng-controller="ctrlSortPlot">
        <table class="table table-bordered table-striped table-condensed" style="margin-bottom:30px">
            <colgroup>
            </colgroup>
            <thead>
                <tr>
                    <th ng-click="sort(0)">{%$root.i18n('名称')%}</th>
                    <th ng-click="sort(1)">{%$root.i18n('状态')%}</th>
                    <th>{%$root.i18n('类型')%}</th>
                    <th>{%$root.i18n('户型结构')%}</th>
                    <th ng-click="sort(2)">{%$root.i18n('面积')%}</th>
                    <th ng-click="sort(3)">{%$root.i18n('价格')%}</th>
                    <th ng-click="sort(4)">{%$root.i18n('楼层')%}</th>
                    <th ng-click="sort(5)">{%$root.i18n('备注')%}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list">
                    <td>
                        <div show-i18n="item.name"></div>
                    </td>
                    <td>{%item.status|plotStatusName%}</td>
                    <td>
                        <div ng-repeat="t in item.investment_type">
                            <div show-i18n="t.value"></div>
                        </div>
                    </td>
                    <td>
                        <table>
                            <tr ng-if="item.bedroom_count">
                                <td>{%$root.i18n('居室数')%}</td>
                                <td>{%item.bedroom_count|showBedroom%}</td>
                            </tr>
                            <tr ng-if="item.living_room_count">
                                <td>{%$root.i18n('客厅数')%}</td>
                                <td>{%item.living_room_count%}</td>
                            </tr>
                            <tr ng-if="item.bathroom_count">
                                <td>{%$root.i18n('卫生间数')%}</td>
                                <td>{%item.bathroom_count%}</td>
                            </tr>
                            <tr ng-if="item.kitchen_count">
                                <td>{%$root.i18n('厨房数')%}</td>
                                <td>{%item.kitchen_count%}</td>
                            </tr>
                        </table>
                    </td>
                    <td>{%item.space.value%}{%item.space.unit%}</td>
                    <td>{%item.total_price.value%}{%item.total_price.unit%}</td>
                    <td>{%item.floor%}</td>
                    <td>
                        <div style="max-width: 360px">{%item.description||''%}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
</div>
