<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()"><span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}</button>
        </span>
        <span class="btn-group">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </span>
    </div>
    <h2>{%$root.i18n('添加Affiliate')%}</h2>
    <form class="form-horizontal login" method="post" autocomplete="on" ng-submit="submit($event,createAffiliate)" name="createAffiliate" novalidate>
        <div get-existing-admin></div>
        <div class="form-group">
            <label class="control-label">{%$root.i18n('电话')%} *</label>
            <div class="controls form-inline">
                <div select-phone-country ng-model="item.phoneCountry"></div>

                <input class="form-control col-sm6" ng-model="item.phoneNumber" type="text" size="15"/>
                <span ng-show="isCheckingPhone">{%$root.i18n('正在查询')%}...</span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">{%$root.i18n('邮箱')%} *</label>

            <div class="controls">
                <input ng-disabled="existingItem.id" class="form-control" ng-model="item.email" type="email" style="width: 30em"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">{%$root.i18n('Affiliate Name')%} *</label>

            <div class="controls">
                <input ng-disabled="existingItem.id" class="form-control" ng-model="item.nickname" type="text" style="width: 20em"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">{%$root.i18n('Affiliate Code')%}</label>

            <div class="controls">
                <input type="text" class="form-control" ng-model="item.referralCode"/>
            </div>
        </div>

        <!--<div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('邮箱')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" ng-model="item.email" required ng-blur="item.query = item.email"/>
                </div>
            </div>
            <div class="form-group  col-sm-6">
                <label class="control-label">{%$root.i18n('电话')%}</label>
                &lt;!&ndash;<div add-ticket-phone ng-model="item.phone" user-id="item.userId"></div>&ndash;&gt;
                <div class="controls form-inline">
                    <div select-phone-country ng-model="item.phoneCountry" text="{%$root.i18n('国家')%}"></div>
                    <input type="text" class="form-control" ng-model="item.phoneNumber" ng-blur="item.query = item.phone"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('Affiliate Name')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" ng-model="item.nickname" required/>
                </div>
            </div>
            <div class="form-group  col-sm-3">
                <label class="control-label">{%$root.i18n('Affiliate Code')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" ng-model="item.referralCode"/>
                </div>
            </div>
        </div>-->
        <div class="row">
            <div class="form-group col-sm-3">
                <input type="submit" class="btn btn-primary" value="{%$root.i18n('添加')%}" ng-disabled="createAffiliate.$invalid">
            </div>
        </div>
    </form>
</div>
