<style type="text/css">
    .btn-primary.disabled, .btn-primary[disabled], .btn-success.disabled, .btn-success[disabled], .btn-info.disabled, .btn-info[disabled] {
        background-color: #bbb;
    }
</style>
<div class="buttons">

    <span class="btn-group">
        <button class="btn btnGoBack" ng-click="onBackClick()">
            <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
        </button>
    </span>
    <span class="btn-group pull-right" style="margin-left: 20px;">
        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(item,$index)" title="{%$root.i18n('移除咨询单')%}">
            <i class="fa fa-trash-o"></i>
            {%$root.i18n('移除咨询单')%}
        </span>
    </span>
    <span class="btn-group pull-right" ng-if="item" ng-init="ticketItem = item.interested_rent_tickets[0]" ng-controller="ctrlRentDetail">
        <a class="btn btn-info" target="_blank" ng-href="/property-to-rent/{% ticketItem.id %}/edit?editor=admin" title="{% $root.i18n('编辑目标房源') %}">
            <i class="fa fa-pencil"></i>
        </a>
        <span has-permission="admin,jr_admin" class="btn btn-success" ng-click="onRefresh(ticketItem,$index)" title="{%$root.i18n('刷新目标房源')%}">
            <i class="fa fa-refresh"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onRentOut(ticketItem,$index)" title="{%$root.i18n('已租出')%}">
            <i class="fa fa-sign-out"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-warning" ng-click="onSuspend(ticketItem,$index)" title="{%$root.i18n('下架并通知')%}">
            <i class="fa fa-minus-circle"></i>
        </span>
        <span has-permission="admin,jr_admin" class="btn btn-danger" ng-click="onRemove(ticketItem,$index)" title="{%$root.i18n('移除目标房源')%}">
            <i class="fa fa-trash-o"></i>
        </span>

    </span>

</div>
<div ng-init="expand=true" class="panel panel-default" style="margin: 16px 0;">
    <div class="panel-heading clearfix">
        <span class="pull-left" style="margin-right: 10px;line-height: 30px;">{%$root.i18n('当前状态')%}</span>
        <span class="pull-left" edit-rent-intention-ticket-status ng-model="item" new-status="newStatus"></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-if="newStatus && messageTemplate[newStatus]" ng-class="{'btn-primary': activeTab === 'messageTemplate'}" ng-click="switchTab('messageTemplate')">{%$root.i18n('短信模板')%}</button>
            <button type="button" class="btn btn-default" ng-if="newStatus && emailTemplate[newStatus]" ng-class="{'btn-primary': activeTab === 'emailTemplate'}" ng-click="switchTab('emailTemplate')">{%$root.i18n('邮件模板')%}</button>
            <button type="button" class="btn btn-default" ng-class="{'btn-primary': activeTab === 'dynamic'}" ng-click="switchTab('dynamic')">{%$root.i18n('动态')%}</button>
            <button type="button" class="btn btn-info" ng-show="!expand" ng-click="expand = !expand"><i class="fa fa-angle-down"></i><span>{%$root.i18n('展开')%}</span></button>
            <button type="button" class="btn btn-info" ng-show="expand" ng-click="expand = !expand"><i class="fa fa-angle-up"></i><span>{%$root.i18n('收起')%}</span></button>
        </div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'messageTemplate' && expand">
        <div class="clearfix">
            <select ng-options="p.title for p in messageTemplate[newStatus]" ng-model="selectedMessageTemplate" class="form-control input-sm pull-right" style="width: 130px; margin-bottom: 10px;">
                <!--<option value="">&#45;&#45; {%$root.i18n('选择短信模板')%} &#45;&#45;</option>-->
            </select>
        </div>
        <div ng-if="newStatus && messageTemplate[newStatus]">
            <div edit-message ng-model="message" template="selectedMessageTemplate.url" role="{%selectedMessageTemplate.role%}"></div>
            <div class="clearfix">
                <button class="btn btn-primary pull-right" ng-if="selectedMessageTemplate.role === 'landlord' && message" ng-click="sendToLandlord(message)" ng-disabled="item.disableSms">{%$root.i18n('发送给房东')%}</button>
                <button class="btn btn-primary pull-right" ng-if="selectedMessageTemplate.role === 'tenant' && message" ng-click="sendToTenant(message)" ng-disabled="item.disableSms">{%$root.i18n('发送给租客')%}</button>
            </div>
            <div ng-if="item.disableSms" style="margin-top: 20px;" class="alert alert-warning" role="alert">
                {%$root.i18n('由于存在非英国号码，短信系统暂时无法使用，请手动发送(房东号码：')
                + '+' + item.interested_rent_tickets[0].creator_user.country_code + item.interested_rent_tickets[0].creator_user.phone + '，'
                + $root.i18n('租客号码：') + '+' + item.creator_user.country_code + item.creator_user.phone + ')'%}
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'emailTemplate' && expand" style="position: relative;">
        <select ng-options="p.title for p in emailTemplate[newStatus]" ng-model="selectedEmailTemplate" class="form-control input-sm" style="width: 130px;position: absolute;margin-bottom: 10px;right: 15px;top: 10px;z-index: 100;">
            <!--<option value="">&#45;&#45; {%$root.i18n('选择邮件模板')%} &#45;&#45;</option>-->
        </select>
        <div ng-if="newStatus && emailTemplate[newStatus]" edit-rich-content-of-template ng-model="email" template="selectedEmailTemplate.url" role="{%selectedEmailTemplate.role%}"></div>
    </div>
    <div class="panel-body" ng-show="activeTab === 'dynamic' && expand">
        <div ng-if="item">
            <div show-dynamic scroll-glue ng-model="item" status="newStatus" user="user" style="margin: 0 -15px;padding: 0 15px; min-height: 500px;max-height: 800px; overflow-y: auto;" forward-to-landlord="forwardToLandlord" forward-to-tenant="forwardToTenant" reject-message="rejectMessage"></div>
            <div add-dynamic="addDynamic(data)" send-to-landlord="sendToLandlord(content)" send-to-tenant="sendToTenant(content)" ng-model="item" disable-sms="item.disableSms"></div>
        </div>
    </div>
</div>

<tabset style="margin: 16px 0;" ng-if="item.interested_rent_tickets">
    <tab heading="{%$root.i18n('咨询单信息')%}">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('租客信息')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-6" ng-if="item.creator_user.nickname">
                                <label class="control-label">{%$root.i18n('姓名')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.nickname%}</span>
                                </div>
                            </div>

                            <div class="form-group  col-sm-6" ng-if="item.creator_user.country.code">
                                <label class="control-label">{%$root.i18n('国家')%}</label>

                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" display-country-name="item.creator_user.country.code"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.phone">
                                <label class="control-label">{%$root.i18n('电话')%}</label>

                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.phone%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.email">
                                <label class="control-label">{%$root.i18n('邮箱')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.email%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.creator_user.gender">
                                <label class="control-label">{%$root.i18n('性别')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.creator_user.gender%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.occupation">
                                <label class="control-label">{%$root.i18n('职业')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" show-i18n="item.occupation.value"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.age">
                                <label class="control-label">{%$root.i18n('年龄')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.age | number:0%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.referrer">
                                <label class="control-label">{%$root.i18n('用户来源')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input" ng-bind="item.referrer | userReferrer"></span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.log">
                                <label class="control-label">{%$root.i18n('IP')%}</label>
                                <div class="controls">
                                    <a ng-href="{% item.log.link %}" target="_blank">{% item.log.ip %}</a>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.custom_fields">
                                <label class="control-label">{%$root.i18n('Relocate')%}</label>
                                <div class="controls">
                                    <div edit-relocate-field ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('入住信息')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-6" ng-if="item.time">
                                <label class="control-label">{%$root.i18n('创建时间')%}</label>

                                <div class="controls">
                                    <span>{% item.time * 1000 | date : 'yyyy-MM-dd H:mm'%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12">
                                <label class="control-label">{%$root.i18n('入住&搬出时间')%}</label>

                                <div class="controls">

                                    <div><span>{% item.rent_available_time * 1000 | date : 'yyyy-MM-dd'%}{%$root.i18n('至')%}{% item.rent_deadline_time * 1000 | date : 'yyyy-MM-dd'%}</span></div>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.tenant_count">
                                <label class="control-label">{%$root.i18n('入住人数')%}</label>
                                <div class="controls">
                                    <span>{% item.tenant_count%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.smoke !== undefined">
                                <label class="control-label">{%$root.i18n('是否吸烟')%}</label>
                                <div class="controls">
                                    <span>{% item.smoke%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.baby !== undefined">
                                <label class="control-label">{%$root.i18n('是否带小孩')%}</label>
                                <div class="controls">
                                    <span>{% item.baby%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-6" ng-if="item.pet !== undefined">
                                <label class="control-label">{%$root.i18n('是否带宠物')%}</label>
                                <div class="controls">
                                    <span>{% item.pet%}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{%$root.i18n('其他')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-sm-12" ng-if="item.description">
                                <label class="control-label">{%$root.i18n('描述')%}</label>
                                <div class="controls">
                                    <span>{% item.description%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12" ng-if="item.description">
                                <label class="control-label">{%$root.i18n('备注信息')%}</label>
                                <div class="controls">
                                    <div edit-remark ng-model="item.custom_fields" update="updateItem(data)" item-id="item.id"></div>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12" ng-if="item.visa">
                                <label class="control-label">{%$root.i18n('Visa')%}</label>
                                <div class="controls">
                                    <img class="img-thumbnail" ng-src="{%item.visa%}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{%$root.i18n('房产信息')%}" ng-controller="ctrlRentDetail" ng-init="item = item.interested_rent_tickets[0]">
        <!-- @@include =./dashboard.rent.detail.tabProperty.tpl.html -->
    </tab>
    <tab heading="{%$root.i18n('出租信息')%}" ng-controller="ctrlRentDetail" ng-init="item = item.interested_rent_tickets[0]">
        <!-- @@include =./dashboard.rent.detail.tabRent.tpl.html -->
    </tab>
    <tab heading="{%$root.i18n('不合要求信息')%}" ng-if="item.unmatchRequirements && item.unmatchRequirements.length">
        <table class="table table-striped table-bordered">
            <caption>{%$root.i18n('以下租客申请信息与当前房屋不匹配：')%}</caption>
            <thead>
                <tr>
                    <th>{%$root.i18n('租客申请')%}</th>
                    <th>{%$root.i18n('房东要求')%}</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in item.unmatchRequirements">
                <tr>
                    <td><i class="icon-delete"></i><span ng-bind="item.request"></span></td>
                    <td ng-bind="item.requirement"></td>
                </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="{%$root.i18n('优惠券信息')%}" ng-if="item.offer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="display: inline-block;">{%$root.i18n('优惠券')%}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group  col-lg-6" ng-if="item.offer.status">
                                <label class="control-label">{%$root.i18n('状态')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.offer.status | keyName:couponStatus%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.offer.discount">
                                <label class="control-label">{%$root.i18n('金额')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.offer.discount.value | currency : currencyTypes[item.offer.discount.unit] : 2%}</span>
                                </div>
                            </div>
                            <div class="form-group  col-lg-6" ng-if="item.offer.expire_time">
                                <label class="control-label">{%$root.i18n('过期时间')%}</label>
                                <div class="controls">
                                    <span class="input-xlarge uneditable-input">{%item.offer.expire_time * 1000 | date : 'short'%}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>
