<div style="min-height: 600px;" ui-view>
    <table class="table table-bordered table-striped table-condensed">
        <colgroup>
            <col class="status">
            <col class="nickname">
            <col class="phone">
            <col class="email">
            <col class="submitTime">
            <col class="changeTime">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th width="50%">{%$root.i18n('标题')%}</th>
                <th width="30%">{%$root.i18n('收藏类型')%}</th>
                <th width="20%">{%$root.i18n('管理')%}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in list">
                <td>
                    <div ng-bind="item.property.name || item.item.name || item.ticket.title"></div>
                </td>
                <td>
                    <div ng-bind="item.type | keyName:favoriteTypes"></div>
                </td>

                <td>
                    <a ng-if="item.property" class="btn btn-success" href ui-sref="dashboard.property.detail({id:item.property.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                    <a ng-if="item.ticket" class="btn btn-success" href ui-sref="dashboard.rent.detail({id:item.ticket.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                    <a ng-if="item.item" class="btn btn-success" href ui-sref="dashboard.crowdfunding.item.detail({shop_id:item.item.shop_id,id:item.item.id})" title="View">
                        <i class="fa fa-search-plus "></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="fetched && list.length === 0" class="well" style="text-align:center;">{%$root.i18n('没有结果')%}</div>
    <div class="buttons">
        <span class="btn-group pull-right">
            <button ng-hide="noPrev" class="btn btnRequestSequence" ng-click="prevPage()">← {%$root.i18n('上一页')%}</button>
            <button ng-hide="noNext" class="btn btnRequestSequence" ng-click="nextPage()">{%$root.i18n('下一页')%} →</button>
        </span>
    </div>
</div>