<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}</button>
    </span>
    <span class="btn-group">
        <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
    </span>

</div>
<div class="form-horizontal" style="max-width: 800px; padding-bottom: 100px;">

    <div class="form-group">
        <div class="row col-sm-3">
            <label class="control-label">{%$root.i18n('频道名')%} *</label>
            <div class="controls">
                <span class="uneditable-input ">{%item.channel%}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row col-sm-3">
            <label class="control-label">{%$root.i18n('描述')%}</label>

            <div class="controls">
                <span class="uneditable-input" type-i18n="item.description">{%item.description[userLanguage.value]%}</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-group col-sm-6">
                <label class="control-label">{%$root.i18n('链接')%}</label>

                <div class="controls">
                    <span class="uneditable-input">{%item.link%}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row" ng-if="item.image">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('图片')%}</label>

                <div class="controls row">
                    <div style="margin-bottom:30px" class="col-sm-3 ">
                        <img class="img-thumbnail" ng-src="{%item.image%}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('图片缺失时的内容')%}</label>
                <div class="controls">
                    <span class="uneditable-input" type-i18n="item.image_alt">{%item.image_alt[userLanguage.value]%}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">{%$root.i18n('文本内容')%}</label>

        <div class="controls">
            <table class="table table-bordered table-striped table-condensed "
                style="margin-bottom:30px">
                <colgroup>
                    <col class="language">
                    <col class="text">
                </colgroup>
                <thead>
                    <tr>
                        <th>{%$root.i18n('语言')%}</th>
                        <th>{%$root.i18n('内容')%}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tempText in item.text[userLanguage.value]">
                        <td><span class="uneditable-input">{%userLanguage.value%}</span></td>
                        <td><span class="uneditable-input">{%tempText%}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
