<div class="buttons">
    <span class="btn-group">
        <button class="btn" ng-click="$state.go('^')"><span class="fa fa-chevron-left"></span> Back</button>
    </span>
</div>
<form name="projectEditForm" class="form-horizontal" style="max-width: 800px; padding-bottom: 100px;"
    ng-submit="submit($event,projectEditForm)">
    <div class="form-group">
        <label class="control-label">First Name</label>
        <div class="controls" style="max-width: 20em;">
            <input name="name" class="form-control" type="text" ng-model="item.first_name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Last Name</label>
        <div class="controls" style="max-width: 20em;">
            <input name="name" class="form-control" type="text" ng-model="item.last_name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Face Icon</label>
        <div class="controls">
            <single-image-edit ng-model="item.face" width-limit="400" ratio="1" thumbnail-size="200,200"></single-image-edit>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Title</label>
        <div class="controls">
            <input name="link" class="form-control" type="text" ng-model="item.title">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <div class="controls">
            <textarea ng-model="item.description" class="form-control" rows="3" style="resize: none;"></textarea>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" bbg-disabler="loading" value="Save Changes">
        <input type="button" ng-click="$state.go('^')" class="btn" value="Cancel">
    </div>
</form>
