<div ui-view>
    <div class="buttons">
        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span>{%$root.i18n('返回')%}
            </button>
        </span>
        <div class="btn-group form-inline">
            <div select-property-or-student-item="item.property_id"></div>
        </div>

        <div class="btn-group form-inline pull-right">
            <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
        </div>
    </div>
    <form class="form-horizontal" method="post" autocomplete="on" ng-class="{submitted:submitted}"
        ng-submit="submit($event,createPlot)" name="createPlot" novalidate>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('名称')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" type-i18n="item.name" ng-model="item.name[userLanguage.value]"/>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('楼层')%}</label>

                <div class="controls">
                    <input type="text" class="form-control" ng-model="item.floor"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('状态')%}</label>

                <div class="controls">
                    <select class="form-control" ng-options="p.value as p.name for p in plotStatus" ng-model="item.status"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('投资类型')%}</label>
                <div class="controls">
                    <div select-multiple-enums name="investment_type" ng-model="item.investment_type"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('面积')%}</label>

                <div class="controls">
                    <div type-i18n-unit unit="userArea.value" data="i18nArea" ng-model="item.space"></div>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('价格')%}</label>

                <div class="controls">
                    <div type-i18n-unit unit="userCurrency.value" data="i18nCurrency" ng-model="item.total_price"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('卧室数,填0表示studio')%}</label>
                <div class="controls">
                    <input type="number" min="0" class="form-control" ng-model="item.bedroom_count"/>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('客厅数')%}</label>

                <div class="controls">
                    <input type="number" min="0" class="form-control" ng-model="item.living_room_count"/>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('厨房数')%}</label>

                <div class="controls">
                    <input type="number" min="0" class="form-control" ng-model="item.kitchen_count"/>
                </div>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label">{%$root.i18n('浴室数')%}</label>

                <div class="controls">
                    <input type="number" min="0" class="form-control" ng-model="item.bathroom_count"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12">
                <label class="control-label">{%$root.i18n('备注')%}</label>

                <div class="controls">
                    <textarea ng-model="item.description" class="form-control" rows="4"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">

    </form>
</div>
