<div ui-view>
    <div class="buttons">

        <span class="btn-group">
            <button class="btn btnGoBack" ng-click="onBackClick()">
                <span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}
            </button>
        </span>

    </div>
    <form>
        <div ng-controller="ctrlHasPermission">
            <tabset justified="true" style="margin: 16px 0;">
                <tab heading="{%$root.i18n('房产信息')%}">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('概览')%}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group  col-sm-6"  ng-if="item.title">
                                            <label class="control-label">{%$root.i18n('名称')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.title"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.property_type">
                                            <label class="control-label">{%$root.i18n('房产类型')%}</label>
                                            <div class="controls">
                                                <div show-i18n="item.property.property_type.value"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.landlord_type">
                                            <label class="control-label">{%$root.i18n('房东类型')%}</label>
                                            <div class="controls">
                                                <div show-i18n="item.landlord_type.value"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-12" ng-if="item.description">
                                            <label class="control-label">{%$root.i18n('详情')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.description"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" ng-if="item.creator_user">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('房东信息')%}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group  col-sm-6" ng-if="item.creator_user.nickname">
                                            <label class="control-label">{%$root.i18n('姓名')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.creator_user.nickname%}</span>
                                            </div>
                                        </div>

                                        <div class="form-group  col-sm-6" ng-if="item.creator_user.country.code">
                                            <label class="control-label">{%$root.i18n('国家')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input" display-country-name="item.creator_user.country.code"></span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-lg-6" ng-if="item.creator_user.phone">
                                            <label class="control-label">{%$root.i18n('电话')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.creator_user.phone%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-lg-6" ng-if="item.creator_user.email">
                                            <label class="control-label">{%$root.i18n('邮箱')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.creator_user.email%}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('房屋信息')%}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group  col-sm-6" ng-if="item.property.bedroom_count !== undefined">
                                            <label class="control-label">{%$root.i18n('居室数')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.bedroom_count%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.living_room_count !== undefined">
                                            <label class="control-label">{%$root.i18n('客厅数')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.living_room_count%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.bathroom_count !== undefined">
                                            <label class="control-label">{%$root.i18n('卫生间数')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.bathroom_count%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.kitchen_count !== undefined">
                                            <label class="control-label">{%$root.i18n('厨房数')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.kitchen_count%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.space">
                                            <label class="control-label">{%$root.i18n('面积')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.space.value | number : 2%} {%item.property.space.unit %}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('位置信息')%}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group  col-sm-6" ng-if="item.property.country">
                                            <label class="control-label">{%$root.i18n('国家')%}</label>

                                            <div class="controls">
                                                <div display-country-name="item.property.country.code"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.city">
                                            <label class="control-label">{%$root.i18n('城市')%}</label>

                                            <div class="controls">
                                                <div><span>{% item.property.city.name %}</span></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.street">
                                            <label class="control-label">{%$root.i18n('街道')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.property.street[userLanguage.value]"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.community">
                                            <label class="control-label">{%$root.i18n('小区')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.property.community[userLanguage.value]"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.floor">
                                            <label class="control-label">{%$root.i18n('楼层')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.property.floor[userLanguage.value]"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.house_name">
                                            <label class="control-label">{%$root.i18n('门牌号')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.property.house_name[userLanguage.value]"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.zipcode">
                                            <label class="control-label">{%$root.i18n('邮编')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.zipcode%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6" ng-if="item.property.zipcode_index">
                                            <label class="control-label">{%$root.i18n('Postal Area')%}</label>

                                            <div class="controls">
                                                <span class="input-xlarge uneditable-input">{%item.property.zipcode_index%}</span>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-12"  ng-if="item.property.address">
                                            <label class="control-label">{%$root.i18n('地址详情')%}</label>

                                            <div class="controls">
                                                <div ng-bind="item.property.address[userLanguage.value]"></div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-12" ng-if="item.property.latitude||item.property.longitude">
                                            <label class="control-label">{%$root.i18n('地图位置')%}</label>

                                            <div class="form-inline">

                                                <span class="input-xlarge uneditable-input">{%$root.i18n('维度:')%}</span>
                                                <span class="input-xlarge uneditable-input">{%item.property.latitude%}</span>
                                                <span class="input-xlarge uneditable-input">{%$root.i18n('经度:')%}</span>
                                                <span class="input-xlarge uneditable-input">{%item.property.longitude%}</span>
                                                <span class="input-xlarge uneditable-input">
                                                    <a ng-href="http://dev.virtualearth.net/embeddedMap/v1/ajax/Road?zoomLevel=14&center={%item.property.latitude%}_{%item.property.longitude%}&pushpins={%item.property.latitude%}_{%item.property.longitude%}">{%$root.i18n('[查看Bing地图]')%}</a>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default" ng-if="item.property.indoor_facility.length || item.property.community_facility.length">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('设施')%}</h3>
                                    </div>
                                    <style>
                                        .label{display: inline-block;margin: 5px;}
                                    </style>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-if="item.property.indoor_facility.length">
                                            {%$root.i18n('居家设施：')%}
                                            <span class="label label-default" ng-repeat="f in item.property.indoor_facility" ng-model="f.value"></span>
                                        </li>
                                        <li class="list-group-item" ng-if="item.property.community_facility.length">
                                            {%$root.i18n('社区设施：')%}
                                            <span class="label label-default" ng-repeat="f in item.property.community_facility" ng-model="f.value"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="panel panel-default" ng-if="item.property.reality_images">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('实景图')%}</h3>
                                    </div>
                                    <div class="pannel-body">
                                        <div class="controls">
                                            <img class="img-thumbnail" ng-repeat="img in item.property.reality_images[userLanguage.value]"
                                                ng-src="{%img%} ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="{%$root.i18n('出租信息')%}">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{%$root.i18n('出租信息')%}</h3>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item clearfix">
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('出租类型:')%}
                                                <span class="input-xlarge uneditable-input" show-i18n="item.rent_type.value"></span>
                                            </div>

                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('面积:')%}
                                                <span ng-if="item.rent_type.slug === 'rent_type:whole'" class="input-xlarge uneditable-input">{%item.property.space.value | number : 2%} {%item.property.space.unit %}</span>
                                                <span ng-if="item.rent_type.slug === 'rent_type:single'" class="input-xlarge uneditable-input">{%item.space.value | number : 2%} {%item.space.unit %}</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item clearfix">
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('租金(每周):')%}
                                                <span class="input-xlarge uneditable-input" ng-bind="item.price.value | currency : currencyTypes[item.price.unit] : 2"></span>
                                                <span class="input-xlarge uneditable-input" ng-if="item.bill_covered">{%$root.i18n('(包Bill)')%}</span>

                                            </div>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('支付方式:')%}
                                                <span class="input-xlarge uneditable-input" show-i18n="item.deposit_type.value"></span>
                                            </div>

                                        </li>
                                        <li class="list-group-item clearfix">

                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('最短租期:')%}
                                                <!-- todo -->
                                                <span class="input-xlarge uneditable-input" ng-bind="item.minimum_rent_period | timePeriod"></span>
                                            </div>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('开始时间:')%}
                                                <span class="input-xlarge uneditable-input" ng-if="item.rent_available_time" ng-bind="item.rent_available_time * 1000 | date : 'yyyy-MM-dd H:mm'"></span>
                                            </div>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                {%$root.i18n('结束时间:')%}
                                                <span class="input-xlarge uneditable-input" ng-if="item.rent_deadline_time" ng-bind="item.rent_deadline_time * 1000 | date : 'yyyy-MM-dd H:mm'"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>

        </div>
    </form>
</div>
