<div class="buttons">
    <span class="btn-group">
        <button class="btn btnGoBack"><span class="fa fa-chevron-left"></span> {%$root.i18n('返回')%}</button>
    </span>
    <div class="btn-group form-inline pull-right" style="margin-right: 10px">
        <select class="form-control" ng-options="p.value as p.name for p in i18nLanguages" ng-model="userLanguage.value"></select>
    </div>
</div>
<form name="messageCreateForm" class="form-horizontal"
    style="max-width: 800px; padding-bottom: 100px;" ng-submit="submit($event,messageCreateForm)"
    novalidate>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('类别')%} *</label>

        <div class="controls">
            <select class="form-control" ng-model="item.type" style="width: 185px;"
                ng-options="p.value as p.name for p in messageTypes">
                <option value="">-- {%$root.i18n('选择')%} --</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('标题')%} *</label>


        <div class="controls form-inline">

            <input class="form-control" type="text" type-i18n="item.title" ng-model="item.title[userLanguage.value]"/>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('内容')%} *</label>


        <div class="controls form-inline">

            <input class="form-control" type="text" type-i18n="item.text" ng-model="item.text[userLanguage.value]"/>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{%$root.i18n('目标')%} </label>


        <div class="controls form-inline">
            <input class="form-control" type="text" ng-model="item.target"/>
        </div>
    </div>

    <div class="form-actions" style="margin-bottom: 80px;">
        <input type="submit" class="btn btn-primary" value="{%$root.i18n('提交')%}">
        <input type="button btnGoBack" class="btn" value="{%$root.i18n('取消')%}">
    </div>
    <div class="help-block">* {%$root.i18n('必填')%}</div>
</form>
