<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2>{%text%}</h2>

                    <div class="box-icon">
                        <a class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div ng-repeat="video in videoList">
                        <div class="row">
                            <!--<div class="form-group col-sm-12">-->
                                <!--<label class="control-label">{%$root.i18n('上传封面')%}</label>-->
                                <!--<div edit-single-image ng-model="item.poster" width-limit="1920" ratio="3" text="{%$root.i18n('添加图片')%}"></div>-->
                            <!--</div>-->
                            <div class="form-group col-sm-3">
                                <label class="control-label">{%$root.i18n('上传iOS适配的MP4至七牛')%}</label>
                                <div class="controls">
                                    <div edit-video-by-type host="qiniu" type="video/mp4" tags="mobile-ios" ng-model="video.sources"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label">{%$root.i18n('上传Web页面的MP4至七牛')%}</label>
                                <div class="controls">
                                    <div edit-video-by-type host="qiniu" type="video/mp4" tags="web-normal" ng-model="video.sources"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label">{%$root.i18n('上传iOS适配的至AWS')%}</label>
                                <div class="controls">
                                    <div edit-video-by-type host="aws_s3" type="video/mp4" tags="mobile-ios" ng-model="video.sources"></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-3">
                                <label class="control-label">{%$root.i18n('上传Web页面的MP4至AWS')%}</label>
                                <div class="controls">
                                    <div edit-video-by-type host="aws_s3" type="video/mp4" tags="web-normal" ng-model="video.sources"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="addVideo()" ng-if="!videoList">{%$root.i18n('添加视频')%}</button>
                </div>
            </div>
        </div>
        <!--/col-->

    </div>
    <!--/row-->
</div>