<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2>{%text%}</h2>
                </div>
                <div class="box-content">
                    <div id="links" class="links row">
                        <div style="width: 320px ;height: 213px; margin:8px; position: relative;"
                            ng-repeat="image in images track by $index" class="col-sm-3">
                            <a ng-href="{% image %}" ng-style="{'visibility':image===''?'hidden':'visibility'}" title="{%$index+1%}" data-gallery>
                                <img class="img-thumbnail" style="width:100%; height: 100%" ng-src="{% image | thumbnail %}">
                            </a>
                            <div ng-if="!isNotCover($index)" style="width: 100%; height: 100%;line-height:200px;text-align: center;vertical-align: middle;background-color: #ff8a00;opacity:0.4;position: absolute;left:0;right:0;top:0;bottom:0">
                                <h1>{%'封面'%}</h1>
                            </div>
                            <span ng-style="{'visibility':image===''?'visibility':'hidden'}" style="position: absolute; top:50%; left: 50%;">
                                <i class="fa fa-spinner fa-spin"></i>
                            </span>
                            <button ng-if="isOurImage(image)" class="btn btn-sm" style="position: absolute; bottom:0; left: 0;" ng-click="uploadImage(image)"
                                type="button">{%$root.i18n('上传本站')%}
                            </button>
                            <button class="btn btn-sm" style="position: absolute; bottom:0; right: 0;" ng-click="removeImage($index)"
                                type="button">{%$root.i18n('移除')%}
                            </button>
                            <button ng-if="isNotCover($index)" class="btn btn-sm" style="position: absolute; top:0; right: 0;" ng-click="setCover($index)"
                                type="button">{%$root.i18n('设为封面')%}
                            </button>
                        </div>
                    </div>
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <div style="width: 100%; height: 200px;line-height:200px;text-align: center;vertical-align: middle;background-color: #bbb" ng-file-select="onFileSelected($files)" onclick="this.value = null">
                        {%'图片拖到此处上传或点击上传'%}
                    </div>
                </div>
            </div>
        </div>
        <!--/col-->

    </div>
    <!--/row-->
</div>