<div class="input-group date">
    <label class="input-group-addon" for="2384f62b-98b9-4bfe-a650-7bbf8f8139d3"><i class="fa fa-calendar"></i></label>
    <input id="2384f62b-98b9-4bfe-a650-7bbf8f8139d3" type="text" class="form-control" ng-model="display"
        datepicker-popup="yyyy/MM/dd" is-open="opened" close-text="Close" ng-click="opened=true"
        datepicker-options="{showWeeks:false}" show-button-bar="false" placeholder="{%placeholder%}" date-disabled="dateDisabled(date, mode)"/>
</div>
