<div class="editSynonymsWrap">
    <div class="wordsWrap" ng-if="!edit">
        <span ng-repeat="word in wordList track by $index" ng-bind="word" class="label label-default"></span>
    </div>
    <div ng-if="edit">
        <div class="wordsWrap">
            <span ng-repeat="word in wordList track by $index" class="label label-primary label-edit">
                {% word %}
                <button type="button" class="close" aria-label="Close" ng-click="removeWord($index)"><span aria-hidden="true">&times;</span></button>
            </span>
        </div>
        <div class="btn-group form-inline">
            <textarea name="" id="" cols="30" ng-model="words"></textarea>
        </div>
        <div class="btn-group form-inline">
            <button class="btn btn-success" ng-click="addWords(words)">{%$root.i18n('添加')%}</button>
        </div>
        <div class="btn-group form-inline">
            <button class="btn btn-primary" ng-click="updateWords(words)">{%$root.i18n('替换')%}</button>
        </div>
        <div class="btn-group form-inline">
            <button class="btn btn-primary" ng-click="submit()">{%$root.i18n('保存更改')%}</button>
        </div>
        <div class="btn-group form-inline">
            <button class="btn btn-default" ng-click="item.edit=false">{%$root.i18n('取消')%}</button>
        </div>
    </div>

</div>