<div class="row">
    <style>
        .ta-editor {
            max-height: 600px;
        }
    </style>
    <div class="col-sm-10">
        <div type-i18n="item"></div>
        <!--<wysiwyg textarea-class="form-control" textarea-height="200px" textarea-name="content" required-->
            <!--textarea-required ng-model="item.content[userLanguage.value]" enable-bootstrap-title="false" language="userLanguage.value"></wysiwyg>-->
        <div text-angular text-angular-name="content" ng-model="item[userLanguage.value]"
        ta-toolbar="[['h1','h2','h3','p','pre','quote'],['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight','indent','outdent'],['insertImage','insertLink'],['html']]"></div>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-primary" href="upload_image" target="_blank">{%$root.i18n('上传图片')%}</a>
    </div>
</div>
