<button has-permission="admin,jr_admin" class="btn" ng-class="remark ? 'btn-info' : 'btn-success'" ng-init="tooltip();initEditCustomFields();" ng-click="" data-toggle="tooltip" data-placement="left" data-title="{% remark ? remark : $root.i18n('暂无备注') %}">
    <i class="fa fa-flag"></i>
</button>
<div class="popoverContent" data-content style="display: none;">
    <textarea name="" id="" cols="30" rows="5" placeholder="{% $root.i18n('请在此输入备注内容') %}" ng-model="remark"></textarea>
    <button class="btn btn-info changeCustomFields">{% $root.i18n('确定') %}</button>
</div>