<div class="login-box clearfix">

    <div class="header">
        忘记密码
    </div>

    <form class="form-horizontal register" name="sendCode" ng-class="{submitted:isSend}"
        method="post" ng-submit="sendVerification($event,sendCode)" novalidate>

        <fieldset class="col-sm-12">

            <div class="form-group">
                <div class="controls row">
                    <div class="input-group col-sm-12">
                        <label class="input-group-addon">国家:</label>
                        <div enum-select name="country" ng-model="user.country"></div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="controls row">
                    <div class="input-group col-sm-12">
                        <input ng-model="user.phone" name="phone" ng-pattern="/^[0-9]*$/"
                            ng-change="onChangePhone()" ng-disabled="countdown>0"
                            type="text" class="form-control" placeholder="电话号码" required>
                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-mobile-phone"></i></span>
                    </div>
                    <span ng-show="isSend && sendCode.phone.$error.required">必填</span>
                    <span ng-show="isSend && sendCode.phone.$error.pattern">请输入数字</span>
                </div>
            </div>
            <div class="row">

                <button type="submit" class="btn btn-primary btn-lg col-xs-12"
                    ng-disabled="countdown>0">{%sendText%}
                </button>

            </div>
        </fieldset>
    </form>

    <form class="form-horizontal register" name="resetPassword" ng-class="{submitted:submitted}"
        method="post" ng-show="user.phone && isSend" ng-submit="submit($event,resetPassword)" novalidate>

        <fieldset class="col-sm-12">
            <div class="form-group">
                <div class="controls row">
                    <div class="input-group col-sm-12">
                        <input ng-model="user.code" name="code"
                            type="text" class="form-control" placeholder="验证码" required>
                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-warning"></i></span>
                    </div>
                    <span ng-show="submitted && resetPassword.code.$error.required">必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="controls row">
                    <div class="input-group col-sm-12">
                        <input ng-model="user.password"
                            type="password" class="form-control" name="password" placeholder="密码" required>
                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-key"></i></span>
                    </div>
                    <span ng-show="submitted && resetPassword.password.$error.required">必填</span>
                </div>
            </div>
            <div class="form-group">
                <div class="controls row">
                    <div class="input-group col-sm-12">
                        <input ng-model="user.checkPassword" equals="user.password"
                            type="password" class="form-control" name="checkPassword" placeholder="确认密码">
                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-key"></i></span>
                    </div>
                    <span ng-show="submitted && resetPassword.checkPassword.$error.equals">两次输入的密码不一致</span>
                </div>
            </div>

            <div class="row">

                <button type="submit" class="btn btn-primary btn-lg col-xs-12">确认</button>

            </div>

        </fieldset>

    </form>
    <a class="pull-left" ui-sref="signIn" ng-hide="user.phone && isSend">返回登录</a>

</div>
