<button class="btn outputBtn" ng-class="btn-success" ng-init="tooltip();initOutputFields();" ng-click="" data-placement="{%placement%}" data-toggle="tooltip" data-title="{%$root.i18n('导出文本')%}">
    <i class="fa fa-copy"></i>
</button>
<div class="popoverContent" data-content style="display: none;">
    <textarea name="" id="" cols="30" rows="10"  ng-model="output" style="color: #666;"></textarea>
    <!--<button class="btn btn-info copyOutputBtn">{% $root.i18n('复制') %}</button>-->
    <button class="btn btn-default hiddenPopover">{% $root.i18n('取消') %}</button>
</div>