<div class="container">
    <div class="row">
        <div class="col-sm-12 full">
            <div class="row">
                <div class="login-box">

                    <div class="header">
                        Login to Dashboard
                    </div>

                    <form class="form-horizontal login" method="post" autocomplete="on"
                        ng-submit="submit($event,signIn)" name="signIn" novalidate>

                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12">
                                        <input ng-model="user.email" email name="email"
                                            type="text" class="form-control" placeholder="Username or E-mail"/>
                                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12">
                                        <input ng-model="user.password"
                                            type="password" class="form-control" id="password" placeholder="Password"/>
                                        <span class="input-group-addon" style="width: 40px"><i class="fa fa-key"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <button type="submit" class="btn btn-lg btn-primary col-xs-12">Login</button>

                            </div>

                        </fieldset>

                    </form>


                    <a class="pull-left" ui-sref="forgot">Forgot Password?</a>
                    <a class="pull-right" ui-sref="signUp">Sign Up!</a>

                    <div class="clearfix"></div>

                </div>
            </div>
            <!--/row-->

        </div>


    </div>
    <!--/row-->

</div>
<!--/container-->
