<div class="container">
    <div class="row">
        <div class="col-sm-12 full">
            <div class="row">
                <div class="login-box">

                    <div class="header">
                        管理员登录
                    </div>

                    <form class="form-horizontal login" method="post" autocomplete="on" ng-class="{submitted:submitted}"
                          ng-submit="submit($event,signIn)" name="signIn" novalidate>
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12">
                                        <label class="input-group-addon">国家:</label>
                                        <div enum-select name="country" ng-model="user.country" required></div>

                                    </div>
                                    <span ng-show="submitted && signIn.country.$error.required">必填</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12">
                                        <input ng-model="user.phone" name="phone" ng-pattern="/^[0-9 ]*$/"
                                               type="text" class="form-control" ng-change="onChangeText()"
                                               placeholder="电话号码" required>
                                        <span class="input-group-addon" style="width: 40px"><i
                                                class="fa fa-mobile-phone"></i></span>
                                    </div>
                                    <span ng-show="submitted && signIn.phone.$error.required">必填</span>
                                    <span ng-show="submitted && signIn.phone.$error.pattern">请输入数字</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="controls row">
                                    <div class="input-group col-sm-12">
                                        <input ng-model="user.password"
                                               type="password" class="form-control" name="password"
                                               ng-change="onChangeText()" placeholder="密码" required>
                                        <span class="input-group-addon" style="width: 40px"><i
                                                class="fa fa-key"></i></span>
                                    </div>
                                    <span ng-show="submitted && signIn.password.$error.required">必填</span>
                                </div>
                            </div>

                            <div class="row">

                                <button type="submit" class="btn btn-lg btn-primary col-xs-12"
                                        ng-disabled="submitDisabled">登录
                                </button>

                            </div>

                        </fieldset>

                    </form>


                    <a class="pull-left" ui-sref="forgot">忘记密码</a>

                    <div class="clearfix"></div>

                </div>
            </div>
            <!--/row-->

        </div>


    </div>
    <!--/row-->

</div>
<!--/container-->
