<div>
    <div ng-if="image" class="row">
        <div class="col-sm-12 col-xs-12">
            <div style="margin-bottom:8px; position: relative;">
                <a target="_blank" ng-href="{% image %}"><img class="img-thumbnail" ng-src="{% image %}"></a>
                <button class="btn btn-sm" style="position: absolute; bottom:0; right: 0;" ng-click="removeImage($index)"
                    type="button">Remove
                </button>
            </div>
        </div>
    </div>
    <div ng-file-select="onFileSelected($files)" ng-hide="image"
        title="select file" onclick="this.value = null" class="btn btn-primary">{%text%}
    </div>
</div>
