<div class="input-group" style="white-space: nowrap;">
    <input type="text" ng-model="i18nUnit.value" placeholder="{%placeholder%}" class="form-control" style="display: inline-block;">
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-danger">{%i18nUnit.unit||'请选择'%}</button>
        <button type="button" class="btn btn-danger dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in data" ng-click="i18nUnit.unit=item">{%item%}</li>
        </ul>
    </div>
</div>
