<!--@@master = ./email_master.html-->
<!--@@block=content-->
<div style="max-width:720px;margin:0 auto">
    <h1 class="noHorizolPaddingOnMobile" style="padding:60px 20px 30px;margin:15px 0 0;font-size:19px;text-align:left; font-weight: bold;">{%$root.i18n('尊敬的')%}{%item.creator_user.nickname%}{%$root.i18n('：')%}</h1>
    <div class="noHorizolPaddingOnMobile" style="padding:0px 20px 60px;margin:0;line-height:1.5em;font-size:18px;text-align:left;color: #666;">
        <div class="smallFontSize">
            <p style="margin:20px 0; font-weight: bold;">
                {%$root.i18n('感谢您对该房源的垂询，洋房东欢迎您的到来！')%}
            </p>
            <p style="margin:20px 0; color: #999;">
                {%$root.i18n('系统已经受理了您的求租咨询')%}<span ng-if="item.short_id">(ID: {%item.short_id%})</span>{%$root.i18n(' ，您距离您的新家还差一步之遥。恭喜！')%}
            </p>
            <p style="margin:20px 0; color: #999;">
                {%$root.i18n('您所咨询房源的房东将有24小时的时间回复您的求租咨询。有任何新的回复我们将会第一时间通知您。')%}
            </p>
            <p style="margin:20px 0; color: #999; ">
                {%$root.i18n('欢迎您上传您的相关身份证明、大学录取通知书或劳动合同在您的账户信息中，这样也许会让房东更容易接受您的预定请求 - 赶紧来试试吧~ ')%}
            </p>
            <p style="margin:12px 0">                
                {%$root.i18n('回复本邮件可与房东沟通。如果您收到了洋房东平台咨询匹配的短信，您可以直接回复短信与房东进行沟通。谢谢！')%}
            </p>
            <div class="noHorizolPaddingOnMobile" style="padding: 60px 15%; ">
                <a ng-href="{%host%}/property-to-rent/{%item.interested_rent_tickets[0].id%}" style="display:block; border: 1px solid #ccc;">
                    <div style="width: 100%; padding-top: 60%; background-size: cover; background-repeat: no-repeat; background-image: url('{%item.interested_rent_tickets[0].property.cover[userLanguage.value] || item.interested_rent_tickets[0].property.reality_images[0][userLanguage.value] || '/static/images/placeholder/img_rent_detail_holder.png'%}')">
                    </div>
                    <p style="margin:0; padding:20px; text-align: center; color: #333; font-weight: bold; background: #eee; text-decoration: none;">{%item.interested_rent_tickets[0].title%}</p>
                </a>
            </div>
        </div>
        <div class="noHorizolPaddingOnMobile" style="margin: 50px 0 0; border-top: 1px solid #ccc; padding: 0 5%;">
            <h2 style="margin: 20px 0 40px;font-weight: bold;text-align: center; font-size: 18px;">{%$root.i18n('Your Booking Request details')%}</h2>
            <table class="smallFontSize" style="width: 100%;color:#666;">
                <tr>
                    <td>
                        <div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('MOVE IN')%}</p>
                            <p style="color: #e60012;margin: 0 0 8px; font-size: 20px;">{% item.rent_available_time * 1000 | date : 'yyyy/MM/dd'%}</p>
                        </div><div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('MOVE OUT')%}</p>
                            <p style="color: #e60012; margin: 0 0 8px; font-size: 20px;">{% item.rent_deadline_time * 1000 | date : 'yyyy/MM/dd'%}</p>
                        </div><div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('NUMBER OF TENANT')%}</p>
                            <p style="color: #e60012;margin: 0 0 8px; font-size: 20px;">{% item.tenant_count%}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 0;">
                        <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('EMAIL')%}</p>
                        <p style="color: #e60012; margin: 0 0 8px; font-size: 20px;">{%item.creator_user.email%}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('BABY')%}</p>
                            <p style="color: #e60012; margin: 0 0 8px;  font-size: 20px;">{% item.baby | boolean | capitalize%}</p>
                        </div><div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('PETS')%}</p>
                            <p style="color: #e60012;margin: 0 0 8px; font-size: 20px;">{% item.pet | boolean | capitalize%}</p>
                        </div><div class="fullWidthOnMoible" style="display: inline-block; width: 33%; padding: 10px 0;">
                            <p style="margin: 0 0 8px; font-weight: bold;">{%$root.i18n('SMOKING')%}</p>
                            <p style="color: #e60012; margin: 0 0 8px; font-size: 20px;">{% item.smoke | boolean | capitalize%}</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin: 50px 0 0; border-top: 1px solid #ccc; padding: 0 5%;">
            <h2 style="margin: 20px 0 40px;font-weight: bold;text-align: center; font-size: 18px;">{%$root.i18n('Your application details')%}</h2>
            <div style="margin-left: -12px;">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 12px;vertical-align: top !important;"><img style="vertical-align: top;width: 12px; height: 12px;" src="/static/images/email/triangle.png" alt=""/></td>
                        <td>
                            <div style="padding: 12px; color: #fff; background: #24c3eb; border-radius: 0 4px 4px 4px;">
                                {%item.description%}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin: 50px 0 0; border-top: 1px solid #ccc; padding: 0 5%;">
            <h2 style="margin: 20px 0 40px;font-weight: bold;text-align: center; font-size: 18px;">{%$root.i18n('Payment Information')%}</h2>
            <p style="text-align: center; ">
                {%$root.i18n('Once the host has accept your booking request, you will be asked to proceed withyour payment for the following amount')%}
            </p>
            <table style="margin: 20px 0;">
                <tr style="border-bottom: 1px solid #ccc;">
                    <td style="width: 70%;padding: 10px 0 10px 20px;">
                        <p style="font-weight: bold;">{%$root.i18n('Holding Deposit')%}</p>
                        <p style="">{%$root.i18n('note this may change respect to your move in date incorresponds with host’s occupance allocation')%}</p>
                    </td>
                    <td style="width: 30%;padding: 10px 20px 10px 0; text-align: right; color: #e60012; font-size: 20px;">
                        {%(item.interested_rent_tickets[0].holding_deposit.unit || 'GBP') | values : currencyTypes%} {%(item.interested_rent_tickets[0].holding_deposit.value || '500.0') | number:0%}
                    </td>
                </tr>
                <tr>
                    <td style="width: 70%;padding: 10px 0 10px 20px;">
                        <p style="font-weight: bold;">{%$root.i18n('Service fee')%}</p>
                    </td>
                    <td ng-if="!isStudentHouse(item.interested_rent_tickets[0])" style="width: 30%;padding: 10px 20px 10px 0; text-align: right; color: #e60012; font-size: 20px;">
                        {%item.interested_rent_tickets[0].price.unit | values : currencyTypes%} {%(item.payment) | number:0%}
                    </td>
                    <td ng-if="isStudentHouse(item.interested_rent_tickets[0])" style="width: 30%;padding: 10px 20px 10px 0; text-align: right; font-size: 16px;">
                        {%$root.i18n('推广期免费')%}
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<!--@@close-->
