@root-line-height: 1.5;

@white: white;
@red: hsl(0, 80%, 50%);
@light-blue: hsl(190, 80%, 97%);

@color: hsl(0, 0%, 47%);
@border-color: hsl(0, 0%, 76%);
@light-color: hsl(0, 0%, 98%);
@mute-color: hsl(0, 0%, 73%);
@dark-color: hsl(0, 0%, 7%);

@root-font-size: 16px;
@normal-font-size: 20/16rem;
@small-font-size: 14/16rem;
@largest-font-size: 50/16rem;

@font-normal:  sans-serif, Helvetica Neue, Helvetica, Arial;
@font-mono: Monaco, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

@max-width: 1200px;
@header-bg: #333;
@footer-bg: #444444;
@copyright-bg:#333;
@header-height: 80px;
@footer-height: 260px;
@copyright-height: 48px;

@modal-shadow-z-index: 100;
@modal-z-index: 101;

.clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.wrapped(@max-width:@max-width) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: @max-width;
}

.horizontalList(@padding: 16px;) {
    list-style: none; padding: 0; margin: 0;
    .clearfix();
    > li { float: left; padding-left: @padding * 2;
        &:first-child { padding-left: 0; }
    }
}

.smooth() {
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.no-smooth() {
    -webkit-font-smoothing: never; -moz-osx-font-smoothing: none;
    font-smoothing: none;
}

.round-corner() {
  padding: 0px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
