@root-line-height: 1.5;

@white: white;
@red: hsl(0, 80%, 50%);
@light-blue: hsl(190, 80%, 97%);

@color: hsl(0, 0%, 47%);
@border-color: hsl(0, 0%, 76%);
@light-color: hsl(0, 0%, 98%);
@mute-color: hsl(0, 0%, 73%);
@dark-color: hsl(0, 0%, 7%);

@root-font-size: 16px;
@normal-font-size: 20/16rem;
@small-font-size: 14/16rem;
@largest-font-size: 50/16rem;

@font-normal: "Open Sans", Tahoma, Arial, "Source Han Sans CN", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "STHeiti", sans-serif;
@font-song: "Open Sans", SimSun, STSong, sans-serif;
@font-mono: Monaco, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

@min-page-width:1280px;
@max-width: 1200px;
@header-bg: #333;
@footer-bg: #444444;
@copyright-bg: #333;
@header-height: 80px;
@footer-height: 220px;
@copyright-height: 48px;

@modal-shadow-z-index: 100;
@modal-z-index: 101;

@requirement_popup-shadow-z-index: 102;
@requirement_popup-content-z-index: 103;

@phone: ~"(max-width:767px)";
@wideScreen: ~"(min-width:1440px)";

.clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.wrapped(@max-width:@max-width) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: @max-width;
}

.horizontalList(@padding: 16px;) {
    list-style: none; padding: 0; margin: 0;
    .clearfix();
    > li { float: left; padding-left: @padding * 2;
        &:first-child { padding-left: 0; }
    }
}

.smooth() {
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

.no-smooth() {
    -webkit-font-smoothing: never; -moz-osx-font-smoothing: none;
    font-smoothing: none;
}

.round-corner() {
    padding: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.clipped(@max-width:100%) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: @max-width;
}

.limitedLines(@lines:5; @line-height: 20px;@bg: white) {
    height: @line-height * @lines; line-height: @line-height;
    overflow: hidden; position: relative; background: @bg;
    &:after {
        content: ''; display: block; position: absolute;
        width: 30%;
        height: @line-height;
        bottom: 0;
        right: 0;
        background: @bg;
        background: linear-gradient(to right, fade(@bg, 0%) 0%, @bg 80%);
    }
}

.arrow(@direction; @fg:red; @width:8px; @bg:transparent; ) {
    content: ' ';
    border: @width/2 solid @bg;
    width: 0;
    height: 0;
    display: block;
    & when (@direction = up) {
        border-bottom-color: @fg;
        margin-left: -@width/2;
    }
    & when (@direction = down) {
        border-top-color: @fg;
        margin-left: -@width/2;
    }
    & when (@direction = left) {
        border-right-color: @fg;
        margin-top: -@width/2;
    }
    & when (@direction = right) {
        border-left-color: @fg;
        margin-top: -@width/2;
    }
}
