/*! Created by frank on 14-8-27.  */
@import "../team/reset";
// Button
//
// button styles
//
// Markup:
// <button class="button {$modifiers}">登 录</button>
// <a href=# class="button {$modifiers}">成为会员</a>
// <a href=# class="button {$modifiers}" style="width: 360px"><span class=big>立即购买</span><span class=small>太平洋保险保障财产安全</span></a>
// <button disabled class="button {$modifiers}">禁 用</button>
//
// .orange          - Indicate that the feed is selected.
// .red          - Indicate that the feed is selected.
// :hover           - hover
//
// Styleguide 1
@import "button";
// Ghost Button
//
// ghost button styles
// See http://www.onextrapixel.com/2014/04/28/ghost-buttons-the-brand-new-design-trend/
//
// Markup:
// <div style="background:#333333; display:inline-block; padding: 16px;">
//   <button class="ghostButton {$modifiers}">登录</button>
//   <a href=# class="ghostButton {$modifiers}">成为会员</a>
// </div>
// <a href=# class="ghostButton {$modifiers}">成为会员</a>
//
// .red          - Indicate that the feed is selected.
//
// Styleguide 2
@import "ghostButton";
@import "form";

#kss-header { display: none; }
#kss-main { max-width: none; left: 10%; background: white; width: 89%; }
