/*! Created by frank on 14-8-27.  */
@import "../team/reset";
@import "button";
@import "ghostButton";

#kss-header { display: none; }
#kss-main { max-width: none; left: 10%; background: white; width: 89%;}
