@import "_imports";

@border-radius: 6px;
@default-bg: #3a3a3a;
@orange: #dd4117;
@yellow: #ff8a00;
@red: #e60012;
@green:#82cc00;

.button { border: none; border-radius: @border-radius; background: @default-bg; display: inline-block; font-size: 20px;
    line-height: 30px; color: white; padding: 10px 32px; .smooth(); font-weight: bold; text-align: center; vertical-align: middle;
    text-decoration: none;


    @media @phone {
	font-size: 14px;
        line-height:14px;
        border-radius: 3px;
        padding: 10px 15px;
    }

    &:active, &:visited {
        color: white;
    }
    &:hover, &.pseudo-class-hover {
        color: white;
        background: darken(@default-bg, 10%);
    }

    &.orange {
        background: @orange;
        &:hover, &.pseudo-class-hover {
            background: lighten(@orange, 5%);
        }
    }
    &.yellow {
        background: @yellow;
        &:hover, &.pseudo-class-hover {
            background: lighten(@yellow, 5%);
        }
    }
    &.red {
        background: @red;
        &:hover, &.pseudo-class-hover {
            background: lighten(@red, 5%);
        }
    }

    &.green {
        background: @green;
        &:hover, &.pseudo-class-hover {
            background: lighten(@green, 5%);
        }
    }

    &[disabled] {
        background-color: #bbb;
        &:hover{
            background-color: #bbb;
        }
    }

    > span { display: block;
        &.big { font-size: 24px; }
        &.small { font-size: 14px; font-weight: normal; }
    }
}

// See http://www.onextrapixel.com/2014/04/28/ghost-buttons-the-brand-new-design-trend/
.ghostButton {
    color: @red;
    border: 2px solid;
}

