/*! Created by frank on 14-8-27.  */
@import "_imports";

@border-radius: 6px;
@border-color: #CCC;
@color: #333;
@red: #e60012;
.form {
    color: @color;
    background: white;
    border-radius: @border-radius;
    &.bordered {
        border: 1px solid @border-color;
        padding: 0 8px;
    }
    hr {
        border-color: @border-color;
        margin: 0;
    }
    &_row {
        padding: 8px 4px;
        line-height: 34px;
        > i { margin-right: 8px; }
        &.active {
            > i { color: @red; }
        }
    }
    input { border: none; line-height: 24px;
        &:focus { outline: none; }
    }
}
