

@border-radius: 4px;
@grey: #ccc;
@default-color: @grey;

input.ghostInput{
    vertical-align: middle;
    color: @default-color;
    border: 2px solid;
    display: inline-block;
    background: transparent;
    border-radius: @border-radius;
    font-size: 14px;
    height: 40px;
}
