

@border-radius: 4px;
@grey: #ccc;
@default-color: @grey;

textarea.ghostTextArea {
    vertical-align: middle;
    color: @default-color;
    border: 2px solid;
    display: inline-block;
    background: transparent;
    border-radius: @border-radius;
    font-size: 14px;
}
