/*! Created by frank on 14-9-9.  */
@import "_imports";
@border-width: 2px;
@border-color: #d2d2d2;
@padding-top: 20px;
@black: #333333;
@grey: #a3a3a3;
.houseCard {
    float:left; position: relative; border-top: @border-width solid @border-color; font-size: 14px; color: @grey;
    min-height: @house_card-height;
    min-width: 700px;
    display:block;
    width:100%;

    @media @phone {
        position:static;
        min-height:0;
        min-width:0;
        display:none;
    }

    p { margin: 0; }

    .imagePart {
        position:relative;
        top: -@border-width;
        height:100%;
        min-height:@house_card_image-height;
        width:320px;
        z-index:@house_card-image-z-index;

        a {
            img {
                position: absolute;
                top: 0;
                left: 0;
                height:100%;
                cursor:pointer;

                @media @phone {
                    position:static;
                    float:left;
                    width:100%;
                }
            }
        }


        .labels {
            position: absolute;
            right: 0;
            top:0;
            height:40px;
            width:100%;
            z-index:@house_card-image-text-z-index;
            label {
                position:static;
                float:right;
                color:white;
                font-size:16px;
                line-height:40px;
                padding:0 12px;

                &.type {
                    background:#333;
                }
                &.rent {
                    background:#e60012;
                }

            }
        }

        .soldOut {
            img {
                position: absolute;
                left: 0;
                top:0;
                height:100%;
                width:100%;
                z-index:@house_card-sold-out-background-z-index;
            }

            label {
                position:absolute;
                z-index:@house_card-image-text-z-index;
                width:100%;
                height:100%;
                color:#666666;
                text-align: center;
                display: block;
                line-height: @house_card_image-height;
                font-size:44px;
            }
        }
    }


    .description {

        &_wrapper {
            position:absolute;
            padding-left: 320px + @padding-top;
            padding-top: @padding-top;
            top:0;
            width:100%;
            height:100%;
        }

        position:relative;

        width:100%;
        height:100%;

        @media @phone {
            margin-left:0;
            padding-top:0;
        }

        > h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            color: @black;
            font-family: @font-normal;
            max-width:60%;
            .limitedLines(2, 34px);

            a {
                text-decoration:none;
                color:@black;
            }
        }

        .price {
            color: @red;
            font-size: 14px;
            position: absolute;
            right: 0;
            top: 0;
            max-width:40%;
            text-align:right;

            @media @phone {
                position:static;
            }
            strong { font-size: 24px;}

            >.price_reference {
                color: @grey;
                display: block;
                strong {
                    font-size:inherit;
                }

                .down_payment {
                    color: @red;
                }
            }
        }

        > .details {
            font-family: @font-song;
            overflow: hidden;
            .left {
                float: left;
                width:50%; // for ie

                .size {
                    margin-bottom: 0;
                }
                > .estimate {
                    overflow: hidden;
                    @media @phone {
                        float:left;
                        width:100%;
                    }
                    .label {
                        float: left;
                        line-height: 1.4;
                        margin-right: 1em;
                        max-width:60%;
                    }
                    .value {
                        float: left;
                        color: @red;
                        font-size: 26px;
                        line-height: 1;
                    }
                }

            }

            >.right {
                float: right;
                width: 50%;
                padding-left: 16px;

                > .properties {

                    li {
                        line-height:1.4em;
                        overflow:hidden;
                    }

                    img {
                        vertical-align:middle;
                        display: inline-block;
                        float: left;
                        margin-top:3px;
                    }

                    label {
                        display: inline-block;
                        float: right;
                        width: 88%;
                    }

                    @media @phone {
                        float:left;
                        max-width:100%;
                    }

                }

            }
        }
        > .action {
            position: absolute;
            bottom: @border-width;
            @media @phone {
                position:static;
            }
        }

        > .otherAction {
            position: absolute;
            right: 0;
            bottom: @border-width;
            button {
                img {
                    margin-right: 5px;
                    vertical-align: middle;
                    line-height: 20px;
                }
                label {
                    vertical-align: middle;
                    line-height: 20px;
                    font-size: 20px;
                    cursor:pointer;
                }
                &.openRequirement {
                    display:none;
                    background:white;//may cover on text so, need a background color
                }
                border-radius:6px;
                font-size:20px;
                line-height:20px;
                padding: 8px 6px;
            }
        }
    }
}

.houseCard_phone {
    display:none;
    background:#fff4f5;
    @media @phone {
        display:block;
        margin-bottom:50px;
    }

    a {
        text-decoration:none;//in trigger text-decoration for inner element in samsung galaxy device
    }

    .imagePart {
        overflow:hidden;
        position:relative;
        display:block;
        img {
            width:100%;
            float:left;
            min-height:160px;
        }

        .labels {
            position: absolute;
            left: 0;
            top:0;
            height:30px;
            width:100%;
            z-index:@house_card-image-text-z-index;
            label {
                position:static;
                float:left;
                color:white;
                font-size:16px;
                line-height:30px;
                padding:0 12px;

                &.type {
                    background:#333;
                }
                &.rent {
                    background:#e60012;
                }

            }
        }

        @imagePart-height:85px;

        .soldOut {
            height: 160px;
            position: absolute;
            width: 100%;
            img {
                position: absolute;
                left: 0;
                top:0;
                height:100%;
                height:~"calc(100% - 85px)";
                width:100%;
                z-index:@house_card-sold-out-background-z-index;
            }

            label {
                position:absolute;
                z-index:@house_card-image-text-z-index;
                width:100%;
                height:160px;
                color:#666666;
                text-align: center;
                display: block;
                line-height:200px;
                font-size:16px;
            }
        }

        .imageText {
            width:100%;
            height:@imagePart-height;
            float:left;

            .left {
                display:inline-block;
                background:#e60012;
                float:left;
                width:60%;
                height:100%;
                padding:14px 12px;

                .name {
                    margin:0 0 6px 0;
                    font-size:20px;
                    .limitedLines(2, 20px, #e60012);
                    height:38px;
                    color:white;
                }
                .size {
                    margin:0;
                    font-size:14px;
                    line-height:1em;
                    color:#ccc;
                }

            }

            .right {
                display:inline-block;
                background:#333333;
                float:right;
                width:40%;
                height:100%;
                table {
                    margin:9px auto 0 auto;
                    .price {
                        color:#e60012;
                        font-size:14px;
                        strong {
                            font-size:24px;
                        }

                        >.price_reference {
                            color: @grey;
                            display: block;
                            strong {
                                font-size:inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    .textPart {
        overflow:hidden;
        &_inner {

            margin-top:16px;
            overflow:hidden;
            float:left;
            width:100%;

            .border {
                margin:0 12px;
                height:16px;
                border-bottom:1px solid #ccc;
                width:~"calc(100% - 24px)";
                overflow:hidden;
            }
        }
        &_innerTable {
            table-layout:fixed;
            width:100%;
        }

        width:100%;
        min-height:80px;
        overflow:hidden;
        .properties {
            width:60%;
            border-right:1px solid #ccc;
            background:transparent;

            ul {
                margin: 12px;
                li {
                    vertical-align:middle;
                    font-size:14px;
                    line-height:15px;
                    margin-bottom:8px;
                    color:#999;
                    overflow:hidden;

                    img {
                        float:left;
                        display:inline-block;
                        margin-right:5px;
                        vertical-align:middle;
                    }

                    label {
                        float:left;
                        display:inline-block;
                        width: 80%;
                        width:~"calc(100% - 30px)"
                    }
                }
            }
        }

        .estimate {
            width:40%;
            .label {
                display:block;
                font-size:14px;
                color:#999;
                padding:0 6px 0 12px;
            }

            .value {
                display:block;
                font-size:24px;
                color:#e60012;
                padding: 0 6px 0 12px;
                word-wrap:break-word;
                width:100%;
            }
        }
    }
}
.houseCard_phone_intention {
    display:none;
    background:#fff;
    color: @grey;
    border-bottom: 2px solid #e4e4e4;
    @media @phone {
        display:block;
        margin-bottom:20px;
    }

    a {
        text-decoration:none;//in trigger text-decoration for inner element in samsung galaxy device
    }

    .imagePart {
        overflow:hidden;
        position:relative;
        display:block;
        img {
            width:100%;
            float:left;
            min-height:160px;
        }

        .labels {
            position: absolute;
            left: 0;
            top: 15px;
            width:100%;
            z-index:@house_card-image-text-z-index;
            label {
                position:static;
                float:right;
                color:white;
                font-size:14px;
                line-height:30px;
                padding:5px 12px;

                &.type {
                    background:#333;
                }
                &.rent {
                    background:#e60012;
                }

            }
        }

        @imagePart-height:85px;

        .soldOut {
            height: 160px;
            position: absolute;
            width: 100%;
            img {
                position: absolute;
                left: 0;
                top:0;
                height:100%;
                height:~"calc(100% - 85px)";
                width:100%;
                z-index:@house_card-sold-out-background-z-index;
            }

            label {
                position:absolute;
                z-index:@house_card-image-text-z-index;
                width:100%;
                height:160px;
                color:#666666;
                text-align: center;
                display: block;
                line-height:200px;
                font-size:16px;
            }
        }

        .imageText {
            width:100%;
            height:@imagePart-height;
            float:left;

            .left {
                display:inline-block;
                float:left;
                width:60%;
                height:100%;
                padding:20px 12px;

                .name {
                    margin:0 0 6px 0;
                    font-size:20px;
                    .limitedLines(2, 24px, #fff);
                    color: @black;
                }
                .size {
                    display: none;
                }

            }

            .right {
                table{
                    width: 100%;
                }
                display:inline-block;
                float:right;
                text-align: right;
                width:40%;
                height:100%;
                padding-right: 20px;
                .price {
                    display: block;
                    margin-top: 12px;
                    color:#e60012;
                    font-size:16px;
                    strong {
                        font-size:24px;
                    }

                    >.price_reference {
                        color: @grey;
                        display: none;
                        strong {
                            font-size:inherit;
                        }
                    }
                }
            }
        }
    }

    .textPart {
        overflow:hidden;
        &_inner {
            display: none;

        }
        .intentionStatus {
            table-layout:fixed;
            width:100%;
            font-size: 14px;
            color: @grey;
            padding: 0 15px 10px;
            .clearfix;
            .estimate {
                width:40%;
                float: left;
                color: #ffa400;
            }
            .properties {
                float: right;
                text-align: right;
                width:60%;
                background:transparent;
            }
        }
    }
    hr{
        margin: 0 15px;
        color: @border-color;
    }
    .propertyInfo{
        padding: 10px 15px;
        border-bottom: 1px solid @border-color;
        .location{
            color: @grey;
            margin: 8px 0 0;
            font-size: 14px;
            .clearfix;
            img{
                display: block;
                float: left;
                width: 16px;
                height: 16px;
                min-height: 16px;
                margin-right: 6px;
            }
            .limitedLines(1,16px)
        }
        .size {
            padding: 10px 0 0;
            font-size: 14px;
            .clearfix;
            & > div{
                width: 48%;
                float: left;
                margin: 15px 2% 0 0;
                p{
                    margin: 0 0 5px;
                }
                .title{
                    color: @grey;
                }
                .content{
                    color: @black;
                }
            }
            .room{
                border-right: 1px solid @border-color;
            }
        }
    }
    .contact{
        padding: 10px 0;
        .clearfix;
        a{
            display: block;
            float: left;
            width: 48%;
            height: 30px;
            line-height: 30px;
            margin-right: 2%;
            color: @grey;
            font-size: 14px;
            text-align: center;
            &.phone{
                border-right: 1px solid @border-color;
            }
        }
    }
}