@import "_imports";
.dhtmlx_message_area{
    width: 220px;
    top: 0 !important;
    right: 0 !important;
    @media @phone{
        width: 100%;
        top: initial !important;
        bottom: 0px !important;
        right: 0px !important;
    }
    .dhtmlx-info{
        color: #fff;
        width: 220px;
        padding: 10px 20px;
        margin: 0;
        border-radius: 0;
        border: none;
        box-shadow: none;
        background: #5ab020;
        right: 0 !important;
        @media @phone{
            width: 100%;
            text-align: center;
        }
        &.hidden{
            padding: 0 20px;
        }
    }
    .dhtmlx-error {
        background: #ff7200;
    }
}
