@import "_imports";

.navbar {.horizontalList(@padding: 8px); float: left;
  > li {
    > a {
      color: @mute-color;
      text-decoration: none;
    }
    &.selected {
      > a {
        color: @light-color;
        text-decoration: none;
      }
    }
  }
}
