/*! Created by frank on 14-9-9.  */
@import "_imports";
@padding-left: 20px;
@black: #333333;
@grey: #a3a3a3;
.newsCard {
    position: relative;
    font-size: 14px;
    color: @grey;
    height: 240px; min-width: 700px;
    overflow:hidden;
    @media @phone {
        min-width:0;
        height:auto;
    }

    >a > img {
        position: absolute;
        left: 0;
        width:320px;
        height:100%;
        @media @phone {
            position:static;
            width:100%;
            float:left;
            height:auto;
            min-height:240px;
        }
    }
    > .description {
        margin-left: 320px + @padding-left;
        @media @phone {
            position:absolute;
            margin-left:0;
            float:left;
            background-color: rgba(0, 0, 0, 0.3);
            width:100%;
            padding:16px 12px;
            bottom: 0px;
        }

        a {
            text-decoration:none;

            > h3 {
                line-height:1;
                font-size: 20px;
                font-weight: bold;
                color: #333;
                font-family: @font-normal;
                margin: 0 0 15px 0;

                @media @phone {
                    width: 70%;
                    float:left;
                    margin:0;
                    color: white;
                    font-size:16px;
                }

            }
            > .date {
                font-size:14px;
                color:#666;
                margin:0;
                line-height:1;
                @media @phone {
                    width: 30%;
                    float:right;
                    font-size:@base-font-size-mobile;
                    line-height:16px;
                    color: white;
                    text-align: right;
                }

            }

            > .details {
                font-family: @font-normal;
                overflow: hidden;
                margin-top:15px;
                margin-bottom:0;
                font-size:@base-font-size-mobile;
                color:#999;
                line-height:2;

                @media @phone {
                    display:none;
                }
            }

        }

    }
}
