@import "_imports";

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 3px;
    user-select: none;
    position: relative;
    color: #5c5c5c;
    text-decoration: none;
    cursor: pointer;
    
    &.btn-primary{
        background-color: #2d9fd8;
        border-color: #2d9fd8;
        color: #fff;
    }
    &:hover{
        background-color: #3498cb;
    }
    &[disabled] {
        background-color: #bbb;
        border-color: #bbb;
    }
}

.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .btn{
        &:not(:first-child):not(:last-child){
            border-radius: 0;
        }
        &:last-child:not(:first-child){
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        &:first-child:not(:last-child):not(.dropdown-toggle){
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.row{
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    .inputWrapper{
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 10px;
        height: 40px;
        width: 246px;
        margin-right: 16px;
        float: left;
        background: #fff;
        font-size: 14px;
        &:last-child{
            margin-right: 0;
        }
        &:focus{
            outline: none;
        }
    }
}


.modal-pay-card{
    width: 568px;
    color: #575a5b;
    a{
        color: #2d9fd8;
        text-decoration: none;
    }
    .modal-footer{
        text-align: center;
        padding-top: 12px;
        input[type=submit]{
            background: #00bee1;
            border-color: #00bee1;
        }
        input[type=checkbox]{
            float: none;
            visibility: hidden;
            visibility: visible\0;
            border: none;
            margin-right: 10px;
            line-height: 50px;
            vert-align: middle;
            &+label{
                position: relative;
            }
            &+label:after{
                position: absolute;
                visibility: visible;
                visibility: hidden\0;
                content:'';
                z-index: 0;
                width: 16px;
                height: 16px;
                top: 50%;
                margin-top: -8px;
                left: -27px;
                background: url('/static/images/common/checkbox_background.png') 0 0 no-repeat;
            }
            &:checked+label:after,&.checked+label:after{
                background-position: 0 -16px;
            }
        }
    }
    .row{
        .text{
            float: left;
            width: 72px;
            height: 40px;
            line-height: 40px;
            text-align: right;
            margin-right: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        margin-bottom: 16px;
        .cardNO{
            width: 306px;
        }
        .ghostSelect{
            float: left;
            background: #fff;
            margin-right: 16px;
            width: 101px;
            &.countrySelect{
                width: 218px;
            }
        }
        .chosen-container{
            .chosen-single,.chosen-drop{
                border-width: 1px;
                line-height: 38px;
            }
        }
    }    
}

.cardListItems{
    position: relative;
    width: 238px;
    height: 152px;
    padding: 10px;
    margin: 0 14px 14px 0;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    color: #fff;
    width: 238px;
    float: left;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-shadow: 1px 1px 1px #000;
    .setting-default{
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 12px;
        text-transform: uppercase;
    }
    .remove{
        position: absolute;
        right: 8px;
        top: 8px;
        display: none;
        color: #000;
        font-size: 16px;
        text-shadow: 1px 1px 1px #fff;
    }
    &:hover .setting-default,&:hover .remove{
        cursor: pointer;
        display: block!important;
    }
    .cardNumber{
        margin-top: 80px;
        font-size: 16px;      
    }
    .addCardBtn{
        cursor: pointer;
        color: #00bee1;
        display: block;
        line-height: 134px;
        text-align: center;
        text-shadow: 1px 1px 1px #fff;
        i{
            margin-right: 5px;
        }       
    }
}

.payment_popup{
    &_shadow {
        z-index: 101;
        background: #000000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 48px;
        width: 100%;
        height: 100%;
    }
    .payment_wrapper {
        z-index: 102;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        min-width: 1280px;
        background: #eeeeee;
        border-top: 125px solid #626262;
        .info {
            max-width: 1240px;
            margin: 0 auto;
            min-height: 352px;
            .title{
                font-size: 22px;
                margin-bottom: 52px;
                color: #00bee1;
                text-transform: uppercase;
                text-align: center;
            }
            .modal-pay-card{
                margin: 0 auto;
            }
        }
        .cancel {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 21px;
            background: none;
            border: none;
            cursor: pointer;
            color: #999;
            &:hover {
              color: #666;
            }
        }
    }
}
#payment-info{
    width: 568px;
    margin: 0 auto;
    .payment-details{
        padding: 22px 38px 16px;
        border: 1px solid #ccc;
        background: #fff;
        margin-bottom: 12px;
        &-main{
            width: 272px;
            float: left;
            .time{
                font-weight: bold;
                color: #939798;
                line-height: 18px;
                display: block;
                margin-bottom: 8px;
            }
            .money{
                color: #00bee1;
                display: block;
                font-size: 14px;
                line-height: 36px;
                strong{
                    font-weight: bold;
                    font-size: 32px;
                }
            }
        }
        &-meta{
            width: 156px;
            float: right;
            font-size: 12px;
            dl{
                height: 20px;
                line-height: 20px;
                dt{
                    color: #666;
                    float: left;
                    width: 76px;
                }
                dd{
                    color: #00bee1;
                    float: right;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
        &:after{
            content: "";
            display: table;
            clear: both;
        }
    }
    .payment-card-items{
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        margin-bottom: 12px;
        .cc-card{
            width: 72px;
            height: 40px;
            padding: 5px;
            background: #fff;
            border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
            margin-right: 20px;
            text-align: center;
            line-height: 30px;
            color: #00bee1;
            float: left;
            img{
                vertical-align: top;
            }
        }
        .cc-cardno{
            color: #363636;
            font-weight: bold;
            font-size: 20px;
            width: 220px;
            float: left; 
        }
        .default-card{
            color: #00bee1;
            display: inline-block;
            text-transform: capitalize;
        }
        .add-btn{
            color: #00c4ed;
            font-size: 16px;
            text-shadow: 1px 1px 1px #ccc;
            text-transform: uppercase;
        }
    }
    .switchBtn{
        color: #00bee1;
        border-color: transparent;
        float: right;
        &:hover{
            background: #e5e5e5;
        }
    }
}



.addPaymentFormError{
    color: #e61919;
    font-size: 14px;
}