@import "_imports";

@border-color: #ccc;
@light-text-color: #999;
@dark-text-color: #555;
@background-grey: #f4f4f4;

#popupShare{
    display: none;
    .sharePopupShadow{
        background: #000000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 48px;
        width: 100%;
        height: 100%;
        z-index: 68;
    }
    .shareItems {
        text-align: center;
        background: #fff;
        padding: 20px 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 70;
        overflow: hidden;
        span {display: block;margin-bottom: 18px;font-size: 15px;color: #666;}
        .button {
            padding: 0;
            margin: 0 10px;
            background: transparent;
            display: inline-block;
            width: 34px;
            height: 34px;
            border: 0;
            i {
                font-size: 28px;
            }
        }
        .close{
            border: 1px solid #e61919;
            background: #fff;
            display: block;
            width: 80%;
            margin: 28px auto 10px;
            color: #e61919;
            text-transform: uppercase;
            font-size: 15px;
            height: 36px;
            line-height: 36px;
            border-radius: 3px;
        }
        .email { color: #ccc; }
        .facebook{ background: @facebook-color;color: #fff; }
        .twitter{ color: @twitter-color; }
        .wechat{ color: @wechat-color; }
        .weibo{ color: @weibo-color; }
        .linkedin{ color: @linkedin-color;}
    }    
}