/*! Created by frank on 14-10-8.  */
@import "_imports";

.processInfo {
    display:none;
}

.processCard {
    position: relative;

    .line {
        background: #ccc; position: absolute; top: 50%; height: 6px; width: 100%; margin: -3px 0 0;
        @media @phone {
            height:100%;
            width: 6px;
            left: 30px;
            margin: 0 0 0 -3px;
            //position:static;

        }

    }
    &.count-5 li {
        width: 20%;
        @media @phone {
            width:100%;
            height:auto;
            display:block;
        }

    }
    &.count-4 li {
        width: 25%;
        @media @phone {
            width:100%;
            height:auto;
            display:block;
        }

    }
    &.count-5 .line {
        width: 80%; left: 10%;
        @media @phone {
            top:0;
            height:100%;
            width: 6px;
            left: 30px;
            margin: 0 0 0 -3px;
        }

    }
    &.count-4 .line {
        width: 75%; left: 12.5%;
        @media @phone {
            top:0;
            width: 6px;
            height:100%;
            left: 30px;
            margin: 0 0 0 -3px;
        }

    }
    ol {
        .clearfix();

        @media @phone {
            position:relative;
        }

        li { float: left; position: relative; text-align: center;
            @height: 270px;
            @icon-height: 60px;
            height: @height;

            @media @phone {
                width:100%;
                display:block;
                margin-bottom:40px;
                position:static;

            }
            &:last-child {
                @media @phone {
                    margin-bottom:0;
                }
            }
            > i { margin-top: @height / 2 - @icon-height / 2;
                background: #ccc; width: @icon-height; height: @icon-height; border-radius: 50%; display: inline-block;
                line-height: @icon-height; text-align: center; font-size: 36px; color: #525252;

                @media @phone {
                    margin-top:0;
                    float:left;
                }

                img { vertical-align: middle; }


            }
            &.green > i { background: #6ac300; }
            > table {
                position: absolute; top: 200px; background: #ccc; width: 92%; left: 4%;
                @media @phone {
                    float: left;
                    margin-left: 20px;
                    position:static;
                    top:0;
                    width:70%;
                    width:~"calc(100% - 80px)";
                    height:60px;
                    overflow:hidden;
                }

                td { text-align: left; padding: 4px 8px; line-height: 1.2; }
                td:first-child {
                    background: #333; color: #ff6000; height: 40px; width: 30px; text-align: center;


                    &:before {
                        @media @phone {
                            .arrow(@direction: left; @fg:#333; @width: 10px;);
                            position: absolute;  left:70px;

                            margin-top:0;
                        }
                    }
                }
                &.up {
                    top: auto; bottom: 200px;
                }
            }
        }
    }
}
