/*! Created by frank on 14-9-9.  */
@import "_imports";
@border-width: 2px;
@padding-top: 20px;
@black: #333333;
@grey: #a3a3a3;
@light-orange:rgb(255, 249, 228);
@border-hover-color:rgb(255, 138, 0);
@light-blue:rgb(0,168,255);

.rentCard {
    float:left; position: relative; border-top: @border-width solid @border-color; font-size: 14px; color: @grey;
    min-height: @house_card-height;
    min-width: 700px;
    width:100%;
    margin-bottom: 60px;

    a {
        text-decoration:none;
        color: @grey;
    }

    &:hover {
        background-color: @light-orange;
        border-top: @border-width solid @border-hover-color;
        cursor: pointer;

        @media @phone {
            background-color: inherit;
            border-top: inherit;
            cursor: inherit;
        }
    }

    @media @phone {
        min-width: initial;
        border-bottom: 1px solid @border-color;
    }

    p { margin: 0; }

    .imagePart {
        position:relative;
        top: -@border-width;
        height:100%;
        min-height:@house_card_image-height;
        width:320px;
        z-index:@house_card-image-z-index;

        @media @phone {
            width: 100%;
            height: 100%;
        }

        img {
            position: absolute;
            width: 320px;
            min-height: 213px;
            cursor:pointer;

            @media @phone {
                position:static;
                width: 100%;
                min-height: 213px;
            }
        }


        .labels {
            position: absolute;
            right: 0;
            top:0;
            height:40px;
            width:100%;
            z-index:@house_card-image-text-z-index;
            label {
                position:static;
                float:right;
                color:white;
                line-height:40px;
                font-size: @root-font-size;
                padding:0 12px;
                margin-top: 20px;

                &.property-type {
                    background:#333;
                }

                &.rent-type {
                    background:@red;
                }

            }
        }
    }


    .description {
        position:relative;
        width:100%;
        height:100%;

        &_wrapper {
            position:absolute;
            padding-left: 320px + @padding-top;
            padding-top: @padding-top;
            top:0;
            width:100%;
            height:100%;

            @media @phone {
                position:relative;
                padding: 10px;
            }
        }

        @media @phone {
            margin-left:0;
            padding-top:0;
        }

        .titles{
            display: block;
            >.name {
                font-size: @normal-font-size;
                font-weight: bold;
                margin: 0;
                color: @black;
                font-family: @font-normal;
                max-width:70%;
                .limitedLines(2, 30px, transparent);

                a {
                    text-decoration:none;
                    color:@black;
                }

                @media @phone {
                    font-size: @root-font-size;
                    .limitedLines(2, 24px, transparent);
                }
            }

            >.price {
                max-width:30%;
                position: absolute;
                right: 0;
                top: 0;
                text-align:right;
                margin-right: @padding-top;

                .price_original{
                    color: @red;
                    font-size: 14px;
                    display: block;
                    >strong {
                        font-size: @normal-font-size;
                    }
                }


                >.price_reference {
                    color: @grey;
                }

                @media @phone {
                    position: absolute;
                    float: right;
                    margin-right: inherit;

                }
            }

            > .date {
                display: none;

                @media @phone {
                    display:inherit;
                    position:relative;
                }
            }

            > .partner {
                display: none;
                width:100px;
                padding: 1px;
                text-align:center;
                color: @light-blue;
                border:1px solid @light-blue;
                float: right;

                @media @phone {
                    display:inherit;
                    position:relative;
                    margin-top: @standard-margin;
                }
            }

        }

        >.properties {
            display: inline-block;
            margin-top: 8px;
            i{
                color: @red;
            }
            @media @phone {
                display: block;
            }
        }

        >.details {
            overflow: hidden;
            width:100%;
            position: absolute;
            bottom: 0;
            margin-bottom: @padding-top/2;
            padding-top: @padding-top/2;
            border-top: 1px solid #ccc;
            >.left {
                float: left;
                width:70%; // for ie

                .label{
                    font-family: @font-song;
                    margin-bottom: 10px;
                }

                .value{
                    line-height: 1em;
                    font-size: @root-font-size;
                    font-weight: bold;
                    color: @red;
                    span{
                        font-size: @root-font-size * 1.4;
                    }
                }

                .room{
                    display: inline-block;
                    border-right: 1px solid @border-color;
                    padding-right:30px;
                }

                .size{
                    display: inline-block;
                    padding-left:10px;
                }
            }

            >.right {
                width: 30%;
                text-align: right;
                bottom: 0;
                position: absolute;
                right: 0;
                margin-right: @padding-top;

                > .date {

                }

                > .partner {
                    width:100px;
                    padding: 1px;
                    text-align:center;
                    color: @light-blue;
                    border:1px solid @light-blue;
                    float: right;
                }

            }

            @media @phone {
                position: relative;
                display: inline-block;
                margin-top: @padding-top/2;
                margin-bottom: inherit;

                >.left {
                    width:100%; // for ie

                    .value{
                        font-size: @root-font-size;
                    }

                    .room{
                        width: 48%;
                    }

                    .size{
                        width: 48%;
                    }
                }

                >.right {
                    display: none;
                }
            }
        }
    }
}