@import "_imports";

.resetPasswordForm {
    margin-top: 44px;
     @media @phone {
        margin-top:20px;
    }
    .phone {
        > select {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
             @media @phone {
                width:~"calc(35% - 12px)";
            }
        }
        > input {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            padding: 8px 0 8px 0;
            width: 130px;
            @media @phone {
                width:~"calc(65% - 36px)";
            }
        }
        .phoneIndicator {
            float: right;
            vertical-align: middle;
            display: inline-block;
            margin-top: 16px;
            display: none;
        }
    }

    input[name=code] {
        max-width: 200px;
    }

    input[name=password] {
        max-width: 270px;
    }

    input[name=new_password] {
        max-width: 270px;
    }

    > button[type=submit] {
        margin-top: 20px;
        display: block;
        width: 100%;
    }
    > .errorMessage {
        display: none; color: red; margin-top: 10px; margin-bottom: 0px;
    }
}
