@import "_imports";

.resetPasswordForm {
    margin-top: 44px;
     @media @phone {
        margin-top:20px;
    }
    .phone {
        > select {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            @media @phone {
                margin:0;
                padding: 8px 0 8px 8px;

                width: 100px;               /* fallback for browsers without support for calc() */
                width:~"calc(35% - 12px)";
            }
        }
        > input {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            padding: 8px 0 8px 0;
            width: 160px;
            @media @phone {
                margin-left:0;
                padding: 8px 0 8px 8px;
                width: 130px;               /* fallback for browsers without support for calc() */
                width:~"calc(65% - 20px)";
            }
        }
        .phoneIndicator {
            float: right;
            vertical-align: middle;
            display: inline-block;
            margin-top: 16px;
            display: none;
        }
    }

    .voiceVerification {
        width: 100%;
        margin: 20px 0;
    }

    .voiceHint {
        color: #ccc;
        .voiceVerification {
            color: red
        }
    }

    input[name=code] {
        width:210px;

        @media @phone {
            margin-left:0;
            width: 55%;
            /* fallback for browsers without support for calc() */
            width:~"calc(100% - 90px)";
        }
    }

    input[name=password] {
        width: 270px;
        @media @phone {
            margin-left:0;
            width: 85%;
            /* fallback for browsers without support for calc() */
            width:~"calc(100% - 20px)";
        }
    }

    input[name=new_password] {
        width: 270px;
        @media @phone {
            margin-left:0;
            width: 85%;
            /* fallback for browsers without support for calc() */
            width:~"calc(100% - 20px)";
        }
    }

    > button[type=submit] {
        margin-top: 20px;
        display: block;
        width: 100%;
    }
    > .errorMessage {
        display: none; color: red; margin-top: 10px; margin-bottom: 0;
    }
}
