@import "_imports";

.resetPasswordEmailForm1{
    margin: 40px 0 20px;
    .errorMessage{
        color: @red;
    }
    .button{
        margin-top: 60px;
        width: 100%;
    }
}
.resetPasswordEmailForm2{
    margin: 40px 0 20px;
    .form{
        &.code{
            margin: 0px 0 0;
        }
        &.password{
            margin: 12px 0 20px;
        }
    }
    .errorMessage{
        color: @red;
    }
    .button{
        width: 100%;
    }
}
