@import "_imports";

.signinForm {
    margin-top: 44px;
    @media @phone {
        margin-top:20px;
    }
    .phone {
        > select {
            display: inline-block;
            vertical-align: middle;
            width:100px;
            @media @phone {
                margin:0;
                padding: 8px 0 8px 8px;

                width: 100px;               /* fallback for browsers without support for calc() */
                width:~"calc(35% - 12px)";
            }

        }
        > input {
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
            padding: 8px 0 8px 0;
            width:200px;
            @media @phone {
                margin-left:0;
                padding: 8px 0 8px 8px;
                width: 130px;               /* fallback for browsers without support for calc() */
                width:~"calc(65% - 20px)";
            }
        }
    }

    input[name=nickname] {
        @media @phone {
            margin-left:0;
            padding: 8px 0 8px 0;
            width: 85%;
            /* fallback for browsers without support for calc() */
            width:~"calc(100% - 20px)";
        }
    }

    input[name=password] {

        max-width: 220px;
        width:215px;

        @media @phone {
            max-width:100%;
            margin-left:0;
            padding: 8px 0 8px 0;
            width: 85%;
            /* fallback for browsers without support for calc() */
            width:~"calc(100% - 80px)";
        }
    }

    > button[type=submit] {
        margin-top: 20px;
        display: block;
        width: 100%;
    }
    > .errorMessage {
        display: none; color: red; margin-top: 10px; margin-bottom: 0;
    }
    .notHaveAccountHint {
        margin-top: 20px;
        font-size: 14px;
        color: #999999;
        > a {
            color: #e60012;
            text-decoration: none;
        }
    }
}
