@import "_imports";

.signinForm {
    margin-top: 44px;
    .phone {
        > select {
            display: inline-block;
            vertical-align: middle;
            width: 80px;
        }
        > input {
            display: inline-block;
            vertical-align: middle;
            margin-left: 0px;
            padding: 8px 0 8px 0;
            width: 140px;
        }
    }

    .rememberPassword {
        margin-top: 40px;
        font-size: 14px;
        color: #999999;
        > a {
            color: #e60012;
            text-decoration: none;
        }
    }

    > button[type=submit] {
        margin-top: 20px;
        display: block;
        width: 100%;
    }
    .notHaveAccountHint {
        margin-top: 20px;
        font-size: 14px;
        color: #999999;
        > a {
            color: #e60012;
            text-decoration: none;
        }
    }
}
