@import "_imports";

.supHeader{
    margin: 0 auto; height: 100%; max-width: @max-width;

    &_wrapper {
        .clearfix();
        background: @sup-header-bg;
        position: relative;
        height: @sup-header-height;
        z-index: @header-z-index;
        width: 100%;
        min-width:@min-page-width;

        @media @phone {
            display:none;
        }
    }

    .left {
        white-space: nowrap;
        float: left;
        height:100%;

        .app  {
            height:@sup-header-height;
            line-height:@sup-header-height;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-align:center;
            vertical-align:middle;
            text-decoration:none;
            padding-right:20px;

            &:hover {
                color:@light-color;
            }
        }

        .select-country{
            height:@sup-header-height;
            line-height:@sup-header-height;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-align:center;
            vertical-align:middle;
            text-decoration:none;

            /*&:hover {
                color:@light-color;
            }*/

            img {
                margin-left: 5px;
                margin-right:5px;
                vertical-align: middle;
                max-width:none; //not use the reset.css config
            }
        }
    }

    .user {
        white-space: nowrap;
        height:100%;
        float: right;

        .login{
            cursor: pointer;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-decoration:none;
            padding-right:20px;
            margin-top: 3px;

            &:hover {
                color:@light-color;
            }
        }

        .register{
            cursor: pointer;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-decoration:none;
            margin-top: 3px;

            &:hover {
                color:@light-color;
            }
        }

        .nickname  {
            height:@sup-header-height;
            line-height:@sup-header-height;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-align:center;
            vertical-align:middle;
            text-decoration:none;
            padding-right:20px;

            &:hover {
                color:@light-color;
            }

            img {
                margin-right:5px;
                vertical-align: text-bottom;
                max-width:none; //not use the reset.css config
            }
        }

        .message {
            height:@sup-header-height;
            line-height:@sup-header-height;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-align:center;
            vertical-align:middle;
            text-decoration:none;
            padding-right:20px;

            &:hover {
                color:@light-color;
            }

            img {
                margin-right:5px;
                vertical-align: text-bottom;
                max-width:none; //not use the reset.css config
                margin-top:6px;
                &#icon-message-notif {
                    margin-top:1px;
                }
            }

        }

        .logout {
            height:@sup-header-height;
            line-height:@sup-header-height;
            color: @mute-color;
            .clipped(10em);
            display:inline-block;
            overflow:hidden;
            text-align:center;
            vertical-align:middle;
            text-decoration:none;
            margin-top: 3px;

            &:hover {
                color:@light-color;
            }

            i {
                color: #888;
                font-size: 18px;
                margin-right:5px;
                vertical-align: text-bottom;
                max-width:none; //not use the reset.css config
            }
        }
    }
}
.siteHeader {
    margin: 0 auto; height: 100%; max-width: @max-width;
    @media @phone {
        display:none;
    }
    &_wrapper {
        .clearfix();
        background: @header-bg;
        position: relative;
        height: @header-height;
        z-index: @header-z-index;
        width: 100%;
        min-width:@min-page-width;

        @media @phone {
            position:relative;
            height:44px;
            min-width:0;
        }
    }

    .logo {
        float: left;
        margin-top: 15px;
        height:60px;
    }


    .navbar { .horizontalList(@padding: 16px); float: left; margin-top: 35px; margin-left: 125px;
              > li {
                  > a {
                      color: @mute-color;
                      text-decoration: none;
                      font-size: 16px;
                  }
                  &:hover {
                      > a {
                          color: @light-color;
                          text-decoration: none;
                      }
                  }
              }
            }

    .callus {
        float: right;
        margin-top: 20px;
        white-space: nowrap;
        overflow:hidden;
        border-left:1px solid #555;
        padding-left: 28px;
        i{
            font-size: 40px;
            color: #eee;
        }
        .contact{
            display: inline-block;
            padding-left: 12px;

            .title{
                display: block;
                color: @mute-color;
                text-decoration: none;
                font-size: @small-font-size;
                margin-bottom: -5px;
            }

            .phone{
                display: block;
                a{
                    text-decoration: none;
                    color: @red;
                    font-size: @large-font-size;
                    font-weight: bold;
                }
            }
        }
    }

}
