
@import "_imports";
@import "_styleguide";


.siteHeader {
    &_wrapper {
        .clearfix(); background: @header-bg; position: relative; height: @header-height;  z-index: 1;
        > header { margin: 0 auto; height: 100%; width: @max-width;
            .logo { float: left; margin-top: 12px; margin-left: 32px; width: 260px; height: 50px; }

            .navbar {.horizontalList(@padding: 8px); float: left; margin-top: 16px; margin-left: 170px;
                > li {
                    > a {
                        color: @mute-color;
                        text-decoration: none;
                        font-size: 16px;
                    }
                    &.selected {
                        > a {
                            color: @light-color;
                            text-decoration: none;
                        }
                    }
                }
            }

            .login {float: left; margin-top: 8px;  margin-left: 112px;}
            .register {float: left; margin-top: 10px; margin-left: 16px;}
        }
    }

}