@import "_imports";
@import "_styleguide";

.siteFooter {
    &_wrapper {
        .clearfix();  overflow: hidden;  background: @footer-bg; height: @footer-height;
        > footer {
            margin: 0 auto; height: 100%; width: @max-width;
            .contact { float: left;
                .logo {
                    margin: 40px 0 0 32px; width: 264px; height: 48px;
                }
                @content-margin-left: 130px;
                > p {
                    color: #dcdcdc;
                    &.address {
                        margin-left: @content-margin-left;
                        margin-top: 24px;
                        margin-bottom: 0px;
                        max-width: 180px;
                        font-size: 14px;
                    }
                    &.postalCode {
                        margin-left: @content-margin-left;
                        margin-top: 0px;
                        font-size: 14px;
                    }
                    &.phoneAndEmail {
                        margin-left: @content-margin-left;
                        font-size: 14px;
                    }
                }
            }

            @support-margin-top: 72px;
            .social {
                float: left;
                width: 330px;
                height: 120px;
                margin-left: 74px;
                margin-top: @support-margin-top;
                > h3 { position: absolute; margin-top: 0px; color: #aaaaaa; font-size: 16px;}
                > img {
                    @social-icon-size: 50px;
                    @social-icon-margin: 16px;
                    @social-icon-margin-top: 72px;
                    @social-icon-big-margin-top: 0px;
                    .social-icon-size-small() {
                        width: @social-icon-size;
                    }
                    .social-icon-size-big() {
                        width: 122px;
                    }

                    &.weibo {
                        position: absolute;
                        margin-top: @social-icon-margin-top;
                        margin-right:@social-icon-margin;
                        .social-icon-size-small();
                    }
                    &.twitter {
                        position: absolute;
                        margin-top: @social-icon-margin-top;
                        margin-left: @social-icon-size + @social-icon-margin;
                        margin-right:@social-icon-margin;
                        .social-icon-size-small();

                    }
                    &.facebook {
                        position: absolute;
                        margin-top: @social-icon-margin-top;
                        margin-left: @social-icon-size * 2 + @social-icon-margin * 2;
                        margin-right:@social-icon-margin;
                        .social-icon-size-small();
                    }
                    &.weixin {
                        position: absolute;
                        .social-icon-size-big();
                        margin-top: @social-icon-big-margin-top;
                        margin-left: @social-icon-size * 3 + @social-icon-margin * 3;
                        margin-right:@social-icon-margin;
                    }
                }
            }

            .support {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 40px;
                max-width: 80px;
                > h3 { color: #aaaaaa; margin-top: 0px;  margin-bottom: 30px; font-size: 16px;}
                > a {color: #EEEEEE; text-decoration: none; font-size: 14px; margin-bottom: 12px; display: inline-block;}
            }
            .feature {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 30px;
                max-width: 75px;
                > h3 { color: #aaaaaa; margin-top: 0px;  margin-bottom: 30px; font-size: 16px;}
                > a {color: #EEEEEE; text-decoration: none; font-size: 14px; margin-bottom: 12px; display: inline-block;}
            }
            .language {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 30px;
                max-width: 96px;
                > h3 { color: #aaaaaa; margin-top: 0px; margin-bottom: 30px; font-size: 16px;}
                > a {color: #EEEEEE; text-decoration: none; font-size: 14px; margin-bottom: 12px; display: inline-block;}
            }
        }
    }
}

.copyright{ .clearfix(); overflow: hidden; background: @copyright-bg; height:40px; width: 100%;
    > p{margin: 12px auto; height: 100%; width: @max-width; font-size: 14px; text-align: center; color: #ffffff;}
}