@import "_imports";
@import "_styleguide";

.siteFooter {
    &_wrapper {
        .clearfix(); background: @footer-bg; height: @footer-height;
        > footer {
            margin: 0 auto; height: 100%; width: @max-width;

            .contact { float: left;
                .logo {
                    margin: 40px 0 0 40px; width: 264px; height: 48px;
                }
                @content-margin-left: 130px;
                > p {
                    color: #dcdcdc;
                    &.address {
                        margin-left: @content-margin-left;
                        max-width: 180px;
                    }
                    &.postalCode {
                        margin-left: @content-margin-left;
                    }
                    &.phoneAndEmail {
                        margin-left: @content-margin-left;
                    }
                }
            }

            .social {
                float: left;
                margin-left: 74px;
                margin-top: 80px;
                > h3 { color: #aaaaaa}
                > img {
                    .social-icon-size-small() {
                        width: 50px;
                        height: 50px;
                    }
                    .social-icon-size-big() {
                        width: 122px;
                        height: 122px;
                    }

                    &.weibo {
                        .round-corner();
                        .social-icon-size-small();
                    }
                    &.twitter {
                        .round-corner();
                        .social-icon-size-small();

                    }
                    &.facebook {
                        .round-corner();
                        .social-icon-size-small();
                    }
                    &.weixin {
                        .round-corner();
                        .social-icon-size-big();
                    }
                }
            }

            @support-margin-top: 80px;
            .support {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 40px;
                max-width: 80px;
                > h3 { color: #aaaaaa; margin-bottom: 30px;}
                > a {color: #EEEEEE; text-decoration: none; margin-bottom: 12px; display: inline-block;}
            }
            .feature {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 30px;
                max-width: 75px;
                > h3 { color: #aaaaaa; margin-bottom: 30px;}
                > a {color: #EEEEEE; text-decoration: none; margin-bottom: 12px; display: inline-block;}
            }
            .language {
                float: left;
                margin-top: @support-margin-top;
                margin-left: 30px;
                > h3 { color: #aaaaaa; margin-bottom: 30px;}
                > a {color: #EEEEEE; text-decoration: none; margin-bottom: 12px; display: inline-block;}
            }
        }
    }
}