/*! Created by frank on 14-8-27.  */
@import "_imports";
// TabBar
//
// TabBar styles
//
// Markup:
// <div class=tabbar>
// <ul>
//  <li class=active>详情</li><li>价格趋势</li><li>街区信息</li><li>投资分析</li>
// </ul>
// </div>
//
// .tabbar - 默认样式
//
// Styleguide 4
@border-color: #ccc;
@color: #999;
@red: #e60012;
.tabbar { height: 16px; border-bottom: 1px solid @border-color; text-align: center; margin-bottom: 16px; overflow: visible;
    ul { list-style: none; display: inline-block; margin: 0; padding: 0; }
    li { float: left; width: 120px; line-height: 28px;
        color: @color; cursor: pointer;
        border: 2px solid @border-color; border-left-width: 0; background: white;
        &:first-child { border-left: 2px solid @border-color; }
        &.active { background: @red; color: white; border-color: @red; }
    }
}
