/*! Created by frank on 14-8-27.  */
@import "_imports";
@border-color: #ccc;
@color: #999;
@red: #e60012;
.tabbar { height: 16px; border-bottom: 1px solid @border-color; text-align: center; margin-bottom: 16px; overflow: visible;
    ul { list-style: none; display: inline-block; margin: 0; padding: 0; }
    li { float: left; width: 120px; line-height: 28px;
        color: @color; cursor: pointer;
        border: 2px solid @border-color; border-left-width: 0; background: white;
        &:first-child { border-left: 2px solid @border-color; }
        &.active { background: @red; color: white; border-color: @red; }
    }
}
