@import "_imports";

.modal-profile-crop{
    display: none;
    padding: 0;
    background: #fff;
    @media @phone {
       width: 316px;
    }
    .btn{
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid #e5e5e5;
        white-space: nowrap;
        padding: 6px 16px;
        font-size: 15px;
        line-height: 1.42857143;
        border-radius: 3px;
        user-select: none;
        position: relative;
        float: left;
        color: #5c5c5c;
        
        &.btn-primary{
            background-color: #2d9fd8;
            border-color: #2d9fd8;
            color: #fff;
        }
        &:hover{
            background-color: #3498cb;
        }
    }

    .btn-group{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        .btn{
            &:not(:first-child):not(:last-child){
                border-radius: 0;
            }
            &:last-child:not(:first-child){
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }
            &:first-child:not(:last-child):not(.dropdown-toggle){
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }

    .modal-content{
        .modal-title {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
        }
        .modal-body {
            position: relative;
            padding: 15px;
            .profile-crop-image-container {
                height: 300px;
                margin: 0 auto;
            }
        }
        .modal-footer {
            padding: 15px;
            text-align: right;
            border-top: 1px solid #e5e5e5;
            .btn{
                float: none;
            }
        }
        .crop-controls {
            padding: 10px 0 0;
            text-align: center;
            
        }
        .btn-clipboard {
            border-radius: 3px;
            font-size: 15px;
            font-weight: 500;
            padding: 6px 10px;
            background-color: #fff;
            border-color: #e5e5e5;
            color: #848484;
            color: #5c5c5c;
        }
    }
}


