@green: #82cc00;
@red: #e60012;
@import "_imports";

html {
    @media @phone {
        min-height:100%;/* make sure it is at least as tall as the viewport */
        position:relative
    }
}

body {
    @media @phone {
        min-height:100%;
    }
}

.page {
    @media @phone {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #333333;
    }
}

.userPage {

}
.userProfile { font-size: 12px;
    margin-bottom: 60px;

    @media @phone {
        margin-bottom: 0;
    }

    > img { display: block; }
    .logout{
        float: right;
        padding: 20px 20px 0px 0px;
    }

    .account {
        color: #cccccc;
        background: #222222;
        padding: 60px 40px 60px 40px;
        text-align: center;
        h1 {
            font-size: @large-font-size;
        }

        .vip{
            /*! Disabled for now */
            display: none;
            .vipActive{
                background:#ffae00;color: #091225;padding: 2px 5px;
            }
            .vipInactive{
                background:#444444;color: #091225;padding: 2px 5px;
            }
        }
        .verificationStatus { background: white; padding: 4px 4px 4px 34px; text-align: center; border-radius: 4px; color: black;
            position: relative; overflow: hidden; margin: 16px 4px 0; display: inline-block; text-decoration: none;
            i { background: @green; padding: 4px; margin-right: 4px; position: absolute; left: 0; top: 0; height: 100%;
                width: 30px; text-align: center; border-radius: 4px 0 0 4px; }
            img { vertical-align: baseline; }
            &.red {
                i {
                    background: @red;
                }
            }
        }
    }
    .settings { background: #333333; color: #cccccc;
        > ul { .clearfix(); padding: 16px 0;
            > li {
                float: left; width: 33.33%; text-align: center; padding: 16px;
                > a { display: block; margin-bottom: 8px; }
            }
        }
    }
    .cv { background: #f6f6f6; padding: 16px;
        hr { color: #cccccc; }
        .header { margin: 16px 0;
            h2 { font-size: 20px; display: inline-block; }
            button { float: right; margin-left: 8px; }
        }
        col.head { width: 48px; }
        td:first-child { color: #999; }
        td {
            padding: 12px 0;
            input[name=nickname] {
                height: 40px;
                padding-left: 4px;
                font-size: 14px;
                border: 1px solid #cccccc;
                border-radius: 4px;
                background: white;
            }

            select[name=country] {
                background: white;
                border: 1px solid #cccccc;
                border-radius: 4px;
                width: 100%;
            }
        }
        .error { color: @red; padding: 8px; border: 1px solid #ccc; border-radius: 4px; }
        .success { color: @green; padding: 8px; border: 1px solid; border-radius: 4px; }
    }
}
.siteHeader_phone {
    display: none;
}
.userPageHeader_phone {
    display: none;
    @media @phone {
        display: block;
        z-index: @header-z-index;
    }

    #rmm-center-wrapper {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 170px;
        text-align: center;

        img {
            height: 5px;
            margin-top: 6px;
            vertical-align: top;
        }
    }
}


