<div>
{%$root.i18n('尊敬的')%}{%item.interested_rent_tickets[0].creator_user.nickname%}{%$root.i18n('您好，这里是洋房东，请问您发布的')%}"{%item.interested_rent_tickets[0].title%}"{%$root.i18n('还在出租吗？现在有位租客很感兴趣，下面是租客信息：')%}
<br/>
{%$root.i18n('咨询单编号: ')%}{%item.short_id%}
{%$root.i18n('入住日期: ')%}{%item.rent_available_time * 1000 | date : 'yyyy年MM月d日'%}
{%$root.i18n('搬出日期: ')%}{%item.rent_deadline_time * 1000 | date : 'yyyy年MM月d日'%}
{%$root.i18n('入住人数: ')%}{%item.tenant_count%}
{%$root.i18n('性别: ')%}{%item.gender === 'male'? $root.i18n('男') : $root.i18n('女')%}
{%$root.i18n('职业: ')%}{%item.occupation.value[userLanguage.value]%}
{%$root.i18n('年龄: ')%}{%item.age | number : '0'%}
{%$root.i18n('是否带宠物入住: ')%}{% item.pet | booleanChinese%}
{%$root.i18n('是否有小孩入住: ')%}{% item.baby | booleanChinese%}
{%$root.i18n('是否吸烟: ')%}{% item.smoke | booleanChinese%}
{%$root.i18n('入住原因: ')%}{% item.description%}
<br/>
{%$root.i18n('请您尽快以短信或电话的方式回复我们：')%}
{%$root.i18n('电话：020-3040-2258')%}
{%$root.i18n('短信：直接回复本信息即可')%}
</div>