.dynamic{
    .dynamicItem{
        margin-bottom: 24px;
        .media-avatar{
            &.media-left{
                float: left;
                margin-right: 10px;
            }
            &.media-right{
                float: right;
                margin-left: 10px;
            }
            vertical-align: top;
            a{
                display: block;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                border: 3px solid #f0f0f0;
                background-size:cover;
                overflow: hidden;
                text-align: center;
                line-height: 58px;
                i{
                    vertical-align: middle;
                }
                img{
                    vertical-align: top;
                }
            }
        }
        .media-body{
            overflow: hidden;
            margin-right: 74px;
            .alert{
                display: inline-block;
                margin-left: 0;
                margin-bottom: 0;
                padding: 8px;
            }
            &.media-body-right{
                text-align: right;
                margin-left: 74px;
                .alert{
                    margin-right: 0;
                    text-align: left;
                    &.alert-sending{
                        position: relative;
                        color: #595959;
                        background-color: #eee;
                        border-color: #ccc;
                        &:before{
                            position: absolute;
                            content: '';
                            display: block;
                            width: 16px;
                            height: 16px;
                            background: url("/static/images/common/ajax-loader.gif") 50% 50% no-repeat;
                            left: -24px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: #999;
                        }
                    }
                }
            }

            .panel{
                .panel-heading{
                    text-align: center;
                    border-top: 1px solid transparent;
                    border-bottom: none;
                    border-radius: 0 0 3px 3px;
                }
                .panel-body{
                    text-align: left;
                    background: #f5f5f5;
                    h3{
                        margin: 10px 0;
                    }
                    pre, div{
                        display: block;
                        padding: 15px;
                        margin: 0 -15px -15px;
                        font-size: 13px;
                        line-height: 1.42857143;
                        color: #333;
                        word-break: break-all;
                        word-wrap: break-word;
                        background-color: #FBFBFB;
                        border: none;
                        border-top: 1px solid #ddd;
                        border-radius: 0;
                    }
                }
                .panel-footer{
                    text-align: center;
                }
            }
        }
    }
}