<script id="addtional_houseCard_template" type="text/template">
    <div class="addtionalHouseCard" data-budget-id={=budgetId=}
         {_if (index % 3) {_}
        style="margin-left:40px;"
        {_}_}
         >
        <div class="imagePart">
            {_if (house.cover){_}
            <a href="/property/{=house.id=}">
                <img src="{=team.convertToHttps({'link':house.cover, 'property_id':house.id, 'thumbnail':true})=}" width=240 height=160 onerror="window.onImgError(this);"/>
            </a>
            {_ } else if(house.reality_images && house.reality_images.length) {_}
            <a href="/property/{=house.id=}">
                <img src="{=team.convertToHttps({'link':house.reality_images[0], 'property_id':house.id, 'thumbnail':true})=}" width=240 height=160 onerror="window.onImgError(this);"/>
            </a>
            {_ }else { _}
            <a href="/property/{=house.id=}">
                <img class="withPlaceholder" width=240 height=160/>
            </a>
            {_}_}
            <div class="labels">
                {_if (house.rental_guarantee_term){_}
                <label class="rent" for="">{=house.rental_guarantee_term + ' ' + window.i18n('年包租')=}
                    {_if (house.rental_guarantee_rate){_}
                    {=' ' +  parseFloat(house.rental_guarantee_rate).toFixed(2) + '%'=}
                    {_}_}
                </label>
                {_}_}
                {_if (house.property_type && house.property_type.value){_}
                <label class="type" for="">{=house.property_type.value=}</label>
                {_}_}
            </div>
            {_if (house.status === 'sold out'){_}
            <div class="soldOut">
                <img alt="" src="/static/images/background/sold-out.png"/>
                <label for="">{=window.i18n('售罄')=}</label>
            </div>
            {_}_}
        </div>
        <div class=description>
            <h1 class=name>
               <a href="/property/{=house.id=}">
                {_if (house.country){_}
                {=window.team.countryMap[house.country.code]=}
                {_}_}
                {_if (house.city){_}
                {=house.city.name=}
                {_}_}
                {=house.name=}
            </a>
            </h1>
            {_if(house.street) {_}
            <div class="address">
                <i class="icon-location_fill"></i>
                <label>{=house.street=}</label>
            </div>
            {_}_}
            <label class="price">
                <!--@@include=../../partials/get_unit_price.tpl.html -->
            </label>
        </div>
    </div>
</script>
