<script id="houseCard_template" type="text/template" data-cell-height=240>
    <div class="crowdfundingCard houseCard">
        <div class="imagePart">
            {_ if(house.reality_images && house.reality_images.length) {_}
            <a href="/crowdfunding/{=house.id=}">
                <img src="{=team.convertToHttps({'link':house.reality_images[0], 'crowdfunding_id':house.id, 'thumbnail':true})=}" width=320 height=213 onerror="window.onImgError(this);"/>
            </a>
            {_ }else { _}
            <a href="/crowdfunding/{=house.id=}">
                <img class="withPlaceholder" width="320" height="213"/>
            </a>
            {_}_}
            <div class="labels">
                {_ var todayDate = new Date();_}
                {_if (house.funding_end_date && house.funding_end_date > todayDate.getTime() / 1000) {_}
                <label class="leftTime" for="">{= window.i18n('剩余') + team.dayCountBefore(new Date(house.funding_end_date * 1000)) + window.i18n('天')=}</label>
                {_} else if (house.funding_end_date && house.funding_end_date <= todayDate.getTime() / 1000) {_}
                <label class="leftTime" for="">{= window.i18n('结束')=}</label>
                {_}_}
                {_if (house.investment_type && house.investment_type.length){_}
                <label class="type" for="">{=house.investment_type[0].value=}</label>
                {_}_}
            </div>
            {_if (house.status === 'sold out'){_}
            <div class="soldOut">
                <img alt="" src="/static/images/background/sold-out.png"/>
                <label for="">{=window.i18n('已完成')=}</label>
            </div>
            {_}_}
        </div>

        <div class="description_wrapper">
            <div class=description>
                <div class="summary">
                    <div class="left">
                        <h1 class=name>
                            <a href="/crowdfunding/{=house.id=}">
                                {_if (house.country){_}
                                {=window.team.countryMap[house.country.code]=}
                                {_}_}
                                {_if (house.city){_}
                                {=house.city.name=}
                                {_}_}
                                {=house.name=}
                            </a>
                        </h1>
                        <ul class=properties>
                            {_if(house.intention && house.intention.length) {_}
                            <li><img src="/static/images/common/crowdfunding_card/icon-house.png" alt=""/>
                                <label>
                                    {_ _.each(house.intention, function(oneIntention) { _}
                                    {=oneIntention.value=}
                                    {_})_}
                                </label>
                            </li>
                            {_}_}
                            {_if(house.address) {_}
                            <li>
                                <img src="/static/images/common/crowdfunding_card/icon-location.png" alt=""/>
                                <label>{=house.address=}</label>
                            </li>
                            {_}_}
                        </ul>
                    </div>
                    <div class="right">
                        <span class=price>
                            {_if (house.funding_min) {_}
                            {!team.formatCurrency(parseInt(house.funding_min)) + window.i18n('元起')!}
                            {_}_}
                            {_if (house.term) {_}
                            <br/>
                            {=house.term + window.i18n('年锁定')=}
                            {_}_}
                        </span>
                    </div>
                </div>

                {_if (house.funding_goal) {_}
                <div class="progress">
                    <label class="available">
                        {=window.i18n('可募集')=}
                        <strong>
                            {_if (house.funding_available) {_}
                            {!team.formatCurrency(parseInt(house.funding_available)) + '/'!}
                            {_}_}
                            {!team.formatCurrency(parseInt(house.funding_goal))!}
                        </strong>
                    </label>
                    <div class="progressBar">
                        <div class="value" style="width:{=parseFloat((house.funding_goal- (house.funding_available ? house.funding_available: house.funding_goal)) / house.funding_goal * 100) + '%' =};"></div>
                    </div>
                </div>
                {_}_}

                <div class="incoming">
                    <ul>
                        {_ if (house.min_annual_return_estimated && house.max_annual_return_estimated) { _}
                        <li>
                            <span class=label>{=window.i18n('预计年总回报率')=}</span>
                            <span class=value><strong>{=house.min_annual_return_estimated + "~" + house.max_annual_return_estimated=}</strong></span>
                        </li>
                        {_}_}
                        {_ if (house.min_annual_cash_return_estimated && house.max_annual_cash_return_estimated) { _}
                        <li>
                            <span class=label>{=window.i18n('预计年租金收益率')=}</span>
                            <span class=value>{!team.formatCurrency(parseInt(house.min_annual_cash_return_estimated)) + '~' + team.formatCurrency(parseInt(house.max_annual_cash_return_estimated))!}</span>
                        </li>
                        {_}_}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
