<script id="transaction_list_item_template" type="text/template">
    <tr class="row">
        <td class="col_name">
            <div>
                <a href="#">{=order.items[0].name=}</a>
            </div>
        </td>
        <td class="col_type">
            <div>
                {=order.type=}
            </div>
        </td>
        <td class="col_price">
            <div>
                {=order.price=}
            </div>
        </td>
        <td class="col_date">
            <div class="date">
                {=project.formatDate(order.time)=}
            </div>
            <div class="time">
                {=project.formatTime(order.time,'HH:mm:ss')=}
            </div>
        </td>
        <td class="col_date">
            <div class="date">
                {=project.formatDate(order.time)=}
            </div>
            <div class="time">
                {=project.formatTime(order.time,'HH:mm:ss')=}
            </div>
        </td>
        <td class="col_status">
            <div>
                {=order.status=}
            </div>
        </td>
    </tr>
</script>
