<template id='edit-travel-time'>
    <span class="hint" data-bind="visible: hint() !== undefined && hint().length, text: hint"></span>
    <div data-bind="visible: travel().length">
        <select class="chosen-without-border mode" data-bind="
            chosen: travel,
            value: selectedType,
            event: { change: changeMode.bind($data) },
            optionsText: function(item){return item.type.slug}
        "></select>
        <select class="chosen-without-border time" data-bind="
            chosen: timeToChoose,
            value: selectedTime,
            event: { change: changeTime.bind($data) },
            optionsText: function(item){return item.value + item.unit},
        "></select>
    </div>
</template>