<!--@@master=master/house_card_content_master_phone.tpl.html-->



<!--@@block=action_phone -->
<hr/>
<div class="propertyInfo">
    <p class="location">
        <i class="icon-location_fill"></i>
        <label>
            {_if (house.street){_}
            {=house.street=},
            {_}_}
            {_if (house.city){_}
            {=house.city.name=},
            {_}_}
            {_if (house.country){_}
            {=window.team.countryMap[house.country.code]=}
            {_}_}
        </label>
    </p>
    <p class="tag">
        <i class="icon-tag_icon"></i>
        <label>
            {_ _.each(house.intention, function(oneIntention) { _}
            {=oneIntention.value=}
            {_})_}
        </label>
    </p>
    {_if(house.living_room_count || house.bathroom_count || house.space) {_}
    <div class="size">
        <div class="room">
            <p class="title">{=window.i18n('房间')=}</p>
            <p class="content">
                {_if(house.living_room_count) {_}
                {=house.living_room_count=}{=window.i18n('室')=}
                {_}_}
                {_if(house.bathroom_count) {_}
                {=house.bathroom_count=}{=window.i18n('卫')=}
                {_}_}
            </p>
        </div>
        <div class="space">
            <p class="title">{=window.i18n('面积')=}</p>
            <p class="content">
                {_if(house.space) {_}
                {= parseFloat(house.space.value).toFixed(2)=}
                {_if (house.space.unit === 'foot ** 2'){_}
                SQFT
                {_} else if(house.space.unit === 'acre'){_}
                ACRE
                {_} else if (house.space.unit === 'meter ** 2') {_}
                m <sup>2</sup>
                {_} else if (house.space.unit === 'kilometer ** 2') {_}
                km <sup>2</sup>
                {_} else {_}
                {=house.space.unit=}
                {_}_}
                {_}_}
            </p>
        </div>
    </div>
    {_} else if (house.main_house_types && house.main_house_types.length) {_}
    <div class="size">
        <div class="room">
            <p class="title">{=window.i18n('主要户型')=}</p>
            <p class="content">
                {_if(house.main_house_types[0].living_room_count) {_}
                {=house.main_house_types[0].living_room_count=}{=window.i18n('室')=}
                {_}_}
                {_if(house.main_house_types[0].bathroom_count) {_}
                {=house.main_house_types[0].bathroom_count=}{=window.i18n('卫')=}
                {_}_}
            </p>
        </div>
        <div class="space">
            <p class="title">{=window.i18n('面积')=}</p>
            <p class="content">
                {_if(house.main_house_types[0].building_area) {_}
                {= parseFloat(house.main_house_types[0].building_area.value).toFixed(2)=}
                {_if (house.main_house_types[0].building_area.unit === 'foot ** 2'){_}
                SQFT
                {_} else if(house.main_house_types[0].building_area.unit === 'acre'){_}
                ACRE
                {_} else if (house.main_house_types[0].building_area.unit === 'meter ** 2') {_}
                m <sup>2</sup>
                {_} else if (house.main_house_types[0].building_area.unit === 'kilometer ** 2') {_}
                km <sup>2</sup>
                {_} else {_}
                {=house.main_house_types[0].building_area.unit=}
                {_}_}
                {_}_}
            </p>
        </div>
    </div>

    {_}_}
</div>
<!--@@close-->

<!--@@block=cover_phone -->
<div class="otherAction">
    <a data-id={=fav.id=} class="cancelFavorite">
        <i class="icon-delete"></i>
        <label>{=window.i18n('取消收藏')=}</label>
    </a>
</div>
<div class="undoFavorite_shadow otherAction" style="display:none;">
    <button id="undoFavorite"  data-id={=fav.id=} data-property-id="{=fav.property.id=}" class="undoFavorite">
        <i class="icon-refresh"></i>
        <span>{=window.i18n('撤销')=}</span>
    </button>
</div>
<!--@@close-->
