<script id="fav_rentCard_template" type="text/template">
    <div class="rentCard" data-id="{=fav.id=}">
        <div class="imagePart">
            <a href="/property-to-rent/{=fav.ticket.id=}">
                {_if (fav.ticket.property.cover){_}
                <img src="{=team.convertToHttps({'link':fav.ticket.property.cover, 'property_id':fav.ticket.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
                {_ } else if(fav.ticket.property.reality_images && fav.ticket.property.reality_images.length) {_}
                <img src="{=team.convertToHttps({'link':fav.ticket.property.reality_images[0], 'property_id':fav.ticket.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
                {_ }else { _}
                <img class="withPlaceholder"/>
                {_ } _}

                <div class="labels">
                    {_if(fav.ticket.property.property_type) {_}
                    <label class="property-type">{=fav.ticket.property.property_type.value=}</label>
                    {_}_}
                    {_if(fav.ticket.rent_type) {_}
                    <label class="rent-type">{=fav.ticket.rent_type.value=}</label>
                    {_}_}
                </div>
            </a>
        </div>
        <div class="description_wrapper">
            <div class="description">
                <div class="titles">
                    <a href="/property-to-rent/{=fav.ticket.id=}">
                        {_if(fav.ticket.title) {_}
                        <p id="name" class="name">{=fav.ticket.title=}</p>
                        {_}_}
                    </a>
                    {_if(fav.ticket.price) {_}
                    <span class="price">
                        <span class="price_original">
                            {=fav.ticket.price.unit_symbol=}<strong>{!team.formatCurrency(parseInt(fav.ticket.price.value),0)!}</strong>{=window.i18n('/周')=}
                        </span>
                        {_if(fav.ticket.price.localized_unit_symbol) {_}
                        <span class="price_reference">{=window.i18n('约')=}{=fav.ticket.price.localized_unit_symbol=}{!team.formatCurrency(parseInt(fav.ticket.price.localized_value),0)!}{=window.i18n('/周')=}</span>
                        {_}_}
                    </span>                    {_}_}
                    <p class="date">{!team.parsePublishDate(parseInt(fav.ticket.last_modified_time))!}{=window.i18n('发布')=}</p>
                </div>
                <ul class="properties">
                    <li>
                        <i class="icon-location_fill"></i>
                        <!-- todo 国家城市数据结构更改后city中就没有country属性了，我把这儿更改后不知道会不会有问题，需要测试 --by levy-->
                        {_if(fav.ticket.property.country && fav.ticket.property.country.code) {_}
                        {= window.team.countryMap[fav.ticket.property.country.code] + " " =}
                        {_}_}
                        {_if(fav.ticket.property.city && fav.ticket.property.city.name) {_}
                        {= fav.ticket.property.city.name + " " =}
                        {_}_}
                        {_if(fav.ticket.property.street) {_}
                        {= fav.ticket.property.street =}
                        {_}_}
                    </li>
                    {_if(fav.ticket.property.region_highlight && fav.ticket.property.region_highlight.length) {_}
                    <li><i class="icon-tag_icon"></i>
                        {_ _.each(fav.ticket.region_highlight, function(highlight) { _}
                        {=highlight.value=}
                        {_ }) _}
                    </li>
                    {_}_}
                </ul>
                <div class="details">
                    <div class="left">
                        {_if(fav.ticket.property.bedroom_count || fav.ticket.property.living_room_count) {_}
                        <div class="room">
                            <p class="label">{=window.i18n('居室')=}</p>
                            <p class="value">
                                {_if(fav.ticket.property.bedroom_count) {_}
                                {=fav.ticket.property.bedroom_count + window.i18n('室') =}
                                {_}_}
                                {_if(fav.ticket.property.living_room_count) {_}
                                {=fav.ticket.property.living_room_count + window.i18n('厅')=}
                                {_}_}
                            </p>
                        </div>
                        {_}_}
                        {_if(fav.ticket.space) {_}
                        <div class="size">
                            <p class="label">{=window.i18n('面积')=}</p>
                            <p class="value">
                                {= parseFloat(fav.ticket.space.value).toFixed(2)=}
                                {_if (fav.ticket.space.unit === 'foot ** 2'){_}
                                sq ft
                                {_} else if(fav.ticket.space.unit === 'acre'){_}
                                acre
                                {_} else if (fav.ticket.space.unit === 'meter ** 2') {_}
                                m <sup>2</sup>
                                {_} else if (fav.ticket.space.unit === 'kilometer ** 2') {_}
                                km <sup>2</sup>
                                {_} else {_}
                                {=fav.ticket.space.unit=}
                                {_}_}
                            </p>
                        </div>
                        {_}_}
                    </div>
                    <div class="right">
                        <button data-id={=fav.id=} class="cancelFavorite ghostButton darkGray">{=window.i18n('取消收藏')=}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottomActions">
            <a data-id={=fav.id=} class="cancelFavorite_phone action">
                <img alt="" src="/static/images/user/button_delete.png"/>
                <span>{=window.i18n('取消收藏')=}</span>
            </a>
        </div>
        <div class="undoFavorite_shadow">
            <button data-id={=fav.id=} data-rent-id="{=fav.ticket.id=}" class="undoFavorite">
                <img alt="" src="/static/images/user/favorites/undo.png"/>
                <span>{=window.i18n('撤销')=}</span>
            </button>
        </div>
    </div>
</script>