<!--@@master=master/house_card_content_master.tpl.html-->

<!--@@block=price -->
<span class=price>
    <!--@@include=../../partials/get_unit_price.tpl.html -->
</span>
<!--@@close -->


<!--@@block=action -->
<div class="otherAction">
    <button data-id={=fav.id=} class="cancelFavorite ghostButton darkGray">{=window.i18n('取消收藏')=}</button>
</div>
<!--@@close-->

<!--@@block=cover -->
<div class="undoFavorite_shadow" style="display:none;">
    <button data-id={=fav.id=} data-property-id="{=fav.property.id=}" class="undoFavorite"> <i class="icon-refresh"></i><span>{=window.i18n('撤销')=}</span></button>
</div>
<!--@@close-->
