<div class="houseCard_wrapper">
    % property_type_slug = property.get('property_type').get('slug')
    <h2 class="houseCard_category">
        %if property.get('news_category'):
            {{property.get('news_category')[0].get('value')}}
        %end
    </h2>

    <div class="houseCard_phone">
        <a class="imagePart" title="{{property.get('name','')}}"
           %if is_mobile_client():
           href="#" onclick="window.bridge.callHandler(&quot;openURLInNewController&quot;, &quot;/property/{{property.get('id')}}&quot;);return false;"
           %else:
           href="/property/{{property.get('id')}}"
           %end
           >
           %if property.get('cover'):
                <img alt="{{property.get('name','')}}" src="{{!fetch_image(property.get('cover'), thumbnail=True, property_id=property.get('id'))}}" onerror="window.onImgError(this);"/>
            %elif (property.get('reality_images')):
                <img alt="{{property.get('name','')}}" src="{{!fetch_image(property.get('reality_images')[0], thumbnail=True, property_id=property.get('id'))}}" onerror="window.onImgError(this);"/>
            %else :
                <img alt="{{property.get('name','')}}" class="withPlaceholder"/>
            %end
            <div class="labels">
                %if property.get('property_type'):
                    <label class="type" for=""> {{property.get('property_type').get('value')}}</label>
                %end
                %if property.get('rental_guarantee_term'):
                    <label class="rent" for="">
                        {{property.get('rental_guarantee_term')}}
                        {{' '}}
                        {{_('年包租')}}
                        %if property.get('rental_guarantee_rate'):
                            {{' '}}
                            {{str(float("{0:.2f}".format(property.get('rental_guarantee_rate')))) + '%'}}
                        %end
                    </label>

                %end
            </div>

            %if property.get('status') == 'sold out':
                <div class="soldOut">
                    <img alt="" src="/static/images/background/sold-out.png"/>
                    <label for="">{{_('售罄')}}</label>
                </div>
            %end
            <div class="imageText">
                <div class="left">
                    <p class=name>
                        %if property.get('country'):
                            {{get_country_name_by_code(property.get('country').get('code'))}}
                        %end
                        %if property.get('city') and property.get('city').get('name'):
                            {{property.get('city').get('name')}}
                        %end
                        %if property.get('name'):
                            {{property.get('name')}}
                        %end
                    </p>
                    %if property.get('property_type'):
                        % property_type_slug = property.get('property_type').get('slug')
                        % if property_type_slug != 'new_property' and property_type_slug != 'student_housing':
                            <p class=size>
                                <!--@@include=../../partials/get_size.html -->
                            </p>
                        %end
                    %end
                </div>
                <div class="right">
                    <table>
                        <tr>
                            <td>
                                <label class=price>
                                    <!--@@include=../../partials/get_unit_price.html -->
                                    <!--@@include=../../partials/get_reference_price.html  -->
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </a>

        <div class="textPart" >
            <a class="textPart_inner" title="{{property.get('name','')}}"
           %if is_mobile_client():
               href="#" onclick="window.bridge.callHandler(&quot;"openURLInNewController&quot;, &quot;/property/{{property.get('id')}}&quot;);return false;"
           %else:
               href="/property/{{property.get('id')}}"
           %end
           >
                <table class="textPart_innerTable">
                    <tr>
                        <td class=properties>
                            <ul >
                                %if property.get('intention'):
                                    <li>
                                        <i class="icon-tag_icon"></i>
                                        <label>
                                            % for item in property.get('intention'):
                                                %if item.get('value'):
                                                    {{item.get('value')}}
                                                %end
                                            %end
                                        </label>
                                    </li>
                                %end
                                %if property.get('street'):
                                    <li><i class="icon-location_fill"></i>
                                        <label>
                                            {{property.get('street')}}
                                        </label>
                                    </li>
                                %end
                            </ul>
                        </td>
                        <td class=estimate>
                            <div >
                                %if property.get('annual_return_estimated'):
                                    <span class=label>{{_('预计年化收益率')}}</span>
                                    <span class=value><strong>{{property.get('annual_return_estimated')}}</strong></span>
                                %elif property.get('annual_cash_return_estimated'):
                                    <span class=label>{{_('预估现金年化收益率')}}</span>
                                    <span class=value><strong>{{property.get('annual_cash_return_estimated')}}</strong></span>
                                %end
                            </div>
                        </td>
                    </tr>
                </table>
                <p class="border"></p>
            </a>
        </div>

        <div class="relatedNews">
            <h3 class="title">{{_('相关动态')}}</h3>

            <div class="list">
                % for item in property.get('related_news'):
                    <a class="item" href=/news/{{item.get('id')}}>{{item.get('title')}}</a>
                % end
            </div>
        </div>
    </div>


    <div class=houseCard>
        <div class="imagePart">
            <a title="{{property.get('name','')}}" href="/property/{{property.get('id')}}">
                %if property.get('cover'):
                    <img alt="{{property.get('name','')}}" src="{{!fetch_image(property.get('cover'), thumbnail=True, property_id=property.get('id'))}}" onerror="window.onImgError(this);" width="320" height="213"/>
                %elif (property.get('reality_images')):
                    <img alt="{{property.get('name','')}}" src="{{!fetch_image(property.get('reality_images')[0], thumbnail=True, property_id=property.get('id'))}}" onerror="window.onImgError(this);" width="320" height="213"/>
                %else :
                    <img alt="{{property.get('name','')}}" class="withPlaceholder" width="320" height="213"/>
                %end
            </a>
            <div class="labels">
                %if (property.get('rental_guarantee_term')):
                    <label class="rent" for="">
                        {{property.get('rental_guarantee_term')}}
                        {{' '}}
                        {{_('年包租')}}
                        %if property.get('rental_guarantee_rate'):
                            {{' '}}
                            {{str(float("{0:.2f}".format(property.get('rental_guarantee_rate')))) + '%'}}
                        %end
                    </label>

                %end
                %if property.get('property_type'):
                    <label class="type" for=""> {{property.get('property_type').get('value')}}</label>
                %end
            </div>
            %if property.get('status') == 'sold out':
                <div class="soldOut">
                    <img alt="" src="/static/images/background/sold-out.png"/>
                    <label for="">{{_('售罄')}}</label>
                </div>
            %end

        </div>

        <div class="description_wrapper">
            <div class=description>
                <h1 class=name>
                    <a title="{{property.get('name','')}}" href="/property/{{property.get('id')}}">
                        %if property.get('country'):
                            {{get_country_name_by_code(property.get('country').get('code'))}}
                        %end
                        %if property.get('city') and property.get('city').get('name'):
                            {{property.get('city').get('name')}}
                        %end
                        %if property.get('name'):
                            {{property.get('name')}}
                        %end
                    </a>
                </h1>
                <span class=price>
                    <!--@@include=../../partials/get_unit_price.html -->
                    <!--@@include=../../partials/get_reference_price.html  -->
                </span>
                <div class=details>
                    <div class="left">
                        %if property.get('property_type'):
                            % property_type_slug = property.get('property_type').get('slug')
                            % if property_type_slug != 'new_property' and property_type_slug != 'student_housing':
                                <p class=size>
                                    <!--@@include=../../partials/get_size.html -->
                                </p>
                            %end
                        %end

                        <p class=estimate>
                            %if property.get('annual_return_estimated'):
                                <span class=label>{{_('预计年化收益率')}}</span>
                                <span class=value><strong>{{property.get('annual_return_estimated')}}</strong></span>
                            %elif (property.get('annual_cash_return_estimated')):
                                <span class=label>{{_('预估租金收益率')}}</span>
                                <span class=value><strong>{{property.get('annual_cash_return_estimated')}}</strong></span>
                            %end

                        </p>
                    </div>
                    <div class="right">
                        <ul class=properties>
                            %if property.get('intention'):
                                <li>
                                    <i class="icon-tag_icon"></i>
                                    <label>
                                        % for item in property.get('intention'):
                                            %if item.get('value'):
                                                {{item.get('value')}}
                                            %end
                                        % end
                                    </label>
                                </li>
                            %end
                            %if property.get('street'):
                                <li><i class="icon-location_fill"></i>
                                    <label>
                                        {{property.get('street')}}
                                    </label>
                                </li>
                            %end
                        </ul>
                    </div>

                </div>
                <div class=action>
                    <a href="/property/{{property.get('id')}}" title="{{property.get('name','')}}" class="button red">{{_('查看详情')}}</a>
                </div>
                <div class="otherAction">
                    <button class="openRequirement ghostButton red" onclick="window.project.openRequirement(null, '', '', '{{property.get('id')}}')"><img alt="" src="/static/images/common/house_card/house-card-requirement.png"/><label>{{_('我要咨询')}}</label> </button>
                </div>
            </div>
        </div>


        <div class="relatedNews">
            <h3 class="title">{{_('相关动态')}}</h3>

            <div class="list">
                % for item in property.get('related_news'):
                    <a class="item" href=/news/{{item.get('id')}}>{{item.get('title')}}</a>
                % end
            </div>
        </div>
    </div>
</div>
