<script id="houseCard_template" type="text/template">
<div class=houseCard>
    {_if(house.reality_images && house.reality_images.length) {_}
    <img src="{=house.reality_images[0]=}" width=320 height=240/>
    {_ }else { _}
    <img src="/static/images/placeholder/property.jpg" width="320" height="240"/>
    {_}_}
    <div class=description>
        <h1 class=name>{=house.name=}</h1>
        <span class=price>
            {_if(house.total_price) {_}
            {=house.total_price.unit_symbol=}
            <strong>{=house.total_price.value=}</strong>
            {_}_}
        </span>
        <div class=details>
            <p class=size>
                {_if(house.living_room_count) {_}
                {=house.living_room_count=} {=window.i18n('房间')=},
                {_}_}
                {_if(house.bathroom_count) {_}
                {=house.bathroom_count=} {=window.i18n('洗手间')=},
                {_}_}
                {_if(house.space) {_}
                {=house.space.value=} {=house.space.unit=},
                {_}_}
            </p>

            <p class=estimate><span class=label>预期年租金<br>收益率</span><span class=value>
                    {_if(house.annual_return_estimated) {_}
                    <strong>{=house.annual_return_estimated=}</strong>
                    {_}_}</span>
                <ul class=properties>
                    {_if(house.intention) {_}
                    <li><i>⌘</i> {=house.intention.value=}</li>
                    {_}_}
                    {_if(house.property_type) {_}
                    <li><i>⌘</i> {=house.property_type.value=}</li>
                    {_}_}
                    {_if(house.streetx) {_}
                    <li><i>⌘</i> {=house.street=}</li>
                    {_}_}
                </ul>
        </div>
        <div class=action>
            <a href="http://abc.com" class="button red">查看详情</a>
        </div>
    </div>
</div>
</script>
