<a class="imagePart"
   %if is_mobile_client():
   href="yangfd://openURLInNewController/property/{=house.id=}"
   %else:
   href="/property/{=house.id=}"
   %end
   >
    {_if (house.cover){_}
    <img src="{=team.convertToHttps({'link':house.cover, 'property_id':house.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
    {_ } else if(house.reality_images && house.reality_images.length) {_}
    <img src="{=team.convertToHttps({'link':house.reality_images[0], 'property_id':house.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
    {_ }else { _}
    <img class="withPlaceholder"/>
    {_}_}
    <div class="labels">
        {_if (house.property_type && house.property_type.value){_}
        <label class="type" for="">{=house.property_type.value=}</label>
        {_}_}
        {_if (house.rental_guarantee_term){_}
        <label class="rent" for="">{=house.rental_guarantee_term + ' ' + window.i18n('年包租')=}
            {_if (house.rental_guarantee_rate){_}
            {=' ' +  parseFloat(house.rental_guarantee_rate).toFixed(2) + '%'=}
            {_}_}
        </label>
        {_}_}
    </div>
    {_if (house.status === 'sold out'){_}
    <div class="soldOut">
        <img alt="" src="/static/images/background/sold-out.png"/>
        <label for="">{=window.i18n('售罄')=}</label>
    </div>
    {_}_}
    <div class="imageText">
        <div class="left">
            <p class=name>
                {_if (house.country){_}
                {=window.team.countryMap[house.country.code]=}
                {_}_}
                {_if (house.city){_}
                {=house.city.name=}
                {_}_}
                {=house.name=}
            </p>
            {_if (house.property_type && house.property_type.slug !== 'new_property' && house.property_type.slug !== 'student_housing'){_}
            <p class=size>
                <!--@@include=../../partials/get_size.tpl.html -->
            </p>
            {_}_}
        </div>
        <div class="right">
            <table>
                <tr>
                    <td>
                        <label class=price>
                            <!--@@include=../../partials/get_unit_price.tpl.html -->
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</a>
<div class="textPart" >
    <a class="textPart_inner"
       %if is_mobile_client():
       href="yangfd://openURLInNewController/property/{=house.id=}"
       %else:
       href="/property/{=house.id=}"
       %end
       >
       <table class="textPart_innerTable">
            <tr>
                <td class="properties noBorder">
                    <ul >
                        {_if(house.intention && house.intention.length) {_}
                        <li><img src="/static/images/common/house_card/house-card-tag.png" alt=""/>
                            <label>
                                {_ _.each(house.intention, function(oneIntention) { _}
                                {=oneIntention.value=}
                                {_})_}
                            </label>
                        </li>
                        {_}_}
                        {_if(house.street) {_}
                        <li><img src="/static/images/common/house_card/house-card-location.png" alt=""/>
                            <label>{=house.street=}</label>
                        </li>
                        {_}_}
                    </ul>
                </td>
                <td class=estimate>
                    <div >
                        {_if(house.annual_return_estimated) {_}
                        <span class=label>{=window.i18n('预计年化收益率')=}</span>
                        <span class=value><strong>{=house.annual_return_estimated=}</strong></span>
                        {_} else if (house.annual_cash_return_estimated) { _}
                        <span class=label>{=window.i18n('预估租金收益率')=}</span>
                        <span class=value><strong>{=house.annual_cash_return_estimated=}</strong></span>
                        {_}_}
                    </div>
                </td>
            </tr>
        </table>
        <p class="border"></p>
    </a>
</div>
