<script id="houseCard_template" type="text/template">
    <div class=houseCard>
        {_if(house.reality_images && house.reality_images.length) {_}
        <img src="{=house.reality_images[0]=}" width=320 height=240/>
        {_ }else { _}
        <img src="/static/images/placeholder/property.jpg" width="320" height="240"/>
        {_}_}
        <div class=description>
            <h1 class=name>{=house.name=}</h1>
         <span class=price>
            {_if(house.property_type && house.property_type.slug === 'new_property'){_}
             {=house.unit_price.price.unit_symbol=}
              <strong>{=team.encodeCurrency(parseInt(house.unit_price.price.value))=}</strong>
             /
             {_if (house.unit_price.unit.unit === 'foot ** 2'){_}
              foot <sup>2</sup>
              {_} else if(house.unit_price.unit.unit=== 'acre'){_}
              acre
              {_} else if (house.unit_price.unit.unit=== 'meter ** 2') {_}
              m <sup>2</sup>
              {_} else if (house.unit_price.unit.unit=== 'kilometer ** 2') {_}
              km <sup>2</sup>
              {_} else {_}
              {=house.unit_price.unit.unit=}
              {_}_}
            {_} else {_}
            {_if(house.total_price) {_}
            {=house.total_price.unit_symbol=}
              <strong>{=team.encodeCurrency(parseInt(house.total_price.value))=}</strong>
            {_}_}
            {_}_}
        </span>
            <div class=details>
                <p class=size>
                    {_if(house.living_room_count) {_}
                    {=house.living_room_count=} {=window.i18n('房间')=},
                    {_}_}
                    {_if(house.bathroom_count) {_}
                    {=house.bathroom_count=} {=window.i18n('卫生间')=},
                    {_}_}
                    {_if(house.space) {_}
                    {= parseFloat(house.space.value).toFixed(2)=}
                    {_if (house.space.unit === 'foot ** 2'){_}
                    foot <sup>2</sup>
                    {_} else if(house.space.unit === 'acre'){_}
                    acre
                    {_} else if (house.space.unit === 'meter ** 2') {_}
                    m <sup>2</sup>
                    {_} else if (house.space.unit === 'kilometer ** 2') {_}
                    km <sup>2</sup>
                    {_} else {_}
                     {=house.space.unit=}
                    {_}_}
                    {_}_}
                </p>
                {_if(house.annual_return_estimated) {_}
                <p class=estimate><span class=label>{=window.i18n('预期年租金')=}<br>{=window.i18n('收益率')=}</span><span
                        class=value>
                    <strong>{=house.annual_return_estimated=}</strong></span>
                 {_}_}
                <ul class=properties>
                    {_if(house.intention && house.intention.length) {_}
                    <li><img src="/static/images/icon/house-card-tag.png" alt=""/>
                        <span>
                     {_ _.each(house.intention, function(oneIntention) { _}
                     {=oneIntention.value=}
                     {_})_}
                     </span></li>
                    {_}_}
                    {_if(house.property_type) {_}
                    <li><img src="/static/images/icon/house-card-house.png" alt=""/>
                        <span>{=house.property_type.value=}</span></li>
                    {_}_}
                    {_if(house.street) {_}
                    <li><img src="/static/images/icon/house-card-location.png" alt=""/> <span>{=house.street=}</span>
                    </li>
                    {_}_}
                </ul>
            </div>
            <div class=action>
                <a href="/property/{=house.id=}" class="button red">{=window.i18n('查看详情')=}</a>
            </div>
        </div>
    </div>
</script>
