<script id="intentionCard_template" type="text/template">
    <div class="intentionCard">
        {_if (ticket.budget){_}
        <h2 class="budget"><i>{=window.i18n('预算') + '(' + window.getCurrencyPresentation(ticket.budget.currency) + '): ' =}</i>
            {=ticket.budget.value=}
        </h2>
        {_}_}
        <p class="detail">{=ticket.description=}</p>
        <label class="date"> <i>{=window.i18n('提交日期：')=}</i>
            {=project.formatTime(ticket.time)=}
        </label>
        <label class="status">{=ticket.status_presentation.value=}</label>
    </div>
    <div class="intentionCard_phone">
        <h2 class="budget">
            {_ if (ticket.budget) { _}
            <i>{=window.i18n('预算:') =}</i>
            <span>{=window.getCurrencySymbol(ticket.budget.currency)=}</span>{=ticket.budget.value=}
            {_ } else { _}
            <i>{=window.i18n('无预算数据')=}</i>
            {_ } _}
        </h2>
        <div class="intentionStatus">
            <label class="status estimate">{=ticket.status_presentation.value=}</label>
            <label class="properties">
                {=project.formatDate(ticket.time)=}
            </label>
        </div>
        {_ if (ticket.description) { _}
        <hr/>
        <p class="detail">{=ticket.description=}</p>
        {_ } _}
        <div class="contact">
            <a class="phone" href="tel:{{get_phone_numbers('link')[0]}}">{=window.i18n('拨打电话')=}</a>
        </div>
    </div>
</script>
