<!--@@master=master/house_card_content_master_phone.tpl.html-->
<!--@@block=action_phone -->
<div class="statusWrap">
    <label class="status estimate">{=ticket.status_presentation=}</label>
    <label class="properties">
        {=project.formatDate(ticket.time)=}
    </label>
</div>

<!--@@close -->
<!--@@block=cover_phone -->
<div class="contact otherAction">
    <a class="phone" href="tel:{{get_phone_numbers('link')[0]}}">{=window.i18n('拨打电话')=}</a>
    <a class="wechatShare" class="action" data-id="{=ticket.id=}">{=window.i18n('微信')=}</a>
</div>
<!--@@close-->
