<!--@@master=master/house_card_content_master_phone.tpl.html-->
<!--@@block=action_phone -->
<table class="textPart_innerTable">
    <tr>
        <td class="properties">
            <ul>
                <li>
                    <label> <i>{=window.i18n('提交日期：')=}</i>
                        {=project.formatDate(ticket.time)=}
                    </label>
                </li>
            </ul>

        </td>
        <td class="estimate">
            <label class="status">{=ticket.status_presentation.value=}</label>
        </td>
    </tr>
</table>
<!--@@close -->
<!--@@block=action -->

<!--@@close-->
