<template id='location-search-box'>
    <!--for pc-->
    <div class="wrap hiddenOnMobile">
        <div class="inputWrapper ">
            <input data-bind="textInput: query,css: {'active': active}, changeText: {obj:$parents[$parents.length - 2].summaryTitleObj, prop: 'query'}, event: { keyup: keyUp, focus: focus, blur: blur}, attr: {placeholder: $parent.placeholder}" type="text" placeholder="{{_('请输入位置，比如E14, E14 3GH, Isle of dogs, Waterloo, UCL...')}}"/>
            <i data-bind="click: clear, visible: query() && query().length" class="clear"><img alt="" src="/static/images/intention/close.png"></i>
        </div>

        <div class="suggestions" data-bind="visible: active, scrollTop: scrollTop">
            <div class="hots" data-bind="visible: query().length === 0">
                <div class="wrap hotCities">
                    <h3>{{_('热门城市')}}</h3>
                    <div class="linkWrap">
                        <!-- ko foreach: hotCityList -->
                        <a data-bind="event: {mousedown: $parent.goToHotCity.bind($parent)}, text: name"></a>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="wrap hotSchools">
                    <h3>{{_('热门学校')}}</h3>
                    <div class="linkWrap">
                        <!-- ko foreach: hotSchoolList -->
                        <a data-bind="event: {mousedown: $parent.goToHotSchool.bind($parent)}, text: name"></a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="hint" data-bind="text: hint, visible: hint() !== undefined && hint().length"></div>
            <ul data-bind="foreach: suggestions,visible: suggestions().length && query() && query().length">
                <li data-bind="css: {'active': $parent.activeSuggestionIndex() == $index()}, event: {mousedown: $parent.select}">
                    <span class="type" data-bind="text: type.value"></span>
                    <span class="name" data-bind="highlight: {text: name, highlight: $parent.query}"></span>
                </li>
            </ul>
        </div>
    </div>
</template>
<template id='location-search-box-mobile'>
    <!--for mobile-->
    <div class="wrap hiddenOnPCWeb">
        <div class="inputWrapper ">
            <input data-bind="textInput: query, click: showSearchModal" type="text"/>
            <i class="icon-search_icon icon" data-bind="visible: !query(),click: showSearchModal"></i>
        </div>
        <div class="searchModal" data-bind="visible: isModalShow">
            <div class="topWrap">
                <form class="inputWrapper" action="." data-bind="submit: searchTicket">
                    <input data-bind="textInput: query,css: {'active': active}, changeText: {obj:$parents[$parents.length - 2].summaryTitleObj, prop: 'query'}, event: {keyup: keyUp}, hasFocus: inputFocus, attr: {placeholder: $parent.placeholder}" type="search" placeholder="{{_('请输入位置，如E14, E14 3GH, Isle of dogs, Waterloo, UCL...')}}"/>
                    <i data-bind="click: clear, visible: query() && query().length" class="clear"><img alt="" src="/static/images/intention/close.png"></i>
                </form><!--
                --><a class="cancel" data-bind="click: hideSearchModal">{{_('取消')}}</a>
            </div>
            <div class="hots" data-bind="visible: query().length === 0">
                <div class="wrap hotCities">
                    <h3>{{_('热门城市')}}</h3>
                    <div class="linkWrap">
                        <!-- ko foreach: hotCityList().slice(0, 3) -->
                        <!--<a data-bind="attr: {href: '/property-to-rent-list?city=' + id + '&queryName=' + name}, text: name"></a>-->
                        <a data-bind="click: $parent.goToHotCity.bind($parent), text: name"></a>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="wrap hotSchools">
                    <h3>{{_('热门学校')}}</h3>
                    <div class="linkWrap">
                        <!-- ko foreach: hotSchoolList().slice(0, 3) -->
                        <!--<a data-bind="attr: {href: '/property-to-rent-list?hesa_university=' + id + '&queryName=' + name}, text: name"></a>-->
                        <a data-bind="click: $parent.goToHotSchool.bind($parent), text: name"></a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="suggestions" data-bind="visible: active, event: {touchmove: hideKeyboard}">
                <div class="hint" data-bind="text: hint, visible: hint() !== undefined && hint().length"></div>
                <ul data-bind="foreach: suggestions,visible: suggestions().length && query() && query().length">
                    <li data-bind="css: {'active': $parent.activeSuggestionIndex() == $index()}, event: {mousedown: $parent.select}">
                        <span class="type" data-bind="text: type.value"></span>
                        <span class="name" data-bind="highlight: {text: name, highlight: $parent.query}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>