<script id="newsCard_template" type="text/template">
    <div class="newsCard">
        {_if (news.images && news.images.length) {_}
        <a href="/news/{=news.id=}"><img alt="" src="{=team.convertToHttps({'link':news.images[0], 'news_id':news.id, 'thumbnail':true})=}"/></a>
        {_} else {_}
        <a href="/news/{=news.id=}"><img alt="" src="/static/images/placeholder/news.png"/></a>
        {_}_}
        <div class="description">
            <h3 class="title"> <a href="/news/{=news.id=}">{=news.title=}</a></h3>
            <label class="date" for="">{=$.format.date(news.time * 1000, 'yyyy-MM-dd')=}</label>
            <p class="details">{=news.summary=}</p>
        </div>
    </div>
</script>
