<script id="newsCard_template" type="text/template" data-cell-height=300>
    <div class="newsCard" >
        {_if (news.images && news.images.length) {_}
        <a href="/news/{=news.id=}"><img alt="" src="{=team.convertToHttps({'link':news.images[0], 'news_id':news.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/></a>
        {_} else {_}
        <a href="/news/{=news.id=}"><img alt="" class="withPlaceholder"/></a>
        {_}_}
        <div class="description">
            <a href="/news/{=news.id=}">
                <h3 class="title"> {=news.title=}</h3>
                <label class="date" for="">{=$.format.date(news.time * 1000, 'yyyy-MM-dd')=}</label>
                {_if (typeof news.summary === 'string') {_}
                <p class="details">{=news.summary=}</p>
                {_}_}
            </a>
        </div>
    </div>
</script>
