<script type="text/template" id='kot-payment-details-phone-tpl'>
    <div class="listPhone">
        <a class="cardListPhoneItem">
            <img data-bind="attr: {src: '/static/images/card/payment_' + type + '.png'}">
            <div class="setting-default" data-bind="visible: isdefault">{{_('default payment')}}</div>
            <div class="cardNumber" data-bind="text: cardNumber"></div>
        </a>
    </div>
    <div class="listPhone">
        <button class="addCardPhoneBtn blue" data-bind="click: setDefault">{{_('default payment')}}</button>
        <button class="addCardPhoneBtn red" data-bind="click: removeCard">{{_('remove')}}</button>
    </div>    
</script>