<script id="payment-abstract-tpl" type="text/template">
    
        <div class="paymentDetails">
            <div class="paymentDetailsMain">
                <span class="time">2017-01-01 ~ 2017-05-01</span>
                <span class="money">$ <strong>1000</strong></span>
            </div>
            <div class="paymentDetailsMeta">
                <dl>
                    <dt>租金</dt><dd>666</dd>
                </dl>
                <dl>
                    <dt>押金</dt><dd>344</dd>
                </dl>
                <dl>
                    <dt>租期</dt><dd>888</dd>
                </dl>
            </div>
        </div>
        
</script>
