<!--@@include=add_payment_form.tpl.html -->
<!--@@include=payment_summary.tpl.html -->
<script type="text/template" id="kot-payment-popup-tpl">
    <div id="payment_popup" class="payment_popup" data-bind="visible: visible">
        <div class="payment_popup_shadow"></div>
        <div class="payment_wrapper">
            <div class="info">
                <h2 class="title" data-bind="visible: step() === 1">Credit Card Information</h2>
                <add-payment-form data-bind="visible: step() === 1"></add-payment-form>

	            <h2 class="title" data-bind="visible: step() === 2">Payment Information</h2>

                <div id="payment-info">
                    <payment-abstract data-bind="visible: step() === 2"></payment-abstract>

                    <div data-bind="visible: step() === 2">
                        <div class="paymentCard">
                            <span class="switchBtn btn" data-bind="visible: !empty(),click: dropVisible"><i class="icon-down_arrow"></i></span>
                            <div data-bind="foreach: cardList">
                                <div class="paymentCardItems" data-bind="visible: $data.default || $parent.dropItemsVisible">
                                    <div class="cc-card">
                                        <img data-bind="attr: {'src':'/static/images/card/payment_' + $data.card_type + '.png'}" alt="">
                                    </div>
                                    <div class="cc-cardno" data-bind="text: ($data.card_bin + ' xxxxxx ' + $data.last_4)"></div>
                                    <div class="defaultCard" data-bind="visible: $data.default, click: function () {$parent.setDefault($data)}">{{_('设为默认')}}</div>
                                </div>
                            </div>

                            <div class="paymentCardItems" data-bind="visible: empty,click: showForm">
                                <div class="cc-card"><i class="icon-add"></i></div>
                                <div class="add-btn">{{_('添加卡')}}</div>
                            </div>
                            <div class="paymentCardItems" data-bind="visible: dropItemsVisible,click: showForm">
                                <div class="cc-card"><i class="icon-add"></i></div>
                                <div class="add-btn">{{_('添加卡')}}</div>
                            </div>
                        </div>
                    </div>

                    <div style="text-align: center"><button type="submit" class="btn btn-primary" data-bind="visible: step() === 2">{{_('提交')}}</button></div>
                </div>
            </div>
            <button class="cancel" data-bind="click: close"><i class="icon-delete"></i></button>
        </div>
    </div>

</script>
