<script type="text/template" id='kot-payment-list-phone-tpl'>
    <div class="listPhone" data-bind="foreach: cardList">
        <a class="cardListPhoneItems" data-bind="attr: {backgroundImage: 'url(/static/images/card/payment_' + type + '.png)', href: '/user-payment/'+ cardNumber +'/details'}">
            <div class="setting-default" data-bind="visible: isdefault, click: $parent.settingDefault">{{_('default payment')}}</div>
            <div class="cardNumber" data-bind="text: cardNumber"></div>
        </a>
    </div>
    <div class="listPhone">
        <a href="/user-payment-add" class="addCardPhoneBtn"><i class="icon-add"></i>ADD PAYMENT</a>
    </div>    
</script>