<script id="phone_swiper_template" type="text/template">
<!-- Swiper -->
<div class="swiper-container appDownloadSwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_6.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/static/images/wechat_poster/page_7.jpg" alt=""></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
</script>
