<script id="placeItem_template" type="text/template" >
    <li
        {_if(item.Latitude && item.Longitude) {_}
        data-lat={=item.Latitude=}
        data-lng={=item.Longitude=}
        data-type="placeItem"
        {_}_}
        >
        <div class="content">
            <div class="left">
                <h3 class="title">{=item.DisplayName=}</h3>
                <label class="subtitle">
                    {_if (item.AddressLine) {_}
                    {=item.AddressLine=}
                    {_}_}
                </label>
            </div>
            <div class="right">
                <label class="hint" for="">{=item.Hint=}</label>
            </div>
        </div>
    </li>
</script>

<script id="placeType_template" type="text/template" >
    <li data-type="placeType">
        {_if(type) {_}
        <h2 class="type" >{=type=}</h2>
        {_}_}
    </li>
</script>
