<script id="rentCard_template" type="text/template">
    <div class="rentCard">
        <a
            %if is_mobile_client():
                href="#" onclick="window.bridge(openURLInNewController, '/property-to-rent/{=rent.id=}');return false;"
            %else:
            href="/property-to-rent/{=rent.id=}"
            %end
            >
            <div class="imagePart">
                    {_if(rent.property.reality_images && rent.property.reality_images.length) {_}
                        <img src="{=team.convertToHttps({'link':rent.property.reality_images[0], 'property_id':rent.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
                    {_ }else { _}
                        <img class="withPlaceholder"/>
                    {_ } _}

                <div class="labels">
                    {_if(rent.property.property_type) {_}
                        <label class="property-type">{=rent.property.property_type.value=}</label>
                    {_}_}
                    {_if(rent.rent_type) {_}
                        <label class="rent-type">{=rent.rent_type.value=}</label>
                    {_}_}
                </div>
            </div>
            <div class="description_wrapper">
                <div class="description">
                    <div class="titles">
                        {_if(rent.title) {_}
                            <p class="name">{=rent.title=}</p>
                        {_}_}
                        {_if(rent.price) {_}
                            <span class="price">{=rent.price.unit_symbol=}<strong>{!team.formatCurrency(parseInt(rent.price.value),0)!}</strong>{=window.i18n('/周')=}</span>
                        {_}_}
                        <p class="date">{!team.parsePublishDate(parseInt(rent.last_modified_time))!}{=window.i18n('发布')=}</p>
                    </div>
                    <ul class="properties">
                        <li>
                            <img src="/static/images/common/house_card/house-card-location.png" alt=""/>
                            <!-- todo 国家城市数据结构更改后city中就没有country属性了，我把这儿更改后不知道会不会有问题，需要测试 --by levy-->
                            {_if(rent.property.country && rent.property.country.code) {_}
                                {= window.team.countryMap[rent.property.country.code] + " " =}
                            {_}_}
                            {_if(rent.property.city && rent.property.city.name) {_}
                                {= rent.property.city.name + " " =}
                            {_}_}
                            {_if(rent.property.street) {_}
                                {= rent.property.street =}
                            {_}_}
                        </li>
                        {_if(rent.property.region_highlight && rent.property.region_highlight.length) {_}
                        <li><img src="/static/images/common/house_card/house-card-tag.png" alt=""/>
                            {_ _.each(rent.region_highlight, function(highlight) { _}
                                {=highlight.value=}
                            {_ }) _}
                        </li>
                        {_}_}
                    </ul>
                    <div class="details">
                        <div class="left">
                            {_if(rent.property.bedroom_count || rent.property.living_room_count) {_}
                            <div class="room">
                                <p class="label">{=window.i18n('居室')=}</p>
                                <p class="value">
                                    {_if(rent.property.bedroom_count) {_}
                                        {=rent.property.bedroom_count + window.i18n('室') =}
                                    {_}_}
                                    {_if(rent.property.living_room_count) {_}
                                        {=rent.property.living_room_count + window.i18n('厅')=}
                                    {_}_}
                                </p>
                            </div>
                            {_}_}
                            {_if(rent.space) {_}
                            <div class="size">
                                <p class="label">{=window.i18n('面积')=}</p>
                                <p class="value">
                                    {= parseFloat(rent.space.value).toFixed(2)=}
                                    {_if (rent.space.unit === 'foot ** 2'){_}
                                    foot <sup>2</sup>
                                    {_} else if(rent.space.unit === 'acre'){_}
                                    acre
                                    {_} else if (rent.space.unit === 'meter ** 2') {_}
                                    m <sup>2</sup>
                                    {_} else if (rent.space.unit === 'kilometer ** 2') {_}
                                    km <sup>2</sup>
                                    {_} else {_}
                                    {=rent.space.unit=}
                                    {_}_}
                                </p>
                            </div>
                            {_}_}
                        </div>
                        <div class="right">
                            <p class="date">{!team.parsePublishDate(parseInt(rent.last_modified_time))!}{=window.i18n('发布')=}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</script>
