<script id="rentIntentionCard_template" type="text/template">
    <div class="rentIntentionCard"  data-id="{=ticket.id=}">

        <div class="top">
            <h2 class="title">
                {=ticket.title=}
            </h2>
            <label class="status" data-status={=ticket.status=}>{=ticket.status_presentation=}</label>
             <label class="price_phone" for="">
                 {=window.getCurrencySymbol(ticket.rent_budget.currency)=} <strong> {=ticket.rent_budget.value=}</strong> /{=window.i18n('周')=}
            </label>
            <label class="date">
                {=project.formatTime(ticket.time)=}
            </label>
        </div>
        <div class="middle">
            <ul class=properties>
                {_ if (ticket.rent_type.value) {_}
                <li>
                    <i class="icon-house_icon"></i>
                    <label for="">
                        {=ticket.rent_type.value=}
                    </label>
                </li>
                {_}_}
                <li>
                    <i class="icon-location_fill"></i>
                    <label for="">
                        {=ticket.city.name=}, {=team.countryMap[ticket.country.code]=}
                    </label>
                </li>
                <li>
                    <label for="">
                        {_if (ticket.rent_available_time && ticket.rent_deadline_time) { _}
                        <i class="icon-time"></i>
                        {=project.formatDate(ticket.rent_available_time)=} {=window.i18n('到')=} {=project.formatDate(ticket.rent_deadline_time)=}
                        {_ } else if (ticket.rent_available_time && !ticket.rent_deadline_time) {_}
                        <i class="icon-time"></i>
                        {=project.formatDate(ticket.rent_available_time)=} {=window.i18n('起')=}
                        {_ } else if (!ticket.rent_available_time && ticket.rent_deadline_time) {_}
                        <i class="icon-time"></i>
                        {=project.formatDate(ticket.rent_deadline_time)=} {=window.i18n('止')=}
                        {_}_}
                    </label>
                </li>
            </ul>
            <label class="price" for="">
                 {=window.getCurrencySymbol(ticket.rent_budget.currency)=} {=ticket.rent_budget.value=} /{=window.i18n('周')=}
            </label>
        </div>
        <div class="bottom">
            <p class="description">{=ticket.description=}</p>
            <a href="/rent-intention/{=ticket.id=}/edit" class="action ghostButton red">{=window.i18n('修改意向')=}</a>
            <button id="rentIntentionTicketChangeStatus" class="action ghostButton red" data-status={=ticket.status=} data-id="{=ticket.id=}">
                {_if (ticket.status === 'new') {_}
                {=window.i18n('我已租到')=}
                {_} else if (ticket.status = 'rent') {_}
                {=window.i18n('重新发布')=}
                {_}_}
            </button>
        </div>
    </div>
</script>
