<script id="rentIntentionCard_template" type="text/template">
    <div class="rentIntentionCard"  data-id="{=ticket.id=}">

        <div class="top">
            <h2 class="title">
                {=ticket.title=}
            </h2>
            <label class="status" data-status={=ticket.status=}>{=ticket.status_presentation=}</label>
             <label class="price_phone" for="">
                 {_if (ticket.rent_budget_min && ticket.rent_budget_max) { _}
                 {=window.getCurrencySymbol(ticket.rent_budget_min.unit)=} <strong> {!window.i18n('%s至%s', ticket.rent_budget_min.value, ticket.rent_budget_max.value)!}</strong> /{=window.i18n('周')=}
                 {_ } else if (ticket.rent_budget_min) { _}
                 {=window.getCurrencySymbol(ticket.rent_budget_min.unit)=} <strong> {!window.i18n('%s以上', ticket.rent_budget_min.value)!}</strong> /{=window.i18n('周')=}
                 {_ } else if (ticket.rent_budget_max) { _}
                 {=window.getCurrencySymbol(ticket.rent_budget_max.unit)=} <strong> {!window.i18n('%s以下', ticket.rent_budget_max.value)!}</strong> /{=window.i18n('周')=}
                 {_ } else { _}
                 {=window.i18n('预算不限')=}
                 {_ } _}

            </label>
            <label class="date">
                {=project.formatTime(ticket.time)=}
            </label>
        </div>
        <div class="middle">
            <ul class=properties>
                {_ if (ticket.rent_type.value) {_}
                <li>
                    <i class="icon-house_icon"></i>
                    <label for="">
                        {=ticket.rent_type.value=}
                    </label>
                </li>
                {_}_}
                <li>
                    <i class="icon-location_fill"></i>
                    <label for="">
                        {=ticket.city.name=}, {=team.countryMap[ticket.country.code]=}
                    </label>
                </li>
                <li>
                    <label for="">
                        {_if (ticket.rent_available_time && ticket.rent_deadline_time) { _}
                        <i class="icon-time"></i>
                        {_ var string1 = project.formatDate(ticket.rent_available_time) _}
                        {_ var string2 = project.formatDate(ticket.rent_deadline_time) _}
                        {!window.i18n('%s到%s',string1,string2)!}
                        {_ } else if (ticket.rent_available_time && !ticket.rent_deadline_time) {_}
                        <i class="icon-time"></i>
                        {_ var string = project.formatDate(ticket.rent_available_time)_}
                        {!window.i18n('%s起',string)!}
                        {_ } else if (!ticket.rent_available_time && ticket.rent_deadline_time) {_}
                        <i class="icon-time"></i>
                        {_ var string = project.formatDate(ticket.rent_deadline_time)_}
                        {!window.i18n('%s止',string)!}
                        {_}_}
                    </label>
                </li>
            </ul>
            <label class="price" for="">
                {_if (ticket.rent_budget_min && ticket.rent_budget_max) { _}
                {=window.getCurrencySymbol(ticket.rent_budget_min.unit)=} {!window.i18n('%s至%s', ticket.rent_budget_min.value, ticket.rent_budget_max.value)!} /{=window.i18n('周')=}
                {_ } else if (ticket.rent_budget_min) { _}
                {=window.getCurrencySymbol(ticket.rent_budget_min.unit)=} {!window.i18n('%s以上', ticket.rent_budget_min.value)!} /{=window.i18n('周')=}
                {_ } else if (ticket.rent_budget_max) { _}
                {=window.getCurrencySymbol(ticket.rent_budget_max.unit)=} {!window.i18n('%s以下', ticket.rent_budget_max.value)!} /{=window.i18n('周')=}
                {_ } else { _}
                {=window.i18n('预算不限')=}
                {_ } _}
            </label>
        </div>
        <div class="bottom">
            <p class="description">{=ticket.description=}</p>
            <a href="/rent-intention/{=ticket.id=}/edit" class="action ghostButton red">{=window.i18n('修改意向')=}</a>
            <button id="rentIntentionTicketChangeStatus" class="action ghostButton red" data-status={=ticket.status=} data-id="{=ticket.id=}">
                {_if (ticket.status === 'new') {_}
                {=window.i18n('我已租到')=}
                {_} else if (ticket.status = 'rent') {_}
                {=window.i18n('重新发布')=}
                {_}_}
            </button>
        </div>
    </div>
</script>
