<script id="houseInfobox_template" type="text/template">
    <div class="houseInfobox_wrapper infobox">
        <div class="houseInfobox arrow_box">
            <a href="/property-to-rent/{=rent.id=}" target="_blank">
                <div class="imagePart">
                    {_if(rent.property.reality_images && rent.property.reality_images.length) {_}
                    <img src="{=team.convertToHttps({'link':rent.property.reality_images[0], 'property_id':rent.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);" width=120 height=80/>
                    {_ }else { _}
                    <img class="withPlaceholder" width=120 height=80/>
                    {_ } _}
                    <div class="labels">
                        {_if(rent.property.property_type) {_}
                        <label class="type">{=rent.property.property_type.value=}</label>
                        {_}_}
                    </div>
                </div>
                <div class=description>
                    {_if(rent.title) {_}
                    <h1 class=name>{=rent.title=}</h1>
                    {_}_}
                    <div class="intentions">
                        <img src="/static/images/property_details/tag-icon.png"/>
                        <label>
                            <!--Rent type-->
                            {_if(rent.rent_type) {_}
                                {=rent.rent_type.value + ' '=}
                            {_}_}
                            <!--Space-->
                            {_if(rent.space) {_}
                            {= parseFloat(rent.space.value).toFixed(2)=}
                            {_if (rent.space.unit === 'foot ** 2'){_}
                            foot <sup>2</sup>
                            {_} else if(rent.space.unit === 'acre'){_}
                            acre
                            {_} else if (rent.space.unit === 'meter ** 2') {_}
                            m <sup>2</sup>
                            {_} else if (rent.space.unit === 'kilometer ** 2') {_}
                            km <sup>2</sup>
                            {_} else {_}
                            {=rent.space.unit=}
                            {_}_}
                            {_}_}
                        </label>
                    </div>
                    {_if(rent.price) {_}
                        <label class="price">{=rent.price.unit_symbol=}<strong>{!team.formatCurrency(parseInt(rent.price.value))!}</strong>{=window.i18n('/周')=}</label>
                    {_}_}
                </div>
                <img class="enter_phone" alt="" src="/static/images/property_list/icon-map-item-enter-phone.png"/>
            </a>
        </div>
    </div>
</script>