<script id="houseInfobox_template" type="text/template">
    <div class="houseInfobox_wrapper infobox" onmouseenter="window.currantModule.activatePinAndInfoBox('{=rent.id=}')" onmouseleave="window.currantModule.deactivatePinAndInfoBox('{=rent.id=}')">
        <div class="houseInfobox arrow_box" data-id="{=rent.id=}">
            <i class="icon-delete hideMapInfoBoxBtn" onclick="window.hideInfoBox('{=rent.id=}')"></i>
            <a href="/property-to-rent/{=rent.id=}" target="_blank">
                <div class="imagePart">
                    {_if(rent.property.cover && rent.property.cover.indexOf('http') === 0) {_}
                    <div class="img" style="background-image: url('{=team.convertToHttps({'link':rent.property.cover, 'property_id':rent.property.id, 'thumbnail':true})=}')"></div>
                    {_} else if(rent.property.reality_images && rent.property.reality_images.length) {_}
                    <div class="img" style="background-image: url('{=team.convertToHttps({'link':rent.property.reality_images[0], 'property_id':rent.property.id, 'thumbnail':true})=}')"></div>
                    {_ }else { _}
                    <img class="withPlaceholder" width=120 height=80/>
                    {_ } _}
                    <div class="labels">
                        {_if(rent.property.property_type) {_}
                        <label class="type">{=rent.property.property_type.value=}</label>
                        {_}_}
                    </div>
                </div>
                <div class=description>
                    {_if(rent.title) {_}
                    <h1 class=name>{=rent.title=}</h1>
                    {_}_}
                    <label class="type">
                        <!--Rent type-->
                        {_if(rent.rent_type) {_}
                        {=rent.rent_type.value + ' '=}
                        {_}_}
                    </label>
                    {_if(rent.price) {_}
                        <label class="price">{=rent.price.unit_symbol=}<strong>{!team.formatCurrency(parseInt(rent.price.value))!}</strong>{=window.i18n('/周')=}</label>
                    {_}_}
                </div>
                <img class="enter_phone" alt="" src="/static/images/property_list/icon-map-item-enter-phone.png"/>
            </a>
        </div>
    </div>
</script>