<script id="rentCard_template" type="text/template">
    <div class="rentCard">
        <a
            %if is_mobile_client():
                href="#" onclick="window.bridge.callHandler(&quot;openURLInNewController&quot;, '/property-to-rent/{=rent.id=}');return false;"
            %else:
                href="/property-to-rent/{=rent.id=}" target="_blank"
            %end
            data-need-bridge
            >
            <div class="imagePart">
                    {_if (rent.property.cover && rent.property.cover.indexOf('http') === 0){_}
                    <img src="{=team.convertToHttps({'link':rent.property.cover, 'property_id':rent.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
                    {_ } else if(rent.property.reality_images && rent.property.reality_images.length) {_}
                        <img src="{=team.convertToHttps({'link':rent.property.reality_images[0], 'property_id':rent.property.id, 'thumbnail':true})=}" onerror="window.onImgError(this);"/>
                    {_ }else { _}
                        <img class="withPlaceholder"/>
                    {_ } _}

                <div class="labels">
                    {_if(rent.property.property_type) {_}
                        <label class="property-type">{=rent.property.property_type.value=}</label>
                    {_}_}
                    {_if(rent.rent_type) {_}
                        <label class="rent-type">{=rent.rent_type.value=}</label>
                    {_}_}
                </div>
            </div>
            <div class="description_wrapper">
                <div class="description">
                    <div class="titles">
                        {_if(rent.title) {_}
                            <p class="name">{=rent.title=}</p>
                        {_}_}
                        {_if(rent.price) {_}
                            <span class="price">
                                <span class="price_original">
                                    {=rent.price.unit_symbol=}<strong>{!team.formatCurrency(parseInt(rent.price.value),0)!}</strong>{=window.i18n('/周')=}
                                </span>
                                {_if(rent.price.localized_unit_symbol) {_}
                                <span class="price_reference">{=window.i18n('约')=}{=rent.price.localized_unit_symbol=}{!team.formatCurrency(parseInt(rent.price.localized_value),0)!}{=window.i18n('/周')=}</span>
                                {_}_}
                            </span>
                        {_}_}

                        {_if(rent.property.partner) {_}
                            <p class="partner">{=window.i18n('平台合作房源')=}</p>
                        {_}else { _}
                            {_if(rent.last_modified_time - rent.time > 1000) {_}
                                <p class="date">
                                    {_ var string = team.parsePublishDate(parseInt(rent.last_modified_time))_}
                                    {!window.i18n('%s更新过',string)!}
                                </p>
                            {_}else{_}
                                <p class="date">
                                    {_ var string = team.parsePublishDate(parseInt(rent.time))_}
                                    {!window.i18n('%s发布',string)!}
                                </p>
                            {_}_}
                        {_ } _}
                    </div>
                    <ul class="properties">
                        <li>
                            <i class="icon-location_fill"></i>
                            {_if(rent.property.floor) {_}
                                {= rent.property.floor =}
                            {_}_}
                            {_if(rent.property.floor && rent.property.house_name ) {_}
                                -
                            {_}_}
                            {_if(rent.property.house_name) {_}
                                {= rent.property.house_name =}
                            {_}_}
                            {_if(rent.property.floor && rent.property.house_name ) {_}
                                ,
                            {_}_}
                            {_if(rent.property.community) {_}
                                {= rent.property.community =},
                            {_}_}
                            {_if(rent.property.street) {_}
                                {= rent.property.street =},
                            {_}_}
                            {_if(rent.property.city && rent.property.city.name) {_}
                                {= rent.property.city.name + " " =},
                            {_}_}
                            {_if(rent.property.country && rent.property.country.code) {_}
                                {= window.team.countryMap[rent.property.country.code] + " " =}
                            {_}_}
                            {_if(rent.property.zipcode && !rent.property.partner) {_}
                                , {= rent.property.zipcode =}
                            {_}_}
                        </li>
                        {_if(rent.property.region_highlight && rent.property.region_highlight.length) {_}
                        <li><i class="icon-tag_icon"></i>
                            {_ _.each(rent.region_highlight, function(highlight) { _}
                                {=highlight.value=}
                            {_ }) _}
                        </li>
                        {_}_}
                    </ul>
                    <div class="details">
                        <div class="left">
                            {_if(rent.property.bedroom_count === 0) {_}
                            <div class="room">
                                <p class="label">{=window.i18n('户型')=}</p>
                                <p class="value">
                                    <span>studio</span>
                                </p>
                            </div>
                            {_}else{_}
                            {_if(rent.property.bedroom_count || rent.property.living_room_count) {_}
                            <div class="room">
                                <p class="label">{=window.i18n('房间')=}</p>
                                <p class="value">
                                    {_if(rent.property.bedroom_count) {_}
                                        <span>{=rent.property.bedroom_count=}</span>{=window.i18n('室') =}
                                    {_}_}
                                    {_if(rent.property.living_room_count) {_}
                                        <span>{=rent.property.living_room_count=}</span>{=window.i18n('厅')=}
                                    {_}_}
                                </p>
                            </div>
                            {_}_}
                            {_}_}
                            {_if(rent.rent_available_time || rent.minimum_rent_period) {_}
                            <div class="size">
                                <p class="label">
                                    {_if(rent.rent_available_time && window.moment(parseInt(rent.rent_available_time)*1000) > window.moment().add(1,'days').hours(0).minutes(0).seconds(0)) {_}
                                        {_if(window.lang==='en_GB') {_}
                                        Start from {=window.moment(parseInt(rent.rent_available_time)*1000).format('MMMM Do YYYY')=}
                                        {_} else {_}
                                            {= window.moment(parseInt(rent.rent_available_time)*1000).format('YYYY年MM月DD日') + window.i18n('起') =}
                                        {_}_}
                                    {_} else if(rent.rent_available_time){_}
                                        {=window.i18n('可立即入住')=}
                                    {_}_}
                                </p>
                                <p class="value">
                                    {_if(rent.minimum_rent_period) {_}
                                    {=window.i18n('至少租住')=}<span>{=rent.minimum_rent_period.value=}</span>{=team.parsePeriodUnit(rent.minimum_rent_period.unit)=}
                                    {_}else{_}
                                    {=window.i18n('租期不限')=}
                                    {_}_}
                                </p>
                            </div>
                            {_}_}
                        </div>
                        <div class="right">
                            {_if(rent.property.partner) {_}
                                <p class="partner">{=window.i18n('平台合作房源')=}</p>
                            {_}else { _}
                                {_if(rent.last_modified_time - rent.time > 1000) {_}
                                    <p class="date">
                                        {_ var string = team.parsePublishDate(parseInt(rent.last_modified_time))_}
                                        {!window.i18n('%s更新过',string)!}
                                    </p>
                                {_}else{_}
                                    <p class="date">
                                        {_ var string = team.parsePublishDate(parseInt(rent.time))_}
                                        {!window.i18n('%s发布',string)!}
                                    </p>
                                {_}_}
                            {_ } _}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</script>
