<script id="suggestion_houseCard_template" type="text/template">

    {_var categoryName = ''_}
    {_var moreURLQuery = 'intention=' + house.category_intention.id_}
    {_if(house.category_budget) {_}
    {_moreURLQuery = moreURLQuery + '&budget=' + house.category_budget.id_}
    {_categoryName = house.category_budget.value_}
    {_categoryName = categoryName + ' - '_}
    {_}_}
    {_categoryName = categoryName + house.category_intention.value_}

    <div class="houseCard_wrapper" data-category-intention-id="{=house.category_intention.id=}">
        <div class="houseCard_header">
            <i class="icon-{=window.iconMap[house.category_intention.slug]=}"></i>
            <h2 class="title">{=categoryName=}</h2>
            <a class="more" href="/property_list?{=moreURLQuery=}">
                {{_('更多')}}
            </a>
        </div>

        <div class="houseCard_phone_new">
            <!--@@include=suggestion_house_card_content_phone.tpl.html  -->
        </div>

        <div class=houseCard>
            <!--@@include=suggestion_house_card_content.tpl.html  -->
        </div>

    </div>
</script>
