<script id="empty_houseCard_template" type="text/template">
    {_var categoryName = ''_}
    {_var budgetName = ''_}
    {_var budgetId = ''_}
    {_if(house.category_budget) {_}
    {_budgetId = house.category_budget.id_}
    {_budgetName = house.category_budget.value_}
    {_categoryName = house.category_budget.value_}
    {_categoryName = categoryName + ' - '_}
    {_}_}
    {_categoryName = categoryName + house.category_intention.value_}

    <div class="houseCard_wrapper" data-category-intention-id="{=house.category_intention.id=}">
        <div class="houseCard_header">
            <i class="icon-{=window.iconMap[house.category_intention.slug]=}"></i>
            <h2 class="title">{=categoryName=}</h2>
        </div>
        <div class="houseCard_suggestionHolder">
            <div id="emptyPlaceHolder" class="emptyPlaceHolder">
                <img src="/static/images/icon/notice.png" alt="" />
                <div class="holderText">
                    <h2>{{_('不好意思，平台暂时没有')}}
                        <span id="budget">{=budgetName=}</span>
                        {{_('合适')}}
                        <span id="intention">{=house.category_intention.value=}</span>
                        {{_('的投资机会')}}
                    </h2>
                    <p>
                        {{_('您可以先')}}
                        <a href="/property-list">{{_('看看其他房产')}}</a>
                        {{_('，或者')}}
                        <a style="cursor:pointer;" onclick="javascript:window.project.openRequirement(null, '{=budgetId=}', '{=house.category_intention.id=}')">{{_('提交您的置业需求')}}</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="tagDetail" data-intention-id={=house.category_intention.id=}>
            <h3 class="tag">{=house.category_intention.value=}</h3>
            <p class="description"></p>
        </div>
    </div>
</script>
