<!--@@master=master/house_card_content_master_phone.tpl.html-->
<!--@@block=var -->
% show_rooms = 'true'
<!--@@close-->

<!--@@block=action_phone -->
<!--<div class="statusWrap">
    <label class="properties">
        {=project.formatDate(house.time)=}{{_('发布')}}
    </label>

</div>-->

<!--@@close -->
<!--@@block=cover_phone -->
<div class="tagDetail" data-intention-id={=house.category_intention.id=}>
    <h3 class="tag">{=house.category_intention.value=}</h3>
    <p class="description"></p>
</div>
<!--@@close-->

