<!--@@master=master/house_card_content_master.tpl.html-->
<!--@@block=price -->
<span class=price>
    <!--@@include=../../partials/get_unit_price.tpl.html -->
</span>
<!--@@close -->
<!--@@block=action -->
<div class="otherAction">
    <i data-action="removeProperty" data-id="{=ticket.id=}" class="icon-delete"></i>
</div>
<div class="bottomAction">
    <a class="wechatShare action" data-id="{=ticket.id=}">{=window.i18n('分享到微信')=}</a>
    <a class="action" data-id="{=ticket.id=}" data-action="removeProperty">{=window.i18n('移除')=}</a>
</div>
<!--@@close-->

<!--@@block=cover -->

<!--@@close-->