<script id="transaction_list_item_template" type="text/template">
    <tr>
        <td>
            <div>
                {=order.time=}
            </div>
            <div>
                {=order.time=}
            </div>
        </td>
        <td>
            <div>
                {=order.type=}
                投资
            </div>
        </td>
        <td>
            <div>
                {=order.items[0].name=}
            </div>
        </td>
        <td>
            <div>
                {=order.price=}
            </div>
        </td>
    </tr>
</script>
