<script id="transaction_list_item_template" type="text/template">
    <table>
        <tr>
            <th>时间</th>
            <th>交易类型</th>
            <th>交易详情</th>
            <th>金额</th>
            <th>余额</th>
        </tr>
        <tr>
            <td>
                <div>
                    2014-12-05
                </div>
                <div>
                    16:01:01
                </div>
            </td>
            <td>
                <div>
                    投资
                </div>
            </td>
            <td>
                <div>
                    投资爱担保项目
                </div>
            </td>
            <td>
                <div>
                    1000.00
                </div>
            </td>
            <td>
                <div>
                    96.62
                </div>
            </td>

        </tr>
    </table>
</script>
