<!--@@include=payment_list.tpl.html -->
<!--@@include=add_payment_form.tpl.html -->
<!-- @@include =payment_list_phone.tpl.html -->
<script type="text/template" id='kot-user-payment-tpl'>
    <div class="contentHeader">
        <h1>{{_('支付')}}</h1>
    </div>
    <div class="list_wrapper">
        <div class="clearfix" data-bind="visible: cardList().length>0">
            <span id="cardData" style="display: none">
            [{
                "type": "visa", 
                "isdefault": false, 
                "time": 1413677620.08, 
                "cardNumber": "6666 7777 8888 9999", 
                "id": "54430234915da40566a3ab9d"
            }, {
                "type": "AE", 
                "isdefault": true, 
                "text": "321", 
                "time": 1412160623.186, 
                "cardNumber": "0000 2222 3333 8888", 
                "id": "542bdc70c6e47b193ebebc1d"
            }]
            </span>
            <div class="list" data-bind="foreach: cardList">
                <div class="cardListItems" data-bind="style: {backgroundImage: 'url(/static/images/card/payment_' + type + '.png)'}">
                    <i class="icon-trash remove" data-bind="click: $parent.removeCard"></i>
                    <div class="setting-default" data-bind="visible: isdefault, click: $parent.settingDefault">default payment</div>
                    <div class="cardNumber" data-bind="text: cardNumber"></div>
                </div>
            </div>
            <div data-bind="visible: !empty()">
                <div class="cardListItems cardListItemsAddBtn" data-bind="visible: !visible(),click: togglePaymentForm">
                    <span class="addCardBtn"><i class="icon-add"></i>ADD PAYMENT</span>
                </div>
            </div>
        </div>

        <div id="payCardPlaceHolder" class="emptyPlaceHolder" data-bind="visible: (cardList().length <= 0) && !visible()">
            <img src="/static/images/icon/notice.png" alt="">
            <div class="holderText">
                <h2>没有card</h2>
                <p>去<a data-bind="click: togglePaymentForm">ADD PAYMENT</a>吧</p>
            </div>
        </div>

        <add-payment-form data-bind="visible: visible"></add-payment-form>
    </div>

    <kot-payment-list-phone></kot-payment-list-phone>
</script>