<script type="text/template" id='add-card-tpl'>
    <div class="modal modal-pay-card" id="addCardPopup" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <h4 class="modal-title">Credit Card Information</h4>
                <div class="modal-body">
                    <div class="row">
                        <input class="inputWrapper cardNO" type="text" placeholder="Card number" data-bind="value: cardNumber" required>
                        <input class="inputWrapper" type="text" placeholder="Name on card" data-bind="value: cardName" required>
                    </div>
                    <div class="row">
                        <span class="text">Expiration Date</span>
                        <select class="ghostSelect" data-bind="chosen: expiryYearList,
                        optionsText: function(item){return item},
                        value: expiryYear"></select>
                        <select class="ghostSelect" data-bind="chosen: expiryMonthList,
                        optionsText: function(item){return item},
                        value: expiryMonth"></select>
                        <input class="inputWrapper" type="text" placeholder="Code (CVV)" data-bind="value: cardCVC" required>
                    </div>
                    <div class="row">
                        <textarea id="countryData" style="display: none;">
                            {{json_dumps(country_list)}}
                        </textarea>
                        <span class="text">Country</span>
                        <select name="countrySelect" class="countrySelect ghostSelect"  data-bind="chosen: countryCodeList,
                        optionsText: function(item){return item.name},
                        value: country"></select>
                        <input class="inputWrapper" type="text" placeholder="Postal Code" data-bind="value: cardPostalCode" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_('提交')}}</button>
                </div>
            </div>
        </div>
    </div>
</script>