<div class="wrap wrapRight">
    <div class="phone">
        <!-- Swiper -->
        <div class="swiper-container appDownloadSwiper">
            <div class="swiper-wrapper">
                %if request.params and request.params['target'] == 'user-coupons':
                <div class="swiper-slide"><img src="/static/images/app_download/user-coupons_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/app_download/user-coupons_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/app_download/user-coupons_4.jpg" alt=""></div>
                %else:
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/static/images/wechat_poster/page_7.jpg" alt=""></div>
                %end
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>
<div class="wrap wrapCenter">
    <div class="content">
        <div class="downloadWrap clearfix">
            <a class="appStore" href="https://appsto.re/gb/QEmC6.i" title="{{_('进入App Store下载洋房东App')}}" data-show-client="ios,pc,ipad,mobile">
                <div class="logo"><i class="icon-Apple_logo"></i></div>
                <div class="downloadInfo">
                    <p>{{_('点击进入')}}</p>
                    <p class="bold">App Store</p>
                </div>
            </a>
            <!--
            <a class="googlePlay" title="{{_('COMMING SOON ON Google Play')}}" data-show-client="">
                <div class="logo"><i class="icon-android"></i></div>
                <div class="downloadInfo">
                    <p>{{_('COMMING SOON ON')}}</p>
                    <p class="bold">Google Play</p>
                </div>
            </a>
            -->
            <a class="web" href="/property-to-rent/create" title="{{_('使用网站发布')}}" data-show-client="pc,ipad">
                <div class="logo"><i class="icon-pc"></i></div>
                <div class="downloadInfo">
                    <p>{{_('不便使用手机？')}}</p>
                    <p class="bold">{{_('使用网站发布')}}</p>
                </div>
            </a>

            <!--<div class="qrcode" data-show-client="pc"></div>-->
            <div class="subscribeAndroid clearfix" data-show-client="android">
                <h3>{{_('安卓版即将发布，敬请期待！')}}</h3>
                <input name="email" type="email" placeholder="{{_('留下您的邮箱，适配您的设备后将通知您')}}"/>
                <button id="subscribeBtn">{{_('订阅')}}</button>
            </div>
            <div class="info clearfix" style="display: none;">
                <div class="infoLeft">
                    <h3>{{_('感谢您的订阅！')}}</h3>
                    <p class="hiddenOnPCWeb">{{_('您也可以扫描下方的二维码关注公众号获取安卓应用发布信息')}}</p>
                </div>
                <div class="qrcode"></div>
            </div>
        </div>
    </div>
</div>
<div class="wrap wrapLeft">
    <div class="content">
        <img class="logo" src="/static/images/logo/logo_app_download.png">
        %if request.params and request.params['target'] == 'user-coupons':
        <p class="title">{{_('洋房东致力于为伦敦房东和租客带来更多专属会员优惠，Keep calm and 用起来：')}}</p>
        <ul class="text">
            <li>{{_('/ 下载洋房东App，免费注册为会员 /')}}</li>
            <li>{{_('/ 在个人中心查看您的会员专享优惠 /')}}</li>
            <li>{{_('/ 向商家出示优惠劵享受优惠 /')}}</li>
            <li>{{_('/ 分享优惠券获取更大优惠 /')}}</li>
        </ul>
        %else:
        <p class="title">{{_('我们致力于搭建房东和租客之间自由交流的桥梁：')}}</p>
        <ul class="text">
            <li>{{_('/ 房东轻松三步发布房源，您的房产您作主 /')}}</li>
            <li>{{_('/ 租客一键查看房东联系方式，让您足不出户联系房东 /')}}</li>
            <li>{{_('/ 线上时刻为您服务，快捷满足您出租和求租的需求 /')}}</li>
            <li>{{_('/ 全程免费，让您不再为高昂的中介费而烦恼 /')}}</li>
        </ul>
        %end
    </div>

</div>
