<div id="bing_map_icons" style="display:none;">
    <!-- https://social.msdn.microsoft.com/Forums/en-US/ef4b7ef1-d53e-4385-9e58-775c6a028ebe/bing-maps-custom-html-pushpin-not-firing-any-infobox-event?forum=bingmapsajax -->
    <img id="icon-location-item" src="/static/images/property_details/icon-location-item.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-4013" src="/static/images/property_details/icon-location-4013.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-4170" src="/static/images/property_details/icon-location-4170.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-4581" src="/static/images/property_details/icon-location-4581.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-5400" src="/static/images/property_details/icon-location-6512.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-5800" src="/static/images/property_details/icon-location-5800.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-6000" src="/static/images/property_details/icon-location-6000.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-6512" src="/static/images/property_details/icon-location-6512.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-8060" src="/static/images/property_details/icon-location-8060.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-8200" src="/static/images/property_details/icon-location-8211.png" width=24 height=36 style="pointer-events:all;">
    <img id="icon-location-8211" src="/static/images/property_details/icon-location-8211.png" width=24 height=36 style="pointer-events:all;">
</div>
