<div class="main_container clearfix">
	<div class="chatUserInfo fl">
		<div class="userHeader">
			<span class="userHeader_pic"><img src="/static/images/chat/hostHeader.jpg" alt=""></span>
			<div class="userHeader_type">HOST</div>
			<div class="userHeader_name">Tom.lei Guster</div>
		</div>
		<div class="chatDetails">
			<dl class="userDetailsList">
				<dt>Ticket List</dt>
				<dd><span>Move in time</span><strong>Dec.12.2016</strong></dd>
				<dd><span>Move in time</span><strong>Dec.12.2016</strong></dd>
			</dl>
			<dl class="userDetailsList">
				<dt>order</dt>
				<dd><span>Move in time</span><strong>Dec.12.2016</strong></dd>
				<dd><span>Move in time</span><strong>Dec.12.2016</strong></dd>
				<dd class="total"><span>total</span><strong>$ 12345</strong></dd>
			</dl>
		</div>		
	</div>
	<div class="chatCenter fr">
		<div class="box_hd">
			<div class="fl">
				<div class="content">
					<textarea id="edit_area" class="edit_area" placeholder="sent msg"></textarea>
					<div class="toolbar"><a href="javascript:;"><i class="icon-art"></i></a></div>
				</div>
				<div class="action"><a href="javascript:;" class="btn_send" id="btn_send">send</a></div>
			</div>
			<div class="fr">
				<img src="/static/images/chat/hostHeader.jpg" alt="" class="avatar">
			</div>
		</div>
		<div class="chatContent">
			
		</div>
	</div>
</div>
