%if country_list:
<select name="country" class="country ghostSelect" style="color:#4d4d4d;">

    %for index, country  in enumerate(country_list):
    <option value="{{country.get('code')}}">
        %if country.get('code') == 'GB' :
        (+44)
        %elif country.get('code') == 'CN':
        (+86)
        %elif country.get('code') == 'US' :
        (+1)
        %elif country.get('code') == 'HK' :
        (+852)
        %elif country.get('code') == 'TW':
        (+886)
        %elif country.get('code') == 'IE':
        (+353)
        %elif country.get('code') == 'DE':
        (+49)
        %elif country.get('code') == 'FR':
        (+33)
        %elif country.get('code') == 'IT':
        (+39)
        %elif country.get('code') == 'ES':
        (+34)
        %elif country.get('code') == 'NL':
        (+31)
        %elif country.get('code') == 'IN':
        (+91)
        %elif country.get('code') == 'RU':
        (+7)
        %elif country.get('code') == 'JP':
        (+81)
        %elif country.get('code') == 'SG':
        (+65)
        %elif country.get('code') == 'MY':
        (+60)

        %end
        {{get_country_name_by_code(country.get('code'))}}
    </option>
    %end
</select>
%end
