<div>
    <div class="cfdPageTitle">资产总览</div>
    <div class="orangeTable">
        <div class="orangeTitle phone">今日收益</div>
        <table class="topClass">
            <tr>
                <td id="earning" class="earning">
                    <div class="noLine">
                        <div class="orangeTitle web">今日收益</div>
                        <div class="orangeTitle number overview">￥2.3</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle orange">总投资</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td id="overage">
                    <div>
                        <div class="cfdLittleTitle orange">可用余额</div>
                        <div class="cfdLittleText">
                            <span>￥3000</span>
                            <button class="recharge small">充值</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="phone">
                        <div class="cfdLittleTitle">累计净收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">已收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">待收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentBody">
        <div>
            <div class="cfdContentFrame">
                <span class="cfdContentTitle">投资收益</span>
                <div>更多</div>
            </div>
        </div>
        <div>
            <div class="cfdContentFrame">
                <div class="cfdContentTitle">投资收益</div>
                <div>
                    <canvas id="investmentArea"></canvas>
                </div>
            </div>
            <div class="touzi_list"></div>
        </div>
    </div>

</div>