<div>
    <div>今日收益</div>
    <table>
        <tr>
            <td>
                <div>￥2.3</div>
            </td>
            <td>
                <div>累计净收益</div>
                <div>￥3000</div>
            </td>
            <td>
                <div>已收收益</div>
                <div>￥3000</div>
            </td>
            <td>
                <div>待收收益</div>
                <div>￥3000</div>
            </td>
        </tr>
    </table>
    <div>
        <div>投资收益</div>
        <div>
            <div>投资项目：</div>
            <div>项目一</div>
            <div>项目二</div>
            <div>3个月</div>
        </div>
        <div>
            <div>收益时间：</div>
            <div>6个月前</div>
            <div>6个月</div>
            <div>全部</div>
        </div>
        <div>image?</div>
    </div>
    <div>
        <div class="shouyi_list"></div>
    </div>
</div>