<div>
    <div class="cfdPageTitle">充值</div>
    <table class="rechargeTable">
        <tr>
            <td class="recharge_payment_type selected">
                <div class="title">
                    我有下列国际借记卡
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <img src="/static/images/card/card_mastercard.png"/>
                            </td>
                            <td>
                                <img src="/static/images/card/card_maestro.png"/>
                            </td>
                            <td>
                                <img src="/static/images/card/card_vista_debit.png"/>
                            </td>
                            <td>
                                <img src="/static/images/card/card_visa_electron.png"/>
                            </td>
                        </tr>
                        <tr class="card">
                            <td>
                                MasterCard
                            </td>
                            <td>
                                Maestro
                            </td>
                            <td>
                                Visa Debit
                            </td>
                            <td>
                                Visa Electron
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="recharge_payment_type">
                <div class="title">
                    我没有国际借记卡
                </div>
                <div>
                    使用银行汇款
                </div>
            </td>
        </tr>
    </table>
    <table class="rechargeWithCard">
        <tr>
            <td class="caption">
                <span>Card Number:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span>Expiration Date:</span>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td class="caption">
                <span>CVV Code:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span>Card Holder's Name:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span>Country:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span>Postcode/Zip Code:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="divider">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="caption">
                <span class="recharge_caption">充值金额(500英镑起):</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="description">
                    This payment will be billed to the card you specified. The name on the statement will be Youngfunding.
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button class="submit">确认信息无误，充值</button>
                <button class="cancel">返回</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="orangeTable small">
                    如果您对支付方式有任何问题，请发邮件至support@youngfunding.co.uk，&nbsp;或者拨打400-0926-433咨询
                </div>
            </td>
        </tr>
    </table>
    <table class="rechargeNoCard" style="display:none">
        <tr>
            <td colspan="2">
                <table class="description_table">
                    <tr>
                        <td class="caption">
                            <span>
                                转账步骤
                            </span>
                        </td>
                        <td class="steps">
                            <div>
                                1.登录网银或支付宝
                            </div>
                            <div>
                                2.按照下面的帐号信息填写
                            </div>
                            <div>
                                3.填写Reference信息
                            </div>
                            <div>
                                4.确认转账
                            </div>
                        </td>
                        <td class="guide">
                            <button>
                                网银转账指南
                            </button>
                            <button>
                                支付宝转账指南
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="divider">
                <hr/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="caption">
                    REFERENCE DETAILS
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">WAN4893347</div>
                <div class="description">Reference Name</div>
            </td>
            <td>
                <div class="content">Property Partner</div>
                <div class="description">Account Name</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="caption">
                    ACCOUNT DETAILS
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">03604578</div>
                <div class="description">Account Number</div>
            </td>
            <td>
                <div class="content">20-32-06</div>
                <div class="description">Account Name</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="content">GB70 BARC 203206 03604578</div>
                <div class="description">IBAN Number (for non-UK Investors)</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="content">BARCGB22</div>
                <div class="description">Swift Code (for non-UK Investors)</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="caption">
                    BANK DETAILS
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">Barclays Bank</div>
                <div class="description">Bank Number</div>
            </td>
            <td class="content">
                <div>2 Churchill Place,</div>
                <div>London</div>
                <div>E145HP</div>
                <div>United Kingdom</div>
                <div class="description">Bank Address</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="orangeTable small">
                    转账成功后3个工作日内更新您的账户余额，如果您对支付方式有任何问题，
                    请发邮件至support@youngfunding.co.uk，或者拨打400-0926-433咨询
                </div>
            </td>
        </tr>
    </table>

</div>