<div>
    <div class="cfdContentFrame">
        <div class="cfdContentTitle">交易记录</div>
    </div>
    <table>
        <tr>
            <td style="min-width: 70px;">
                <span class="cfdFilterMenu">交易日期：</span>
            </td>
            <td class="transactionDate">
                <div class="cfdFilterButton selected">全部</div>
                <div class="cfdFilterButton">最近7天</div>
                <div class="cfdFilterButton">2个月</div>
                <div class="cfdFilterButton">3个月</div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="cfdFilterMenu">交易日期：</span>
            </td>
            <td id="transactionDateRange">
                <input id="transactionDateStart" type="text" class="cfdFilterInput">
                <span class="cfdFilterMenu">至</span>
                <input id="transactionDateEnd" type="text" class="cfdFilterInput">
            </td>
        </tr>
        <tr>
            <td>
                <span class="cfdFilterMenu">交易类型：</span>
            </td>
            <td class="transactionType">
                <div class="cfdFilterButton selected">全部</div>
                <div class="cfdFilterButton">充值</div>
                <div class="cfdFilterButton">提现</div>
                <div class="cfdFilterButton">投资</div>
                <div class="cfdFilterButton">收益</div>
                <div class="cfdFilterButton">回收本金</div>
            </td>
        </tr>
    </table>
    <textarea id="dataOrderList" style="display:none;">{{json_dumps(order_list)}}</textarea>

    <table class="transaction_list" id="transaction_list">
        <tr>
            <th class="col_time">时间</th>
            <th class="col_type">交易类型</th>
            <th class="col_content">交易详情</th>
            <th class="col_price">金额</th>
        </tr>

    </table>
    <div class="transaction_list phone" id="transaction_list_phone"></div>

    <!--@@include=/message_holder.html {"hint":"{{_('没有交易记录')}}"}-->

    <!-- @@include=../static/templates/transaction_list_item.tpl.html-->

</div>