<div>
    <div class="cfdPageTitle">资产总览</div>
    <div class="orangeTable">
        <div class="orangeTitle phone">今日收益</div>
        <table class="topClass">
            <tr>
                <td colspan="4">
                    <div class="noLine">
                        <div class="orangeTitle web">今日收益</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="noLine">
                        <div class="orangeTitle number">￥2.3</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle orange">累计净收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>

                        <div class="cfdLittleTitle">已收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">待收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentBody">
        <div class="cfdContentFrame">
            <div class="cfdContentTitle">投资收益</div>
        </div>
        <table>
            <tr>
                <td class="cfdFilterType">
                    <span class="cfdFilterMenu">投资项目：</span>
                </td>
                <td class="earningProject">
                    <div class="cfdFilterButton selected">全部</div>
                    <div class="cfdFilterButton">项目一</div>
                    <div class="cfdFilterButton">项目二</div>
                </td>
            </tr>
            <tr>
                <td class="cfdFilterType">
                    <span class="cfdFilterMenu">收益时间：</span>
                </td>
                <td class="earningDate">
                    <div class="cfdFilterButton selected">全部</div>
                    <div class="cfdFilterButton">6个月前</div>
                    <div class="cfdFilterButton">6个月</div>
                </td>
            </tr>
        </table>
        <div>
            <div>image?</div>
        </div>
        <table class="earningList" id="earningList">
            <tr>
                <th class="col_name">项目名称</th>
                <th class="col_type">类型</th>
                <th class="col_price">金额</th>
                <th class="col_date">预计收益时间</th>
                <th class="col_date">实际收益时间</th>
                <th class="col_status">支付状态</th>
            </tr>
        </table>
        <!--@@include=/message_holder.html {"hint":"{{_('没有交易记录')}}"}-->

        <!-- @@include=../static/templates/earning_list_item.tpl.html-->
    </div>
</div>