<div>
    <div class="cfdPageTitle">提现</div>
    <div class="orangeTable">
        <ul>
            <li>
                To withdraw funds, you will first need to add a bank account.

            </li>
            <li> Withdrawals to UK bank accounts take up to 3 business days to clear, but this can take a little
                longer for non-UK accounts. Note that withdrawals to non-UK bank accounts incur a $5 charge from our bank.

            </li>
        </ul>

    </div>
    <div class="orangeTable">
        <ol style="list-style-type: decimal;padding: auto;">
            <li>如果您是非英国帐号，体现会产生￥30手续费，转账费用由收款银行决定。</li>
            <li>为了您的资金安全，请确保提现银行帐号的姓名与您进行实名验证的姓名一致。</li>
            <li>您确认提现后，我们将在1个工作日（国家节假日除外）之内将钱转入您网站上填写的银行帐号。
                <div>
                    规则如下：
                </div>
                <ul style="list-style: '*'">
                    <li>
                        每个工作日17：50之前的用户提现申请，将在下个工作日进行打款操作。
                    </li>
                    <li>
                        17：50之后的提现申请将同下个工作日的申请一并处理。
                    </li>
                </ul>
            </li>
            <li>提现过程遇到问题，请联系客服：400-8299-318</li>

        </ol>
    </div>


</div>