<div>
    <div class="cfdPageTitle">充值</div>
    <table class="rechargeTable">
        <tr>
            <td class="recharge_payment_type selected">
                <div class="title">
                    我有下列国际借记卡
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <img src="../static/images/card/card_mastercard.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_maestro.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_vista_debit.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_visa_electron.png"/>
                            </td>
                        </tr>
                        <tr class="card">
                            <td>
                                MasterCard
                            </td>
                            <td>
                                Maestro
                            </td>
                            <td>
                                Visa Debit
                            </td>
                            <td>
                                Visa Electron
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="recharge_payment_type">
                <div class="title">
                    我没有国际借记卡
                </div>
                <div>
                    使用银行汇款
                </div>
            </td>
        </tr>
    </table>
    <table class="rechargeWithCard">
        <tr>
            <td width="30%">
                <span>Card Number:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td>
                <span>Expiration Date:</span>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <span>CVV Code:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td>
                <span>Card Holder's Name:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td>
                <span>Country:</span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    Postcode/Zip Code:
                </span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr/>
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    充值金额(500英镑起):
                </span>
            </td>
            <td>
                <input type="text" class="">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    This payment will be billed to the card you specified. The name on the statement will be Youngfunding.
                </div>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button>确认信息无误，充值</button>
                <button>返回</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    如果您对支付方式有任何问题，请发邮件至support@youngfunding.co.uk, 或者拨打400-0926-433咨询
                </div>
            </td>
        </tr>
    </table>

</div>