<div>
    <div class="cfdPageTitle">充值</div>
    <table>
        <tr>
            <td class="recharge_payment_type selected">
                <div class="title">
                    我有下列国际借记卡
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <img src="../static/images/card/card_mastercard.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_maestro.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_vista_debit.png"/>
                            </td>
                            <td>
                                <img src="../static/images/card/card_visa_electron.png"/>
                            </td>
                        </tr>
                        <tr class="card">
                            <td>
                                MasterCard
                            </td>
                            <td>
                                Maestro
                            </td>
                            <td>
                                Visa Debit
                            </td>
                            <td>
                                Visa Electron
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td class="recharge_payment_type">
                <div class="title">
                    我没有国际借记卡
                </div>
                <div>
                    使用银行汇款
                </div>
            </td>
        </tr>
    </table>

    <div class="orangeTable">
        <div class="orangeTitle phone">今日收益</div>
        <table class="topClass">
            <tr>
                <td id="earning" class="earning">
                    <div class="noLine">
                        <div class="orangeTitle web">今日收益</div>
                        <div class="orangeTitle number">￥2.3</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle orange">总投资</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td id="overage">
                    <div>
                        <div class="cfdLittleTitle orange">可用余额</div>
                        <div class="cfdLittleText">
                            <span>￥3000</span>
                            <button class="recharge small">充值</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="phone">
                        <div class="cfdLittleTitle">累计净收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">已收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">待收收益</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentBody">
        <div>
            <div class="cfdContentFrame">
                <span class="cfdContentTitle">投资收益</span>
                <div>更多</div>
            </div>
            <div>image?</div>
        </div>
        <div>
            <div class="cfdContentFrame">
                <div class="cfdContentTitle">投资收益</div>
                <div>更多</div>
            </div>
            <div class="touzi_list"></div>
        </div>
    </div>

</div>