<div>
    <div class="cfdPageTitle">资产总览</div>
    <div class="orangeTable">
        <div class="orangeTitle phone">累计投资</div>
        <table class="topClass">
            <tr>
                <td colspan="4">
                    <div class="noLine">
                        <div class="orangeTitle web">累计投资</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="noLine">
                        <div class="orangeTitle number">￥10000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">待收本金</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
                <td>
                    <div>
                        <div class="cfdLittleTitle">总资产</div>
                        <div class="cfdLittleText">￥3000</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="contentBody">
        <div class="cfdContentFrame">
            <div class="cfdContentTitle">投资产品</div>
        </div>
        <div class="cfdContentFrame">
            <div class="cfdContentTitle">投资收益类型</div>
        </div>
        <div class="dataPanel">
            <table class="investmentList" id="investmentList">
                <tr>
                    <th class="col_name">项目名称</th>
                    <th class="col_price">在投资金</th>
                    <th class="col_date">预计收益时间</th>
                    <th class="col_date">实际收益时间</th>
                    <th class="col_status">操作</th>
                </tr>

            </table>
            <div id="emptyInvestmentList">
                <img src="/static/images/common/ajax-loader.gif" id="loadIndicator" class="loadIndicator" style="display:none"/>
                <!--@@include=/message_holder.html {"hint":"{{_('没有投资记录')}}"}-->
            </div>
            <div id="investmentPager">
                <div id="pager" class="pager">
                    <button id="pre">
                        <img class="pre" src="/static/images/user/pre-page.png"/>
                        {{_('上一页')}}
                    </button>
                    <button id="next">
                        {{_('下一页')}}
                        <img class="next" src="/static/images/user/next-page.png"/>
                    </button>
                </div>
            </div>
            <!-- @@include=../static/templates/investment_list_item.tpl.html-->
        </div>
        <div class="tabs ui-tabs ui-widget">
            <ul class="ui-tabs-nav">
                <li id="equity_earning" class="ui-tabs-selected all">
                    <a>{{_('股权收益')}}</a>
                </li>
                <li id="property_rent" class="new">
                    <a>{{_('产权租金')}}</a>
                </li>
                <li id="bond_investment" class="read">
                    <a>{{_('债券投资')}}</a>
                </li>
            </ul>
        </div>
        <textarea id="investmentOrderList" style="display:none;">{{json_dumps(investment_list)}}</textarea>

        <div class="equityEarning_wrapper">
            <div class="equityEarningList list">
            </div>

            <!--@@include=/message_holder.html {"hint":"{{_('当前还没有消息')}}"}-->
        </div>

        <div class="propertyRent_wrapper" style="display:none">
            <div class="propertyRentList list">
            </div>

            <!--@@include=/message_holder.html {"hint":"{{_('当前没有未读消息')}}"}-->
        </div>

        <div class="bondInvestment_wrapper" style="display:none">
            <div class="bondInvestmentList list">
            </div>

            <!--@@include=/message_holder.html {"hint":"{{_('当前没有已读消息')}}"}-->
        </div>
    </div>
</div>