<div>
    <div class="cfdContentFrame">
        <div class="cfdContentTitle">交易记录</div>
    </div>
    <table>
        <tr>
            <td>
                <span class="cfdFilterMenu">交易日期：</span>
            </td>
            <td>
                <div class="cfdFilterButton selected">全部</div>
                <div class="cfdFilterButton">最近7天</div>
                <div class="cfdFilterButton">2个月</div>
                <div class="cfdFilterButton">3个月</div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="cfdFilterMenu">交易日期：</span>
            </td>
            <td>
                <input type="text" class="cfdFilterInput">
                <span class="cfdFilterMenu">至</span>
                <input type="text" class="cfdFilterInput">
            </td>
        </tr>
        <tr>
            <td>
                <span class="cfdFilterMenu">交易类型：</span>
            </td>
            <td>
                <div class="cfdFilterButton">全部</div>
                <div class="cfdFilterButton">充值</div>
                <div class="cfdFilterButton">提现</div>
                <div class="cfdFilterButton">投资</div>
                <div class="cfdFilterButton">收益</div>
                <div class="cfdFilterButton">回收本金</div>
            </td>
        </tr>
    </table>
    <div class="transaction_list"></div>
</div>