<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">

<!-- the sprite css should not be packaged because it will change dir-->
<!-- @if ENV!='debug' -->
<!--build:css(dist) /static/sprite/css/sprite-build.css -->
<link rel="stylesheet" href="/static/sprite/css/sprite.css"/>
<!--endbuild-->
<!-- @endif-->

<!--build:css(dist) /static/styles/project/all.css -->
<link rel="stylesheet" href="/static/styles/team/reset.css"/>
<link rel="stylesheet" href="/static/styles/common.css"/>
<link rel="stylesheet" href="/static/styles/project/button.css"/>
<link rel="stylesheet" href="/static/styles/project/form.css"/>
<link rel="stylesheet" href="/static/styles/project/ghostButton.css"/>
<link rel="stylesheet" href="/static/styles/project/ghostSelect.css"/>
<link rel="stylesheet" href="/static/styles/project/ghostInput.css"/>
<link rel="stylesheet" href="/static/styles/project/ghostTextArea.css"/>
<link rel="stylesheet" href="/static/styles/project/textButton.css"/>
<link rel="stylesheet" href="/static/styles/project/toggleTag.css"/>
<link rel="stylesheet" href="/static/bower_components/responsive_slides/jquery.responsive-slides.css"/>
<link rel="stylesheet" href="/static/styles/rslides_customize.css"/>
<link rel="stylesheet" href="/static/styles/iconFont.css">
<!--endbuild-->

<!--build:css(dist) /static/styles/project/ie_fix.css -->
<!--[if lte IE 8]>
<link rel="stylesheet" href="/static/styles/project/ie_fix.css"/>
<![endif]-->
<!--endbuild-->

<!--build:css(dist) /static/vendors/jquery.modal/jquery.modal.css -->
<link rel="stylesheet" href="/static/vendors/jquery.modal/jquery.modal.css"/>
<!--endbuild-->
