%if not ('delegate_rent_ticket' in vars() or 'delegate_rent_ticket' in globals()):
%    delegate_rent_ticket = {}
%end
<div id="delegate_sale_popup" class="requirement_popup delegate_rent_popup"  style="display:none">
    <div id="requirement_popup_shadow" class="requirement_popup_shadow"></div>
    <div class="requirement_wrapper">
        <div class="requirement">
            <div class="info">
                <div class="requirement_title">
                    <h2 class="title">{{_('提交委托出售需求')}}</h2>
                    <ol class="introductions">
                        <li>
                            {{_('提交您的联系方式和房源位置，由平台通过landregistry核实房源归属')}}
                        </li>
                        <li>
                            {{_('房源发布到全英推广，让高大上的房源广告给您的房源提升身价')}}
                        </li>
                        <li>
                            {{_('平台经纪人帮你搞定带看，核实买家身份，让您完全省心省力')}}
                        </li>
                        <li>
                            {{_('业内最低佣金比例')}}
                        </li>
                    </ol>
                </div>

            </div>
            <div class="formWrap">

                <form class="delegate_rent_form">
                    <table>
                        <tr>
                            <td>
                                <select class="select-chosen country-select small" data-placeholder="{{_('请选择国家')}}" data-validator="required" data-name="{{_('国家')}}" data-serialize="country" data-value="{{delegate_rent_ticket.get('country',{}).get('code','')}}">

                                </select>
                                <select class="select-chosen city-select small" data-placeholder="{{_('请选择城市')}}" data-validator="required" data-name="{{_('城市')}}" data-serialize="city" data-value="{{delegate_rent_ticket.get('city',{}).get('name','')}}">

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="title">{{_('Postcode')}}</span>
                                <input class="big" type="text" name="postcode" placeholder="{{_('Postcode')}}" data-validator="required" data-name="{{_('Postcode')}}" data-serialize="postcode" value="{{delegate_rent_ticket.get('postcode','')}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="title">{{_('门牌号')}}</span>
                                <select class="select-chosen house-name-select small" data-placeholder="{{_('按postcode查门牌号')}}" data-name="{{_('门牌号')}}"  data-value="">

                                </select>
                                <button type="button" class="ghostButton red ajaxButton addressLookupBtn">{{_('查门牌号')}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="title">{{_('姓名')}}</span>
                                <input type="text" class="delegateRentName big" name="delegateRentName" placeholder="{{_('姓名')}}" data-validator="required,trim,maxLength(20)"  data-name="{{_('姓名')}}" data-serialize="nickname"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="phoneWrap">
                                <span class="title">{{_('手机号')}}</span>
                                <!-- @@include =country_code_select.html -->
                                <input type="text" class="delegateRentPhone small" name="delegateRentPhone" placeholder="{{_('手机号')}}" data-validator="required,trim,phone"  data-name="{{_('手机号')}}" data-serialize="phone"/>
                            </td>
                        </tr>
                        <tr class="passwordWrap" style="display: none;">
                            <td>
                                <span class="title">{{_('密码')}}</span>
                                <input type="password" class="delegateRentPassword small" name="delegateRentPassword" placeholder="{{_('密码')}}" data-validator=""  data-name="{{_('密码')}}"/>
                                <button type="button" class="button red ajaxButton login">{{_('登录')}}</button>
                            </td>
                        </tr>
                        <tr class="emailWrap" style="display: none;">
                            <td>
                                <span class="title">{{_('Email')}}</span>
                                <input type="text" class="delegateRentEmail big" name="delegateRentEmail" placeholder="{{_('Email')}}" data-name="{{_('Email')}}"/>
                            </td>
                        </tr>
                        <tr class="codeWrap" style="display: none;">
                            <td>
                                <span class="title">{{_('验证码')}}</span>
                                <input type="text" class="delegateRentCode small" name="delegateRentCode" placeholder="{{_('验证码')}}" data-validator="trim"  data-name="{{_('验证码')}}"/>
                                <button type="button" class="ghostButton red ajaxButton">{{_('获取验证码')}}</button>
                            </td>
                        </tr>
                       <!-- <tr>
                            <td class="delegateRentAgreeWrap">
                                <input type="checkbox" class="delegateRentAgree currantCheckbox" name="delegateRentAgree" id="delegateRentAgree" data-serialize="noregister|reverse"/>
                                <label for="delegateRentAgree">{{_('我希望注册为会员以便以后能够更新我的出租需求')}}</label>
                            </td>
                        </tr>-->
                    </table>
                    <div class="delegateRentFormError"></div>
                </form>
                <div class="actionWrap">
                    <button class="actionButton button red ajaxButton" type="submit" disabled>{{_('提交')}}</button>
                </div>
            </div>
            <div class="successWrap">
                <h2>{{_('提交成功')}}</h2>
                <p class="hint">{{_('您的委托出售需求已经提交成功，我们将尽快与您取得联系。')}}</p>
            </div>
        </div>
        <button name="cancel" class="cancel"><i class="icon-delete"></i></button>
    </div>
</div>
