<textarea id="fullCountryData" style="display: none;">
    {{json_dumps(full_country_list)}}
</textarea>

%if not ('delegate_rent_ticket' in vars() or 'delegate_rent_ticket' in globals()):
%    delegate_rent_ticket = {}
%end
<div class="delegate_rent_phone fullHeightInClient">
    <div class="requirement_wrapper">
        <div id="requirement" class="requirement">

            <div class="formWrap">

                <form class="delegate_rent_form">
                    <div class="row">
                        <div class="col">
                            <select dir="rtl" class="select-chosen country-select small" data-placeholder="{{_('请选择国家')}}" data-validator="required" data-name="{{_('国家')}}" data-hint="{{_('国家')}}" data-serialize="country" data-value="{{delegate_rent_ticket.get('country',{}).get('code','')}}">
                            </select>
                        </div>
                        <div class="col">
                            <select class="select-chosen city-select small" data-placeholder="{{_('请选择城市')}}" data-validator="required" data-name="{{_('城市')}}" data-hint="{{_('城市')}}" data-serialize="city" data-value="{{delegate_rent_ticket.get('city',{}).get('name','')}}">
                            </select>
                        </div>
                    </div>
                    <div class="row buttonWrap">
                        <input class="big" type="text" name="postcode" placeholder="{{_('Postcode')}}" data-validator="required" data-name="{{_('Postcode')}}" data-hint="{{_('Postcode')}}" data-serialize="postcode" value="{{delegate_rent_ticket.get('zipcode_index','')}}"/>
                        <button class="ghostButton red ajaxButton addressLookupBtn">{{_('查询地址')}}</button>
                    </div>
                    <div class="row">
                        <select class="select-chosen house-name-select small" data-placeholder="{{_('请选择门牌号')}}" data-validator="" data-name="{{_('门牌号')}}" data-hint="{{_('门牌号(<i>须填写postcode</i>)')}}" data-value="">

                        </select>
                    </div>
                    <div class="row">
                        <input type="text" class="delegateRentName big" name="delegateRentName" placeholder="{{_('姓名')}}" data-validator="required,trim,maxLength(20)"  data-name="{{_('姓名')}}" data-hint="{{_('姓名')}}" data-serialize="nickname"/>
                    </div>
                    <div class="row phoneWrap">
                        <div class="col">
                            <!-- @@include =country_code_select.html -->
                        </div>
                        <div class="col">
                            <input type="text" class="delegateRentPhone small" name="delegateRentPhone" placeholder="{{_('手机号')}}" data-validator="required,trim,phone"  data-name="{{_('手机号')}}" data-hint="{{_('手机号')}}" data-serialize="phone"/>
                        </div>
                    </div>
                    <div class="row passwordWrap buttonWrap" style="display: none;">
                        <input type="password" class="delegateRentPassword small" name="delegateRentPassword" placeholder="{{_('密码')}}" data-validator=""  data-name="{{_('密码')}}" data-hint="{{_('密码')}}"/>
                        <button class="button red ajaxButton login">{{_('登录')}}</button>
                    </div>
                    <div class="row emailWrap" style="display: none;">
                        <input type="text" class="delegateRentEmail big" name="delegateRentEmail" placeholder="{{_('Email')}}" data-name="{{_('Email')}}" data-hint="{{_('Email')}}"/>
                    </div>
                    <div class="row codeWrap buttonWrap" style="display: none;">
                        <input type="text" class="delegateRentCode small" name="delegateRentCode" placeholder="{{_('验证码')}}" data-validator="trim "  data-name="{{_('验证码')}}" data-hint="{{_('验证码')}}" data-serialize=""/>
                        <button class="ghostButton red ajaxButton">{{_('获取验证码')}}</button>
                    </div>
                    <!--<div class="row delegateRentAgreeWrap">
                        <input type="checkbox" class="delegateRentAgree currantCheckbox" name="delegateRentAgree" id="delegateRentAgree" data-serialize="noregister|reverse"/>
                        <label for="delegateRentAgree">{{_('我希望注册为会员以便以后能够更新我的出租需求')}}</label>
                    </div>-->

                    <div class="delegateRentFormError"></div>
                </form>
                <div class="actionWrap">
                    <button class="actionButton button red ajaxButton" type="submit" disabled>{{_('提交')}}</button>
                </div>
            </div>
            <div class="successWrap" style="display: none;">
                <h2>{{_('提交成功')}}</h2>
                <p class="hint">您的委托出售需求已经提交成功</p>
            </div>
        </div>
    </div>
</div>
