<div id="error_code_localization" style="display:none">
    <span id="40000">{{_('参数错误')}}</span>
    <span id="40103">{{_('账户或密码错误')}}</span>
    <span id="40324">{{_('账户不存在')}}</span>
    <span id="40325">{{_('邮箱已被使用')}}</span>
    <span id="40351">{{_('电话已被使用')}}</span>
    <span id="40357">{{_('验证失败')}}</span>
    <span id="40399">{{_('权限错误')}}</span>
    <span id="50314">{{_('第三方服务异常')}}</span>
</div>

<script>
 window.getErrorMessageFromErrorCode = function (code) {
     var errorMessage = $('#error_code_localization #' + code).text()
     return errorMessage
 }
</script>
