<div id="floatBar" class="floatBar">
    <div id="scrollToTop" class="scrollToTop" style="display:none;">
        <div class="section">
            <img alt="" src="/static/images/common/float_bar/float-window-top.png"/>
        </div>
    </div>
    <div class="contact">
        <div id="requirement" class="section">
            <img alt="" src="/static/images/common/float_bar/float-window-house.png"/>
            <div class="requirement hint">
                <p>{{_('提交置业需求')}}</p>
            </div>
        </div>
        <div id="phone" class="section">
            <a href="tel:4000926433">
                <img alt="" src="/static/images/common/float_bar/float-window-phone.png"/>
                <div class="phone hint">
                    <p>{{_('电话：')}} 400-0926-433</p>
                </div>
            </a>
        </div>
        <div id="wechat" class="section">
            <img alt="" src="/static/images/common/float_bar/float-window-wechat.png"/>
            <div class="wechat hint">
                <img class="weixin" src="/static/images/media/wechat_small.png" alt=""/>
            </div>
        </div>
        %if user and "beta_renting" in user.get('role',[]):
        <div id="appDownload" class="section">
            <a href="/app-download">
                <div class="icon">
                    <img alt="" src="/static/images/common/float_bar/float-window-app_download_icon.png"/>
                    <p>{{_('客户端')}}</p>
                </div>
                <div class="appDownload hint">
                    <p>{{_('点击进入APP下载页面')}}</p>
                </div>
            </a>
        </div>
        %end
    </div>
</div>
