<div class="floatWindow">
    <div id="requirement" class="section">
        <img alt="" src="/static/images/icon/float-window-house.png"/>
        <div class="requirement hint">
            <p>{{_('提交置业需求')}}</p>
        </div>
    </div>
    <div id="phone" class="section">
        <img alt="" src="/static/images/icon/float-window-phone.png"/>
        <div class="phone hint">
            <p>{{_('电话：')}}4000926433</p>
        </div>
    </div>
    <div id="wechat" class="section">
        <img alt="" src="/static/images/icon/float-window-wechat.png"/>
        <div class="wechat hint">
            <img class="weixin" src="/static/images/media/wechat.png" alt=""/>
        </div>
    </div>
</div>
