<div id="floatBar" class="floatBar">
    <div id="scrollToTop" class="scrollToTop" style="display:none;">
        <div class="section">
            <i class="icon-gotop "></i>
        </div>
    </div>
    <div class="contact">
        <div id="requirement" class="section">
            <i class="icon-requirement"></i>
            <div class="requirement hint">
                <p>{{_('提交置业需求')}}</p>
            </div>
        </div>
        <div id="phone" class="section">
            <a>
                <i class="icon-phone_icon"></i>
                <div class="phone hint">
                    <p>{{get_phone_numbers("country_name")[0]}}{{_('电话：')}} {{get_phone_numbers('display')[0]}}</p>
                    <p>{{get_phone_numbers("country_name")[1]}}{{_('电话：')}} {{get_phone_numbers('display')[1]}}</p>
                </div>
            </a>
        </div>
        <div id="wechat" class="section">
            <i class="icon-wechat"></i>
            <div class="wechat hint">
                <img class="weixin" src="/static/images/media/wechat_small.png" alt=""/>
            </div>
        </div>
        %if user and "beta_renting" in user.get('role',[]):
        <div id="appDownload" class="section">
            <a href="/app-download">
                <div class="icon">
                    <p><i class="icon-cellphone"></i><br>{{_('客户端')}}</p>
                </div>
                <div class="appDownload hint">
                    <p>{{_('点击进入APP下载页面')}}</p>
                </div>
            </a>
        </div>
        %end
    </div>
</div>
