%if property.get('bedroom_count'):
    {{property.get('bedroom_count')}} {{_('卧室')}},
%end
%if property.get('bathroom_count'):
    {{property.get('bathroom_count')}} {{_('卫生间')}},
%end
%if property.get('space'):
    {{float("{0:.2f}".format(float(property.get('space').get('value'))))}}
    %if property.get('space').get('unit') == 'foot ** 2':
        sq ft
    %elif property.get('space').get('unit') == 'acre':
        acre
    %elif property.get('space').get('unit') == 'meter ** 2':
        m <sup>2</sup>
    %elif property.get('space').get('unit') == 'kilometer ** 2':
        km <sup>2</sup>
    %else:
        {{property.get('space').get('unit')}}
    %end
%end
