{_if(house.living_room_count) {_}
{=house.living_room_count=} {=window.i18n('卧室')=},
{_}_}
{_if(house.bathroom_count) {_}
{=house.bathroom_count=} {=window.i18n('卫生间')=},
{_}_}
{_if(house.space) {_}
{= parseFloat(house.space.value).toFixed(2)=}
{_if (house.space.unit === 'foot ** 2'){_}
sq ft
{_} else if(house.space.unit === 'acre'){_}
acre
{_} else if (house.space.unit === 'meter ** 2') {_}
m <sup>2</sup>
{_} else if (house.space.unit === 'kilometer ** 2') {_}
km <sup>2</sup>
{_} else {_}
{=house.space.unit=}
{_}_}
{_}_}
