{_if(house.property_type && (house.property_type.slug === 'new_property' || house.property_type.slug === 'student_housing' || house.property_type.slug === 'house') && house.main_house_types && house.main_house_types.length){_}

    {_var minPrice = house.main_house_types[0].total_price_min_}
    {_ _.each(house.main_house_types, function (type) {_}
        {_if (parseInt(minPrice.value) > parseInt(type.total_price_min.value)){_}
            {_minPrice = type.total_price_min_}
        {_}_}
    {_})_}

    {_ var string = minPrice.unit_symbol + team.formatCurrency(parseInt(minPrice.value)) _}
    {!window.i18n('%s起', string)!}

    {_if (house.minimum_down_payment_rate) {_}
    <label class='price_reference'>

        {_if (minPrice.localized_unit_symbol) {_}
        <!--@@include=get_reference_price.tpl.html  -->
        ,
        {_}_}
        <span class="down_payment">
            {=window.i18n('首付')=}{=parseFloat(house.minimum_down_payment_rate * 100).toFixed(0) + '%'=}
        </span>
    </label>
    {_} else {_}
    <label class='price_reference'>
        {_if (minPrice.localized_unit_symbol) {_}
        <!--@@include=get_reference_price.tpl.html  -->
        {_}_}
    </label>
    {_}_}

{_} else {_}

    {_if(house.total_price) {_}
        {=house.total_price.unit_symbol=}
        {!team.formatCurrency(parseInt(house.total_price.value))!}

        {_if (house.minimum_down_payment_rate) {_}
        <label class='price_reference'>

            {_if (house.total_price.localized_unit_symbol) {_}
            <!--@@include=get_reference_price.tpl.html  -->
            <span class="comma">,</span>
            {_}_}
            <span class="down_payment">
                {=window.i18n('首付')=}{=parseFloat(house.minimum_down_payment_rate * 100).toFixed(0) + '%'=}
            </span>
        </label>
        {_} else {_}
        <label class='price_reference'>
            {_if (house.total_price.localized_unit_symbol) {_}
            <!--@@include=get_reference_price.tpl.html  -->
            {_}_}
        </label>
        {_}_}
    {_}_}
{_}_}
