% if property.get('property_type') and (property.get('property_type').get('slug') == 'new_property' or property.get('property_type').get('slug') == 'student_housing' or property.get('property_type').get('slug') == 'house') and 'main_house_types' in property and property.get('main_house_types') and len(property.get('main_house_types')):
    % minPrice = property.get('main_house_types')[0].get('total_price_min')
    %for index, type  in enumerate(property.get('main_house_types')):
        %if int(float(minPrice.get('value'))) > int(float(type.get('total_price_min').get('value'))):
        %   minPrice = type.get('total_price_min')
        %end
    %end
    % string = """<span>""" + minPrice.get('unit_symbol') + """</span><span data-type="formatted_currency">""" + minPrice.get('value') + """</span><span class="mute">
    """
        {{!_('%s起') %string}}</span>
% else :
    %if 'total_price' in property and property.get('total_price'):
        <span class="mute">{{_('参考价格')}}</span>
        <br/>
        <span>{{property.get('total_price',{}).get('unit_symbol','')}}</span>
        <span data-type="formatted_currency">
            {{int(float(property.get('total_price',{}).get('value','')))}}
        </span>
    %end
% end
