
<div class="shareAppModal amountModal" style="display: none;">
    <h2 class="title">{{_('分享洋房東APP')}}<br>{{_('获取额外联系房东的机会')}}</h2>
    <div class="logo">
        <img src="/static/images/icon/app_icon_medium.png" alt="App Icon"/>
        <div class="text">
            <p>{{_('洋房東')}}</p>
            <p>{{_('YoungFunding')}}</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="buttonWrap">
            <button class="red ghostButton" data-show-client="pc" id="shareAppToWeibo">
                <i class="icon-weibo"></i>
                <span>
                    {{_('分享到微博')}}
                </span>
            </button>
            <button class="red ghostButton" data-show-client="wechat" id="shareAppToCircle">
                <i class="icon-circle"></i>
                <span>
                    {{_('分享到朋友圈')}}
                </span>
            </button>
            <button class="red ghostButton" data-show-client="app" id="shareApp">
                <i class="icon-circle"></i>
                <span>
                    {{_('分享洋房东App')}}
                </span>
            </button>
        </div>
        <ul class="intro">
            <li>{{_('/ 三步发布租房，不用费力思考 /')}}</li>
            <li>{{_('/ 高大上的朋友圈展示，提升房产档次 /')}}</li>
            <li>{{_('/ 专业的街区报告，不用费力介绍周边设施 /')}}</li>
            <li>{{_('/ 一次发布，全国尽知，刷新即置顶 /')}}</li>
        </ul>
    </div>
</div>

<div class="downloadAppModal amountModal" style="display: none;">
    <h2 class="title">{{_('下载洋房東APP')}}<br>{{_('获取额外联系房东的机会')}}</h2>
    <div class="logo">
        <img src="/static/images/icon/app_icon_medium.png" alt="App Icon"/>
        <div class="text">
            <p>{{_('洋房東')}}</p>
            <p>{{_('YoungFunding')}}</p>
        </div>
    </div>
    <div class="clearfix">
        <div class="buttonWrap">
            <a class="red ghostButton" href="/app-download">
                <i class="icon-Apple_logo"></i>
                <span>
                    {{_('下载洋房東APP')}}
                </span>
            </a>
        </div>
        <ul class="intro">
            <li>{{_('/ 三步发布租房，不用费力思考 /')}}</li>
            <li>{{_('/ 高大上的朋友圈展示，提升房产档次 /')}}</li>
            <li>{{_('/ 专业的街区报告，不用费力介绍周边设施 /')}}</li>
            <li>{{_('/ 一次发布，全国尽知，刷新即置顶 /')}}</li>
        </ul>
    </div>
</div>