<div class="host_wrapper fullHeightInClient" data-host-contact-partner>
    <div class="host" id="host">
        <img class="avatar" src="/static/images/icon/img_logo_x80_circle.png"></img>
        <label class="hostName">{{_('洋房东官方')}}</label>

        <div class="hostContactWrap">
            <div class="hostPhone hostContact show">
                <i class="ico icon-phone_icon" style="vertical-align: top;"></i>

                <div style="display: inline-block;">
                    <a href="tel:{{get_phone_numbers('link')[0]}}">
                        <span>{{get_phone_numbers("country_name")[0]}}{{_('：')}} {{get_phone_numbers('display')[0]}}</span>
                    </a>
                    <br/>
                    <a href="tel:{{get_phone_numbers('link')[1]}}">
                        <span>{{get_phone_numbers("country_name")[1]}}{{_('：')}} {{get_phone_numbers('display')[1]}}</span>
                    </a>
                </div>
            </div>
            <!--<div class="hostPhone hostContact show">

            </div>-->
            <div class="hostEmail hostContact show">
                <a class="clearfix" href="mailto:services@youngfunding.co.uk?subject=Feedback">
                    <i class="ico icon-email"></i>
                    <span class="email">services@youngfunding.co.uk</span>
                </a>
            </div>
            <div class="hostWechat hostContact show">
                <i class="ico icon-wechat"></i>
                <span>yangfd9</span>
            </div>
        </div>
    </div>
    %if not (user and user.get('id') == rent.get('creator_user',{}).get('id','')):
    <div class="contactRequest">
        <a class="ghostButton red hiddenOnPCWeb" href="/rent-request?ticketId={{rent.get('id')}}">{{_('我要咨询')}}</a>
        <button class="ajaxButton ghostButton red hiddenOnMobile" data-bind="click: openRentRequestForm('{{rent.get('id')}}', true)">{{_('我要咨询')}}</button>
    </div>
    %end
    % if 'short_id' in rent['property'] and rent.get('property',{}).get('short_id',''):
    <div class="shortid">
        <span class="label">{{_('房源编号: ')}}</span><span class="id">{{rent.get('property',{}).get('short_id','')}}</span>
    </div>
    %end

</div>