<div class="host_wrapper
    %if contact_info_already_fetched:
    contact_info_already_fetched
    %end
    ">
    <div class="host" id="host">
        <img class="avatar" src="/static/images/property_details/ico_phoneowner.png"></img>
        <label class="hostName">{{rent.get('creator_user',{}).get('nickname','')}}</label>
        %if 'landlord_type' in rent and rent.get('landlord_type').get('value'):
        <label class="hostType">{{rent.get('landlord_type',{}).get('value')}}</label>
        %end

        % private_contact_methods = rent.get('creator_user',{}).get('private_contact_methods',[])
        % private_contact_methods = [] if private_contact_methods is None else private_contact_methods

        <div class="hostContactWrap">
            <div class="hostPhone hostContact
        % if rent.get('creator_user',{}).get('phone','') and 'phone' not in private_contact_methods:
        show
        % end
        ">
                <a>
                    <i class="ico icon-phone_icon"></i>
                    <span>+{{rent.get('creator_user',{}).get('country_code','') }}</span> <span>{{rent.get('creator_user',{}).get('phone','')}}</span>
                </a>
            </div>
            <div class="hostEmail hostContact
        % if rent.get('creator_user',{}).get('email','') and 'email' not in private_contact_methods:
        show
        % end
        ">
                <a class="clearfix">
                    <i class="ico icon-email"></i>
                    <span class="email">{{rent.get('creator_user',{}).get('email','')}}</span>
                </a>
            </div>
            <div class="hostWechat hostContact
        % if rent.get('creator_user',{}).get('wechat','') and 'wechat' not in private_contact_methods:
        show
        % end
        ">
                <i class="ico icon-wechat"></i>
                <span>{{rent.get('creator_user',{}).get('wechat','')}}</span>
            </div>
        </div>
    </div>
    %if not (user and user.get('id') == rent.get('creator_user',{}).get('id','')):
    <div class="contactRequest" id="contactRequest">
        <button id="contactRequestBtn" class="ajaxButton ghostButton red" disabled><p>{{_('获取房东联系方式')}}</p><p style="display: none" class="hint">({{_('剩余')}}<span class="residueDegree"></span>{{_('次')}}<span style="display: none" class="exhaustSubmitTip">{{_('，为了确保我们的服务质量请您提交求租需求继续获取')}}</span>)</p></button>
        <form class="contactRequestForm" name="contactRequestForm"
            data-message-success="{{_('提交成功')}}"
            data-message-40000="{{_('你填写的手机或邮箱的格式不正确')}}"
            data-message-unknown="{{_('服务器忙，请稍后')}}"
            >
            <div class="row">
                <label>{{_('为保证租客真实性，请先点击此处') }}<a class="link" onclick="javascript:project.showSignInModalOrGoToSignIn()">{{_('登陆') }}</a>{{_('，或注册个人资料再获取房东联系方式')}}</label>
            </div>
            <input name="rent_id" type="hidden" value="{{rent.get('id','')}}"/>
            <div class="row">
                <input name="nickname" type="text" placeholder="{{_('您的姓名(必填)')}}" data-validator="trim, required"/>
            </div>
            <div class="row phone">
                <select name="occupation">
                    % for occupation in occupation_list:
                    <option value="{{occupation.get('id')}}"
                    % if occupation.get('slug') == 'student':
                    selected
                    %end
                    >
                    {{occupation.get('value')}}
                    </option>
                    %end
                </select>
            </div>
            <div class="row">
                <input name="email" type="text" placeholder="{{_('您的邮箱(必填)')}}" data-validator="trim, required, email"/>
            </div>
            <div class="row phone">
                <select name="country">
                    %for index, country in enumerate(country_list):
                    <option value="{{country.get('code')}}"
                    % if user :
                    %if country.get('code') == user.get('country',{}).get('code'):
                    selected
                    %end
                    %else:
                    % if country.get('code') == 'GB':
                    selected
                    %end
                    %end
                    >
                    %if (country.get('code') == 'CN'):
                    (+86)
                    %elif (country.get('code') == 'GB') :
                    (+44)
                    %elif (country.get('code') == 'US') :
                    (+1)
                    %elif (country.get('code') == 'HK') :
                    (+852)
                    %end
                    {{get_country_name_by_code(country.get('code'))}}
                    </option>
                    %end
                </select>
                <input name="phone" type="text" placeholder="{{_('您的电话(必填)')}}" data-validator="trim, required"/>
            </div>
            <div class="row code">
                <input name="code" type="text" placeholder="{{_('手机验证码')}}" data-validator="trim, required"/>
                <button name="getCodeBtn" type="button" class="button green ajaxButton">{{_('获取验证码')}}</button>
            </div>
            <div class="row" data-role="serverFeedback" style="display: none; color: red;"></div>
            <div class="action">
                <button class="flatButton ajaxButton" type="submit" disabled>{{_('提交')}}</button>
            </div>
        </form>
    </div>
    % end
</div>