<div class="intentionChooser"  data-tabs>
    <div class="row intention">
        <label class="title">{{_('为您推荐')}}</label>
        <ul class="controls">
            % for index, intention in enumerate(intention_list):
            % slug = intention.get('slug','')
            <li style="width: {{99.99/len(intention_list)}}%" data-tab="{{slug}}"
                %if index == 0:
                class="selectedTab"
                %end
                data-id="{{intention.get('id')}}"
                data-value="{{intention.get('value')}}">
                <input id="{{intention.get('id')}}" name="intention" type="checkbox" value="{{intention.get('id')}}"/>
                <label for="{{intention.get('id')}}">{{intention.get('value')}}</label>
            </li>
            %end
        </ul>
    </div>
    <div class="details">
        <!-- @@include=intention_processCards.html -->
    </div>
</div>
