<ul class="swiper-wrapper four">
    <li class="swiper-slide">
        <h3>{{_('省时')}}</h3>
        <p>{{_('便捷的搜房体验')}}<br>{{_('帮你轻松锁定心仪房源')}}</p>
    </li><!--
    --><li class="swiper-slide">
        <h3>{{_('省力')}}</h3>
        <p>{{_('专业周边介绍和视频看房')}}<br>{{_('让你足不出户搞定看房')}}</p>
    </li><!--
    --><li class="swiper-slide">
        <h3>{{_('省钱')}}</h3>
        <p>{{_('收费远低于中介')}}<br>{{_('入住满意再付费')}}</p>
    </li><!--
    --><li class="swiper-slide">
        <h3>{{_('安全')}}</h3>
        <p>{{_('平台担保房源真实性，代管订金')}}<br>{{_('入住后不一样？退款！')}}</p>
    </li>
</ul>