<input type="hidden" id="i18n-str-参数错误" value="{{_('参数错误')}}">
<input type="hidden" id="i18n-str-后台仍在处理房产，请稍后再试" value="{{_('后台仍在处理房产，请稍后再试')}}">
<input type="hidden" id="i18n-str-请先<a href=&#34;/admin#/signIn&#34;>登录</a>" value="{{_('请先<a href="/admin#/signIn">登录</a>')}}">
<input type="hidden" id="i18n-str-请求过于频繁，请稍后再试" value="{{_('请求过于频繁，请稍后再试')}}">
<input type="hidden" id="i18n-str-电话或密码错误" value="{{_('电话或密码错误')}}">
<input type="hidden" id="i18n-str-没有管理员权限或管理员级别不够" value="{{_('没有管理员权限或管理员级别不够')}}">
<input type="hidden" id="i18n-str-没有权限" value="{{_('没有权限')}}">
<input type="hidden" id="i18n-str-no ad in given channel" value="{{_('no ad in given channel')}}">
<input type="hidden" id="i18n-str-不存在的博客文章" value="{{_('不存在的博客文章')}}">
<input type="hidden" id="i18n-str-不存在的消息" value="{{_('不存在的消息')}}">
<input type="hidden" id="i18n-str-不存在的用户" value="{{_('不存在的用户')}}">
<input type="hidden" id="i18n-str-电子邮件已存在" value="{{_('电子邮件已存在')}}">
<input type="hidden" id="i18n-str-权限已存在" value="{{_('权限已存在')}}">
<input type="hidden" id="i18n-str-权限不存在" value="{{_('权限不存在')}}">
<input type="hidden" id="i18n-str-标签已存在" value="{{_('标签已存在')}}">
<input type="hidden" id="i18n-str-标签不存在" value="{{_('标签不存在')}}">
<input type="hidden" id="i18n-str-手机号码已被占用" value="{{_('手机号码已被占用')}}">
<input type="hidden" id="i18n-str-请求过于频繁" value="{{_('请求过于频繁')}}">
<input type="hidden" id="i18n-str-不存在的反馈" value="{{_('不存在的反馈')}}">
<input type="hidden" id="i18n-str-信用额度不够" value="{{_('信用额度不够')}}">
<input type="hidden" id="i18n-str-已存在的标签" value="{{_('已存在的标签')}}">
<input type="hidden" id="i18n-str-找不到数据" value="{{_('找不到数据')}}">
<input type="hidden" id="i18n-str-找不到资源" value="{{_('找不到资源')}}">
<input type="hidden" id="i18n-str-请使用HTTPS重试" value="{{_('请使用HTTPS重试')}}">
<input type="hidden" id="i18n-str-服务器异常" value="{{_('服务器异常')}}">
<input type="hidden" id="i18n-str-外部服务的错误" value="{{_('外部服务的错误')}}">
<input type="hidden" id="i18n-str-SMS未知错误" value="{{_('SMS未知错误')}}">
<input type="hidden" id="i18n-str-验证码错误" value="{{_('验证码错误')}}">
<input type="hidden" id="i18n-str-服务器繁忙，请稍后再试" value="{{_('服务器繁忙，请稍后再试')}}">
<input type="hidden" id="i18n-str-未修改" value="{{_('未修改')}}">
<input type="hidden" id="i18n-str-已恢复" value="{{_('已恢复')}}">
<input type="hidden" id="i18n-str-原始数据中不存在：" value="{{_('原始数据中不存在：')}}">
<input type="hidden" id="i18n-str-众筹" value="{{_('众筹')}}">
<input type="hidden" id="i18n-str-条" value="{{_('条')}}">
<input type="hidden" id="i18n-str-房产资讯" value="{{_('房产资讯')}}">
<input type="hidden" id="i18n-str-房产" value="{{_('房产')}}">
<input type="hidden" id="i18n-str-投资意向单" value="{{_('投资意向单')}}">
<input type="hidden" id="i18n-str-用户" value="{{_('用户')}}">
<input type="hidden" id="i18n-str-此数据有" value="{{_('此数据有')}}">
<input type="hidden" id="i18n-str-条引用,其中" value="{{_('条引用,其中')}}">
<input type="hidden" id="i18n-str-，" value="{{_('，')}}">
<input type="hidden" id="i18n-str-。" value="{{_('。')}}">
<input type="hidden" id="i18n-str-未选择新闻" value="{{_('未选择新闻')}}">
<input type="hidden" id="i18n-str-同步成功" value="{{_('同步成功')}}">
<input type="hidden" id="i18n-str-暂无此街区" value="{{_('暂无此街区')}}">
<input type="hidden" id="i18n-str-学生公寓信息" value="{{_('学生公寓信息')}}">
<input type="hidden" id="i18n-str-别墅信息" value="{{_('别墅信息')}}">
<input type="hidden" id="i18n-str-楼盘信息" value="{{_('楼盘信息')}}">
<input type="hidden" id="i18n-str-没有结果" value="{{_('没有结果')}}">
<input type="hidden" id="i18n-str-验证码已发送至你的手机" value="{{_('验证码已发送至你的手机')}}">
<input type="hidden" id="i18n-str-名称" value="{{_('名称')}}">
<input type="hidden" id="i18n-str-房产类型" value="{{_('房产类型')}}">
<input type="hidden" id="i18n-str-投资类型" value="{{_('投资类型')}}">
<input type="hidden" id="i18n-str-投资标签" value="{{_('投资标签')}}">
<input type="hidden" id="i18n-str-国家" value="{{_('国家')}}">
<input type="hidden" id="i18n-str-城市" value="{{_('城市')}}">
<input type="hidden" id="i18n-str-街区" value="{{_('街区')}}">
<input type="hidden" id="i18n-str-邮编" value="{{_('邮编')}}">
<input type="hidden" id="i18n-str-地址详情" value="{{_('地址详情')}}">
<input type="hidden" id="i18n-str-亮点" value="{{_('亮点')}}">
<input type="hidden" id="i18n-str-详情" value="{{_('详情')}}">
<input type="hidden" id="i18n-str-项目周期" value="{{_('项目周期')}}">
<input type="hidden" id="i18n-str-项目总金额" value="{{_('项目总金额')}}">
<input type="hidden" id="i18n-str-项目起投金额" value="{{_('项目起投金额')}}">
<input type="hidden" id="i18n-str-最小预估年化回报率" value="{{_('最小预估年化回报率')}}">
<input type="hidden" id="i18n-str-最大预估年化回报率" value="{{_('最大预估年化回报率')}}">
<input type="hidden" id="i18n-str-最小年化现金回报预估" value="{{_('最小年化现金回报预估')}}">
<input type="hidden" id="i18n-str-最大年化现金回报预估" value="{{_('最大年化现金回报预估')}}">
<input type="hidden" id="i18n-str-地理位置经度" value="{{_('地理位置经度')}}">
<input type="hidden" id="i18n-str-地理位置纬度" value="{{_('地理位置纬度')}}">
<input type="hidden" id="i18n-str-图片" value="{{_('图片')}}">
<input type="hidden" id="i18n-str-视频" value="{{_('视频')}}">
<input type="hidden" id="i18n-str-相关资料" value="{{_('相关资料')}}">
<input type="hidden" id="i18n-str-开发商介绍" value="{{_('开发商介绍')}}">
<input type="hidden" id="i18n-str-管理团队" value="{{_('管理团队')}}">
<input type="hidden" id="i18n-str-项目财务分析介绍" value="{{_('项目财务分析介绍')}}">
<input type="hidden" id="i18n-str-项目资本结构" value="{{_('项目资本结构')}}">
<input type="hidden" id="i18n-str-审核备注" value="{{_('审核备注')}}">
<input type="hidden" id="i18n-str-审核附件" value="{{_('审核附件')}}">
<input type="hidden" id="i18n-str-起投时间" value="{{_('起投时间')}}">
<input type="hidden" id="i18n-str-截止时间" value="{{_('截止时间')}}">
<input type="hidden" id="i18n-str-地图位置" value="{{_('地图位置')}}">
<input type="hidden" id="i18n-str-草稿" value="{{_('草稿')}}">
<input type="hidden" id="i18n-str-待翻译" value="{{_('待翻译')}}">
<input type="hidden" id="i18n-str-翻译中" value="{{_('翻译中')}}">
<input type="hidden" id="i18n-str-待审核" value="{{_('待审核')}}">
<input type="hidden" id="i18n-str-审核失败" value="{{_('审核失败')}}">
<input type="hidden" id="i18n-str-在售中" value="{{_('在售中')}}">
<input type="hidden" id="i18n-str-隐藏" value="{{_('隐藏')}}">
<input type="hidden" id="i18n-str-已售罄" value="{{_('已售罄')}}">
<input type="hidden" id="i18n-str-审核拒绝" value="{{_('审核拒绝')}}">
<input type="hidden" id="i18n-str-审核通过" value="{{_('审核通过')}}">
<input type="hidden" id="i18n-str-产权类型" value="{{_('产权类型')}}">
<input type="hidden" id="i18n-str-装修风格" value="{{_('装修风格')}}">
<input type="hidden" id="i18n-str-朝向" value="{{_('朝向')}}">
<input type="hidden" id="i18n-str-学校类型" value="{{_('学校类型')}}">
<input type="hidden" id="i18n-str-学校年级" value="{{_('学校年级')}}">
<input type="hidden" id="i18n-str-生活设施" value="{{_('生活设施')}}">
<input type="hidden" id="i18n-str-房产价格类型" value="{{_('房产价格类型')}}">
<input type="hidden" id="i18n-str-平台资讯类别" value="{{_('平台资讯类别')}}">
<input type="hidden" id="i18n-str-平台消息类别" value="{{_('平台消息类别')}}">
<input type="hidden" id="i18n-str-投资意向单状态" value="{{_('投资意向单状态')}}">
<input type="hidden" id="i18n-str-客服单状态" value="{{_('客服单状态')}}">
<input type="hidden" id="i18n-str-押金选项" value="{{_('押金选项')}}">
<input type="hidden" id="i18n-str-房间设施" value="{{_('房间设施')}}">
<input type="hidden" id="i18n-str-小区设施" value="{{_('小区设施')}}">
<input type="hidden" id="i18n-str-街区亮点" value="{{_('街区亮点')}}">
<input type="hidden" id="i18n-str-出租类型" value="{{_('出租类型')}}">
<input type="hidden" id="i18n-str-租期类型" value="{{_('租期类型')}}">
<input type="hidden" id="i18n-str-已提交" value="{{_('已提交')}}">
<input type="hidden" id="i18n-str-已指派" value="{{_('已指派')}}">
<input type="hidden" id="i18n-str-受理中" value="{{_('受理中')}}">
<input type="hidden" id="i18n-str-定金已支付" value="{{_('定金已支付')}}">
<input type="hidden" id="i18n-str-未达成定金" value="{{_('未达成定金')}}">
<input type="hidden" id="i18n-str-购房已成功" value="{{_('购房已成功')}}">
<input type="hidden" id="i18n-str-未达成购房" value="{{_('未达成购房')}}">
<input type="hidden" id="i18n-str-系统消息" value="{{_('系统消息')}}">
<input type="hidden" id="i18n-str-已付款" value="{{_('已付款')}}">
<input type="hidden" id="i18n-str-待支付" value="{{_('待支付')}}">
<input type="hidden" id="i18n-str-已取消" value="{{_('已取消')}}">
<input type="hidden" id="i18n-str-未支付" value="{{_('未支付')}}">
<input type="hidden" id="i18n-str-初级平台管理员" value="{{_('初级平台管理员')}}">
<input type="hidden" id="i18n-str-高级平台管理员" value="{{_('高级平台管理员')}}">
<input type="hidden" id="i18n-str-初级平台销售人员" value="{{_('初级平台销售人员')}}">
<input type="hidden" id="i18n-str-高级平台销售人员" value="{{_('高级平台销售人员')}}">
<input type="hidden" id="i18n-str-初级平台运营人员" value="{{_('初级平台运营人员')}}">
<input type="hidden" id="i18n-str-高级平台运营人员" value="{{_('高级平台运营人员')}}">
<input type="hidden" id="i18n-str-初级平台客服" value="{{_('初级平台客服')}}">
<input type="hidden" id="i18n-str-高级平台客服" value="{{_('高级平台客服')}}">
<input type="hidden" id="i18n-str-开发商管理员" value="{{_('开发商管理员')}}">
<input type="hidden" id="i18n-str-中介管理员" value="{{_('中介管理员')}}">
<input type="hidden" id="i18n-str-真实地址" value="{{_('真实地址')}}">
<input type="hidden" id="i18n-str-预计租金年化回报率" value="{{_('预计租金年化回报率')}}">
<input type="hidden" id="i18n-str-预计年化收益率" value="{{_('预计年化收益率')}}">
<input type="hidden" id="i18n-str-开发商包租百分比" value="{{_('开发商包租百分比')}}">
<input type="hidden" id="i18n-str-开发商包租年限" value="{{_('开发商包租年限')}}">
<input type="hidden" id="i18n-str-实景图" value="{{_('实景图')}}">
<input type="hidden" id="i18n-str-生活配套设施图" value="{{_('生活配套设施图')}}">
<input type="hidden" id="i18n-str-同等房产描述" value="{{_('同等房产描述')}}">
<input type="hidden" id="i18n-str-历史成交价格" value="{{_('历史成交价格')}}">
<input type="hidden" id="i18n-str-月收支分析简要描述" value="{{_('月收支分析简要描述')}}">
<input type="hidden" id="i18n-str-估计月租金收入" value="{{_('估计月租金收入')}}">
<input type="hidden" id="i18n-str-估计月平均支出" value="{{_('估计月平均支出')}}">
<input type="hidden" id="i18n-str-推广资料" value="{{_('推广资料')}}">
<input type="hidden" id="i18n-str-总价格" value="{{_('总价格')}}">
<input type="hidden" id="i18n-str-居室数" value="{{_('居室数')}}">
<input type="hidden" id="i18n-str-客厅数" value="{{_('客厅数')}}">
<input type="hidden" id="i18n-str-卫生间数" value="{{_('卫生间数')}}">
<input type="hidden" id="i18n-str-厨房数" value="{{_('厨房数')}}">
<input type="hidden" id="i18n-str-面积" value="{{_('面积')}}">
<input type="hidden" id="i18n-str-户型图" value="{{_('户型图')}}">
<input type="hidden" id="i18n-str-开发商" value="{{_('开发商')}}">
<input type="hidden" id="i18n-str-建筑类型" value="{{_('建筑类型')}}">
<input type="hidden" id="i18n-str-单位面积参考价格" value="{{_('单位面积参考价格')}}">
<input type="hidden" id="i18n-str-开盘时间" value="{{_('开盘时间')}}">
<input type="hidden" id="i18n-str-完工时间" value="{{_('完工时间')}}">
<input type="hidden" id="i18n-str-建筑面积" value="{{_('建筑面积')}}">
<input type="hidden" id="i18n-str-规划面积" value="{{_('规划面积')}}">
<input type="hidden" id="i18n-str-容积率" value="{{_('容积率')}}">
<input type="hidden" id="i18n-str-绿化率" value="{{_('绿化率')}}">
<input type="hidden" id="i18n-str-规划户数" value="{{_('规划户数')}}">
<input type="hidden" id="i18n-str-车位数" value="{{_('车位数')}}">
<input type="hidden" id="i18n-str-物业类型" value="{{_('物业类型')}}">
<input type="hidden" id="i18n-str-物业公司" value="{{_('物业公司')}}">
<input type="hidden" id="i18n-str-主要户型" value="{{_('主要户型')}}">
<input type="hidden" id="i18n-str-效果图" value="{{_('效果图')}}">
<input type="hidden" id="i18n-str-室内样板间图" value="{{_('室内样板间图')}}">
<input type="hidden" id="i18n-str-规划图" value="{{_('规划图')}}">
<input type="hidden" id="i18n-str-最低首付比例" value="{{_('最低首付比例')}}">
<input type="hidden" id="i18n-str-开发商包租" value="{{_('开发商包租')}}">
<input type="hidden" id="i18n-str-受限制" value="{{_('受限制')}}">
<input type="hidden" id="i18n-str-厕所数" value="{{_('厕所数')}}">
<input type="hidden" id="i18n-str-新提交" value="{{_('新提交')}}">
<input type="hidden" id="i18n-str-已解决" value="{{_('已解决')}}">
<input type="hidden" id="i18n-str-未解决" value="{{_('未解决')}}">
<input type="hidden" id="i18n-str-提交" value="{{_('提交')}}">
<input type="hidden" id="i18n-str-输入姓名，手机或邮箱" value="{{_('输入姓名，手机或邮箱')}}">
<input type="hidden" id="i18n-str-搜索" value="{{_('搜索')}}">
<input type="hidden" id="i18n-str-选择权限" value="{{_('选择权限')}}">
<input type="hidden" id="i18n-str-确认号码" value="{{_('确认号码')}}">
<input type="hidden" id="i18n-str-删除号码" value="{{_('删除号码')}}">
<input type="hidden" id="i18n-str-返回" value="{{_('返回')}}">
<input type="hidden" id="i18n-str-手机号码" value="{{_('手机号码')}}">
<input type="hidden" id="i18n-str-正在查询" value="{{_('正在查询')}}">
<input type="hidden" id="i18n-str-姓名" value="{{_('姓名')}}">
<input type="hidden" id="i18n-str-邮箱" value="{{_('邮箱')}}">
<input type="hidden" id="i18n-str-已有权限" value="{{_('已有权限')}}">
<input type="hidden" id="i18n-str-权限" value="{{_('权限')}}">
<input type="hidden" id="i18n-str-选择" value="{{_('选择')}}">
<input type="hidden" id="i18n-str-更新" value="{{_('更新')}}">
<input type="hidden" id="i18n-str-取消" value="{{_('取消')}}">
<input type="hidden" id="i18n-str-必填" value="{{_('必填')}}">
<input type="hidden" id="i18n-str-添加人员" value="{{_('添加人员')}}">
<input type="hidden" id="i18n-str-上一页" value="{{_('上一页')}}">
<input type="hidden" id="i18n-str-下一页" value="{{_('下一页')}}">
<input type="hidden" id="i18n-str-手机" value="{{_('手机')}}">
<input type="hidden" id="i18n-str-增加权限" value="{{_('增加权限')}}">
<input type="hidden" id="i18n-str-取消权限" value="{{_('取消权限')}}">
<input type="hidden" id="i18n-str-货币单位" value="{{_('货币单位')}}">
<input type="hidden" id="i18n-str-通用信息" value="{{_('通用信息')}}">
<input type="hidden" id="i18n-str-删除" value="{{_('删除')}}">
<input type="hidden" id="i18n-str-移除" value="{{_('移除')}}">
<input type="hidden" id="i18n-str-添加亮点" value="{{_('添加亮点')}}">
<input type="hidden" id="i18n-str-(最大宽度是1280px)" value="{{_('(最大宽度是1280px)')}}">
<input type="hidden" id="i18n-str-上传资料" value="{{_('上传资料')}}">
<input type="hidden" id="i18n-str-头像" value="{{_('头像')}}">
<input type="hidden" id="i18n-str-职位" value="{{_('职位')}}">
<input type="hidden" id="i18n-str-介绍" value="{{_('介绍')}}">
<input type="hidden" id="i18n-str-领英" value="{{_('领英')}}">
<input type="hidden" id="i18n-str-添加头像" value="{{_('添加头像')}}">
<input type="hidden" id="i18n-str-添加" value="{{_('添加')}}">
<input type="hidden" id="i18n-str-项目资产" value="{{_('项目资产')}}">
<input type="hidden" id="i18n-str-类型" value="{{_('类型')}}">
<input type="hidden" id="i18n-str-来源" value="{{_('来源')}}">
<input type="hidden" id="i18n-str-费用" value="{{_('费用')}}">
<input type="hidden" id="i18n-str-审核单" value="{{_('审核单')}}">
<input type="hidden" id="i18n-str-上传附件" value="{{_('上传附件')}}">
<input type="hidden" id="i18n-str-创建草稿" value="{{_('创建草稿')}}">
<input type="hidden" id="i18n-str-提交审核" value="{{_('提交审核')}}">
<input type="hidden" id="i18n-str-编辑" value="{{_('编辑')}}">
<input type="hidden" id="i18n-str-房产审核单" value="{{_('房产审核单')}}">
<input type="hidden" id="i18n-str-批准审核" value="{{_('批准审核')}}">
<input type="hidden" id="i18n-str-拒绝审核" value="{{_('拒绝审核')}}">
<input type="hidden" id="i18n-str-此项目处于待审核状态，请先将状态改为草稿再编辑此项目。" value="{{_('此项目处于待审核状态，请先将状态改为草稿再编辑此项目。')}}">
<input type="hidden" id="i18n-str-提交草稿" value="{{_('提交草稿')}}">
<input type="hidden" id="i18n-str-提交到:" value="{{_('提交到:')}}">
<input type="hidden" id="i18n-str-拖动至此删除内容" value="{{_('拖动至此删除内容')}}">
<input type="hidden" id="i18n-str-拖动至此还原内容" value="{{_('拖动至此还原内容')}}">
<input type="hidden" id="i18n-str-添加项目信息" value="{{_('添加项目信息')}}">
<input type="hidden" id="i18n-str-状态" value="{{_('状态')}}">
<input type="hidden" id="i18n-str-新闻类型" value="{{_('新闻类型')}}">
<input type="hidden" id="i18n-str-添加SHOP" value="{{_('添加SHOP')}}">
<input type="hidden" id="i18n-str-SHOP名称" value="{{_('SHOP名称')}}">
<input type="hidden" id="i18n-str-货币下限" value="{{_('货币下限')}}">
<input type="hidden" id="i18n-str-货币上限" value="{{_('货币上限')}}">
<input type="hidden" id="i18n-str-内容" value="{{_('内容')}}">
<input type="hidden" id="i18n-str-语言" value="{{_('语言')}}">
<input type="hidden" id="i18n-str-选择语言" value="{{_('选择语言')}}">
<input type="hidden" id="i18n-str-添加预算" value="{{_('添加预算')}}">
<input type="hidden" id="i18n-str-描述" value="{{_('描述')}}">
<input type="hidden" id="i18n-str-操作" value="{{_('操作')}}">
<input type="hidden" id="i18n-str-面积单位" value="{{_('面积单位')}}">
<input type="hidden" id="i18n-str-最小面积" value="{{_('最小面积')}}">
<input type="hidden" id="i18n-str-最大面积" value="{{_('最大面积')}}">
<input type="hidden" id="i18n-str-添加面积" value="{{_('添加面积')}}">
<input type="hidden" id="i18n-str-添加城市" value="{{_('添加城市')}}">
<input type="hidden" id="i18n-str-所属国家" value="{{_('所属国家')}}">
<input type="hidden" id="i18n-str-国家标识" value="{{_('国家标识')}}">
<input type="hidden" id="i18n-str-添加国家" value="{{_('添加国家')}}">
<input type="hidden" id="i18n-str-投资特征" value="{{_('投资特征')}}">
<input type="hidden" id="i18n-str-标识" value="{{_('标识')}}">
<input type="hidden" id="i18n-str-添加投资意向" value="{{_('添加投资意向')}}">
<input type="hidden" id="i18n-str-投资意向" value="{{_('投资意向')}}">
<input type="hidden" id="i18n-str-类别" value="{{_('类别')}}">
<input type="hidden" id="i18n-str-添加枚举" value="{{_('添加枚举')}}">
<input type="hidden" id="i18n-str-房间类型" value="{{_('房间类型')}}">
<input type="hidden" id="i18n-str-最低房间数" value="{{_('最低房间数')}}">
<input type="hidden" id="i18n-str-最高房间数" value="{{_('最高房间数')}}">
<input type="hidden" id="i18n-str-添加房间数" value="{{_('添加房间数')}}">
<input type="hidden" id="i18n-str-添加省" value="{{_('添加省')}}">
<input type="hidden" id="i18n-str-省" value="{{_('省')}}">
<input type="hidden" id="i18n-str-电话" value="{{_('电话')}}">
<input type="hidden" id="i18n-str-是否愿意注册会员" value="{{_('是否愿意注册会员')}}">
<input type="hidden" id="i18n-str-愿意" value="{{_('愿意')}}">
<input type="hidden" id="i18n-str-不愿意" value="{{_('不愿意')}}">
<input type="hidden" id="i18n-str-预算" value="{{_('预算')}}">
<input type="hidden" id="i18n-str-文字描述" value="{{_('文字描述')}}">
<input type="hidden" id="i18n-str-投资意向标签" value="{{_('投资意向标签')}}">
<input type="hidden" id="i18n-str-销售自定义描述" value="{{_('销售自定义描述')}}">
<input type="hidden" id="i18n-str-自定义项" value="{{_('自定义项')}}">
<input type="hidden" id="i18n-str-自定义项内容" value="{{_('自定义项内容')}}">
<input type="hidden" id="i18n-str-提交时间" value="{{_('提交时间')}}">
<input type="hidden" id="i18n-str-受理时间" value="{{_('受理时间')}}">
<input type="hidden" id="i18n-str-指派" value="{{_('指派')}}">
<input type="hidden" id="i18n-str-变更描述" value="{{_('变更描述')}}">
<input type="hidden" id="i18n-str-变更描述内容" value="{{_('变更描述内容')}}">
<input type="hidden" id="i18n-str-添加投资意向单" value="{{_('添加投资意向单')}}">
<input type="hidden" id="i18n-str-过滤条件" value="{{_('过滤条件')}}">
<input type="hidden" id="i18n-str-客户姓名" value="{{_('客户姓名')}}">
<input type="hidden" id="i18n-str-客户手机" value="{{_('客户手机')}}">
<input type="hidden" id="i18n-str-客户邮箱" value="{{_('客户邮箱')}}">
<input type="hidden" id="i18n-str-标题" value="{{_('标题')}}">
<input type="hidden" id="i18n-str-目标" value="{{_('目标')}}">
<input type="hidden" id="i18n-str-添加消息" value="{{_('添加消息')}}">
<input type="hidden" id="i18n-str-未接收数" value="{{_('未接收数')}}">
<input type="hidden" id="i18n-str-送达数" value="{{_('送达数')}}">
<input type="hidden" id="i18n-str-已读数" value="{{_('已读数')}}">
<input type="hidden" id="i18n-str-总消息数" value="{{_('总消息数')}}">
<input type="hidden" id="i18n-str-频道名" value="{{_('频道名')}}">
<input type="hidden" id="i18n-str-链接" value="{{_('链接')}}">
<input type="hidden" id="i18n-str-(最大宽度是1920px)" value="{{_('(最大宽度是1920px)')}}">
<input type="hidden" id="i18n-str-添加图片" value="{{_('添加图片')}}">
<input type="hidden" id="i18n-str-图片缺失时的内容" value="{{_('图片缺失时的内容')}}">
<input type="hidden" id="i18n-str-文本内容" value="{{_('文本内容')}}">
<input type="hidden" id="i18n-str-文本条目内容" value="{{_('文本条目内容')}}">
<input type="hidden" id="i18n-str-添加内容" value="{{_('添加内容')}}">
<input type="hidden" id="i18n-str-封面图片" value="{{_('封面图片')}}">
<input type="hidden" id="i18n-str-摘要" value="{{_('摘要')}}">
<input type="hidden" id="i18n-str-地域" value="{{_('地域')}}">
<input type="hidden" id="i18n-str-添加资讯" value="{{_('添加资讯')}}">
<input type="hidden" id="i18n-str-同步至微信" value="{{_('同步至微信')}}">
<input type="hidden" id="i18n-str-同步" value="{{_('同步')}}">
<input type="hidden" id="i18n-str-作者" value="{{_('作者')}}">
<input type="hidden" id="i18n-str-创建时间" value="{{_('创建时间')}}">
<input type="hidden" id="i18n-str-品牌运营管理" value="{{_('品牌运营管理')}}">
<input type="hidden" id="i18n-str-开始时间" value="{{_('开始时间')}}">
<input type="hidden" id="i18n-str-结束时间" value="{{_('结束时间')}}">
<input type="hidden" id="i18n-str-订单状态" value="{{_('订单状态')}}">
<input type="hidden" id="i18n-str-请选择" value="{{_('请选择')}}">
<input type="hidden" id="i18n-str-用户姓名" value="{{_('用户姓名')}}">
<input type="hidden" id="i18n-str-项目名称" value="{{_('项目名称')}}">
<input type="hidden" id="i18n-str-在投资金" value="{{_('在投资金')}}">
<input type="hidden" id="i18n-str-投资时间" value="{{_('投资时间')}}">
<input type="hidden" id="i18n-str-到期时间" value="{{_('到期时间')}}">
<input type="hidden" id="i18n-str-房产通用信息" value="{{_('房产通用信息')}}">
<input type="hidden" id="i18n-str-Postal Area" value="{{_('Postal Area')}}">
<input type="hidden" id="i18n-str-街区名称" value="{{_('街区名称')}}">
<input type="hidden" id="i18n-str-%开发商保证最低收益率" value="{{_('%开发商保证最低收益率')}}">
<input type="hidden" id="i18n-str-年" value="{{_('年')}}">
<input type="hidden" id="i18n-str-eg: 0.1 为10%" value="{{_('eg: 0.1 为10%')}}">
<input type="hidden" id="i18n-str-成交时间" value="{{_('成交时间')}}">
<input type="hidden" id="i18n-str-成交价格" value="{{_('成交价格')}}">
<input type="hidden" id="i18n-str-添加历史成交价格" value="{{_('添加历史成交价格')}}">
<input type="hidden" id="i18n-str-(最多4项)" value="{{_('(最多4项)')}}">
<input type="hidden" id="i18n-str-支出名称" value="{{_('支出名称')}}">
<input type="hidden" id="i18n-str-支出费用" value="{{_('支出费用')}}">
<input type="hidden" id="i18n-str-上传推广资料" value="{{_('上传推广资料')}}">
<input type="hidden" id="i18n-str-非楼盘特有信息" value="{{_('非楼盘特有信息')}}">
<input type="hidden" id="i18n-str-户型名" value="{{_('户型名')}}">
<input type="hidden" id="i18n-str-户型结构" value="{{_('户型结构')}}">
<input type="hidden" id="i18n-str-面积与价格" value="{{_('面积与价格')}}">
<input type="hidden" id="i18n-str-户型描述" value="{{_('户型描述')}}">
<input type="hidden" id="i18n-str-最低总价" value="{{_('最低总价')}}">
<input type="hidden" id="i18n-str-最高总价" value="{{_('最高总价')}}">
<input type="hidden" id="i18n-str-上传户型图" value="{{_('上传户型图')}}">
<input type="hidden" id="i18n-str-添加户型" value="{{_('添加户型')}}">
<input type="hidden" id="i18n-str-生活配设施图" value="{{_('生活配设施图')}}">
<input type="hidden" id="i18n-str-销售备注" value="{{_('销售备注')}}">
<input type="hidden" id="i18n-str-修改" value="{{_('修改')}}">
<input type="hidden" id="i18n-str-撤销并返回" value="{{_('撤销并返回')}}">
<input type="hidden" id="i18n-str-此房产处于待审核状态，请先将状态改为草稿再编辑此房产。" value="{{_('此房产处于待审核状态，请先将状态改为草稿再编辑此房产。')}}">
<input type="hidden" id="i18n-str-拖动删除" value="{{_('拖动删除')}}">
<input type="hidden" id="i18n-str-单位面积，一般为1" value="{{_('单位面积，一般为1')}}">
<input type="hidden" id="i18n-str-单位面积对应的售价" value="{{_('单位面积对应的售价')}}">
<input type="hidden" id="i18n-str-保存并预览" value="{{_('保存并预览')}}">
<input type="hidden" id="i18n-str-添加房产信息" value="{{_('添加房产信息')}}">
<input type="hidden" id="i18n-str-长度单位" value="{{_('长度单位')}}">
<input type="hidden" id="i18n-str-街区介绍" value="{{_('街区介绍')}}">
<input type="hidden" id="i18n-str-街区图片" value="{{_('街区图片')}}">
<input type="hidden" id="i18n-str-背景图" value="{{_('背景图')}}">
<input type="hidden" id="i18n-str-街区房屋供给资讯" value="{{_('街区房屋供给资讯')}}">
<input type="hidden" id="i18n-str-新闻标题" value="{{_('新闻标题')}}">
<input type="hidden" id="i18n-str-新闻摘要" value="{{_('新闻摘要')}}">
<input type="hidden" id="i18n-str-街区就业机会资讯" value="{{_('街区就业机会资讯')}}">
<input type="hidden" id="i18n-str-请选择新闻类别" value="{{_('请选择新闻类别')}}">
<input type="hidden" id="i18n-str-街区规划资讯" value="{{_('街区规划资讯')}}">
<input type="hidden" id="i18n-str-添加街区报告" value="{{_('添加街区报告')}}">
<input type="hidden" id="i18n-str-楼层" value="{{_('楼层')}}">
<input type="hidden" id="i18n-str-最小金额" value="{{_('最小金额')}}">
<input type="hidden" id="i18n-str-最大金额" value="{{_('最大金额')}}">
<input type="hidden" id="i18n-str-价格" value="{{_('价格')}}">
<input type="hidden" id="i18n-str-备注" value="{{_('备注')}}">
<input type="hidden" id="i18n-str-地址" value="{{_('地址')}}">
<input type="hidden" id="i18n-str-售价" value="{{_('售价')}}">
<input type="hidden" id="i18n-str-标签" value="{{_('标签')}}">
<input type="hidden" id="i18n-str-卧室数" value="{{_('卧室数')}}">
<input type="hidden" id="i18n-str-浴室数" value="{{_('浴室数')}}">
<input type="hidden" id="i18n-str-创建" value="{{_('创建')}}">
<input type="hidden" id="i18n-str-添加物业销售状态" value="{{_('添加物业销售状态')}}">
<input type="hidden" id="i18n-str-物业销售状态" value="{{_('物业销售状态')}}">
<input type="hidden" id="i18n-str-房源信息" value="{{_('房源信息')}}">
<input type="hidden" id="i18n-str-自定义描述" value="{{_('自定义描述')}}">
<input type="hidden" id="i18n-str-修改内容" value="{{_('修改内容')}}">
<input type="hidden" id="i18n-str-添加客服单" value="{{_('添加客服单')}}">
<input type="hidden" id="i18n-str-设置" value="{{_('设置')}}">
<input type="hidden" id="i18n-str-登出" value="{{_('登出')}}">
<input type="hidden" id="i18n-str-人员管理" value="{{_('人员管理')}}">
<input type="hidden" id="i18n-str-枚举数据管理" value="{{_('枚举数据管理')}}">
<input type="hidden" id="i18n-str-常用类型" value="{{_('常用类型')}}">
<input type="hidden" id="i18n-str-房间数" value="{{_('房间数')}}">
<input type="hidden" id="i18n-str-租房预算" value="{{_('租房预算')}}">
<input type="hidden" id="i18n-str-房产数据管理" value="{{_('房产数据管理')}}">
<input type="hidden" id="i18n-str-投资意向单管理" value="{{_('投资意向单管理')}}">
<input type="hidden" id="i18n-str-街区报告" value="{{_('街区报告')}}">
<input type="hidden" id="i18n-str-房产资讯编辑" value="{{_('房产资讯编辑')}}">
<input type="hidden" id="i18n-str-网站内容管理" value="{{_('网站内容管理')}}">
<input type="hidden" id="i18n-str-房产销售管理" value="{{_('房产销售管理')}}">
<input type="hidden" id="i18n-str-客服单管理" value="{{_('客服单管理')}}">
<input type="hidden" id="i18n-str-投资人管理" value="{{_('投资人管理')}}">
<input type="hidden" id="i18n-str-消息管理" value="{{_('消息管理')}}">
<input type="hidden" id="i18n-str-微信公共号管理" value="{{_('微信公共号管理')}}">
<input type="hidden" id="i18n-str-菜单管理" value="{{_('菜单管理')}}">
<input type="hidden" id="i18n-str-众筹管理" value="{{_('众筹管理')}}">
<input type="hidden" id="i18n-str-订单管理" value="{{_('订单管理')}}">
<input type="hidden" id="i18n-str-房产名称" value="{{_('房产名称')}}">
<input type="hidden" id="i18n-str-购买时间" value="{{_('购买时间')}}">
<input type="hidden" id="i18n-str-房产名" value="{{_('房产名')}}">
<input type="hidden" id="i18n-str-总价" value="{{_('总价')}}">
<input type="hidden" id="i18n-str-IP" value="{{_('IP')}}">
<input type="hidden" id="i18n-str-HOST" value="{{_('HOST')}}">
<input type="hidden" id="i18n-str-引用" value="{{_('引用')}}">
<input type="hidden" id="i18n-str-浏览时间" value="{{_('浏览时间')}}">
<input type="hidden" id="i18n-str-用户代理" value="{{_('用户代理')}}">
<input type="hidden" id="i18n-str-性别" value="{{_('性别')}}">
<input type="hidden" id="i18n-str-微信" value="{{_('微信')}}">
<input type="hidden" id="i18n-str-收藏房产" value="{{_('收藏房产')}}">
<input type="hidden" id="i18n-str-已购房产" value="{{_('已购房产')}}">
<input type="hidden" id="i18n-str-客服单" value="{{_('客服单')}}">
<input type="hidden" id="i18n-str-浏览记录" value="{{_('浏览记录')}}">
<input type="hidden" id="i18n-str-众筹订单" value="{{_('众筹订单')}}">
<input type="hidden" id="i18n-str-用户手机" value="{{_('用户手机')}}">
<input type="hidden" id="i18n-str-用户邮箱" value="{{_('用户邮箱')}}">
<input type="hidden" id="i18n-str-菜单" value="{{_('菜单')}}">
<input type="hidden" id="i18n-str-删除菜单全部内容" value="{{_('删除菜单全部内容')}}">
<input type="hidden" id="i18n-str-按键名称" value="{{_('按键名称')}}">
<input type="hidden" id="i18n-str-交互方式" value="{{_('交互方式')}}">
<input type="hidden" id="i18n-str-添加子菜单" value="{{_('添加子菜单')}}">
<input type="hidden" id="i18n-str-添加菜单" value="{{_('添加菜单')}}">
<input type="hidden" id="i18n-str-正在上传..." value="{{_('正在上传...')}}">
<input type="hidden" id="i18n-str-已上传,将在提交草稿后生成预览（在此之前不能提交审核)" value="{{_('已上传,将在提交草稿后生成预览（在此之前不能提交审核)')}}">
<input type="hidden" id="i18n-str-正在生成预览图...（在此之前不能提交审核)" value="{{_('正在生成预览图...（在此之前不能提交审核)')}}">
<input type="hidden" id="i18n-str-点击预览当前文档" value="{{_('点击预览当前文档')}}">
<input type="hidden" id="i18n-str-上传失败，请稍后重试" value="{{_('上传失败，请稍后重试')}}">
<input type="hidden" id="i18n-str-未知错误，请重新上传" value="{{_('未知错误，请重新上传')}}">
<input type="hidden" id="i18n-str-复制图片至其他语言" value="{{_('复制图片至其他语言')}}">
<input type="hidden" id="i18n-str-上传本站" value="{{_('上传本站')}}">
<input type="hidden" id="i18n-str-设为封面" value="{{_('设为封面')}}">
<input type="hidden" id="i18n-str-上传图片" value="{{_('上传图片')}}">
<input type="hidden" id="i18n-str-已上传，点击重新上传" value="{{_('已上传，点击重新上传')}}">
<input type="hidden" id="i18n-str-拖到此处上传或点击上传至AWS" value="{{_('拖到此处上传或点击上传至AWS')}}">
<input type="hidden" id="i18n-str-拖到此处上传或点击上传至七牛" value="{{_('拖到此处上传或点击上传至七牛')}}">
<input type="hidden" id="i18n-str-上传封面" value="{{_('上传封面')}}">
<input type="hidden" id="i18n-str-上传iOS适配的MP4至七牛" value="{{_('上传iOS适配的MP4至七牛')}}">
<input type="hidden" id="i18n-str-上传Web页面的MP4至七牛" value="{{_('上传Web页面的MP4至七牛')}}">
<input type="hidden" id="i18n-str-上传iOS适配的至AWS" value="{{_('上传iOS适配的至AWS')}}">
<input type="hidden" id="i18n-str-上传Web页面的MP4至AWS" value="{{_('上传Web页面的MP4至AWS')}}">
<input type="hidden" id="i18n-str-添加视频" value="{{_('添加视频')}}">
<input type="hidden" id="i18n-str-忘记密码" value="{{_('忘记密码')}}">
<input type="hidden" id="i18n-str-电话号码" value="{{_('电话号码')}}">
<input type="hidden" id="i18n-str-请输入数字" value="{{_('请输入数字')}}">
<input type="hidden" id="i18n-str-验证码" value="{{_('验证码')}}">
<input type="hidden" id="i18n-str-密码" value="{{_('密码')}}">
<input type="hidden" id="i18n-str-确认密码" value="{{_('确认密码')}}">
<input type="hidden" id="i18n-str-两次输入的密码不一致" value="{{_('两次输入的密码不一致')}}">
<input type="hidden" id="i18n-str-确认" value="{{_('确认')}}">
<input type="hidden" id="i18n-str-返回登录" value="{{_('返回登录')}}">
<input type="hidden" id="i18n-str-没有权限。" value="{{_('没有权限。')}}">
<input type="hidden" id="i18n-str-变更记录" value="{{_('变更记录')}}">
<input type="hidden" id="i18n-str-修改时间" value="{{_('修改时间')}}">
<input type="hidden" id="i18n-str-变更内容" value="{{_('变更内容')}}">
<input type="hidden" id="i18n-str-字段" value="{{_('字段')}}">
<input type="hidden" id="i18n-str-管理员登录" value="{{_('管理员登录')}}">
<input type="hidden" id="i18n-str-登录" value="{{_('登录')}}">
<input type="hidden" id="i18n-str-注册帐号" value="{{_('注册帐号')}}">
<input type="hidden" id="i18n-str-手机号" value="{{_('手机号')}}">
<input type="hidden" id="i18n-str-已阅读并同意" value="{{_('已阅读并同意')}}">
<input type="hidden" id="i18n-str-服务声明" value="{{_('服务声明')}}">
<script>
if(!window.i18n){
   window.i18n = function (name) {
       var input = document.getElementById('i18n-str-' + name)
       if (!input) { return name }
       return input.value
   }
}
</script>