<input type="hidden" id="i18n-str-提交" value="提交">
<input type="hidden" id="i18n-str-选择权限" value="选择权限">
<input type="hidden" id="i18n-str-国家" value="国家">
<input type="hidden" id="i18n-str-确认号码" value="确认号码">
<input type="hidden" id="i18n-str-删除号码" value="删除号码">
<input type="hidden" id="i18n-str-货币单位" value="货币单位">
<input type="hidden" id="i18n-str-选择" value="选择">
<input type="hidden" id="i18n-str-取消" value="取消">
<input type="hidden" id="i18n-str-返回" value="返回">
<input type="hidden" id="i18n-str-手机号码" value="手机号码">
<input type="hidden" id="i18n-str-正在查询" value="正在查询">
<input type="hidden" id="i18n-str-姓名" value="姓名">
<input type="hidden" id="i18n-str-邮箱" value="邮箱">
<input type="hidden" id="i18n-str-已有权限" value="已有权限">
<input type="hidden" id="i18n-str-权限" value="权限">
<input type="hidden" id="i18n-str-更新" value="更新">
<input type="hidden" id="i18n-str-必填" value="必填">
<input type="hidden" id="i18n-str-添加人员" value="添加人员">
<input type="hidden" id="i18n-str-上一页" value="上一页">
<input type="hidden" id="i18n-str-下一页" value="下一页">
<input type="hidden" id="i18n-str-手机" value="手机">
<input type="hidden" id="i18n-str-增加权限" value="增加权限">
<input type="hidden" id="i18n-str-取消权限" value="取消权限">
<input type="hidden" id="i18n-str-货币下限" value="货币下限">
<input type="hidden" id="i18n-str-货币上限" value="货币上限">
<input type="hidden" id="i18n-str-内容" value="内容">
<input type="hidden" id="i18n-str-语言" value="语言">
<input type="hidden" id="i18n-str-删除" value="删除">
<input type="hidden" id="i18n-str-选择语言" value="选择语言">
<input type="hidden" id="i18n-str-添加" value="添加">
<input type="hidden" id="i18n-str-添加预算" value="添加预算">
<input type="hidden" id="i18n-str-描述" value="描述">
<input type="hidden" id="i18n-str-编辑" value="编辑">
<input type="hidden" id="i18n-str-添加城市" value="添加城市">
<input type="hidden" id="i18n-str-城市" value="城市">
<input type="hidden" id="i18n-str-所属国家" value="所属国家">
<input type="hidden" id="i18n-str-国家标识" value="国家标识">
<input type="hidden" id="i18n-str-添加国家" value="添加国家">
<input type="hidden" id="i18n-str-投资特征" value="投资特征">
<input type="hidden" id="i18n-str-添加投资意向" value="添加投资意向">
<input type="hidden" id="i18n-str-投资意向" value="投资意向">
<input type="hidden" id="i18n-str-类别" value="类别">
<input type="hidden" id="i18n-str-标识" value="标识">
<input type="hidden" id="i18n-str-添加枚举" value="添加枚举">
<input type="hidden" id="i18n-str-电话" value="电话">
<input type="hidden" id="i18n-str-是否愿意注册会员" value="是否愿意注册会员">
<input type="hidden" id="i18n-str-愿意" value="愿意">
<input type="hidden" id="i18n-str-不愿意" value="不愿意">
<input type="hidden" id="i18n-str-预算" value="预算">
<input type="hidden" id="i18n-str-文字描述" value="文字描述">
<input type="hidden" id="i18n-str-产权类型" value="产权类型">
<input type="hidden" id="i18n-str-投资意向标签" value="投资意向标签">
<input type="hidden" id="i18n-str-销售自定义描述" value="销售自定义描述">
<input type="hidden" id="i18n-str-自定义项" value="自定义项">
<input type="hidden" id="i18n-str-自定义项内容" value="自定义项内容">
<input type="hidden" id="i18n-str-提交时间" value="提交时间">
<input type="hidden" id="i18n-str-受理时间" value="受理时间">
<input type="hidden" id="i18n-str-指派" value="指派">
<input type="hidden" id="i18n-str-状态" value="状态">
<input type="hidden" id="i18n-str-变更描述" value="变更描述">
<input type="hidden" id="i18n-str-变更描述内容" value="变更描述内容">
<input type="hidden" id="i18n-str-添加投资意向单" value="添加投资意向单">
<input type="hidden" id="i18n-str-过滤条件" value="过滤条件">
<input type="hidden" id="i18n-str-客户姓名" value="客户姓名">
<input type="hidden" id="i18n-str-客户手机" value="客户手机">
<input type="hidden" id="i18n-str-客户邮箱" value="客户邮箱">
<input type="hidden" id="i18n-str-标题" value="标题">
<input type="hidden" id="i18n-str-目标" value="目标">
<input type="hidden" id="i18n-str-添加消息" value="添加消息">
<input type="hidden" id="i18n-str-频道名" value="频道名">
<input type="hidden" id="i18n-str-链接" value="链接">
<input type="hidden" id="i18n-str-图片" value="图片">
<input type="hidden" id="i18n-str-添加图片" value="添加图片">
<input type="hidden" id="i18n-str-图片缺失时的内容" value="图片缺失时的内容">
<input type="hidden" id="i18n-str-文本内容" value="文本内容">
<input type="hidden" id="i18n-str-文本条目内容" value="文本条目内容">
<input type="hidden" id="i18n-str-添加内容" value="添加内容">
<input type="hidden" id="i18n-str-地域" value="地域">
<input type="hidden" id="i18n-str-添加资讯" value="添加资讯">
<input type="hidden" id="i18n-str-作者" value="作者">
<input type="hidden" id="i18n-str-创建时间" value="创建时间">
<input type="hidden" id="i18n-str-类型" value="类型">
<input type="hidden" id="i18n-str-品牌运营管理" value="品牌运营管理">
<input type="hidden" id="i18n-str-面积单位" value="面积单位">
<input type="hidden" id="i18n-str-房产通用信息" value="房产通用信息">
<input type="hidden" id="i18n-str-名称" value="名称">
<input type="hidden" id="i18n-str-房产类型" value="房产类型">
<input type="hidden" id="i18n-str-街区" value="街区">
<input type="hidden" id="i18n-str-邮编" value="邮编">
<input type="hidden" id="i18n-str-地址详情" value="地址详情">
<input type="hidden" id="i18n-str-亮点" value="亮点">
<input type="hidden" id="i18n-str-添加亮点" value="添加亮点">
<input type="hidden" id="i18n-str-详情" value="详情">
<input type="hidden" id="i18n-str-年化回报预估" value="年化回报预估">
<input type="hidden" id="i18n-str-投资标签" value="投资标签">
<input type="hidden" id="i18n-str-投资类型" value="投资类型">
<input type="hidden" id="i18n-str-装修风格" value="装修风格">
<input type="hidden" id="i18n-str-地图位置" value="地图位置">
<input type="hidden" id="i18n-str-实景图" value="实景图">
<input type="hidden" id="i18n-str-生活配设施图" value="生活配设施图">
<input type="hidden" id="i18n-str-房产价格类型" value="房产价格类型">
<input type="hidden" id="i18n-str-同等房产描述" value="同等房产描述">
<input type="hidden" id="i18n-str-历史成交价格" value="历史成交价格">
<input type="hidden" id="i18n-str-成交时间" value="成交时间">
<input type="hidden" id="i18n-str-成交价格" value="成交价格">
<input type="hidden" id="i18n-str-添加历史成交价格" value="添加历史成交价格">
<input type="hidden" id="i18n-str-估计月租金收入" value="估计月租金收入">
<input type="hidden" id="i18n-str-估计月平均支出" value="估计月平均支出">
<input type="hidden" id="i18n-str-支出名称" value="支出名称">
<input type="hidden" id="i18n-str-支出费用" value="支出费用">
<input type="hidden" id="i18n-str-非楼盘特有信息" value="非楼盘特有信息">
<input type="hidden" id="i18n-str-总价格" value="总价格">
<input type="hidden" id="i18n-str-居室数" value="居室数">
<input type="hidden" id="i18n-str-客厅数" value="客厅数">
<input type="hidden" id="i18n-str-卫生间数" value="卫生间数">
<input type="hidden" id="i18n-str-厨房数" value="厨房数">
<input type="hidden" id="i18n-str-朝向" value="朝向">
<input type="hidden" id="i18n-str-面积" value="面积">
<input type="hidden" id="i18n-str-户型图" value="户型图">
<input type="hidden" id="i18n-str-楼盘信息" value="楼盘信息">
<input type="hidden" id="i18n-str-开发商" value="开发商">
<input type="hidden" id="i18n-str-建筑类型" value="建筑类型">
<input type="hidden" id="i18n-str-单位面积参考价格" value="单位面积参考价格">
<input type="hidden" id="i18n-str-开盘时间" value="开盘时间">
<input type="hidden" id="i18n-str-建筑面积" value="建筑面积">
<input type="hidden" id="i18n-str-规划面积" value="规划面积">
<input type="hidden" id="i18n-str-容积率" value="容积率">
<input type="hidden" id="i18n-str-绿化率" value="绿化率">
<input type="hidden" id="i18n-str-规划户数" value="规划户数">
<input type="hidden" id="i18n-str-车位数" value="车位数">
<input type="hidden" id="i18n-str-物业类型" value="物业类型">
<input type="hidden" id="i18n-str-物业公司" value="物业公司">
<input type="hidden" id="i18n-str-主要户型" value="主要户型">
<input type="hidden" id="i18n-str-户型名" value="户型名">
<input type="hidden" id="i18n-str-户型总价" value="户型总价">
<input type="hidden" id="i18n-str-添加户型" value="添加户型">
<input type="hidden" id="i18n-str-效果图" value="效果图">
<input type="hidden" id="i18n-str-室内样板间图" value="室内样板间图">
<input type="hidden" id="i18n-str-规划图" value="规划图">
<input type="hidden" id="i18n-str-房产审核单" value="房产审核单">
<input type="hidden" id="i18n-str-审核备注" value="审核备注">
<input type="hidden" id="i18n-str-审核附件" value="审核附件">
<input type="hidden" id="i18n-str-上传附件" value="上传附件">
<input type="hidden" id="i18n-str-创建草稿" value="创建草稿">
<input type="hidden" id="i18n-str-提交审核" value="提交审核">
<input type="hidden" id="i18n-str-此房产已存在草稿，点击跳转至草稿编辑" value="此房产已存在草稿，点击跳转至草稿编辑">
<input type="hidden" id="i18n-str-此房产处于待审核状态，请先将状态改为草稿再编辑此房产。" value="此房产处于待审核状态，请先将状态改为草稿再编辑此房产。">
<input type="hidden" id="i18n-str-比如 10%" value="比如 10%">
<input type="hidden" id="i18n-str-单位面积，一般为1" value="单位面积，一般为1">
<input type="hidden" id="i18n-str-单位面积对应的售价" value="单位面积对应的售价">
<input type="hidden" id="i18n-str-保存更改" value="保存更改">
<input type="hidden" id="i18n-str-添加房产信息" value="添加房产信息">
<input type="hidden" id="i18n-str-新闻类型" value="新闻类型">
<input type="hidden" id="i18n-str-自定义描述" value="自定义描述">
<input type="hidden" id="i18n-str-修改内容" value="修改内容">
<input type="hidden" id="i18n-str-添加客服单" value="添加客服单">
<input type="hidden" id="i18n-str-设置" value="设置">
<input type="hidden" id="i18n-str-登出" value="登出">
<input type="hidden" id="i18n-str-人员管理" value="人员管理">
<input type="hidden" id="i18n-str-枚举数据管理" value="枚举数据管理">
<input type="hidden" id="i18n-str-常用类型" value="常用类型">
<input type="hidden" id="i18n-str-房产数据管理" value="房产数据管理">
<input type="hidden" id="i18n-str-投资意向单管理" value="投资意向单管理">
<input type="hidden" id="i18n-str-房产资讯编辑" value="房产资讯编辑">
<input type="hidden" id="i18n-str-网站内容管理" value="网站内容管理">
<input type="hidden" id="i18n-str-客服单管理" value="客服单管理">
<input type="hidden" id="i18n-str-投资人管理" value="投资人管理">
<input type="hidden" id="i18n-str-消息管理" value="消息管理">
<input type="hidden" id="i18n-str-房产名称" value="房产名称">
<input type="hidden" id="i18n-str-购买时间" value="购买时间">
<input type="hidden" id="i18n-str-房产名" value="房产名">
<input type="hidden" id="i18n-str-总价" value="总价">
<input type="hidden" id="i18n-str-性别" value="性别">
<input type="hidden" id="i18n-str-微信" value="微信">
<input type="hidden" id="i18n-str-收藏房产" value="收藏房产">
<input type="hidden" id="i18n-str-投资意向单" value="投资意向单">
<input type="hidden" id="i18n-str-已购房产" value="已购房产">
<input type="hidden" id="i18n-str-客服单" value="客服单">
<input type="hidden" id="i18n-str-用户姓名" value="用户姓名">
<input type="hidden" id="i18n-str-用户手机" value="用户手机">
<input type="hidden" id="i18n-str-用户邮箱" value="用户邮箱">
<input type="hidden" id="i18n-str-忘记密码" value="忘记密码">
<input type="hidden" id="i18n-str-电话号码" value="电话号码">
<input type="hidden" id="i18n-str-请输入数字" value="请输入数字">
<input type="hidden" id="i18n-str-验证码" value="验证码">
<input type="hidden" id="i18n-str-密码" value="密码">
<input type="hidden" id="i18n-str-确认密码" value="确认密码">
<input type="hidden" id="i18n-str-两次输入的密码不一致" value="两次输入的密码不一致">
<input type="hidden" id="i18n-str-确认" value="确认">
<input type="hidden" id="i18n-str-返回登录" value="返回登录">
<input type="hidden" id="i18n-str-变更记录" value="变更记录">
<input type="hidden" id="i18n-str-修改时间" value="修改时间">
<input type="hidden" id="i18n-str-变更内容" value="变更内容">
<input type="hidden" id="i18n-str-字段" value="字段">
<input type="hidden" id="i18n-str-没有权限。" value="没有权限。">
<input type="hidden" id="i18n-str-输入姓名，手机或邮箱" value="输入姓名，手机或邮箱">
<input type="hidden" id="i18n-str-搜索" value="搜索">
<input type="hidden" id="i18n-str-&#34;管理员登录&#34;" value="&#34;管理员登录&#34;">
<input type="hidden" id="i18n-str-登录" value="登录">
<input type="hidden" id="i18n-str-注册帐号" value="注册帐号">
<input type="hidden" id="i18n-str-手机号" value="手机号">
<input type="hidden" id="i18n-str-已阅读并同意" value="已阅读并同意">
<input type="hidden" id="i18n-str-服务条款" value="服务条款">
<input type="hidden" id="i18n-str-请选择" value="请选择">
<script>
window.i18n = function (name) {
   var input = document.getElementById('i18n-str-' + name)
   if (!input) { return name }
   return input.value
}
</script>