<input type="hidden" id="i18n-str-房间" value="{{_('房间')}}">
<input type="hidden" id="i18n-str-卫生间" value="{{_('卫生间')}}">
<input type="hidden" id="i18n-str-服务器忙，请稍后重试。" value="{{_('服务器忙，请稍后重试。')}}">
<input type="hidden" id="i18n-str-请点击“获取验证码”" value="{{_('请点击“获取验证码”')}}">
<input type="hidden" id="i18n-str-重置密码失败" value="{{_('重置密码失败')}}">
<input type="hidden" id="i18n-str-修改邮箱成功" value="{{_('修改邮箱成功')}}">
<input type="hidden" id="i18n-str-修改邮箱失败" value="{{_('修改邮箱失败')}}">
<input type="hidden" id="i18n-str-修改成功" value="{{_('修改成功')}}">
<input type="hidden" id="i18n-str-修改失败" value="{{_('修改失败')}}">
<input type="hidden" id="i18n-str-原手机号不正确" value="{{_('原手机号不正确')}}">
<input type="hidden" id="i18n-str-验证成功" value="{{_('验证成功')}}">
<input type="hidden" id="i18n-str-验证失败" value="{{_('验证失败')}}">
<input type="hidden" id="i18n-str-订阅失败" value="{{_('订阅失败')}}">
<input type="hidden" id="i18n-str-提交需求失败" value="{{_('提交需求失败')}}">
<input type="hidden" id="i18n-str-取消收藏失败" value="{{_('取消收藏失败')}}">
<input type="hidden" id="i18n-str-撤销失败" value="{{_('撤销失败')}}">
<input type="hidden" id="i18n-str-姓名不能为空" value="{{_('姓名不能为空')}}">
<input type="hidden" id="i18n-str-电话不能为空" value="{{_('电话不能为空')}}">
<input type="hidden" id="i18n-str-电话格式不正确" value="{{_('电话格式不正确')}}">
<input type="hidden" id="i18n-str-邮箱不能为空" value="{{_('邮箱不能为空')}}">
<input type="hidden" id="i18n-str-邮箱格式不合法" value="{{_('邮箱格式不合法')}}">
<input type="hidden" id="i18n-str-验证码不能为空" value="{{_('验证码不能为空')}}">
<input type="hidden" id="i18n-str-密码不能为空" value="{{_('密码不能为空')}}">
<input type="hidden" id="i18n-str-原手机号不能为空" value="{{_('原手机号不能为空')}}">
<input type="hidden" id="i18n-str-原手机号格式不正确" value="{{_('原手机号格式不正确')}}">
<input type="hidden" id="i18n-str-当前密码不能为空" value="{{_('当前密码不能为空')}}">
<input type="hidden" id="i18n-str-确认密码不能为空" value="{{_('确认密码不能为空')}}">
<input type="hidden" id="i18n-str-新密码和确认密码输入不一致" value="{{_('新密码和确认密码输入不一致')}}">
<input type="hidden" id="i18n-str-现金流保障介绍" value="{{_('现金流保障介绍')}}">
<input type="hidden" id="i18n-str-子女留学介绍" value="{{_('子女留学介绍')}}">
<input type="hidden" id="i18n-str-移民投资介绍" value="{{_('移民投资介绍')}}">
<input type="hidden" id="i18n-str-超额收益介绍" value="{{_('超额收益介绍')}}">
<input type="hidden" id="i18n-str-资产保值介绍" value="{{_('资产保值介绍')}}">
<input type="hidden" id="i18n-str-移民自住介绍" value="{{_('移民自住介绍')}}">
<input type="hidden" id="i18n-str-度假旅行介绍" value="{{_('度假旅行介绍')}}">
<input type="hidden" id="i18n-str-参数错误" value="{{_('参数错误')}}">
<input type="hidden" id="i18n-str-账户或密码错误" value="{{_('账户或密码错误')}}">
<input type="hidden" id="i18n-str-账户不存在" value="{{_('账户不存在')}}">
<input type="hidden" id="i18n-str-邮箱已被使用" value="{{_('邮箱已被使用')}}">
<input type="hidden" id="i18n-str-电话已被使用, 请<a href=&#34;#&#34; onclick=&#34;project.goToSignIn()&#34;>“登陆”</a>或者<a href=&#34;#&#34; onclick=&#34;project.goToResetPassword()&#34;>“找回密码”</a>" value="{{_('电话已被使用, 请<a href="#" onclick="project.goToSignIn()">“登陆”</a>或者<a href="#" onclick="project.goToResetPassword()">“找回密码”</a>')}}">
<input type="hidden" id="i18n-str-权限错误" value="{{_('权限错误')}}">
<input type="hidden" id="i18n-str-第三方服务异常" value="{{_('第三方服务异常')}}">
<input type="hidden" id="i18n-str-简体中文(中国)" value="{{_('简体中文(中国)')}}">
<input type="hidden" id="i18n-str-English (United Kingdom)" value="{{_('English (United Kingdom)')}}">
<input type="hidden" id="i18n-str-收起" value="{{_('收起')}}">
<input type="hidden" id="i18n-str-展开" value="{{_('展开')}}">
<input type="hidden" id="i18n-str-任意城市" value="{{_('任意城市')}}">
<input type="hidden" id="i18n-str-我想在" value="{{_('我想在')}}">
<input type="hidden" id="i18n-str-的" value="{{_('的')}}">
<input type="hidden" id="i18n-str-投资" value="{{_('投资')}}">
<input type="hidden" id="i18n-str-，价值为" value="{{_('，价值为')}}">
<input type="hidden" id="i18n-str-的房产，投资意向为为" value="{{_('的房产，投资意向为为')}}">
<input type="hidden" id="i18n-str-。" value="{{_('。')}}">
<input type="hidden" id="i18n-str-我想投资价值为" value="{{_('我想投资价值为')}}">
<input type="hidden" id="i18n-str-确定" value="{{_('确定')}}">
<input type="hidden" id="i18n-str-性别不能为空" value="{{_('性别不能为空')}}">
<input type="hidden" id="i18n-str-国家不能为空" value="{{_('国家不能为空')}}">
<input type="hidden" id="i18n-str-更新成功" value="{{_('更新成功')}}">
<input type="hidden" id="i18n-str-更新失败" value="{{_('更新失败')}}">
<input type="hidden" id="i18n-str-移除失败" value="{{_('移除失败')}}">
<input type="hidden" id="i18n-str-邮件已发送，如果没有收到，请在60秒后重试" value="{{_('邮件已发送，如果没有收到，请在60秒后重试')}}">
<input type="hidden" id="i18n-str-发送验证邮件失败" value="{{_('发送验证邮件失败')}}">
<input type="hidden" id="i18n-str-取消收藏" value="{{_('取消收藏')}}">
<input type="hidden" id="i18n-str-撤销" value="{{_('撤销')}}">
<input type="hidden" id="i18n-str-预计总<br/>年化收益率" value="{{_('预计总<br/>年化收益率')}}">
<input type="hidden" id="i18n-str-预计租金<br/>年化收益率" value="{{_('预计租金<br/>年化收益率')}}">
<input type="hidden" id="i18n-str-查看详情" value="{{_('查看详情')}}">
<script>
if(!window.i18n){
   window.i18n = function (name) {
       var input = document.getElementById('i18n-str-' + name)
       if (!input) { return name }
       return input.value
   }
}
</script>