<input type="hidden" id="i18n-str-unknown_error" value="unknown_error">
<input type="hidden" id="i18n-str-请点击“获取验证码”" value="请点击“获取验证码”">
<input type="hidden" id="i18n-str-重置密码失败" value="重置密码失败">
<input type="hidden" id="i18n-str-注册失败" value="注册失败">
<input type="hidden" id="i18n-str-修改邮箱成功" value="修改邮箱成功">
<input type="hidden" id="i18n-str-修改邮箱失败" value="修改邮箱失败">
<input type="hidden" id="i18n-str-修改成功" value="修改成功">
<input type="hidden" id="i18n-str-修改失败" value="修改失败">
<input type="hidden" id="i18n-str-原手机号不正确" value="原手机号不正确">
<input type="hidden" id="i18n-str-验证成功" value="验证成功">
<input type="hidden" id="i18n-str-验证失败" value="验证失败">
<input type="hidden" id="i18n-str-订阅失败" value="订阅失败">
<input type="hidden" id="i18n-str-提交需求失败" value="提交需求失败">
<input type="hidden" id="i18n-str-取消收藏失败" value="取消收藏失败">
<input type="hidden" id="i18n-str-撤销失败" value="撤销失败">
<input type="hidden" id="i18n-str-简体中文quote中国quote" value="简体中文quote中国quote">
<input type="hidden" id="i18n-str-EnglishquoteUnitedblankKingdomquote" value="EnglishquoteUnitedblankKingdomquote">
<input type="hidden" id="i18n-str-收起" value="收起">
<input type="hidden" id="i18n-str-展开" value="展开">
<input type="hidden" id="i18n-str-任意城市" value="任意城市">
<input type="hidden" id="i18n-str-我想在" value="我想在">
<input type="hidden" id="i18n-str-的" value="的">
<input type="hidden" id="i18n-str-投资" value="投资">
<input type="hidden" id="i18n-str-comma价值为" value="comma价值为">
<input type="hidden" id="i18n-str-的房产comma投资意向为" value="的房产comma投资意向为">
<input type="hidden" id="i18n-str-period" value="period">
<input type="hidden" id="i18n-str-任意国家slash地区" value="任意国家slash地区">
<input type="hidden" id="i18n-str-任意房屋类型" value="任意房屋类型">
<input type="hidden" id="i18n-str-我想投资价值为" value="我想投资价值为">
<input type="hidden" id="i18n-str-确定" value="确定">
<input type="hidden" id="i18n-str-登录失败" value="登录失败">
<input type="hidden" id="i18n-str-性别不能为空" value="性别不能为空">
<input type="hidden" id="i18n-str-国家不能为空" value="国家不能为空">
<input type="hidden" id="i18n-str-更新成功" value="更新成功">
<input type="hidden" id="i18n-str-更新失败" value="更新失败">
<input type="hidden" id="i18n-str-移除失败" value="移除失败">
<input type="hidden" id="i18n-str-邮件已发送，如果没有收到，请在60秒后重试" value="邮件已发送，如果没有收到，请在60秒后重试">
<input type="hidden" id="i18n-str-发送验证邮件失败" value="发送验证邮件失败">
<input type="hidden" id="i18n-str-房间" value="房间">
<input type="hidden" id="i18n-str-卫生间" value="卫生间">
<input type="hidden" id="i18n-str-取消收藏" value="取消收藏">
<input type="hidden" id="i18n-str-撤销" value="撤销">
<input type="hidden" id="i18n-str-预期年租金" value="预期年租金">
<input type="hidden" id="i18n-str-收益率" value="收益率">
<input type="hidden" id="i18n-str-查看详情" value="查看详情">
<script>
window.i18n = function (name) {
   var input = document.getElementById('i18n-str-' + name)
   if (!input) { return name }
   return input.value
}
</script>