<!--[if lt IE 7]>
<div id="ie">
    <div id="ie-body">
        <h1>{{_('为了更好的体验，')}}<br>{{_('请升级浏览器')}}</h1>
        <p class="info">{{_('对不起，洋房东目前不支持旧版本的浏览器')}}<br>{{_('为了获得全面的使用体验')}}<br>{{_('请使用更新的浏览器！')}}</p>
        <div class="recommend">
            <h2>{{_('推荐')}}</h2>
            <ul class="clearfix">
                <li>
                    <a class="clearfix" href="https://www.google.com/chrome" title="{{_('点击下载Google Chrome浏览器')}}">
                        <img src="/static/images/media/chrome_icon.png" alt=""/>
                        <div>
                            <p class="name">Chrome</p>
                            <p class="company">Google</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="http://windows.microsoft.com/en-us/internet-explorer/ie-11-worldwide-languages" title="{{_('点击下载Microsoft Internet Explorer 11')}}">
                        <img src="/static/images/media/ie_icon.png" alt=""/>
                        <div>
                            <p class="name">Internet Explorer 11</p>
                            <p class="company">Microsoft</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<![endif]-->