<div class="renterService">
    <div class="category_wrapper">
        <!-- @@include=property_to_rent_selectors.html -->
        <div class="buttons">
            <button class="search ghostButton red" id="renterSearch">
                {{_('搜索')}}
            </button>
            <button class="mapSearch ghostButton red" id="renterMapSearch">
                <i class="icon-map_view">
                </i>
                <label for="">
                    {{_('地图搜索')}}
                </label>
            </button>
        </div>
    </div>
    <ul class="entrance">
        <li>
            <a href="/user-favorites">
                <i class="icon-faver"></i>
                <span>{{_('收藏的房产')}}</span>
            </a>
        </li>
        <li>
            <a href="/user-properties#contact">
                <i class="icon-phone_line"></i>
                <span>{{_('已经联系过房东的房产')}}</span>
            </a>
        </li>
    </ul>
    <div class="questionChooser_wrapper">
        <ul class="questionChooser">
            <li>
                <a href="/property-to-rent-list">
                    <div class="img_wrapper">
                        <i class="icon-building"></i>
                    </div>
                    <div class="text">
                        <h3 class="question">
                            {{_('找华人房东直租房源？')}}
                        </h3>
                        <label class="hint" for="">
                            {{_('开始找租房')}}
                        </label>
                    </div>
                </a>
            </li>
            <li>
                <a href="/requirement-rent">
                    <div class="img_wrapper">
                        <i class="icon-files_homepage"></i>
                    </div>
                    <div class="text last">
                        <h3 class="question">
                            {{_('提交求租需求？')}}
                        </h3>
                        <label class="hint" for="">
                            {{_('订阅心仪房源')}}
                        </label>

                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
