<div class="renterService">
    <div class="category_wrapper">
        <!-- @@include=property_to_rent_selectors.html -->
        <div class="buttons">
            <button class="search ghostButton red" id="renterSearch">
                {{_('搜索')}}
            </button>
            <button class="mapSearch ghostButton red" id="renterMapSearch">
                <i class="icon-map_view">
                </i>
                <label for="">
                    {{_('地图搜索')}}
                </label>
            </button>
        </div>
    </div>

    <div class="questionChooser_wrapper">
        <ul class="questionChooser">
            <li>
                <a href="/">
                    <i class="img_wrapper icon-building"></i>
                    <div class="text">
                        <h3 class="question">
                            {{_('找华人房源？')}}
                        </h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="img_wrapper icon-education"></i>
                    <div class="text">
                        <h3 class="question">
                            {{_('留学英国？')}}
                        </h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="img_wrapper icon-files_homepage"></i>
                    <div class="text last">
                        <h3 class="question">
                            {{_('帮你选房？')}}
                        </h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
