<div class="landlordService">
    <div class="publish">
        <h3 class="title">
            {{_('有海外房源要出租？')}}
        </h3>
        <label class="hint">
            {{_('使用洋房东平台为您带来极速租房发布体验，独有的专业街区报告，杂志般的房源移动主页！')}}
        </label>
        <a class="button red" href="/property-to-rent/create" target="_blank">
            <i class="icon-pc"></i>
            <label>
                {{_('使用网站发布')}}
            </label>
        </a>
    </div>

    <div class="publishInClient hiddenInNonClient">
        <h3 class="title">
            {{_('有海外房源要出租？')}}
        </h3>
        <label class="hint">
            {{!_('使用洋房东平台为您带来极速租房发布体验，独有的专业街区报告，杂志般的房源移动主页！')}}
        </label>
        %if is_mobile_client_version('>=', '1.1.1'):
            <a class="button red" href="yangfd://property-to-rent/create" data-need-bridge>
                <i class="icon-cellphone"></i>
                {{_('出租发布')}}
            </a>
        %else:
            <a class="button red" href="#" onclick="window.bridge.callHandler(&quot;createRentTicket&quot;);return false;" data-need-bridge>
                <i class="icon-cellphone"></i>
                {{_('出租发布')}}
            </a>
        %end
		<a class="scrollDown">
            <p>{{_('懒得自己发布？委托平台出租/出售我的房产')}}</p>
            <i class="icon-down_arrow1"></i>
        </a>
    </div>

    <div class="appDownload hiddenInClient">
        <!-- @@include =app_download_content.html -->
    </div>

    <div class="delegationRent">
        <h3 class="title">
            {{_('懒得自己发布？')}}<br class="hiddenOnPCWeb"/>{{_('洋房东委托出租/出售为您服务')}}
        </h3>
        <div class="clientInfo">
            <div class="avatar">
                <img src="/static/images/index/client_avatar.jpg" alt="avatar"/>
            </div>
            <p class="name">Michael Fassbender</p>
            <p class="info">YOUNGFUNDING <br class="hiddenOnMobile"/>Rental Manager</p>
        </div>
        <div class="rightWrap">
            <ol class="introductions">
                <li>
                    {{_('提交您的联系方式和房源位置，由平台通过landregistry核实房源归属')}}
                </li>
                <li>
                    {{_('房源发布到全英推广，让高大上的房源广告给您的房源提升身价')}}
                </li>
                <li>
                    {{_('平台经纪人帮你搞定带看，核实租客，租金收取，让您完全省心省力')}}
                </li>
                <li>
                    {{_('业内最低佣金比例')}}
                </li>
            </ol>
            <div class="buttonWrap">
                <a id="delegateRentButton" class="button red">
                    {{_('我要委托出租')}}
                </a>
                <a id="delegateSaleButton" class="button orange">
                    {{_('我要委托出售')}}
                </a>
            </div>
        </div>
    </div>
</div>
