<div class="renterService">
    <ul class="entrance hiddenOnPCWeb">
        <li>
            <a href="/user-favorites">
                <i class="icon-faver"></i>
                <span>{{_('我的收藏')}}</span>
            </a>
        </li><!--
        --><li>
            <a href="/user-properties#request">
                <i class="icon-phone_line"></i>
                <span>{{_('已咨询的房源')}}</span>
            </a>
        </li><!--
        --><li>
            <a data-action="requirementRent">
                <i class="icon-requirement_line"></i>
                <span>{{_('提交求租意向单')}}</span>
            </a>
        </li>
    </ul>
    <section class="rentFlow hiddenOnMobile">
        <a class="cell" href="/how-it-works/student-house#step1">
            <i class="icon icon-renter_search"></i>
            <h3>{{_('寻找心仪的')}}<br>{{_('学生公寓')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/student-house#step2">
            <i class="icon icon-renter_faq"></i>
            <h3>{{_('申请咨询')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/student-house#step3">
            <i class="icon icon-check_rooms"></i>
            <h3>{{_('确认户型')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/student-house#step4">
            <i class="icon icon-contract"></i>
            <h3>{{_('预订房源')}}<br>{{_('并签署租赁合约')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/student-house#step5">
            <i class="icon icon-renter_check"></i>
            <h3>{{_('入住确认')}}</h3>
        </a>
    </section>
    <a class="flow" href="/how-it-works/student-house">{{_('查看详细流程')}} <span class="hiddenOnMobile">></span></a>
</div>
