<div class="landlordService">
    <div class="publish">
        <h3 class="title">
            {{_('有海外房源要出租？')}}
        </h3>
        <label class="hint">
            {{_('使用洋房东平台为您带来极速租房发布体验，独有的专业街区报告，杂志般的房源移动主页！')}}
        </label>
        <button class="button red">
            <i class="icon-pc"></i>
            <label>
                {{_('使用网站发布')}}
            </label>
        </button>
    </div>

    <div class="publishInClient hiddenInNonClient">
        <h3 class="title">
            {{_('有海外房源要出租？')}}
        </h3>
        <label class="hint">
            {{!_('使用洋房东平台为您带来极速租房发布体验，独有的专业街区报告，杂志般的房源移动主页！')}}
        </label>
        <a class="button red" href="#" onclick="window.bridge.callHandler(&quot;createRentTicket&quot;);return false;" data-need-bridge>
            <i class="icon-cellphone"></i>
            {{_('出租发布')}}</a>
    </div>

    <div class="appDownload hiddenInClient">
        <!-- @@include =app_download_content.html -->
    </div>
</div>
