<div class="renterService">
    <div class="hotCities hiddenOnMobile">
        <h2>{{_('热门城市')}}</h2>
        <ul>
            % for item in hot_city_list:
            <li style="background-image: url('/static/images/index/image_{{item.get('name','').lower()}}.png')">
                <a href="/property-to-rent-list?city={{item.get('id', '')}}&cityName={{item.get('name', '')}}"><p>{{item.get('name').upper()}}</p></a>
            </li>
            % end
        </ul>
    </div>
    <ul class="entrance hiddenOnPCWeb">
        <li>
            <a href="/user-favorites">
                <i class="icon-faver"></i>
                <span>{{_('我的收藏')}}</span>
            </a>
        </li><!--
        --><li>
            <a href="/user-properties#request">
                <i class="icon-phone_line"></i>
                <span>{{_('已咨询的房源')}}</span>
            </a>
        </li><!--
        --><li>
            <a data-action="requirementRent">
                <i class="icon-requirement_line"></i>
                <span>{{_('提交求租意向单')}}</span>
            </a>
        </li>
    </ul>
    <section class="rentFlow hiddenOnMobile">
        <a class="cell" href="/how-it-works/tenant#step1">
            <i class="icon icon-renter_search"></i>
            <h3>{{_('寻找心仪房源')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/tenant#step2">
            <i class="icon icon-renter_faq"></i>
            <h3>{{_('申请咨询')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/tenant#step3">
            <i class="icon icon-renter_video_live"></i>
            <h3>{{_('视频看房')}}<br>{{_('预定房源')}}</h3>
        </a><!--
        --><i class="arrow icon-renter_arrow_right"></i><!--
        --><a class="cell" href="/how-it-works/tenant#step4">
            <i class="icon icon-renter_check"></i>
            <h3>{{_('入住确认')}}</h3>
        </a>
    </section>
    <a class="flow" href="/how-it-works/tenant">{{_('查看详细流程')}} <span class="hiddenOnMobile">></span></a>

</div>
