<div data-tab-name="stable_cashflow">
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('填写投资预算、国家和地区')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“现金流保障”标签筛选出合适出租的房产')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('提交投资意向，获取详细街区投资分析信息，包括附近就业，流动人口等')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('在置业顾问的协助下完成房产购买')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('由平台英国合作方提供售后出租管理服务，按季度给您打入租金')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="study_aboard">
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('填写子女留学学校/国家/城市/以及家庭预算')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“子女留学”标签筛选出平台提供学校附近的现房')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('对心仪房产提交投资意向，获取街区投资分析信息，包括周围学校及排名')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('由我们置业顾问联系并解答留学租房相关的问题')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('置业顾问协助办理购房手续，安排子女参观入住，如果有需要协助子女出租')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="immigration_investment">
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('选定要移民的国家和城市')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“移民投资”标签筛选出平台提供的符合移民投资标准的房产')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('提交投资意向，获取街区投资分析信息')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('联系置业顾问，安排预定房源，办理和看房手续，安排移民律师事宜')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('置业顾问协助办理购房手续')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="excess_earnings">
    <div class="processCard count-4">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('提交置业投资预算')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“超额收益”标签筛选出平台提供的期房，可以用金融杠杆的现房以及旧房改造后升值的房子')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('提交置业需求查看详细报告，包括区域规划信息等')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('联系置业顾问 并安排办理购房手续')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="asset_preservation">
    <div class="processCard count-4">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('提交置业投资预算')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“资产保值”标签筛选出平台提供期房 永久性产权，在核心区域内的房子')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('注册提交置业需求查看详细报告')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('联系置业顾问 并安排办理购房手续')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="live_after_immigration">
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('选定要移民的国家和城市')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“移民投资”标签筛选出平台提供的生活服务设施齐全，常驻人口较多的， 犯罪率较低，交通比较便利的房子')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('提交投资意向，获取街区投资分析信息')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('联系置业顾问，安排预定房源 办理和看房手续')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('置业顾问协助办理购房手续')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="leisure_property">
    <div class="processCard count-4">
        <div class="line"></div>
        <ol>
            <li>
                <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('提交置业投资预算')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('按“度假旅行”标签筛选出平台提供有酒店房包租的房子')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('注册提交置业需求查看详细报告 流动人口数，旅游资讯')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('联系置业顾问 并安排办理购房手续')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
