% def get_intention_description(intention_id):
%if intention_list:
    %for intention in intention_list:
        %if (intention.get('id') == intention_id):
        %    return intention.get('description')
        %end
    %end
%end
% return ''
%end

% def get_intention_title(intention_id):
%if intention_list:
%for intention in intention_list:
%if (intention.get('id') == intention_id):
%    return intention.get('value')
%end
%end
%end
% return ''
%end


<div data-tab-name="rental_guarantee" style="display:none;">
    <div class="processInfo">
        <i class="icon-category_a"></i>
        <p>
            {{get_intention_description('540aecb86b809957816154dc')}}
        </p>
        <a class="ghostButton red" href="/property_list?intention=540aecb86b809957816154dc">
            {{_('查看平台上的')}}{{get_intention_title('540aecb86b809957816154dc')}}
        </a>
    </div>
    <div class="processCard count-4">
        <div class="line"></div>
        <ol>
            <li>
                <i class="icon-select "></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('查看平台上的‘包租房’')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-tag_icon"></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('在洋房东置房顾问的协助下，完成购买')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-submit"></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('周期性坐享稳定租金收益')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i class="icon-house_account"></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('在线查看和管理已购买房产状况及租金收益')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="school_nearby_house" style="display:none;">
     <div class="processInfo">
         <i class="icon-category_b"></i>
        <p >
            {{get_intention_description('540aecda6b809957816154de')}}
        </p>
        <a class="ghostButton red" href="/property_list?intention=540aecda6b809957816154de">
            {{_('查看平台上的')}}{{get_intention_title('540aecda6b809957816154de')}}
        </a>
    </div>
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i class="icon-select "></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('查看平台上的‘学区房’')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-tag_icon"></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('系统会帮您筛选出热门学校周边所有的房源')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-submit"></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('挑选心仪房产并在洋房东协助下完成购买')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-house_account"></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('投资者可自住或选择洋房东提供的租房服务')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i class="icon-coin_hiw"></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('在线查看和管理已购买房产状况及租金收益')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="off_plan_property" style="display:none;">
    <div class="processInfo">
        <i class="icon-category_e"></i>
        <p>
            {{get_intention_description('540aecfc6b809957816154e0')}}
        </p>
        <a class="ghostButton red" href="/property_list?intention=540aecfc6b809957816154e0">
            {{_('查看平台上的')}}{{get_intention_title('540aecfc6b809957816154e0')}}
        </a>
    </div>
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i class="icon-select "></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('查看平台上的‘期房’')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-tag_icon"></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('系统会帮您筛选出所有蕴藏潜力的期房投资机会和街区分析报告')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-submit"></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('在洋房东置房顾问的协助下，支付首付')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-house_account"></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('按照开发商合同支付尾款')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i class="icon-coin_hiw"></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('在线查看和关注已购买房产的市场增值收益数据')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
<div data-tab-name="existing_property" style="display:none;">
    <div class="processInfo">
        <i class="icon-category_d"></i>
        <p >
             {{get_intention_description('540aed1c6b809957816154e3')}}
        </p>
        <a class="ghostButton red" href="/property_list?intention=540aed1c6b809957816154e3">
            {{_('查看平台上的')}}{{get_intention_title('540aed1c6b809957816154e3')}}
        </a>
    </div>
    <div class="processCard count-5">
        <div class="line"></div>
        <ol>
            <li>
                <i class="icon-select "></i>
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{_('查看平台上的‘居住现房’')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-tag_icon"></i>
                <table class="up">
                    <tr>
                        <td>2</td>
                        <td>{{_('查看周边设施，选择心仪房产')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-submit"></i>
                <table>
                    <tr>
                        <td>3</td>
                        <td>{{_('在洋房东置房顾问的协助下，完成购买')}}</td>
                    </tr>
                </table>
            </li>
            <li>
                <i class="icon-house_account"></i>
                <table class="up">
                    <tr>
                        <td>4</td>
                        <td>{{_('投资者可自住或选择洋房东提供的租房服务')}}</td>
                    </tr>
                </table>
            </li>
            <li class="green">
                <i class="icon-coin_hiw"></i>
                <table>
                    <tr>
                        <td>5</td>
                        <td>{{_('在线管理已购买房产状况以及租金收益')}}</td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>
</div>
