<div data-tabs>
    <div class="row intention">
        <label class="title">投资意向：</label>
        <ul class="controls">
            %for index, intention in enumerate(_i18n(intention_list)):
            <li style="width: {{99.99/len(intention_list)}}%" data-tab="{{intention.get('slug','')}}"
                data-id="{{intention.get('id')}}"
                data-value="{{intention.get('value')}}">
                <input id="{{intention.get('id')}}" name="intention" type="checkbox" value="{{intention.get('id')}}"/>
                <label for="{{intention.get('id')}}">
                    <img class="grey" src="/static/images/intention/icon/{{intention.get('slug')}}-grey.png" alt="{{intention.get('value')}}"/>
                    <img class="red" src="/static/images/intention/icon/{{intention.get('slug')}}-red.png" alt="{{intention.get('value')}}"/>
                </label>
                <label for="{{intention.get('id')}}">{{intention.get('value')}}</label>
            </li>
            %end
        </ul>
    </div>
    <div class="details">
        <div data-tab-name="stable_cashflow">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('填写投资预算、国际和地区')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('按“现金流保障”标签筛选出合适出租的房产')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('提交投资意向，获取详细街区投资分析信息，包括附近就业，流动人口等')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('在置业顾问的协助下完成房产购买')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('由平台英国合作方提供售后出租管理服务，按季度给您打入租金')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="study_aboard">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="immigration_investment">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="excess_earnings">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="asset_preservation">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="live_after_immigration">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
        <div data-tab-name="leisure_property">
            <div class="processCard count-5">
                <div class="line"></div>
                <ol>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-profile.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>1</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-tag.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>2</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-report.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>3</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <i><img src="/static/images/intention/icon/icon-house.png" alt=""/></i>
                        <table class="up">
                            <tr>
                                <td>4</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                    <li class="green">
                        <i><img src="/static/images/intention/icon/icon-pig.png" alt=""/></i>
                        <table>
                            <tr>
                                <td>5</td>
                                <td>{{_('????????')}}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
