<!--@@include i18n.html-->
<script>
    window.lang = "{{_.lang}}"
    window.currency = "{{_.currency}}"
</script>

<!-- jQuery-->
<!--[if !IE]>-->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->
<!--[if IE]>
<script src="/static/bower_components/jquery-1.11.0/dist/jquery.min.js"></script>
<![endif]-->
<script src="/static/bower_components/jquery-migrate/jquery-migrate.min.js"></script>
<!-- /jQuery-->

<!--build:js /static/vendors/ie_fix.js -->
<!--[if lte IE 8]>
<script src="/static/vendors/jquery.placeholder.js"></script>
<script src="/static/bower_components/es5-shim/es5-shim.min.js"></script>
<script src="/static/bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!--endbuild-->

<!--[if lte IE 8]>
<script>
    $('input,textarea').placeholder()
</script>
<![endif]-->


<!--build:js /static/scripts/dependencies.js-->
<script src="/static/vendors/jquery.serializeObject.js"></script>
<script src="/static/vendors/jquery.validate.js"></script>
<script src="/static/vendors/jquery.cookie.min.js"></script>
<script src="/static/bower_components/base64/base64.min.js"></script>
<script src="/static/bower_components/underscore/underscore-min.js"></script>
<script src="/static/vendors/jquery.tabs.js"></script>
<script src="/static/vendors/jquery.modal/jquery.modal.js"></script>
<script src="/static/bower_components/jquery-dateFormat/dist/jquery-dateFormat.min.js"></script>
<script src="/static/bower_components/responsive_slides/jquery.responsive-slides.js"></script>
<script src="/static/vendors/browser_update.js"></script>

<script src="/static/scripts/get_i18n_string.js"></script>
<script src="/static/scripts/team.js"></script>
<script src="/static/scripts/project.js"></script>
<script src="/static/scripts/data_type.js"></script>
<script src="/static/scripts/better_ajax.js"></script>
<script src="/static/scripts/underscore_settings.js"></script>
<script src="/static/scripts/jquery_modal_settings.js"></script>

<!--<script src="/static/scripts/zoho.js"></script>-->

<!--endbuild-->


<script>
 $(function () {
     //http://stackoverflow.com/questions/9413737/how-to-append-script-script-in-javascript
     $('body').append('<script src="/static/scripts/track.js"><\/script>')
 })
</script>




