
<!-- jQuery-->
<!--[if !IE]>-->
<script src="/static/themes/genius_dashboard/js/jquery-2.1.0.min.js"></script>
<!--<![endif]-->
<!--[if IE]>
<script src="/static/themes/genius_dashboard/js/jquery-1.11.0.min.js"></script>
<![endif]-->
<script src="/static/themes/genius_dashboard/js/jquery-migrate-1.2.1.min.js"></script>
<!-- /jQuery-->

<!--[if lte IE 8]>
<script src="/static/vendors/jquery.placeholder.js"></script>
<script src="/static/vendors/es5-shim.min.js"></script>
<script src="/static/vendors/json3.min.js"></script>
<![endif]-->

<!--[if lte IE 8]>
<script>
    $('input,textarea').placeholder()
</script>
<![endif]-->


<!--build:js /static/scripts/dependencies.js-->

<script src="/static/vendors/jquery.serializeObject.js"></script>
<script src="/static/vendors/jquery.validate.js"></script>
<script src="/static/vendors/jquery.cookie.min.js"></script>
<script src="/static/vendors/base64.min.js"></script>
<script src="/static/vendors/underscore-min.js"></script>
<script src="/static/vendors/jquery.tabs.js"></script>
<script src="/static/vendors/jquery.modal/jquery.modal.js"></script>
<script src="/static/vendors/responsive_slides/responsiveslides.js"></script>


<script src="/static/scripts/team.js"></script>
<script src="/static/scripts/project.js"></script>

<!--endbuild-->


<script>
    $.each(['Post', 'Get'], function (index, key) {
        var newName = 'better' + key
        var oldName = key.toLowerCase()
        var hiddenName = '_' + oldName
        $[hiddenName] = $[oldName]
        $[oldName] = function () {
            console && console.log(['Please use', '$.' + newName + '()', 'instead of', '$.' + oldName + '()'].join(' '))
            return $[hiddenName].apply($, arguments)
        }
        $['better' + key] = function () {
            var deferred = $.Deferred()
            $[hiddenName].apply($, arguments).done(function (data, textStatus, jqXHR) {
                if (data.ret !== undefined) {
                    if (data.ret === 0) {
                        deferred.resolve(data.val)
                    } else {
                        deferred.reject(data.ret)
                    }
                } else {
                    deferred.resolve(data, textStatus, jqXHR)
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                deferred.reject(jqXHR.status)
            })
            return deferred.promise()
        }
    })

    _.templateSettings = {
        evaluate: /{_([\s\S]+?)_}/g,
        interpolate: /{!([\s\S]+?)!}/g,
        escape: /{=([\s\S]+?)=}/g
    }
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55542465-1', 'auto');
    ga('send', 'pageview');

    //Enable Google User-ID feature if is existing user
    if(window.user){
        ga('set', '&uid', window.user.id) // Set the user ID using signed-in user_id.
    }
</script>



