<!-- jQuery-->
<!--[if !IE]>-->
<script src="/static/themes/genius_dashboard/js/jquery-2.1.0.min.js"></script>
<!--<![endif]-->
<!--[if IE]>
<script src="/static/themes/genius_dashboard/js/jquery-1.11.0.min.js"></script>
<![endif]-->
<script src="/static/themes/genius_dashboard/js/jquery-migrate-1.2.1.min.js"></script>
<!-- /jQuery-->

<!--[if lte IE 8]>
<script src="/static/vendors/jquery.placeholder.js"></script>
<script>
    $('input,textarea').placeholder()
</script>
<![endif]-->


<!--build:js /static/scripts/dependencies.js-->

<script src="/static/vendors/jquery.serializeObject.js"></script>
<script src="/static/vendors/jquery.validate.js"></script>
<script src="/static/vendors/base64.min.js"></script>
<script src="/static/vendors/underscore-min.js"></script>

<script src="/static/scripts/team.js"></script>
<script src="/static/scripts/project.js"></script>

<!--endbuild-->


