<script type="text/template" id="locationFilter">
    <span>{{_('我想住在')}}</span>
    <div class="selectWrap">
    <select class="ghostSelect" name="propertyCountry">
    <option value="" selected>{{_('任意国家/地区')}}</option>
    %for index, country in enumerate(property_country_list):
    <option value="{{country.get('code')}}"
    %if country.get('code') == 'GB':
    selected
    %end
    >{{get_country_name_by_code(country.get('code'))}}</option>
    %end
    </select>
    </div>
    <span>{{_('的')}}</span>
    <hr class="separator_phone"/>
    <div class="selectWrap selectCityWrap">
    <select class="ghostSelect" name="propertyCity">
    <option value="" selected>{{_('任意城市')}}</option>
    %for index, city in enumerate(property_city_list):
    <option value="{{city.get('id')}}">{{city.get('name')}}</option>
    %end
    </select>
    </div>
    <hr class="separator_phone"/>
    <span>{{_('的')}}</span>
    <div class="selectWrap selectNeighborhoodSubwaySchoolWrap">
    <select class="ghostSelect" name="parent">
    <option value="" disabled selected>{{_('街区/地铁/学校')}}</option>
    <option class="rightArrow" value="neighborhood">{{_('街区')}}</option>
    <option class="rightArrow" value="subwayLine">{{_('地铁')}}</option>
    <option class="rightArrow" value="school">{{_('学校')}}</option>
    </select>
    <select class="ghostSelect" name="neighborhood" data-serialize="maponics_neighborhood" style="display: none;" data-placeholder="{{_('街区列表加载中...')}}">
    </select>
    <select class="ghostSelect" name="subwayLine" style="display: none;" data-placeholder="{{_('地铁线列表加载中...')}}">
    </select>
    <select class="ghostSelect" name="subwayStation" style="display: none;" data-placeholder="{{_('地铁站列表加载中...')}}">
    </select>
    <select class="ghostSelect" name="school" data-serialize="hesa_university" style="display: none;" data-placeholder="{{_('学校列表加载中...')}}">
    </select>
    </div>
    <span>{{_('附近')}}</span>
    <button class="search button red" data-bind="click: search">
    {{_('搜索')}}
    </button>
</script>