<div id="data_localization" style="display:none">
    <span id="姓名不能为空">{{_('姓名不能为空')}}</span>
    <span id="电话不能为空">{{_('电话不能为空')}}</span>
    <span id="电话格式不正确">{{_('电话格式不正确')}}</span>
    <span id="邮箱不能为空">{{_('邮箱不能为空')}}</span>
    <span id="邮箱格式不合法">{{_('邮箱格式不合法')}}</span>
    <span id="姓名">{{_('姓名')}}</span>
    <span id="电话">{{_('电话')}}</span>
    <span id="邮箱">{{_('邮箱')}}</span>
    <span id="验证码不为空">{{_('验证码不为空')}}</span>
    <span id="密码不为空">{{_('密码不为空')}}</span>
    <span id="订阅失败">{{_('订阅失败')}}</span>
    <span id="提交需求失败">{{_('提交需求失败')}}</span>
    <span id="任意国家slash地区">{{_('任意国家/地区')}}</span>
    <span id="任意城市">{{_('任意城市')}}</span>
    <span id="任意房屋类型">{{_('任意房屋类型')}}</span>
    <span id="登录失败">{{_('登录失败')}}</span>
    <span id="注册失败">{{_('注册失败')}}</span>
    <span id="重置密码失败">{{_('重置密码失败')}}</span>
    <span id="房间">{{_('房间')}}</span>
    <span id="卫生间">{{_('卫生间')}}</span>
    <span id="预估总newline年化收益率">{{!_('预估总<br/>年化收益率')}}</span>
    <span id="预估现金newline年化收益率">{{!_('预估现金<br/>年化收益率')}}</span>
    <span id="查看详情">{{_('查看详情')}}</span>
    <span id="修改邮箱失败">{{_('修改邮箱失败')}}</span>
    <span id="修改邮箱成功">{{_('修改邮箱成功')}}</span>
    <span id="发送验证邮件失败">{{_('发送验证邮件失败')}}</span>
    <span id="邮件已发送，如果没有收到，请在60秒后重试">{{_('邮件已发送，如果没有收到，请在60秒后重试')}}</span>
    <span id="请点击“获取验证码”">{{_('请点击“获取验证码”')}}</span>
    <span id="更新成功">{{_('更新成功')}}</span>
    <span id="更新失败">{{_('更新失败')}}</span>
    <span id="取消收藏">{{_('取消收藏')}}</span>
    <span id="取消收藏失败">{{_('取消收藏失败')}}</span>
    <span id="撤销失败">{{_('撤销失败')}}</span>
    <span id="移除失败">{{_('移除失败')}}</span>
    <span id="撤销">{{_('撤销')}}</span>
    <span id="确定">{{_('确定')}}</span>
    <span id="展开">{{_('展开')}}</span>
    <span id="收起">{{_('收起')}}</span>
    <span id="修改成功">{{_('修改成功')}}</span>
    <span id="修改失败">{{_('修改失败')}}</span>
    <span id="验证成功">{{_('验证成功')}}</span>
    <span id="验证失败">{{_('验证失败')}}</span>
    <span id="性别不能为空">{{_('性别不能为空')}}</span>
    <span id="国家不能为空">{{_('国家不能为空')}}</span>
    <span id="修改">{{_('修改')}}</span>
    <span id="原手机号不正确">{{_('原手机号不正确')}}</span>
    <span id="原手机号不能为空">{{_('原手机号不能为空')}}</span>
    <span id="原手机号格式不正确">{{_('原手机号格式不正确')}}</span>
    <span id="当前密码不能为空">{{_('当前密码不能为空')}}</span>
    <span id="确认密码不能为空">{{_('确认密码不能为空')}}</span>
    <span id="新密码和确认密码输入不一致">{{_('新密码和确认密码输入不一致')}}</span>

    <span id="EnglishquoteUnitedblankKingdomquote">{{_('English (United Kingdom)')}}</span>
    <span id="简体中文quote中国quote">{{_('简体中文(中国)')}}</span>
    <span id="我想在">{{_('我想在')}}</span>
    <span id="的">{{_('的')}}</span>
    <span id="投资">{{_('投资')}}</span>
    <span id="comma价值为">{{_('，价值为')}}</span>
    <span id="的房产comma投资意向为">{{_('的房产，投资意向为')}}</span>
    <span id="period">{{_('。')}}</span>
    <span id="我想投资价值为">{{_('我想投资价值为')}}</span>

    <span id="stable_cashflow_description">{{_('现金流保障介绍')}}</span>
    <span id="study_abroad_description">{{_('子女留学介绍')}}</span>
    <span id="immigration_investment_description">{{_('移民投资介绍')}}</span>
    <span id="excess_earnings_description">{{_('超额收益介绍')}}</span>
    <span id="asset_preservation_description">{{_('资产保值介绍')}}</span>
    <span id="live_after_immigration_description">{{_('移民自住介绍')}}</span>
    <span id="leisure_property_description">{{_('度假旅行介绍')}}</span>


    <span id="unknown_error">{{_('服务器忙，请稍后重试。')}}</span>

</div>

<script>


    window.i18n = function (key) {
        return $('#data_localization #' + key).text()
    }

    window.getErrorMessage = function (domName, validator) {
        var inputMessageDic = {
            'nickname_required': '姓名不能为空',
            'phone_required': '电话不能为空',
            'phone_number': '电话格式不正确',
            'email_required': '邮箱不能为空',
            'email_email': '邮箱格式不合法',
            'code_required': '验证码不能为空',
            'password_required': '密码不能为空',
            'old_phone_required': '原手机号不能为空',
            'old_phone_number': '原手机号格式不正确',
            'old_password_required': '当前密码不能为空',
            'confirm_password_required': '确认密码不能为空',
            'confirm_password_sameAs': '新密码和确认密码输入不一致'
        }
        return i18n(inputMessageDic[ domName + '_' + validator])
    }


</script>
