<div id="main_house_type_popup" class="main_house_type_popup" style="display: none">
    <div id="main_house_type_popup_shadow" class="main_house_type_popup_shadow"></div>
    <div class="main_house_type_wrapper">

        <div class="main_house_type_header" style="cursor: default;">
            <h1 class="main_house_type_name"></h1>
            <a href="javascript:window.closeMainHouseType()" class="main_house_type_close">
                <img id="main_house_type_close" src="/static/images/property_details/close.png"/>
            </a>
        </div>
        <div id="main_house_type" class="main_house_type">
            <a href="javascript:window.preMainHouseType()" class="main_house_type_slide prev">&lt;</a>
            <div class="main_house_type_pic">
                <img class="main_house_type_floorplan" src="" alt="" onerror="window.onImgError(this);"/>
            </div>
            <div class="main_house_type_info">
                <div>
                    <div class="table_wrapper">
                        <table class="text">

                        </table>
                    </div>
                </div>
                <div class="space">
                    <span class="name">{{_('面积')}}</span>
                    <span class="value"></span>
                </div>
                <div class="price">
                    <span class="name">{{_('参考售价')}}</span>
                    <span class="value"></span>
                </div>
                <div class="description">
                    <span class="name">{{_('户型解析')}}</span>
                    <span class="value"></span>
                </div>
            </div>
            <a href="javascript:window.nextMainHouseType()" class="main_house_type_slide next">&gt;</a>
        </div>
    </div>

</div>
