<form class="intentionForm calculator" name="mortgageForm">
    <div class="row">
        <!--partial include must be in seperate line for translation extract-->
        <label class="label">{{_('购房总价')}} (
            <!--@@include=current_currency.html -->
            )</label>
        %if not bool(property) and property.get('type') and property.get('type').get('slug'):
            % if property.get('type').get('slug') == 'new_property' or property.get('type').get('slug') == 'student_housing':
                <input name="_total" type="text" placeholder=""
                       data-type="currency"
                       data-validator="decimal, trim, required"
                       data-message-required="{{_('必填')}}"
                       data-message-decimal="{{_('必须为数字')}}"/>
            % else:
                <input name="_total" type="text" placeholder=""
                       data-type="currency"
                       value="{{int(float(property.get('total_price',{}).get('value'))) if 'total_price' in property else ''}}"
                       data-validator="decimal, trim, required"
                       data-message-required="{{_('必填')}}"
                       data-message-decimal="{{_('必须为数字')}}"/>
            % end

        %else:
            <input name="_total" type="text" placeholder=""
                   data-type="currency"
                   data-validator="decimal, trim, required"
                   data-message-required="{{_('必填')}}"
                   data-message-decimal="{{_('必须为数字')}}"/>
        %end
    </div>
    <div class="row">
        <label class="label">{{_('首付款')}} (
            <!--@@include=current_currency.html -->
            )</label>
        <input name="_down_payment" type="text" placeholder=""
               data-type="currency"
               data-message-required="{{_('必填')}}"
               data-validator="decimal, trim, required" data-message-decimal="{{_('必须为数字')}}"/>
    </div>
    <div class="row">
        <label class="label">{{_('贷款金额')}} (
            <!--@@include=current_currency.html -->
            )</label>
        <input readonly name="loan" type="text" placeholder=""
               data-type="currency"
               data-message-required="必填"
               data-validator="decimal, trim, required" data-message-decimal="{{_('必须为数字')}}"/>
    </div>
    <div class="row">
        <label class="label">{{_('贷款利率')}}
            (
            <a class="link" target="_blank" href="http://www.moneysupermarket.com/mortgages/search/results/?goal=MOR_BTL">{{_('更多贷款选择')}}</a> )
        </label>
        <div class="inputAddOn">
            <input name="rate" type="text" placeholder=""
                   data-message-required="{{_('必填')}}"
                   data-validator="decimal, trim, required" data-message-decimal="{{_('必须为数字')}}"/>
            <span class="addOn">%</span>
        </div>
    </div>
    <div class="row">
        <label class="label">{{_('贷款年限')}}</label>
        <input name="term" type="text" placeholder=""
               data-message-required="{{_('必填')}}"
               data-validator="number, trim, required" data-message-decimal="{{_('必须为整数')}}"/>
    </div>
    <div class="row">
        <label class="label">{{_('还款类型')}}</label>
        <select name="_type" data-validator="required"
                data-message-required="{{_('必填')}}"
                >
            <option value="repayment">{{_('本息按揭')}}</option>
            <option value="interestonly">{{_('仅还利息')}}</option>
        </select>
    </div>
    <div class="action">
        <button type="submit" class="flatButton ajaxButton">{{_('计算贷款')}}</button>
    </div>
    <a class="link process_guide" target="_blank" href="/news/545c9019ec0e01024c586f53">{{_('贷款流程')}}</a>
    <hr id="mortgageResultSeperator" style="display:none"/>
    <div class="table_wrapper" data-ui="result" style="display: none;">
        <table>
            <colgroup>
                <col class="col-name">
                <col class="col-value">
            </colgroup>
            <tr>
                <td class="name">{{_('总支付利息')}}</td>
                <td class="value">
                    <!--@@include=current_currency_sympol.html -->
                    <span data-name="total_interest"></span></td>
            </tr>
            <tr>
                <td class="name">{{_('本息合计')}}</td>
                <td class="value">
                    <!--@@include=current_currency_sympol.html -->
                    <span data-name="total"></span></td>
            </tr>
            <tr>
                <td class="name">{{_('每月还款')}}</td>
                <td class="value">
                    <!--@@include=current_currency_sympol.html -->
                    <span data-name="monthly"></span></td>
            </tr>
        </table>
    </div>
</form>
