<script type="text/template" id='kot-payment-card-tpl'>
    <div class="contentHeader">
        <h1>{{_('支付')}}</h1>
    </div>
    <span id="cardData" style="display: none">
        [
            {
                "type": "visa", 
                "isdefault": false, 
                "time": 1413677620.08, 
                "cardNumber": "6666 7777 8888 9999", 
                "id": "54430234915da40566a3ab9d"
            }, {
                "type": "AE", 
                "isdefault": true, 
                "text": "321", 
                "time": 1412160623.186, 
                "cardNumber": "0000 2222 3333 8888", 
                "id": "542bdc70c6e47b193ebebc1d"
            }]
    </span>
    <div class="list_wrapper">
        <div class="clearfix">
            <div class="list" data-bind="foreach: cardList">
                <div class="cardListItems" data-bind="style: {backgroundImage: 'url(/static/images/card/payment_' + type + '.png)'}">
                    <i class="icon-round_delete remove" data-bind="click: $parent.removeCard"></i>
                    <div class="setting-default" data-bind="visible: isdefault, click: $parent.settingDefault">default payment</div>
                    <div class="cardNumber" data-bind="text: cardNumber"></div>
                </div>
            </div>
            <div class="cardListItems" style="margin-right: 0">
                <span class="addCardBtn" data-bind="click: togglePaymentForm"><i class="icon-add"></i>ADD PAYMENT</span>
            </div>
        </div>
        

        <div class="modal-pay-card" data-bind="visible: paymentForm">
            <form action="">
                <div class="modal-body">
                    <div class="row">
                        <input class="inputWrapper cardNO" type="text" placeholder="Card number" data-bind="value: cardNumber" required>
                        <input class="inputWrapper" type="text" placeholder="Name on card" data-bind="value: cardName" required>
                    </div>
                    <div class="row">
                        <span class="text">Expiration Date</span>
                        <select class="ghostSelect" data-bind="chosen: expiryYearList,
                        optionsText: function(item){return item},
                        value: expiryYear"></select>
                        <select class="ghostSelect" data-bind="chosen: expiryMonthList,
                        optionsText: function(item){return item},
                        value: expiryMonth"></select>
                        <input class="inputWrapper" type="text" placeholder="Code (CVV)" data-bind="value: cardCVC" required>
                    </div>
                    <div class="row">
                        <textarea id="countryData" style="display: none;">
                            {{json_dumps(country_list)}}
                        </textarea>
                        <span class="text">Country</span>
                        <select name="countrySelect" class="countrySelect ghostSelect"  data-bind="chosen: countryCodeList,
                        optionsText: function(item){return item.name},
                        value: country"></select>
                        <input class="inputWrapper" type="text" placeholder="Postal Code" data-bind="value: cardPostalCode" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{{_('提交')}}</button>
                    <p class="addContactWrap">
                        <input type="checkbox" id="agree" checked="checked"><label class="addContactLabel" for="agree">I agree with <a href="">terms of payment</a></label>
                    </p>
                </div>
            </form>
        </div>
    </div>
</script>