<div class="phone form_row">
    <img src="/static/images/signin/phone-active.png" alt=""/>
    %if country_list:
    <select name="country" class=addLeft>
        % for country in country_list:
            % if country.get('code') == 'GB':
                <option value="{{country.get('code')}}"
                % if country.get('code') == user.get('country',{}).get('code') if user and user.get('country') else None:
                selected
                %end
                >
                    (+44) {{get_country_name_by_code(country.get('code'))}}
                </option>
                % country_list.remove(country)
            %end
        %end

        %for index, country  in enumerate(country_list):
        <option value="{{country.get('code')}}"
            % if country.get('code') == user.get('country',{}).get('code') if user and user.get('country') else None:
            selected
            %end
            >
            %if country.get('code') == 'CN':
            (+86)
            %elif country.get('code') == 'GB' :
            (+44)
            %elif country.get('code') == 'US' :
            (+1)
            %elif country.get('code') == 'HK' :
            (+852)
            %end
            {{get_country_name_by_code(country.get('code'))}}
        </option>
        %end
    </select>
    %end
    <span class=vr></span>
    <input name="phone" type="tel" size=20 data-validator="required, trim, number" placeholder="{{_('手机')}}">
</div>
