<!--在Web上新建出租房信息和编辑出租房信息都共用这个模板-->
<textarea id="countryData" style="display: none">
    {{json_dumps(country_list)}}
</textarea>
<textarea id="rentTicketData" style="display: none">
    {{json_dumps(rent)}}
</textarea>
<div class="route editRoute" data-route="step1" style="display: none">
    <div class="mainTitle">{{_('房屋出租')}}</div>
    <div class="content">
        <div class="step">
            <div class="line"></div>
            <div class="start">
                <div class="main">
                    <img src="/static/images/customer/ico_step_1_write.png">
                    <div>
                        {{_('填写详情')}}
                    </div>
                </div>
            </div>
            <div class="end">
                <div class="main">
                    <img src="/static/images/customer/ico_step_1_show.png">
                    <div>
                        {{_('预览发布')}}
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <form id="form1">
            <div class="detail clearfix">
                <table class="information">
                    <tr>
                        <th colspan="2" style="text-align: left;font-weight: normal;">
                            <div class="subtitle">{{_('基本信息')}}</div>
                        </th>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('房东类型')}}</div>
                        </td>
                        <td>
                            <select id="landlordType" data-validator="required" data-name="{{_('房东类型')}}" style="width: 230px;">
                                %for index, landlord_type in enumerate(landlord_type_list):
                                    %if (rent.get('landlord_type',{}).get('id','')==landlord_type.get('id')):
                                    <option selected value="{{landlord_type.get('id')}}" data-slug="{{landlord_type.get('slug')}}">{{landlord_type.get('value')}}</option>
                                    %else:
                                    <option value="{{landlord_type.get('id')}}" data-slug="{{landlord_type.get('slug')}}">{{landlord_type.get('value')}}</option>
                                    %end
                                %end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('房产类型')}}</div>
                        </td>
                        <td id="propertyType" data-list="{{json_dumps(property_type_list)}}">
                            <tags params="list: propertyTypeList, key: 'propertyType'" data-bind="value: propertyType" value="{{rent.get('property',{}).get('property_type',{}).get('id','')}}"></tags>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('出租类型')}}</div>
                        </td>
                        <td id="rentalType" data-list="{{json_dumps(rent_type_list)}}">
                            <tags params="list: rentTypeList, key: 'rentType'" data-bind="value: rentType" value="{{rent.get('rent_type',{}).get('id','')}}" data-trigger="updateTitle"></tags>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <label class="text" for="postcode">
                                {{_('Postcode')}}
                            </label>
                        </td>
                        <td>
                            <div class="postcode">
                                <input id="postcode" type="text" id="postcode" name="postcode" data-validator="required, trim" data-name="postcode" value="{{rent.get('property',{}).get('zipcode','')}}"/>
                                <button id="findAddress" type="button" class="find_address ajaxButton manualTriggerLoadingEnd">
                                    {{_('查找地址')}}
                                </button>
                                <button id="inputAddress" type="button" class="customer_input">
                                    {{_('手动填写')}}
                                </button>
                                <div class="chosen-drop chosen-address" style="display: none">
                                    <div class="arrow">
                                        <img alt="" src="/static/images/customer/bg_more_description.png">
                                    </div>
                                    <p>{{_('搜索到多个结果，请从下面得结果中选择一项')}}</p>
                                    <ul class="chosen-results">

                                    </ul>
                                </div>
                                <div class="postcodeNoResultMsg" style="position:absolute;font-size: 14px;color:#e60012;top: 54px;font-weight: normal;display: none;">{{_('该Postcode无法获取地址信息，请手动填写地址:')}}</div>
                            </div>
                        </td>
                    </tr>
                    <tr id="address" style="display: none">
                        <td class="title">
                        </td>
                        <td>
                            <div class="address">
                                <input type="hidden" id="latitude" data-bind="initializeValue: latitude, value: latitude" value="{{rent.get('property',{}).get('latitude','')}}"/>
                                <input type="hidden" id="longitude" data-bind="initializeValue: longitude, value: longitude" value="{{rent.get('property',{}).get('longitude','')}}"/>
                                <!--<input type="hidden" id="country" name="country" data-validator="required, trim" data-name="{{_('国家')}}" value="{{rent.get('property',{}).get('country',{}).get('value','')}}"/>-->
                                <!--todo 这两个字段暂时去掉 required -->
                                <!--todo data-text在编辑页中需要填充用户已经填写过的国家或者城市名称-->
                                <input type="hidden" id="country" name="country" data-validator="required, trim" data-name="{{_('国家')}}" value="{{rent.get('property',{}).get('country',{}).get('code','')}}" data-text="{{get_country_name_by_code(rent.get('property',{}).get('country',{}).get('code',''))}}"/>
                                <input type="hidden" id="city" name="city" data-validator="required, trim" data-name="{{_('城市')}}" value="{{rent.get('property',{}).get('city',{}).get('id','')}}" data-text="{{rent.get('property',{}).get('city',{}).get('name','')}}">
                                <input type="hidden" id="neighborhood" name="neighborhood" data-validator="trim" data-name="{{_('街区')}}" value="{{rent.get('property',{}).get('maponics_neighborhood',{}).get('id','')}}" data-text="{{rent.get('property',{}).get('maponics_neighborhood',{}).get('name','')}}">
                                <select id="country-select" data-model="country" class="select-chosen" data-placeholder="{{_('请选择国家')}}">
                                    <!--<option value="">' + i18n('请选择国家') + '</option>-->
                                </select>
                                <select id="city-select" data-model="city" class="select-chosen" data-placeholder="{{_('请选择城市')}}" data-trigger="updateTitle">
                                    <!--<option value="">{{_('请选择城市')}}</option>-->
                                </select>
                                <select id="neighborhood-select" data-model="neighborhood" class="select-chosen" data-placeholder="{{_('请选择街区')}}" style="display: none;" data-trigger="updateTitle"></select>
                                <!--<input placeholder="{{_('街区')}}" id="region" name="region" data-name="{{_('街区')}}" value="" data-trigger="updateTitle">-->
                                <input placeholder="{{_('街道（选填）')}}" id="street" name="street" data-name="{{_('街道')}}" value="{{rent.get('property',{}).get('street','')}}" data-trigger="updateTitle">
                                <input placeholder="{{_('小区（选填）')}}" id="community" value="{{rent.get('property',{}).get('community','')}}" data-trigger="updateTitle">
                                <input placeholder="{{_('楼层（选填）')}}" id="floor" value="{{rent.get('property',{}).get('floor','')}}">
                                <input placeholder="{{_('房间号（选填）')}}" id="house_name" value="{{rent.get('property',{}).get('house_name','')}}">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('租金')}}</div>

                        </td>
                        <td class="sales_price">
                            <div>
                                <select id="unit">
                                    %if rent.get('price',{}).get('unit'):
                                        <option value="CNY"
                                            %if rent.get('price',{}).get('unit') == "CNY":
                                        selected
                                        %end
                                        >{{_('人民币')}}</option>
                                        <option value="GBP"
                                            %if rent.get('price',{}).get('unit') == "GBP":
                                        selected
                                        %end
                                        >{{_('英镑')}}</option>
                                        <option value="USD"
                                            %if rent.get('price',{}).get('unit') == "USD":
                                        selected
                                        %end
                                        >{{_('美元')}}</option>
                                        <option value="EUR"
                                            %if rent.get('price',{}).get('unit') == "EUR":
                                        selected
                                        %end
                                        >{{_('欧元')}}</option>
                                        <option value="HKD"
                                            %if rent.get('price',{}).get('unit') == "HKD":
                                        selected
                                        %end
                                        >{{_('港币')}}</option>
                                    %else:
                                        <option value="CNY">{{_('人民币')}}</option>
                                        <option value="GBP">{{_('英镑')}}</option>
                                        <option value="USD">{{_('美元')}}</option>
                                        <option value="EUR">{{_('欧元')}}</option>
                                        <option value="HKD">{{_('港币')}}</option>
                                    %end
                                </select>
                            </div>
                            <div>
                                %if 'price' in rent:
                                <input id="price" name="price" type="text" data-validator="required, trim, number, >(0)" data-name="{{_('租金')}}" value="{{int(float(rent.get('price',{}).get('value','')))}}">{{_('/周')}}
                                %else:
                                <input id="price" name="price" type="text" data-validator="required, trim, number, >(0)" data-name="{{_('租金')}}">{{_('/周')}}
                                %end
                            </div>
                            <div class="lease" id="lease">

                            </div>
                            <div class="billCovered">
                                <input id="billCovered" type="checkbox"
                                    %if 'bill_covered' in rent and rent.get('bill_covered'):
                                    checked
                                    %end
                                    />
                                <label for="billCovered">{{_('是否包Bill')}}</label>
                            </div>
                            <!--<div id="sales_price_error" class="error">
                                {{_('请填写租金')}}
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('押金')}}</div>
                        </td>
                        <td class="deposit_price">
                            <div class="" id="">
                                %if 'deposit' in rent:
                                <input id="deposit" name="deposit" type="text" data-validator="trim, number" data-name="{{_('押金')}}" value="{{f_app.re.filter_zero(rent.get('deposit',{}).get('value',''))}}" placeholder="{{_('如不填写则默认为面议')}}"/>
                                %else:
                                <input id="deposit" name="deposit" type="text" data-validator="trim, number" data-name="{{_('押金')}}" value="" placeholder="{{_('填写金额，如不填写则默认为面议')}}"/>
                                %end
                                <label for="deposit"></label>
                            </div>
                        </td>
                    </tr>
                    <tr class="title">
                        <td>
                            <div class="text">
                                {{_('房屋户型')}}
                            </div>
                            <div class="text">{{_('(可选studio)')}}</div>
                        </td>
                        <td class="room_count">
                            <div>
                                <select id="bedroom_count" data-trigger="updateTitle">
                                    %for index,value in enumerate(['studio',1,2,3,4,5,6,7,8,9,10,11,12]):
                                    %if rent.get('property',{}).get('bedroom_count',1) == index:
                                    <option value="{{index}}" selected>{{value}}</option>
                                    %else:
                                    <option value="{{index}}">{{value}}</option>
                                    %end
                                    %end
                                </select>
                            </div>
                            <div><span>{{_('室')}}</span></div>
                            <div>
                                <select id="living_room_count">
                                    %for index,value in enumerate([0,1,2,3,4,5,6,7,8,9,10,11,12]):
                                    %if rent.get('property',{}).get('living_room_count',1) == value:
                                    <option value="{{value}}" selected>{{value}}</option>
                                    %else:
                                    <option value="{{value}}">{{value}}</option>
                                    %end
                                    %end
                                </select>
                            </div>
                            <div><span>{{_('厅')}}</span></div>
                            <!--<div>
                                <select id="kitchen_count">
                                    %for index,value in enumerate([0,1,2,3]):
                                    %if rent.get('property',{}).get('kitchen_count',0) == value:
                                    <option value="{{value}}" selected>{{value}}</option>
                                    %else:
                                    <option value="{{value}}">{{value}}</option>
                                    %end
                                    %end
                                </select>
                            </div>
                            <div><span>{{_('厨')}}</span></div>-->
                            <div>
                                <select id="bathroom_count">
                                    %for index,value in enumerate([0,1,2,3,4,5,6,7,8,9,10,11,12]):
                                    %if rent.get('property',{}).get('bathroom_count',1) == value:
                                    <option value="{{value}}" selected>{{value}}</option>
                                    %else:
                                    <option value="{{value}}">{{value}}</option>
                                    %end
                                    %end
                                </select>
                            </div>
                            <div><span>{{_('卫')}}</span></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <!--如果用户选择出租类型为单间：-->
                            <label class="text" data-bind="visible: rentTypeSlug() === 'rent_type:single'" for="roomSize">{{_('单间面积')}}</label>
                            <!--如果用户选择出租类型为整租：-->
                            <label class="text" data-bind="visible: rentTypeSlug() === 'rent_type:whole'" for="roomSize" style="display: none;">{{_('房屋面积')}}</label>
                        </td>
                        <td class="room_size">
                            <div>
                                <input type="text" id="roomSize" name="roomSize" data-validator="trim, decimalNumber, maxLength(10)" data-name="{{_('面积')}}" value="{{rent.get('space',{}).get('value','')}}"/>
                                <select id="spaceUnit">
                                    <option value="meter ** 2"
                                        %if rent.get('space',{}).get('unit','meter ** 2')=="meter ** 2":
                                        selected
                                        %end
                                        >{{_('平方米')}}</option>
                                    <option value="foot ** 2"
                                        %if rent.get('space',{}).get('unit','meter ** 2')=="foot ** 2":
                                        selected
                                        %end
                                        >{{_('平方英尺')}}</option>
                                </select>
                                <!-- ko if: rentTypeSlug() === 'rent_type:single' -->
                                <input type="checkbox" id="independentBathroom" data-bind="checked: independentBathroom"/>
                                <label for="independentBathroom">{{_('单间独立卫浴')}}</label>
                                <!-- /ko -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('租期')}}</div>
                        </td>
                        <td class="rent_period">
                            <div>
                                <div class="date">
                                    %if 'rent_available_time' in rent:
                                    <input id="rentPeriodStartDate" type="text" value="{{rent.get('rent_available_time','')}}" placeholder="{{_('起租日期')}}"/><i class="calendarIcon"></i>
                                    %else:
                                    <input id="rentPeriodStartDate" type="text" placeholder="{{_('起租日期')}}"/><i class="calendarIcon"></i>
                                    %end
                                </div>
                            </div>
                            <div>
                                <span>{{_('到')}}</span>
                            </div>
                            <div>
                                <div class="date">
                                    %if 'rent_deadline_time' in rent:
                                    <input id="rentPeriodEndDate" type="text" value="{{rent.get('rent_deadline_time','')}}" placeholder="{{_('结束日期')}}"/><i class="calendarIcon"></i>
                                    %else:
                                    <input id="rentPeriodEndDate" type="text" placeholder="{{_('结束日期')}}"/><i class="calendarIcon"></i>
                                    %end
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('接受最短租期')}}</div>
                        </td>
                        <td class="minimumRentPeriod">
                            <select id="minimumRentPeriod">
                                <option value=""
                                    %if not rent.get('minimum_rent_period',{}).get('value',''):
                                    selected
                                    %end
                                    >{{_('不限')}}
                                </option>
                                %for i in range(51):
                                %if i > 0:
                                <option value="{{i}}"
                                    % if rent.get('minimum_rent_period',{}).get('value','0')==str(i):
                                    selected
                                    %end
                                    >{{i}}</option>
                                %end
                                %end

                            </select>
                            <select id="minimumRentPeriodUnit">
                                <option value="day"
                                    %if rent.get('minimum_rent_period',{}).get('unit','week')=="day":
                                    selected
                                    %end
                                    >{{_('天')}}
                                </option>
                                <option value="week"
                                    %if rent.get('minimum_rent_period',{}).get('unit','week')=="week":
                                    selected
                                    %end
                                    >{{_('周')}}
                                </option>
                                <option value="month"
                                    %if rent.get('minimum_rent_period',{}).get('unit','week')=="month":
                                    selected
                                    %end
                                >{{_('月')}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr data-bind="if: rentTypeSlug() === 'rent_type:single'">
                        <td class="title">
                            <div class="text">{{_('当前室友人数')}}</div>
                        </td>
                        <td class="roommateCount">
                            <select data-bind="chosen: maleRoommatesList,
                                optionsText: function(item){return item + window.i18n('人')},
                                value: maleRoommates,
                                optionsCaption: '{{_('男性')}}'">
                            </select>
                            <select data-bind="chosen: femaleRoommatesList,
                                optionsText: function(item){return item + window.i18n('人')},
                                value: femaleRoommates,
                                optionsCaption: '{{_('女性')}}'">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">{{_('入住限制')}}</div>
                        </td>
                        <td class="requirement">
                            <div data-bind="visible: rentTypeSlug() === 'rent_type:single'" style="margin-bottom: 20px;">
                                <select data-bind="chosen: availableRoommatesList,
                                optionsText: function(item){return item + window.i18n('人')},
                                value: availableRoommates,
                                optionsCaption: '{{_('可入住人数')}}'">
                                </select>
                                <select class="gender" data-bind="chosen: genderList,
                                optionsText: 'text',
                                optionsValue: 'value',
                                value: gender,
                                optionsCaption: '{{_('性别')}}'"></select>
                                <select class="occupation" data-bind="chosen: occupationList,
                                optionsText: 'value',
                                optionsValue: 'id',
                                value: occupation,
                                optionsCaption: '{{_('职业')}}'"></select>
                            </div>
                            <div data-bind="visible: rentTypeSlug() === 'rent_type:single'" style="margin-bottom: 14px;">
                                <select class="wide" data-bind="chosen: minAgeList,
                                optionsText: function(item){return item + window.i18n('岁')},
                                value: minAge,
                                optionsCaption: '{{_('不限最小年龄')}}'">
                                </select>
                                <span class="separator">{{_('至')}}</span>
                                <select class="wide" data-bind="chosen: maxAgeList,
                                optionsText: function(item){return item + window.i18n('岁')},
                                value: maxAge,
                                optionsCaption: '{{_('不限最大年龄')}}'">
                                </select>
                            </div>
                            <div data-bind="visible: rentTypeSlug() === 'rent_type:single'" style="margin-bottom: 24px;">
                                <input type="checkbox" id="allowSmoking" data-bind="checked: allowSmoking"/>
                                <label for="allowSmoking">{{_('允许吸烟')}}</label>
                                <input type="checkbox" id="allowPet" data-bind="checked: allowPet"/>
                                <label for="allowPet">{{_('可携宠物')}}</label>
                                <input type="checkbox" id="allowBaby" data-bind="checked: allowBaby"/>
                                <label for="allowBaby">{{_('可带小孩')}}</label>
                            </div>
                            <div>
                                <textarea class="otherRequirements" placeholder="{{_('请填写您对租客的其他要求，如租房需要提供学生证，名片，银行流水等')}}" data-bind="value: otherRequirements"></textarea>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="information">
                    <div class="subtitle">
                        {{_('上传图片')}}
                    </div>
                    <div class="image_panel" data-cover="{{rent.get('property', {}).get('cover','')}}">
                        <div id="fileuploader" class="upload_image"
                            %if rent.get('property', {}).get('reality_images'):
                            data-files="{{','.join(rent.get('property', {}).get('reality_images'))}}"
                            %end
                            >
                            {{_('请将房源照片直接拖拽至此，')}}<br>{{_('或者点击此处手动选择电脑中的照片上传。')}}
                        </div>
                        <div id="uploadProgress" class="clearfix"></div>
                        <p class="tipOfSetCover">{{_('提示:点击上方的预览图可以将其设置为封面图，用来展示在出租房列表中')}}</p>
                        <div class="with_weixin" style="display: none">
                            <div class="information">
                                <div class="on_phone">
                                    {{_('图片在手机上？')}}
                                </div>
                                <div class="no_problem">
                                    {{_('没关系，您可通过微信扫描二维码关注我们的公众账号来上传图片')}}
                                </div>
                            </div>
                            <div class="information">
                                <div class="qrcode">
                                    <img/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="load_more">
                <div class="load_more">
                    {{_('更多详细描述，配套设施，定金及周边学校和地铁')}}
                </div>
                <div class="more_info">
                    {{_('更详尽的房源及周边描述能增加租客的询问')}}
                </div>
            </div>
            <div id="more_information" style="display: none">
                <hr class="divider"/>
                <table class="submit">
                    <tr>
                        <td class="title">
                            <div class="text">
                                {{_('标题')}}
                            </div>
                        </td>
                        <td class="content">
                            <input class="headline" id="title" value="{{rent.get('title','')}}" placeholder="{{rent.get('title','')}}" data-attr="placeholder" data-validator="trim,lengthRange(8-40)" data-name="{{_('标题')}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">
                                {{_('描述')}}
                            </div>
                        </td>
                        <td class="content">
                            <textarea class="description" id="description" data-name="{{_('描述')}}" placeholder="{{_('请补充对房屋特点的描述，优质而独特的房源描述会得到平台的推荐，提升您的房源排名。（请勿在此填写任何形式的联系方式，违规发布将会予以处理）')}}">{{rent.get('description','')}}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">
                            <div class="text">
                                <span>{{_('定金')}}</span>
                                <tips params="tips: '{{_('Holding Deposit，是租客确定预订后锁定房源所需要向您交付的定金，当租客入住时确保房源和确认信息一致，平台将在24小时后把钱转付给您以冲抵押金或房租')}}'"></tips>
                            </div>
                        </td>
                        <td class="holdingDeposit">
                            <div>
                                <select id="holdingDepositUnit" style="width: 150px;">
                                    %if rent.get('holding_deposit',{}).get('unit'):
                                    <option value="CNY"
                                        %if rent.get('holding_deposit',{}).get('unit') == "CNY":
                                    selected
                                    %end
                                    >{{_('人民币')}}</option>
                                    <option value="GBP"
                                        %if rent.get('holding_deposit',{}).get('unit') == "GBP":
                                    selected
                                    %end
                                    >{{_('英镑')}}</option>
                                    <option value="USD"
                                        %if rent.get('holding_deposit',{}).get('unit') == "USD":
                                    selected
                                    %end
                                    >{{_('美元')}}</option>
                                    <option value="EUR"
                                        %if rent.get('holding_deposit',{}).get('unit') == "EUR":
                                    selected
                                    %end
                                    >{{_('欧元')}}</option>
                                    <option value="HKD"
                                        %if rent.get('holding_deposit',{}).get('unit') == "HKD":
                                    selected
                                    %end
                                    >{{_('港币')}}</option>
                                    %else:
                                    <option value="CNY">{{_('人民币')}}</option>
                                    <option value="GBP" selected>{{_('英镑')}}</option>
                                    <option value="USD">{{_('美元')}}</option>
                                    <option value="EUR">{{_('欧元')}}</option>
                                    <option value="HKD">{{_('港币')}}</option>
                                    %end
                                </select>
                            </div>
                            <div>
                                <input id="holdingDeposit" name="holdingDeposit" type="text" data-validator="required, trim, number, >(0)" data-name="{{_('定金')}}" value="{{int(float(rent.get('holding_deposit',{}).get('value','500')))}}">
                            </div>

                        </td>
                    </tr>
                    <tr class="facilitiesBox">
                        <td class="title">
                            <div class="text">
                                {{_('居家设施')}}
                            </div>
                        </td>
                        <td class="content">
                            <ul class="facilities indoorFacilities clearfix">
                                %for index, facility in enumerate(indoor_facility_list):
                                <li>
                                    <input type="checkbox" value="{{facility.get('id')}}" id="{{facility.get('id')}}"
                                        %if facility.get('id') in map(lambda obj: obj.get('id'),rent.get('property',{}).get('indoor_facility',[])):
                                        checked
                                        %end
                                    />
                                    <label for="{{facility.get('id')}}">{{facility.get('value')}}</label>
                                </li>
                                %end
                            </ul>
                        </td>
                    </tr>
                    <tr class="facilitiesBox">
                        <td class="title">
                            <div class="text">
                                {{_('社区设施')}}
                            </div>
                        </td>
                        <td class="content">
                            <ul class="facilities communityFacilities clearfix">
                                %for index, facility in enumerate(community_facility_list):
                                <li>
                                    <input type="checkbox" value="{{facility.get('id')}}" id="{{facility.get('id')}}"
                                        %if facility.get('id') in map(lambda obj: obj.get('id'),rent.get('property',{}).get('community_facility',[])):
                                        checked
                                        %end
                                    />
                                    <label for="{{facility.get('id')}}">{{facility.get('value')}}</label>
                                </li>
                                %end
                            </ul>
                        </td>
                    </tr>
                    <!-- @@include=../static/templates/edit_travel_time.tpl.html-->
                    <!-- @@include=../static/templates/surrouding_search_input.tpl.html-->
                    <textarea id="featuredFacilityData" style="display: none">
                        {{json_dumps(rent.get('property',{}).get('featured_facility',[]))}}
                    </textarea>

                    <!-- todo 暂时注释掉方便调试-->
                    <!--<tr data-bind="visible: showSurrouding">-->
                    <tr>
                        <td class="title">
                            <div class="text">
                                {{_('周边')}}
                            </div>
                        </td>
                        <td class="content">
                            <div class="addWrap">
                                <surrouding-search-input params="surroudingToAdd: surroudingToAdd"></surrouding-search-input>
                                <edit-travel-time params="item: surroudingToAdd"></edit-travel-time>
                                <span class="addBtn" data-bind="visible: surroudingToAdd().traffic_time && surroudingToAdd().traffic_time.length, click: addSurrouding">{{_('添加')}}</span>
                            </div>
                            <div>

                                <p class="hint" data-bind="visible: surroudingHint() !== undefined && surroudingHint().length, text: surroudingHint"></p>
                                <ul class="surrounding" data-bind="foreach: { data: !isShowAll() && !animate() ? surrouding.slice(0,10) : surrouding, as: 'item' }, css: {animate: animate(), shrink: !isShowAll()}, style: {maxHeight: surrouding().length * 40 + 'px'}">
                                    <li>
                                        <i data-bind="css: type.iconfont"></i>
                                        <span class="name" data-bind="text: name"></span>
                                        <edit-travel-time params="item: item"></edit-travel-time>
                                        <i class="icon-delete" data-bind="click: $parent.removeSurrouding" title="{{_('删除')}}"></i>
                                    </li>
                                </ul>
                                <div data-bind="visible: surrouding().length > 10">
                                    <a class="showAll" href="" data-bind="visible: !isShowAll(), click: showAll">
                                        <span>{{_('显示全部')}}</span>
                                        <i class="icon-down_arrow"></i>
                                    </a>
                                    <a class="showAll" href="" data-bind="visible: isShowAll(), click: hideAll">
                                        <span>{{_('收起')}}</span>
                                        <i class="icon-up_arrow2"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <!--<tr>
                        <td class="title">
                            <div class="text">
                                {{_('街区描述')}}
                            </div>
                        </td>
                        <td class="content">
                            <ul id="intentionTag" class="inner">
                                <li id="more_region_highlight_panel" style="width: 100px;">
                                    <div id="more_region_highlight_handler">
                                        <img alt="" src="/static/images/customer/ico_add_panel.png">
                                    </div>
                                    <div id="more_region_highlight_img" style="padding-left: 5px;display: none;">
                                        <img alt="" src="/static/images/customer/bg_more_description.png">
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="more_region_highlight" style="display: none;">
                        <td></td>
                        <td>
                            <div class="block_description">
                                <ul>
                                    %for index, region_highlight in enumerate(region_highlight_list):
                                    <li data-id="{{region_highlight.get('id')}}">
                                        <div>
                                            {{region_highlight.get('value')}}
                                        </div>
                                    </li>
                                    %end
                                </ul>
                            </div>
                        </td>
                    </tr>-->
                </table>
            </div>
        </form>
        % if user and set(user.get('role')) & set(['jr_admin','admin','jr_operation','operation']):
        <div class="cooperation">
            <input id="cooperation" type="checkbox"
                %if rent.get('property',{}).get('partner'):
                checked
                %end
                >
            <label for="cooperation">{{_('是否为平台合作房源')}}</label>
        </div>
        % end
        <div class="errorMsg" style="display: none;"></div>
        <div style="text-align: center">
            %if rent.get('property',{}) and rent.get('property',{}).get('id',''):
            <button class="submit_button ajaxButton manualTriggerLoadingEnd" id="submit" data-propertyid="{{rent.get('property',{}).get('id','')}}">{{_('下一步')}}</button>
            %else:
            <button class="submit_button ajaxButton manualTriggerLoadingEnd" id="submit">{{_('下一步')}}</button>
            %end
        </div>
    </div>
</div>