

% if property.get('property_type',{}).get('slug') == 'new_property':
{{property.get('unit_price',{}).get('price',{}).get('unit_symbol')}}
<strong data-type="currency">
    {{property.get('unit_price',{}).get('price',{}).get('value','')}}
</strong>
<span>
    % unit = property.get('unit_price',{}).get('unit',{}).get('unit')
    /
    <!--@@include partials/get_area_unit.html {"unit":"unit"}-->
</span>
% else:
{{property.get('total_price').get('unit_symbol')}}
<strong data-type="currency">
    {{property.get('total_price',{}).get('value','')}}
</strong>
% end


