<div class="route publishRoute" data-route="step2" style="display: none;">
    <div class="step">
        <div class="line red"></div>
        <div class="start">
            <div class="main">
                <img src="/static/images/customer/ico_step_2_write.png">
                <div>
                    {{_('填写详情')}}
                </div>
            </div>
        </div>
        <div class="end">
            <div class="main">
                <img src="/static/images/customer/ico_step_2_show.png">
                <div>
                    {{_('预览发布')}}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="clearfix">

        <div class="wrap leftWrap
        %if user:
        hasLogin
        %end
        ">
            <div class="titleWrap">
                <h2>{{_('微信展示预览')}}</h2>
                <h3>{{_('微信展示预览')}}</h3>
            </div>
            %if not user:

            <form id="form2">
                <div class="formGroup">
                    <p>{{_('为保证房源真实性，请先完善个人资料或')}}<a class="link" onclick="javascript:project.showSignInModalOrGoToSignIn()">{{_('点击此处登陆')}}</a>{{_('，再完成房源的发布')}}</p>
                </div>
                <div class="formGroup">
                    <label for="nickname">{{_('姓名')}}</label>
                    <input type="text" id="nickname" name="nickname" data-validator="required trim"/>
                </div>
                <div class="formGroup">
                    <label for="email">{{_('邮箱')}}</label>
                    <input type="text" id="email" name="email" data-validator="required trim email"/>
                </div>
                <div class="formGroup">
                    <label for="phone">{{_('手机号')}}</label>
                    <select name="country">
                        %for index, country in enumerate(country_list):
                        <option value="{{country.get('id')}}"
                            % if country.get('id') == user.get('country',{}).get('id') if user and user.get('country') else None:
                        selected
                        %end
                        >
                        %if (country.get('slug') == 'CN'):
                        (+86)
                        %elif (country.get('slug') == 'GB') :
                        (+44)
                        %elif (country.get('slug') == 'US') :
                        (+1)
                        %elif (country.get('slug') == 'HK') :
                        (+852)
                        %end
                        {{country.get('value')}}
                        </option>
                        %end
                    </select>
                    <input type="text" id="phone" name="phone" data-validator="required trim number"/>
                </div>
                <div class="formGroup">
                    <label for="code">{{_('验证码')}}</label>
                    <input type="text" id="code" name="code" data-validator="required trim"/>
                    <button type="button" id="requestSMSCodeBtn">
                        {{_('获取验证码')}}
                    </button>
                    <div class="errorMsgOfGetCode"></div>
                </div>

                <div class="formGroup">
                    <label></label>
                    <span>{{_('确认代表您同意创建一个洋房东账号供以后查看租客请求使用')}}</span>
                </div>
            </form>
            %end

        </div>

        <div class="
        %if not user:
        rightWrap
        %end
        wrap clearfix">
            <div class="previewBox">
                <iframe src="" id="previewIframe" name="previewIframe" style="width:252px;height: 448px;">

                </iframe>
            </div>
            <div class="infoBox">
                <dl class="info">
                    <dt class="active">{{_('封面')}}</dt>
                    <dd class="active">{{_('包含您提交的房产名称以及类型')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                    <dt>{{_('房屋概况')}}</dt>
                    <dd>{{_('包含您要出租的房屋的概况')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                    <dt>{{_('房产设施')}}</dt>
                    <dd>{{_('填写详细的房产设施能增加30%的阅览')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                    <dt>{{_('房屋位置')}}</dt>
                    <dd>{{_('展示您的房屋在地图上的位置')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                    <dt>{{_('实景图片')}}</dt>
                    <dd>{{_('展示您上传的房屋实景图片')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                    <dt>{{_('街区报告')}}</dt>
                    <dd>{{_('展示您的房屋所在街区的概况')}}<br><a href="#/">{{_('[返回修改]')}}</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="errorMsg2" style="display: none;"></div>
    <div style="text-align: center">
        %if rent.get('status'):
        <button class="submit_button" id="publish" data-ticketid="{{rent.get('id','')}}">{{_('重新发布')}}</button>
        %else:
        <button class="submit_button" id="publish" data-ticketid="{{rent.get('id','')}}">{{_('发布')}}</button>
        %end
    </div>
</div>
