<div class="route" data-route="step2">
    <div class="content">
    <div class="step">
        <div class="line red"></div>
        <div class="start">
            <div class="main">
                <img src="/static/images/customer/ico_step_2_write.png">
                <div>
                    {{_('填写详情')}}
                </div>
            </div>
        </div>
        <div class="end">
            <div class="main">
                <img src="/static/images/customer/ico_step_2_show.png">
                <div>
                    {{_('预览发布')}}
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="detail">

        <table class="information">
            <tr>
                <td>
                    <div class="text">
                        {{_('姓名')}}
                    </div>
                </td>
                <td>
                    <div class="address">
                        <input/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text">
                        {{_('手机号')}}
                    </div>
                </td>
                <td>
                    <div class="address">
                        <input/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text">
                        {{_('验证码')}}
                    </div>
                </td>
                <td>
                    <div class="verification_code">
                        <input />
                        <button type="button">
                            {{_('获取验证码')}}
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text">
                        {{_('邮箱')}}
                    </div>
                </td>
                <td>
                    <div class="address">
                        <input/>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="description">
                        {{_('确认代表您同意创建一个洋房东账号供以后查看租客请求使用')}}
                    </div>
                </td>
            </tr>
        </table>
        <div class="information">
            <div>
                <img>
            </div>
            <div>
                <div>
                    <div>{{_('封面')}}</div>
                    <div>{{_('包含您提交的房产名称以及类型')}}</div>
                </div>
                <div>
                    <div>{{_('房产设施')}}</div>
                    <div>{{_('填写详细的房产设施能增加30%的阅览')}}</div>
                </div>
                <div>
                    <div>{{_('管理方')}}</div>
                    <div>{{_('填写详细的管理方增加30%的阅览')}}</div>
                </div>
                <div>
                    <div>{{_('项目财务分析')}}</div>
                    <div>{{_('填写详细的项目财务分析能增加30%的阅览')}}</div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <button class="submit_button">{{_('预览并发布')}}</button>
    </div>
</div>
</div>