<!--@@include whether_radio_tpl.html  -->
<!--@@include chose_referrer_tpl.html  -->
<script type="text/template" id='rent-request-tpl'>
    <div id="rent_request_popup" class="requirement_popup rentRequestContainer" data-bind="visible: visible">
        <div class="requirement_popup_shadow" data-bind="click: close"></div>
        <div class="requirement_wrapper">
            <div class="requirement">
                <div class="info" data-bind="visible: formWrapVisible">
                    <div class="requirement_title">
                        <h2 class="title">{{_('租房流程')}}</h2>
                        <ul class="hint">
                            <li>{{_('提交您的个人信息和对房源的问题')}}</li>
                            <li>{{_('房东将会在24小时内回复您的求租申请')}}</li>
                            <li>{{_('房东回复后平台将会与您取得联系')}}</li>
                        </ul>
                    </div>
                </div>
                <div class="formWrap" data-bind="css: 'inStep' + step(), visible: formWrapVisible">
                    <div class="stepWrap ">
                        <div class="step step1">1<p class="info">{{_('求租申请')}}</p></div>
                        <div class="step step2">2<p class="info">{{_('个人信息')}}</p></div>
                    </div>
                    <form class="requirement_rent_form">
                        <div class="step1" data-bind="visible: step() === 1">
                            <div class="leftWrap">
                                <div class="row">
                                    <div class="cell rentPeriod">
                                        <p class="title">{{_('预计租期')}}</p>
                                        <div class="date inputWrapper" data-bind="dateRangePicker: rentAvailableTimeFormated">
                                            <input data-bind="value: rentAvailableTimeFormated" type="text" class="" placeholder="{{_('选择起租日期')}}" autocomplete="off"/>
                                        </div>
                                        <span>{{_('至')}}</span>
                                        <div class="date inputWrapper" data-bind="dateRangePicker: rentDeadlineTimeFormated">
                                            <input data-bind="value: rentDeadlineTimeFormated" type="text" class="" placeholder="{{_('选择结束日期')}}" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="cell tenantCount">
                                        <p class="title">{{_('入住人数')}}</p>
                                        <select data-bind="chosen: tenantCountList,
                                            optionsText: function(item){return item + window.i18n('人入住')},
                                            value: tenantCount
                                        "></select>
                                    </div>
                                </div>
                                <div class="wrap">

                                    <div class="row">
                                        <span class="title">{{_('是否吸烟')}}</span>
                                        <whether-radio params="vm: $data, key: 'smoke'"></whether-radio>
                                    </div>
                                    <div class="row">
                                        <span class="title">{{_('是否会带小孩一同入住')}}</span>
                                        <whether-radio params="vm: $data, key: 'baby'"></whether-radio>
                                    </div>
                                    <div class="row">
                                        <span class="title">{{_('是否携宠物入住')}}</span>
                                        <whether-radio params="vm: $data, key: 'pet'"></whether-radio>
                                    </div>
                                </div>
                                <div class="row">
                                    <textarea rows="3" data-bind="value: description" placeholder="{{_('请填写您入住的原因和对房东的问题，比如: 我是来自中国北京的李雷，来London的ISE读Master。')}}"></textarea>
                                </div>
                            </div>
                            <div class="rightWrap">
                                <div class="row">
                                    <p class="title">{{_('护照或身份信息（可选）')}}</p>
                                    <div class="image_panel" data-bind="visible: !uploadProgressVisible()">
                                        <div id="fileuploader" class="upload_image">
                                            <p>{{_('直接将照片文件拖拽至框中')}}</p>
                                            <p>{{_('或者直接')}}<a>{{_('查找文件')}}</a></p>
                                        </div>
                                    </div>
                                    <div id="uploadProgress" class="clearfix" data-bind="visible: uploadProgressVisible"></div>
                                    <p class="hint">{{_('上传护照或身份信息可以提升房东对您的信任度，增大您租房申请的成功率(请自行隐去隐私信息)')}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="step2" data-bind="visible: step() === 2">
                            <div class="row">
                                <p class="title">{{_('姓名')}}</p>
                                <input class="name" type="text" data-bind="value: nickname"/><!--
                                --><select class="gender" data-bind="chosen: genderList,
                                    optionsText: 'text',
                                    optionsValue: 'value',
                                    value: gender,
                                    optionsCaption: '{{_('性别')}}'"></select><!--
                                --><select class="occupation" data-bind="chosen: occupationList,
                                    optionsText: 'value',
                                    optionsValue: 'id',
                                    value: occupation,
                                    optionsCaption: '{{_('职业')}}'"></select>
                            </div>
                            <div class="row">
                                <p class="title">{{_('生日')}}</p>
                                <select class="birthYear" data-bind="chosen: birthYearList,
                                    optionsText: function(item){return item + window.i18n('年')},
                                    value: birthYear"></select><!--
                                --><select class="birthMonth" data-bind="chosen: birthMonthList,
                                    optionsText: function(item){return item + window.i18n('月')},
                                    value: birthMonth"></select><!--
                                --><select class="birthDate" data-bind="chosen: birthDateList,
                                    optionsText: function(item){return item + window.i18n('日')},
                                    value: birthDate"></select>
                                <p class="hint">{{_('仅用作向房东展示年龄，不向任何人泄露生日信息')}}</p>
                            </div>
                            <chosen-referrer params="vm: $data"></chosen-referrer>
                            <div class="row">
                                <p class="title">{{_('联系方式')}}</p>
                                <textarea id="countryData" style="display: none;">
                                    {{json_dumps(country_list)}}
                                </textarea>
                                <select class="countryCode" data-bind="chosen: countryCodeList,
                                    optionsText: function(item){return item.name + '(+' + item.countryCode + ')'},
                                    value: country,
                                    css: {readonly: !!user()}"></select><!--
                                --><input class="phone" type="text" data-bind="value: phone, attr: {readonly: !!user()}" placeholder="{{_('电话')}}"><!--
                                --><input class="email" type="text" data-bind="value: email, attr: {readonly: !!user()}" placeholder="{{_('邮箱')}}"/>
                            </div>
                            <div class="row" data-bind="visible: !user()">
                                <p class="title"></p>
                                <div id="captcha_div" class="captchaCode"></div><!--
                                --><button class="registerUser button red ajaxButton" data-bind="click: registerUser, disable: registerUserDisabled">{{_('获取短信验证码')}}</button>
                            </div>
                            <div class="row" data-bind="visible: !phoneVerified() && user()">
                                <p class="title"></p>
                                <input type="text" class="smsCode" data-bind="value: smsCode" placeholder="{{_('短信验证码')}}"/><!--
                                --><button class="getSmsCode button red ajaxButton" data-bind="click: getSmsCode, text: getSmsCodeText, disable: getSmsCodeDisabled"></button>
                            </div>
                        </div>
                        <div class="requirementRentFormError" data-bind="html: errorMsg, visible: errorMsg"></div>
                    </form>
                    <div class="actionWrap">
                        <div data-bind="visible: step() === 1">
                            <button class="actionButton ghostButton red" data-bind="click: goNext">{{_('下一步')}}</button>
                        </div>
                        <div data-bind="visible: step() === 2">
                            <button class="actionButton ghostButton red" data-bind="click: goPrev">{{_('上一步')}}</button>
                            <button class="actionButton button red ajaxButton" data-bind="click: submit, disable: !user() ? true : submitDisabled()">{{_('提交')}}</button>
                        </div>
                        <p class="terms" data-bind="visible: step() === 2">{{_('提交成功后您将成为洋房东会员，请确认您已阅读并同意')}}<a href="/terms">{{_('洋房东会员服务条款')}}</a></p>
                    </div>
                </div>
                <div class="successWrap" data-bind="visible: successWrapVisible">
                    <div class="leftWrap">
                        <h2 data-show="normal">{{_('提交成功')}}</h2>
                        <p data-show="delegateRent" data-hide="requestContact">{{_('您的咨询申请已经提交成功，')}}<br>{{_('平台将在24小时内与您取得联系')}}</p>
                        <div class="unmatchRequirements" data-bind="unmatchRequirements().length">
                            <p class="text">{{_('您的以下信息与当前房屋不匹配：')}}</p>
                            <ul data-bind="foreach: unmatchRequirements">
                                <li>
                                    <p class="request"><i class="icon-delete"></i><span data-bind="text: request"></span></p>
                                    <p class="requirement">
                                        <span>{{_('房东要求：')}}</span>
                                        <span class="requirement" data-bind="text: requirement"></span>
                                    </p>
                                </li>
                            </ul>
                            <p class="text">{{_('我们仍旧会将您的申请发送给房东，如果房东拒绝，我们还会为您匹配其他房源。')}}</p>
                        </div>
                    </div>
                    <div class="rightWrap">
                        <ul class="content">
                            <li>
                                <span class="title">
                                    {{_('咨询单编号')}}
                                </span>
                                <div class="right">
                                    <span class="text" data-bind="visible: shortIdStatus() === 'loading'">{{_('载入中...')}}</span>
                                    <span class="text" data-bind="visible: shortIdStatus() === 'fail'">{{_('载入失败')}}</span>
                                    <span class="text" data-bind="visible: shortIdStatus() === 'success', text: shortId"></span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('入住&搬出时间')}}
                                </span>
                                <div class="right">
                                    <span class="text">
                                        <!--ko text: rentAvailableTimeFormated--><!--/ko-->{{_('至')}}<!--ko text: rentDeadlineTimeFormated--><!--/ko-->
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('入住人数')}}
                                </span>
                                <div class="right">
                                    <span class="text" data-bind="text: tenantCount"></span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('租金')}}
                                </span>
                                <div class="right">
                                    <span class="text" data-bind="text: price().unit_symbol + price().value + i18n('/周')"></span>
                                    <span class="small" data-bind="visible: priceLocal().value">({{_('约')}}<!--ko text: priceLocal().unit_symbol + priceLocal().value + i18n('/周')--><!--/ko-->)</span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('定金预估')}}
                                </span>
                                <tips params="tips: '{{_('Holding Deposit，是您确定预订后锁定房源所需要向房东交付的定金，当你入住时确保房源和确认信息一致，平台将在24小时后把钱转付房东以冲抵押金或房租')}}'"></tips>
                                <div class="right">
                                    <span class="text" data-bind="text: holdingDeposit().unit_symbol + holdingDeposit().value"></span>
                                    <span class="small" data-bind="visible: holdingDepositLocal().value">({{_('约')}}<!--ko text: holdingDepositLocal().unit_symbol + holdingDepositLocal().value--><!--/ko-->)</span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('服务费预估')}}
                                </span>
                                <tips params="tips: '{{_('平台服务费用于为您在房源咨询，申请和预订阶段提供专属租房助手和沟通确认预订服务，并且支持平台其他日常运营开支，使我们能更好的服务您')}}'"></tips>
                                <div class="right">
                                    <span class="text" data-bind="text: price().unit_symbol + payment()"></span>
                                    <span class="small" data-bind="visible: paymentLocal().value">({{_('约')}}<!--ko text: paymentLocal().unit_symbol + paymentLocal().value--><!--/ko-->)</span>
                                </div>
                            </li>
                            <li>
                                <span class="title">
                                    {{_('视频直播看房服务')}}
                                </span>
                                <div class="right">
                                    <span class="small">{{_('推广期')}}<strong>{{_('免费')}}</strong></span>
                                </div>
                            </li>
                        </ul>
                        <p class="declare">{{_('此信息仅作咨询申请确认，最终预订以平台联系确认为准')}}</p>
                        <div class="confirmWrap">
                            <button class="confirmButton button red" data-bind="click: confirm, disable: isConfirmed">{{_('我知道了')}}</button>
                            <div class="hintWrap">
                                <p class="hint" data-bind="visible: !isLearnMore()">{{_('对租房流程有疑问？')}} <a class="flow" data-bind="click: learnMore">{{_('了解更多')}}</a></p>
                                <p class="hint" data-bind="visible: isLearnMore">{{_('查阅“')}} <a class="flow" href="/how-it-works/tenant">{{_('租房流程')}}</a>{{_('”了解更多')}}</p>
                                <p class="hint" data-bind="visible: isLearnMore">{{_('也欢迎您发送任何疑问到')}} <a href="mailto:services@youngfunding.co.uk">services@youngfunding.co.uk</a>{{_('，平台将为您解答')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button name="cancel" class="cancel" data-bind="click: close"><i class="icon-delete"></i></button>
        </div>
    </div>
</script>

