<div id="requirement_popup" class="requirement_popup"  style="display:none">
    <div id="requirement_popup_shadow" class="requirement_popup_shadow"></div>
    <div class="requirement_wrapper">
        <div id="requirement" class="requirement">
            <div class="requirement_title">
                <H2 class="title">{{_('提交置业需求')}}</h2>
                <h3 class="subtitle">{{_('如果您有海外投资置业的意向，请提交置业需求或者致电4000926433告诉我们，洋房东置业顾问将竭诚为您服务')}}
                </h3>
            </div>
            <!--@@include=requirement_form.html -->
            <h2 class="successMessage" style="display:none">{{_('置业需求已提交，稍后我们的置业顾问会联系您')}}</h2>
        </div>
    </div>
</div>
