<textarea id="fullCountryData" style="display: none;">
    {{json_dumps(full_country_list)}}
</textarea>
<div id="requirement_rent_popup" class="requirement_popup requirement_rent_popup"  style="display:none">
    <div id="requirement_popup_shadow" class="requirement_popup_shadow"></div>
    <div class="requirement_wrapper">
        <div id="requirement" class="requirement">
            <div class="info">
                <div class="requirement_title">
                    <h2 class="title">{{_('求租意向单')}}</h2>
                    <h3 class="hint" data-hide="requestContact">{{_('洋房东致力于提供最精准最优质的服务给我们每一位客户，提交您的求租需求，获取 1个 额外的联系房东机会，')}}<br>{{_('同时当平台有满足您需求的房源出现时，可以第一时间通知您。')}}
                    <h3 class="hint" data-show="requestContact">{{_('洋房东致力于提供最精准最优质的服务给我们每一位客户，请您填写求租需求后继续联系此房东，')}}<br>{{_('同时当平台有满足您需求的房源出现时，可以第一时间通知您。')}}
                    </h3>
                </div>
                <!--<div class="contact">
                    <label class="hint">{{_('联系我们')}}</label>
                    <a href="tel:{{get_phone_numbers('link')[0]}}"><i></i>{{get_phone_numbers('display')[0]}}</a>
                </div>-->
            </div>
            <div class="formWrap">
                <div class="stepWrap ">
                    <div class="step step1">1<p class="info">{{_('选择求租地址')}}</p></div>
                    <div class="step step2">2<p class="info">{{_('填写求租详情')}}</p></div>
                    <div class="step step3">3<p class="info">{{_('求租者联系方式')}}</p></div>
                </div>
                <form class="requirement_rent_form">
                    <table class="step1" data-show-step="1">
                        <tr>
                            <td>
                                <select class="select-chosen country-select" data-placeholder="{{_('请选择国家')}}" data-validator="required" data-name="{{_('国家')}}" data-serialize="country">

                                </select>
                                <select class="select-chosen city-select" data-placeholder="{{_('请选择城市')}}" data-change-title data-validator="required" data-name="{{_('城市')}}" data-serialize="city">

                                </select>
                            </td>
                        </tr>
                        <tr class="row">
                            <td>
                                <select class="select-chosen neighborhood-select" data-placeholder="{{_('请选择街区')}}" data-change-title data-change-title data-validator="" data-name="{{_('街区')}}" data-serialize="maponics_neighborhood"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="{{_('Postal area')}}" data-validator="" data-name="{{_('Postal area')}}" data-serialize="zipcode_index"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input style="width: 360px;" type="text" placeholder="{{_('地址')}}" data-validator="" data-name="{{_('地址')}}" data-serialize="address"/>
                            </td>
                        </tr>
                    </table>
                    <div class="step2" data-show-step="2">
                        <div class="row">
                            <div class="col">
                                <p class="title">{{_('求租类型')}}</p>
                                <select class="select-chosen rentType" data-change-title data-validator="required" data-name="{{_('求租类型')}}" data-serialize="rent_type">
                                    %for index, rent_type in enumerate(rent_type_list):
                                    <option value="{{rent_type.get('id')}}">
                                        {{rent_type.get('value')}}
                                    </option>
                                    %end
                                </select>
                            </div>
                            <div class="col">
                                <p class="title">{{_('预算')}}(
                                    <!--@@include=./current_currency.html -->
                                    {{_('/周')}}
                                    )</p>
                                <select class="select-chosen rentBudget" data-change-title data-validator="required" data-name="{{_('预算')}}" data-serialize="rent_budget">
                                    %for index, rent_budget in enumerate(rent_budget_list):
                                    %if rent_budget.get('currency') == _.currency:
                                    <option value="{{rent_budget.get('id')}}" data-index="{{index}}">{{rent_budget.get('value')}}</option>
                                    %end
                                    %end
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">{{_('租期')}}</p>
                                <input type="text" class="startDate dateInput" placeholder="{{_('开始日期')}}" data-validator="date" data-name="{{_('开始日期')}}" data-serialize="rent_available_time|time"/>
                                <span class="bridge">{{_('至')}}</span>
                                <input type="text" class="endDate dateInput" placeholder="{{_('结束日期')}}" data-validator="date"  data-name="{{_('结束日期')}}" data-serialize="rent_deadline_time|time"/>
                            </div>
                        </div>
                        <div class="row">
                            <input type="text" class="requirementRentTitle" name="requirementRentTitle" placeholder="{{_('求租标题')}}" data-validator="required,trim,maxLength(50)"  data-name="{{_('求租标题')}}" data-serialize="title"/>
                        </div>
                        <div class="row">
                            <textarea name="requirementRentDesc" id="" rows="3" placeholder="{{_('写下您的其他需求和描述，方便我们在挑选房源时作为参考')}}" data-validator="trim,maxLength(150)" data-name="{{_('求租描述')}}" data-serialize="description"></textarea>
                        </div>
                    </div>
                    <div class="step3" data-show-step="3">
                        <div class="row">
                            <input type="text" class="requirementRentName" name="requirementRentName" placeholder="{{_('姓名')}}" data-validator="required,trim,maxLength(20)"  data-name="{{_('姓名')}}" data-serialize="nickname"/>
                        </div>
                        <div class="row">
                            <!-- @@include =country_select_full.html -->
                            <input type="text" class="requirementRentPhone" name="requirementRentPhone" placeholder="{{_('电话')}}" data-validator="required,trim,number"  data-name="{{_('电话')}}"/>
                        </div>
                        <div class="row">
                            <input type="text" class="requirementRentEmail" name="requirementRentEmail" placeholder="{{_('邮箱')}}" data-validator="required,trim,email"  data-name="{{_('邮箱')}}" data-serialize="email"/>
                        </div>
                        <div class="row requirementRentAgreeWrap">
                            <input type="checkbox" class="requirementRentAgree currantCheckbox" name="requirementRentAgree" id="requirementRentAgree" data-serialize="noregister|reverse"/>
                            <label for="requirementRentAgree">{{_('我希望注册为会员以便以后能够更新我的求租需求')}}</label>
                        </div>

                    </div>
                    <div class="requirementRentFormError"></div>
                </form>
                <div class="actionWrap">
                    <div data-show-step="1">
                        <button class="actionButton ghostButton red" data-action="gotoNext">{{_('下一步')}}</button>
                    </div>
                    <div data-show-step="2">
                        <button class="actionButton ghostButton red" data-action="gotoPrev">{{_('上一步')}}</button>
                        <button class="actionButton ghostButton red" data-action="gotoNext">{{_('下一步')}}</button>

                    </div>
                    <div data-show-step="3">
                        <button class="actionButton ghostButton red" data-action="gotoPrev">{{_('上一步')}}</button>
                        <button class="actionButton button red ajaxButton" type="submit">{{_('提交')}}</button>
                    </div>
                </div>
            </div>
            <div class="successWrap">
                <h2>{{_('提交成功')}}</h2>
                <p class="hint">您的求租意向单已经提交成功，您可以：</p>
                <p class="item" data-hide="requestContact">{{_('获取 1个 额外的联系房东机会')}}</p>
                <p class="item" data-show="requestContact">{{_('已获取到当前房东的联系方式')}}</p>
                <p class="item">{{_('让满足您求租需求的房源第一时间主动找到你,找房再也不用临时抱佛脚')}}</p>
                <p class="item">{{_('在个人中心在中查看自己的')}}<a href="/user-intentions#rent">{{_('求租意向单')}}</a> {{_('，便捷地查看已联系过房东的联系方式，当您已经租到房子时可以修改求租单状态，平台将停止向您推荐')}}</p>
                <!--<div class="contact">
                    <label class="hint">{{_('联系我们')}}</label>
                    <a href="tel:{{get_phone_numbers('link')[0]}}"><i></i>{{get_phone_numbers('display')[0]}}</a>
                </div>-->

                <div data-show="requestContact" class="hostContactWrap">
                    <p class="hint">{{_('正在为您加载您要查看的房东联系方式...')}}</p>
                    <div class="host" style="display: none">
                        <img class="avatar" src="/static/images/property_details/ico_phoneowner.png"></img>
                        <label class="hostName"></label>
                        <!--<label class="hostType"></label>-->
                        <div class="hostPhone hostContact">
                            <a>
                                <i class="ico icon-phone_icon"></i>
                                <span></span> <span></span>
                            </a>
                        </div>
                        <div class="hostEmail hostContact">
                            <a class="clearfix">
                                <i class="ico icon-email"></i>
                                <span class="email"></span>
                            </a>
                        </div>
                        <div class="hostWechat hostContact">
                            <i class="ico icon-wechat"></i>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="qrcodeWrap" style="display: none;">
                    <div class="imageWrap">
                        <img class="qrcode" width="192" height="192" alt="{{_('二维码')}}"/>
                    </div>
                    <p>
                        {{_('扫一扫分享“洋房动App”')}}<br>
                        {{_('转发就获取1个额外联系房东机会')}}
                    </p>
                </div>
            </div>
        </div>
        <button name="cancel" class="cancel"><i class="icon-delete"></i></button>
    </div>
</div>
