<form name="resetPassword" class="resetPasswordForm">
    <div class="form bordered">
       <!-- @@include=phone_row.html -->
        <hr>
        <div class="code form_row">
            <img src="/static/images/icon/lock.png" alt=""/>
            <input name="code" placeholder={{_('短信验证码')}} size=10 data-validator="required, trim">
            <a id="smsVerificationSend" href=# style="position:absolute; right:0;font-size:12px; color:#aaa;">{{_('获取验证码')}}</a>
        </div>
        <hr>
        <div class="form_row">
            <img src="/static/images/icon/lock.png" alt=""/>
            <input name="password" type="password" placeholder={{_('设置新密码')}}  size=20 data-validator="required, trim">
        </div>
        <hr>
        <div class="form_row">
            <img src="/static/images/icon/lock.png" alt=""/>
            <input name="new_password" type="password" placeholder={{_('确认新密码')}} size=20 data-validator="required, trim, sameAs(password)">
        </div>
    </div>
    <button type="submit" class="signin button gray">{{_('提交')}}</button>
    <p class="errorMessage" style="display:none"></p>
</form>
