<script id="show-payment-form-tpl" type="text/template">
    <div id="payment-info">
        <div class="payment-details">
            <div class="payment-details-main">
                <span class="time">2017-01-01 ~ 2017-05-01</span>
                <span class="money">$ <strong>1000</strong></span>
            </div>
            <div class="payment-details-meta">
                <dl>
                    <dt>租金</dt><dd>666</dd>
                </dl>
                <dl>
                    <dt>押金</dt><dd>344</dd>
                </dl>
                <dl>
                    <dt>租期</dt><dd>888</dd>
                </dl>
            </div>
        </div>
        <div class="payment-card">
            <span class="switchBtn btn" data-bind="click: showPaymentDrop"><i class="icon-down_arrow"></i></span>
            
            <div class="payment-card-items">
                <div class="cc-card"><img src="https://www.braintreepayments.com/images/visa-logo-8ea8a4fc.svg" alt=""></div>
                <div class="cc-cardno">6666 xxxx xxxx 9999</div>
                <div class="default-card">default payment</div>                
            </div>
            <div class="payment-card-items" data-bind="visible: isShow">
                <div class="cc-card"><img src="https://www.braintreepayments.com/images/visa-logo-8ea8a4fc.svg" alt=""></div>
                <div class="cc-cardno">6666 xxxx xxxx 8888</div>             
            </div>
            <div class="payment-card-items" data-bind="click: showForm, visible: isShow">
                <div class="cc-card"><i class="icon-add"></i></div>
                <div class="add-btn">add payment</div>
            </div>

        </div>
        <div style="text-align: center"><button type="submit" class="btn btn-primary">提交</button></div>
    </div>
</script>
