<form name="signin" class="signinForm" autocomplete="on">
    <p class="errorMessage" style="display:none"></p>
    <div class="form bordered">
        <!-- @@include=phone_row.html -->
        <hr>
        <div class="form_row">
            <span class="iconWrap">
                <img src="/static/images/signin/lock.png" alt="">
            </span>
            <input name="password" type="password" placeholder={{_('密码')}} size=10 data-validator="required, trim">
            <a id="forgotPassword" href="#" onclick="project.goToResetPassword()"
                style="position:absolute; right:0;font-size:12px; color:#aaa;">{{_('忘记密码')}}</a>
        </div>
    </div>
    <p class="errorMessage" style="display:none"></p>
    <button type="submit" class="signin button red ajaxButton">{{_('登录')}}</button>
    <h3 class="notHaveAccountHint">{{_('还没有账号？请')}} <a href="#" onclick="project.goToSignUp()" class="ajaxButton">{{_('注册')}}</a></h3>
</form>

