<form name="signin" class="signinForm" autocomplete="on">
    <div class="form bordered">
        <div class="phone form_row">
            <img src="/static/images/icon/phone-active.png" alt=""/>
            <select name="country" class=addLeft>
                <option value="CN">中国 +86</option>
                <option value="HK">香港 +85</option>
                <option value="UK">英国 +44</option>
                <option value="US">美国 +1</option>
            </select>
            <span class=vr></span>
            <input name="phone" type="tel" size=20>
        </div>
        <hr>
        <div class="form_row">
            <img src="/static/images/icon/lock.png" alt=""/>
            <input name="password" type="password" placeholder=密码 size=10>
            <a id="forgotPassword" href="#" onclick="project.goToResetPassword()" style="position:absolute; right:0;font-size:12px; color:#aaa;">忘记密码</a>
        </div>
    </div>
    <button type="submit" class="signin button gray">登录</button>
    <h3 class="notHaveAccountHint">还没有账号？请<a herf="http://www.baidu.com" onclick="project.goToSignUp()">注册</a></h3>
</form>