<div class="vipForm">
    <div>
        <div class="textCenter">
            %if _.lang == 'en_GB':
                <a href="/"><img class="logo" src="/static/images/logo/logo_login_en.png" alt=""/></a>
            %else:
                <a href="/"><img class="logo" src="/static/images/logo/logo_login.png" alt=""/></a>
            %end
        </div>
        <!-- @@include =signup_form.html {"button":"<button type=\"submit\" class=\"register button red\">{{_('限时申请')}}</button>"} -->
    </div>
    <div class="middleLine"></div>
    <div>
        <div class="vipTitle">{{_('洋房东VIP专属权益')}}</div>
        <ul class="vipTable">
            <li class="vipRow">
                <div class="icon">
                    <div>1</div>
                </div>
                <div class="text">
                    <div class="vipRowTitle">{{_('专属投资顾问')}}</div>
                    <div class="vipRowText">{{_('24小时免费海外投资置业咨询')}}</div>
                </div>
            </li>
            <li class="vipRow">
                <div class="icon">
                    <div>2</div>
                </div>
                <div class="text">
                    <div class="vipRowTitle">{{_('VIP资讯')}}</div>
                    <div class="vipRowText">{{_('VIP用户独享优质海外投资机会实时推送服务')}}</div>
                </div>
            </li>
            <li class="vipRow">
                <div class="icon">
                    <div>3</div>
                </div>
                <div class="text">
                    <div class="vipRowTitle">{{_('无广告')}}</div>
                    <div class="vipRowText">{{_('让您的投资界面更清爽')}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>
