<form name="smsVerification" class="smsVerificationForm">
    <div class="form bordered">
        <div class="phone form_row">
            <i><img src="/static/images/icon/phone-active.png" alt=""/>
                <select name="country" class="ghostSelect">
                    <option value="CN">中国 +86</option>
                    <option value="HK">香港 +85</option>
                    <option value="UK">英国 +44</option>
                    <option value="US">美国 +1</option>
                </select>
            </i> <input name="phone" type="tel" size=20>
        </div>
        <hr>
        <div class="form_row">
            <i><img src="/static/images/icon/lock.png" alt=""/></i>
            <input name="code" placeholder=短信验证码 size=20>
        </div>
    </div>
    <button type="submit" class="signin button gray">提交</button>
</form>