
<!-- @if ENV=='production' -->
<script>
    window.env = 'production'
</script>
<!-- @endif -->

<!-- @if ENV=='debug' -->
<script>
    window.env = 'debug'
</script>
<!-- @endif -->

<!-- @if ENV=='test' -->
<script>
    window.env = 'test'
</script>
<!-- @endif -->

<!-- @if ENV=='dev' -->
<script>
    window.env = 'dev'
</script>
<!-- @endif -->


<!--build:js /static/scripts/airbrake.js-->
<script src="/static/bower_components/airbrake-js-client/dist/client.js"></script>
<!--endbuild-->
<script type="text/javascript">
    window.airbrake = new window.airbrakeJs.Client({projectId: 113692, projectKey: '666a2a183ac4ac2191cf8e5736251d69'});
    window.airbrake.setEnvironmentName(window.env)
    window.onerror=function(message, file, line, col, error){
        var report = {error: {message: message, fileName: file, lineNumber: line}}
        if(col) {
            report.error.colNumber = col
        }
        if(error && error.stack) {
            report.params = report.params || {}
            report.params.stack = error.stack
        }
        window.airbrake.push(report);
    };
</script>
