<h1 class="caption">{{_('账户信息')}}</h1>
<div class="table_wrapper">
    <table>
        <colgroup>
            <col class="name">
            <col class="value">
            <col class="status">
            <col class="action">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <strong>{{_('手机号')}}</strong>
                    <p> {{_('手机号是您在洋房东的登录和')}} <br/>{{_('找回密码凭证')}}</p>
                </td>
                <td style="font-size: 20px;">
                    %if user.get('phone'):
                    {{user.get('phone')}}
                    %end
                </td>
                <td>
                    %if user.get('phone_verified'):
                    <i></i> {{_('已认证')}}
                    %else:
                    <i></i> {{_('未认证')}}
                    %end
                </td>
                <td class="action">
                    %if user.get('phone_verified'):
                    <a class="ghostButton red" href="/user_change_phone_1">
                        {{_('修改')}}
                    </a>
                    %else:
                    <a class="ghostButton red" href="/user_verify_phone_1">
                        {{_('认证')}}
                    </a>
                    %end
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('电子邮箱')}}</strong>
                    <p>{{_('获取最新的投资讯息和账户信息')}} <br/> {{_('变动通知')}}</p>
                </td>
                <td style="font-size: 20px;">
                    %if user.get('email'):
                    {{user.get('email')}}
                    %end
                </td>
                <td>
                    %if user.get('email') and user.get('email_verified'):
                    <i></i> {{_('已认证')}}
                    %elif user.get('email') and (not user.get('email_verified')):
                    <i></i> {{_('未认证')}}
                    %else:
                    <i></i> {{_('未设置')}}
                    %end
                </td>
                <td class="action">
                    %if user.get('email') and user.get('email_verified'):
                    <a class="ghostButton red" href="/user_change_email">
                        {{_('修改')}}
                    </a>
                    %elif user.get('email') and (not user.get('email_verified')):
                    <a class="ghostButton red" href="/user_verify_email">
                        {{_('认证')}}
                    </a>
                    %else:
                    <a class="ghostButton red" href="/user_change_email">
                        {{_('设置')}}
                    </a>
                    %end
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('登录密码')}}</strong>
                    <p>{{_('注册时设置的密码')}}</p>
                </td>
                <td>
                </td>
                <td>
                    <i></i> {{_('已设置')}}
                </td>
                <td class="action">
                    <a class="ghostButton red" href="/user_change_password">{{_('修改')}}</a>
                </td>
            </tr>
            <!-- @if ENV!='test' -->
            <tr>
                <td>
                    <strong>{{_('语言设置')}}</strong>
                    <p>{{_('网站及各类通知邮件默认语言')}}</p>
                </td>
                <td style="font-size:20px;">
                    %if user.get('locales') and len(user.get('locales')):
                    <label name="userLanguage">
                        %if user.get('locales')[0] == 'en_GB':
                        {{_('English (United Kingdom)')}}
                        %elif user.get('locales')[0] == 'zh_Hans_CN':
                        {{_('简体中文(中国)')}}
                        %else:
                        {{user.get('locales')[0]}}
                        %end
                    </label>
                    %end
                    <select name="userLanguage" class="ghostSelect" style="display:none;">
                        <option value="zh_Hans_CN" selected>{{_('简体中文(中国)')}}</option>
                        <option value="en_GB">{{_('English (United Kingdom)')}}</option>
                    </select>
                </td>
                <td>
                    %if user.get('locales') and len(user.get('locales')):
                    {{_('已设置')}}
                    %else:
                    {{_('未设置')}}
                    %end
                </td>
                <td class="action">
                    <button name="userChangeLanguage" data-state="normal" class="ghostButton red">{{_('修改')}}</button>
                </td>
            </tr>
            <!-- @endif -->
        </tbody>
    </table>
</div>
<!--Hide User Setting-->
<!--<h1 class="caption">{{_('消息设置')}}</h1>
<div class="table_wrapper">
    <table>
        <colgroup>
            <col class="name">
            <col class="switch">
        </colgroup>

        <tbody>
            <tr>
                <td>
                </td>
                <td style="text-align:center;">
                    {{_('系统消息')}}
                </td>
                <td style="text-align:center;">
                    {{_('邮件通知')}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('接收我的房产资讯')}}</strong>
                    <p>{{_('当房产有新的资讯或更新时发送至您的账户邮箱中')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox"

                           %if isinstance(user.get('system_message_type'), list) and 'my_property_news' in user.get('system_message_type'):
                           checked
                           %end
                           />
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('email_message_type'), list) and ('my_property_news' in user.get('email_message_type', [])):
                    checked
                           %end
                           />
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('接收已提交意向单的房产资讯')}}</strong>
                    <p>{{_('当意向有新的资讯或更新时发送至您的账户邮箱中')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('system_message_type'), list) and ('intention_property_news' in user.get('system_message_type', [])):
                    checked
                           %end
                           />
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('email_message_type'), list) and ('intention_property_news' in user.get('email_message_type', [])):
                    checked
                           %end
                           />
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('接收收藏房产的资讯')}}</strong>
                    <p>{{_('当收藏有新的资讯或更新时发送至您的账户邮箱中')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('system_message_type'), list) and ('favorited_property_news' in user.get('system_message_type', [])):
                    checked
                           %end
                           />
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('email_message_type'), list) and ('favorited_property_news' in user.get('email_message_type', [])):
                    checked
                           %end
                           />
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('接收平台通知')}}</strong>
                    <p>{{_('当收藏有新的资讯或更新时发送至您的账户邮箱中')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('system_message_type'), list) and  ('system' in user.get('system_message_type', [])):
                    checked
                           %end
                           />
                </td>
                <td class="textCenter">
                    <input type="checkbox"
                           %if isinstance(user.get('email_message_type'), list) and ('system' in user.get('email_message_type', [])):
                    checked
                           %end
                           />
                </td>
            </tr>
        </tbody>
    </table>
</div>-->
