<div class="header">
    <h2>{{_('账户信息')}}</h2>
</div>
<div class="table_wrapper">
    <table>
        <!--<colgroup>-->
        <!--<col class="name">-->
        <!--<col class="value">-->
        <!--<col class="status">-->
        <!--<col class="action">-->
        <!--</colgroup>-->
        <tbody>
            <tr>
                <td>
                    <strong>{{_('手机号')}}</strong>
                    <!--<p> {{_('手机号是您在洋房东的登录和')}} <br/>{{_('找回密码凭证')}}</p>-->
                    %if user.get('phone_verified'):
                    <i class="status green">{{_('已认证')}}</i>
                    %else:
                    <i class="status grey">{{_('未认证')}}</i>
                    %end

                </td>
                <td class="action">
                    <div style="">
                        %if user.get('phone'):
                        {{user.get('phone')}}
                        %end
                    </div>
                    %if user.get('phone_verified'):
                    <a class="btn-edit btn" href="/user-change-phone-1">
                        <i class="icon-nav-arrow-right"></i>
                    </a>
                    %else:
                    <a class="btn-red btn" href="/user-verify-phone-1">
                        {{_('认证')}}
                    </a>
                    %end
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('电子邮箱')}}</strong>
                    <!--<p>{{_('获取最新的投资讯息和账户信息')}} <br/> {{_('变动通知')}}</p>-->
                        %if user.get('email') and user.get('email_verified'):
                        <i class="status green">{{_('已认证')}}</i>
                        %elif user.get('email') and (not user.get('email_verified')):
                        <i class="status grey">{{_('未认证')}}</i>
                        %else:
                        <i class="status grey">{{_('未设置')}}</i>
                        %end

                </td>
                <td class="action">
                    <div>
                        %if user.get('email'):
                        %import re
                        {{re.sub(r'^(.{3})(.+)(.{7})$', '\\1***\\3', user.get('email'))}}
                        %end
                    </div>
                    %if user.get('email') and user.get('email_verified'):
                    <a class="btn-edit btn" href="/user-change-email">
                        <i class="icon-nav-arrow-right"></i>
                    </a>
                    %elif user.get('email') and (not user.get('email_verified')):
                    <a class="btn-red btn" href="/user-verify-email">
                        {{_('认证')}}
                    </a>
                    %else:
                    <a class="btn-red btn" href="/user-change-email">
                        {{_('设置')}}
                    </a>
                    %end
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('微信号设置')}}</strong>
                    <!--<p>{{_('设置后将会默认展示给其他注册用户')}}</p>-->
                    %if user.get('wechat') is not None:
                    <i class="status green active wechatStatus set">{{_('已设置')}}</i>
                    <i class="status grey wechatStatus notSet">{{_('未设置')}}</i>
                    %else:
                    <i class="status green wechatStatus set">{{_('已设置')}}</i>
                    <i class="status grey active wechatStatus notSet">{{_('未设置')}}</i>
                    %end
                </td>
                <td class="action">
                    <div>
                        <label name="userWechat">
                        %if 'wechat' in user and user.get('wechat','') != 'NONE':
                        {{user.get('wechat','')}}
                        %end
                        </label>
                        <input name="userWechat" type="text" value="{{user.get('wechat','')}}" data-validator="trim"
                            data-msg-required="{{_('请填写微信号')}}" style="display:none;"/>
                    </div>
                    <a name="userChangeWechat" data-state="normal" class="btn-edit btn"><i class="icon-nav-arrow-right"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{_('修改密码')}}</strong>
                    <!--<p>{{_('注册时设置的密码')}}</p>-->
                </td>
                <td class="action">
                    <a class="btn-edit btn" href="/user_change_password"><i class="icon-nav-arrow-right"></i></a>
                </td>
            </tr>
            <!-- @if ENV!='production' -->
            <tr>
                <td>
                    <strong>{{_('语言设置')}}</strong>
                    <!--<p>{{_('网站及各类通知邮件默认语言')}}</p>-->
                    %if user.get('locales') and len(user.get('locales')):
                    <i class="status green">{{_('已设置')}}</i>
                    %else:
                    <i class="status green">{{_('未设置')}}</i>
                    %end

                </td>
                <td class="action">
                    <div>
                        %if user.get('locales') and len(user.get('locales')):
                        <label name="userLanguage">
                            %if user.get('locales')[0] == 'en_GB':
                            {{_('English (United Kingdom)')}}
                            %elif user.get('locales')[0] == 'zh_Hans_CN':
                            {{_('简体中文(中国)')}}
                            %else:
                            {{user.get('locales')[0]}}
                            %end
                        </label>
                        %end
                        <select name="userLanguage" class="ghostSelect" style="display:none;">
                            <option value="zh_Hans_CN" selected>{{_('简体中文(中国)')}}</option>
                            <option value="en_GB">{{_('English (United Kingdom)')}}</option>
                        </select>

                    </div>
                    <a name="userChangeLanguage" data-state="normal" class="btn-edit btn"><i class="icon-nav-arrow-right"></i></a>
                </td>
            </tr>
            <!-- @endif -->
            <tr>
                <td>
                    <strong>{{_('货币偏好设置')}}</strong>
                    <!--<p>{{_('设置网站上价格展示的货币类型')}}</p>-->
                    %if user.get('currencies') and len(user.get('currencies')):
                    <i class="status green">{{_('已设置')}}</i>
                    %else:
                    <i class="status green">{{_('未设置')}}</i>
                    %end

                </td>
                <td class="action">
                    <div>
                        %if user.get('currencies') and len(user.get('currencies')):

                        <label  name="userCurrency">
                            %if user.get('currencies')[0] == 'CNY':
                            {{_('人民币')}}
                            %elif user.get('currencies')[0] == 'GBP':
                            {{_('英镑')}}
                            %elif user.get('currencies')[0] == 'USD':
                            {{_('美元')}}
                            %elif user.get('currencies')[0] == 'EUR':
                            {{_('欧元')}}
                            %elif user.get('currencies')[0] == 'HKD':
                            {{_('港币')}}
                            %else:
                            {{user.get('currencies')[0]}}
                            %end
                        </label>
                        %end
                        <select name="userCurrency" class="ghostSelect" style="display:none;">
                            <option value="CNY" {{'selected' if user.get('currencies') is not None and user.get('currencies')[0] == 'CNY' else ''}}>{{_('人民币')}}</option>
                            <option value="GBP" {{'selected' if user.get('currencies') is not None and user.get('currencies')[0] == 'GBP' else ''}}>{{_('英镑')}}</option>
                            <option value="USD" {{'selected' if user.get('currencies') is not None and user.get('currencies')[0] == 'USD' else ''}}>{{_('美元')}}</option>
                            <option value="EUR" {{'selected' if user.get('currencies') is not None and  user.get('currencies')[0] == 'EUR' else ''}}>{{_('欧元')}}</option>
                            <option value="HKD" {{'selected' if user.get('currencies') is not None and  user.get('currencies')[0] == 'HKD' else ''}}>{{_('港币')}}</option>
                        </select>
                    </div>

                    <a name="userCurrency" data-state="normal" class="btn-edit btn"><i class="icon-nav-arrow-right"></i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        % string = """<span class="residueDegree"></span>
                        """
                        {{!_('本月剩余%s次') %string}}
                    </strong>
                </td>
                <td class="action">
                    <label>
                        % string = """<span class="residueDegree"></span>
                        """
                        {{!_('本月剩余%s次') %string}}
                    </label>
                    <a href="/qa-rent" data-state="normal" class="btn-edit btn"><i class="icon-nav-arrow-right"></i></a>
                    <a href="/qa-rent" name="getMore" type="button" class="ghostButton red getMore">{{_('获取更多')}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="header">
    <h2 class="">{{_('消息设置')}}</h2>
</div>
<div class="table_wrapper messageTableWrapper">
    <table>
        <colgroup>
            <col class="name">
            <col class="switch">
        </colgroup>

        <tbody>
            <tr>
                <td>
                </td>
                <td class="textCenter" style="text-align:center;">
                    {{_('邮件通知')}}
                </td>
            </tr>
            <tr>
                <td>
                    <strong data-type="rent_ticket_reminder">{{_('接收出租提醒邮件')}}</strong>
                    <p>{{_('每周将会发送至您的账户邮箱中，方便您更新出租状态')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox" class="currantCheckbox" id="rent_ticket_reminder"
                        %if isinstance(user.get('email_message_type'), list) and ('rent_ticket_reminder' in user.get('email_message_type', [])):
                    checked
                    %end
                    data-type="rent_ticket_reminder"
                    />
                    <label for="rent_ticket_reminder"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong data-type="rent_ticket_draft_reminder">{{_('草稿未发布的提醒邮件')}}</strong>
                    <p>{{_('提醒您发布您可能忘记的房源，避免错过出租良机')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox" class="currantCheckbox" id="rent_ticket_draft_reminder"
                        %if isinstance(user.get('email_message_type'), list) and ('rent_ticket_draft_reminder' in user.get('email_message_type', [])):
                    checked
                    %end
                    data-type="rent_ticket_draft_reminder"
                    />
                    <label for="rent_ticket_draft_reminder"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <strong data-type="rent_intention_ticket_check_rent">{{_('平台推荐出租房源邮件')}}</strong>
                    <p>{{_('平台按照您的求租需求为您精心挑选的房源')}}</p>
                </td>
                <td class="textCenter">
                    <input type="checkbox" class="currantCheckbox" id="rent_intention_ticket_check_rent"
                        %if isinstance(user.get('email_message_type'), list) and ('rent_intention_ticket_check_rent' in user.get('email_message_type', [])):
                    checked
                    %end
                    data-type="rent_intention_ticket_check_rent"
                    />
                    <label for="rent_intention_ticket_check_rent"></label>
                </td>
            </tr>
        </tbody>
    </table>
</div>