<style>
    .guideLine {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 106;
        background: rgba(0,0,0,0.75);
    }
    .guideLine p{
        width: 180px;
        margin: 20px auto;
        line-height: 1.4em;
        color: #fff;
        font-size: 18px;
    }
    .guideLine i.arrow{
        display: block;
        position: absolute;
        right: 21px;
        top: 6px;
        width: 52px;
        height: 40px;
        background: url("/static/images/app_download/guide_arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>
<!--微信签名 start-->
<textarea id="pythonWeixin" style="display: none;">
    {{json_dumps(weixin)}}
</textarea>
<!--微信签名 end-->
<div class="guideLine" style="display: none;">
    <p>{{_('点击后在弹出的菜单中选择 [分享到朋友圈]')}}</p>
    <i class="arrow"></i>
</div>
<script>
(function () {
    /*
     * Weixin share sdk
     * */
    $(function () {
        //http://stackoverflow.com/questions/9413737/how-to-append-script-script-in-javascript
        $('body').append('<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"><\/script>')
        initWechatSDK()
    })
    window.wechatShareSDK = window.wechatShareSDK || {}
    var weixin = $('#pythonWeixin').text()
    if(weixin && weixin !== 'null' && weixin !== 'none' && weixin !== ''){
        weixin = JSON.parse(weixin)
    }
    window.wechatShareSDK.showGuideLine = function showGuideLine (text) {
        text = text || i18n('点击后在弹出的菜单中选择 [分享到朋友圈]')
        $('.guideLine p').text(text)
        $('.guideLine').fadeIn(300).off('click').on('click', function () {
            $(this).fadeOut(300)
        })
    }
    window.wechatShareSDK.init = window.wechatShareSDK.init || function (option, callbackObj) {
        window.wechatShareSDK.initQuene = window.wechatShareSDK.initQuene || []
        window.wechatShareSDK.initQuene.push({
            option: option,
            callbackObj: callbackObj
        })
    }
    window.wechatShareSDK.setUp = window.wechatShareSDK.setUp || function (option, callbackObj) {
        window.wechatShareSDK.setUpQuene = window.wechatShareSDK.setUpQuene || []
        window.wechatShareSDK.setUpQuene.push({
            option: option,
            callbackObj: callbackObj
        })
    }
    var timer
    function initWechatSDK() {
        console.log(new Date().getTime())
        if (typeof window.wx !== 'undefined' && typeof weixin === 'object') {
            clearTimeout(timer)
            window.wx.config({
                debug: window.wxSDKDebug || false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx123992a4d173037b', // 必填，公众号的唯一标识
                timestamp: weixin.timestamp, // 必填，生成签名的时间戳
                nonceStr: weixin.noncestr, // 必填，生成签名的随机串
                signature: weixin.signature,// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            })
            window.wx.ready(function(){
                window.wechatShareSDK.init = function (option, callbackObj) {
                    callbackObj = callbackObj || {}
                    var defaultWechatShareData = {
                        title: '{{title}}',
                        desc: '{{clear_line_break(clear_html_tags(description))}}'.slice(0, 100),
                        link: window.location.href,
                        imgUrl: 'http://upload.yangfd.com/app_icon_x120_150427.png',
//                        desc: '',
                        success:function(){

                        },
                        cancel:function(){

                        }
                    }
                    var wechatShareData = _.extend(_.clone(defaultWechatShareData), option)
                    if(window.team.isWeChat()) {
                        wechatShareData.imgUrl = wechatShareData.imgUrl.replace("upload.yangfd.com/", "yangfd.com/s3_raw/").replace("bbt-currant.s3.amazonaws.com/", "yangfd.com/s3_raw/")
                    }

                    var timelineWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.timeline : {}))
                    var appMessageWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.appMessage : {}))
                    var qqWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.qq : {}))

                    window.wx.onMenuShareTimeline(timelineWechatShareData);
                    window.wx.onMenuShareAppMessage(appMessageWechatShareData);
                    window.wx.onMenuShareQQ(qqWechatShareData);

                    /*function convertImgToBase64(url, callback, outputFormat){
                     var canvas = document.createElement('CANVAS');
                     var ctx = canvas.getContext('2d');
                     var img = new Image;
                     img.crossOrigin = 'Anonymous';
                     img.onload = function(){
                     canvas.height = img.height;
                     canvas.width = img.width;
                     ctx.drawImage(img,0,0);
                     var dataURL = canvas.toDataURL(outputFormat || 'image/png');
                     callback.call(this, dataURL);
                     // Clean up
                     canvas = null;
                     };
                     img.src = url;
                     }
                     convertImgToBase64(wechatShareData.imgUrl, function (base64ImaUrl) {
                     wechatShareData.imgUrl = base64ImaUrl
                     var timelineWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.timeline : {}))
                     var appMessageWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.appMessage : {}))
                     var qqWechatShareData = _.extend(_.clone(wechatShareData), (callbackObj ? callbackObj.qq : {}))

                     window.wx.onMenuShareTimeline(timelineWechatShareData);
                     window.wx.onMenuShareAppMessage(appMessageWechatShareData);
                     window.wx.onMenuShareQQ(qqWechatShareData);
                     })*/
                }
                window.wechatShareSDK.setUp = function (option, callbackObj) {
                    window.wechatShareSDK.init(option, callbackObj)
                    window.wechatShareSDK.showGuideLine()
                }
                while(window.wechatShareSDK.initQuene && window.wechatShareSDK.initQuene.length) {
                    window.wechatShareSDK.init(window.wechatShareSDK.initQuene[0].option, window.wechatShareSDK.initQuene[0].callbackObj)
                    window.wechatShareSDK.initQuene.shift()
                }
                while(window.wechatShareSDK.setUpQuene && window.wechatShareSDK.setUpQuene.length) {
                    window.wechatShareSDK.setUp(window.wechatShareSDK.setUpQuene[0].option, window.wechatShareSDK.setUpQuene[0].callbackObj)
                    window.wechatShareSDK.setUpQuene.shift()
                }
            })
            window.wx.error(function(res){
                ga('send', 'event', window.location.pathname, 'share', 'share-to-wechat-config-error', res.errMsg)
            })
        } else {
            timer = setTimeout(initWechatSDK, 50)
        }
    }
})()
</script>
