/*@font-face {*/
    /*font-family: SourceSansCN;*/
    /*src: url('/static/fonts/Open_Sans/SourceHanSans-Light.ttc'), url('/static/fonts/Open_Sans/SourceHanSansCN-Light.otf');*/
    /*font-weight: lighter;*/
/*}*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    font-family: OpenSans-Light,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;

}
p{
    margin: 0;
}
.hide{
    display: none;
}
.swiper-container {
    /*height: 1036px;*/
    width: 100%;
}
.swiper-slide {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.swiper-slide-bg{
    background-repeat:no-repeat;
    background-size:100%;
}
.loading .loadingCover{
    display: block;
}
.loadingCover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #333;
    text-align: center;
}
.loadingCover .proBox{
    position: relative;
    display: inline-block;
    /*width: 130px;*/
    /*height: 130px;*/
    margin-top: 25vh;
    text-align: center;
}
.loadingCover .procanvas{
}
.loadingCover .proText{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*line-height: 130px;*/
    font-weight: 100;
    font-size: 40px;
    color: #aec227;
}
.loadingCover .info{
    font-size: 30px;
    line-height: 1.3em;
    margin-top: 5vh;
    color: #aec227;
}
.loadingCover .logo{
    width: 100%;
    height: 132px;
    position: absolute;
    margin: 0 auto;
    bottom: 3vh;
    background: url("../../images/wechat_poster/logo_loading.png") no-repeat top center;
}
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: url("../../images/wechat_poster/container_bg.jpg") 50% 50%;
    background-size: cover;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-container .topTitleNav{
    position: absolute;
    top: -4vh;
    width: 100%;
    height: 40vh;
    background: url("../../images/wechat_poster/title_background.png") 50% 100%;
    background-size: cover;
    animation: bounceInDown 0.6s linear 0s 1;
    -webkit-animation: bounceInDown 0.6s linear 0s 1;
}
.swiper-container .bottomBox{
    width: 100%;
    position: absolute;
    height: 12vh;
    bottom: -3vh;
    background: url("../../images/wechat_poster/up_button_background.png") 50% 0%;
    background-size: cover;
    animation: bounceUp 0.6s linear 0.6s 1;
    -webkit-animation: bounceUp 0.6s linear 0.6s 1;
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;

}
.swiper-container .scrollUp{
    display: inline-block;
    position: absolute;
    margin-left: -3vh;
    z-index: 100;
    bottom: 5vh;
    width: 6vh;
    height: 6vh;
    padding-top: 3.3vh;
    font-size: 2.2vh;
    color: #afc327;
    animation: ani_arrow 1.4s ease-in 0.5s infinite;
    -webkit-animation: ani_arrow 1.4s ease-in 0.5s infinite;
}
.swiper-container .scrollUp:after{
    content: '';
    position: absolute;
    top: 0;
    left: 1.5vh;
    width: 3vh;
    height: 3vh;
    background: url("../../images/wechat_poster/up_button.png") no-repeat top center;
    background-size: contain;
}
.topTitleNav p{
    opacity: 0;
    animation: tada2 0.4s linear 0.6s 1;
    -webkit-animation: tada2 0.4s linear 0.6s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.topTitleNav p:nth-child(1){
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.topTitleNav p:nth-child(2){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.topTitleNav p:nth-child(3){
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.topTitleNav .location{
    position: absolute;
    left: 13%;
    top: 8.5vh;
    width: 74%;
    height: 6vh;
    background: #333;
    color: #afc327;
    font-size: 3vh;
    line-height: 6vh;
}
.topTitleNav .title{
    position: absolute;
    width: 96%;
    left: 2%;
    height: 8vh;
    top: 17vh;
    color: #333;
    font-size: 5.7vh;
    line-height: 8vh;
    overflow: hidden;
}
.topTitleNav .titleEn{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 30vh;
    color: #333;
    font-size: 8vh;
    font-family: 'Aleo';
    font-weight: bold;
    line-height: 8vh;
}
.page_1{
    width: 100%;
    height: 100%;
    background: url("../../images/wechat_poster/page_1_bg.jpg") 50% 50%;
    background-size: cover;
}