*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom:1
}
html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    font-family: OpenSans-Light,"HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
}
p{
    margin: 0;
}
.hide{
    display: none !important;
}
.swiper-container {
    /*height: 1036px;*/
    width: 100%;
    .swiper-slide {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .swiper-slide-bg{
        background-repeat:no-repeat;
        background-size:100%;
    }
}
.loadingCover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #333;
    text-align: center;
    .loading &{
        display: block;
    }
    .proBox{
        position: relative;
        display: inline-block;
        margin-top: 25vh;
        text-align: center;
    }
    .proText{
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        font-weight: 100;
        font-size: 28px;
        color: #aec227;
    }
    .info{
        font-size: 20px;
        line-height: 1.3em;
        margin-top: 5vh;
        color: #aec227;
    }
    .logo{
        width: 100%;
        height: 10vh;
        position: absolute;
        margin: 0 auto;
        bottom: 3vh;
        background: url("../../images/wechat_poster/logo_loading.png") no-repeat top center;
        background-size: contain;
    }
}
.mainSwiper {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: url("../../images/wechat_poster/container_bg.jpg") 50% 50%;
    background-size: cover;
    .topTitleNav{
        position: absolute;
        top: -4vh;
        width: 100%;
        height: 40vh;
        background: url("../../images/wechat_poster/title_background.png") 50% 100%;
        background-size: cover;
        animation: bounceInDown 0.6s linear 0s 1;
        -webkit-animation: bounceInDown 0.6s linear 0s 1;
    }
    .bottomBox{
        width: 100%;
        position: absolute;
        height: 12vh;
        bottom: -3vh;
        background: url("../../images/wechat_poster/up_button_background.png") 50% 0%;
        background-size: cover;
        animation: bounceUp 0.6s linear 0.6s 1;
        -webkit-animation: bounceUp 0.6s linear 0.6s 1;
        opacity: 0;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        text-align: center;
        .scrollUp{
            display: inline-block;
            position: absolute;
            left: 50%;
            margin-left: -3vh;
            z-index: 100;
            bottom: 5vh;
            width: 6vh;
            height: 6vh;
            padding-top: 3.3vh;
            font-size: 2.2vh;
            color: #afc327;
            animation: ani_arrow 1.4s ease-in 0.5s infinite;
            -webkit-animation: ani_arrow 1.4s ease-in 0.5s infinite;
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 1.5vh;
                width: 3vh;
                height: 3vh;
                background: url("../../images/wechat_poster/up_button.png") no-repeat top center;
                background-size: contain;
            }
        }
    }
    .mapBottom{
        height: 40vh;
        bottom: -4vh;
        background-image: url("../../images/wechat_poster/map_bottom_bg.png");
        h2{
            margin: 4vh auto 3vh;
            font-size: 3.5vh;
            font-weight: 400;
            color: #b6d11e;
        }
        p{
            font-size: 4.5vh;
            line-height: 1.5em;
        }
    }
    .photoBottom{
        z-index: 100;
        height: 40vh;
        bottom: -4vh;
        background-image: url("../../images/wechat_poster/map_bottom_bg.png");
        .photoThumbs{
            width: 45vh;
            height: 14vh;
            margin: 8vh auto;
            ul{
                margin: 4vh auto;
                li{
                    width: 12vh;
                    height: 12vh;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }

    }
}
.page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("../../images/wechat_poster/container_bg.jpg") 50% 50%;
    background-size: cover;

}
.pageCover{
    background: url("../../images/wechat_poster/page_cover_bg.jpg") 50% 50%;
    background-size: cover;
    .topTitleNav {
        p{
            opacity: 0;
            animation: tada2 0.4s linear 0.6s 1;
            -webkit-animation: tada2 0.4s linear 0.6s 1;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            &:nth-child(1){
                animation-delay: 0.6s;
                -webkit-animation-delay: 0.6s;
            }
            &:nth-child(2){
                animation-delay: 0.8s;
                -webkit-animation-delay: 0.8s;
            }
            &:nth-child(3){
                animation-delay: 1s;
                -webkit-animation-delay: 1s;
            }
        }
        .location{
            position: absolute;
            left: 50%;
            margin-left: -19vh;
            top: 8.5vh;
            width: 38vh;
            height: 6vh;
            background: #333;
            color: #afc327;
            font-size: 3.4vh;
            line-height: 6vh;
        }
        .title{
            position: absolute;
            width: 96%;
            left: 2%;
            height: 8vh;
            top: 18vh;
            color: #333;
            font-size: 5.7vh;
            line-height: 8vh;
            overflow: hidden;
        }
        .titleEn{
            position: absolute;
            width: 100%;
            height: 10vh;
            top: 30vh;
            color: #333;
            font-size: 8vh;
            font-family: 'Aleo';
            font-weight: bold;
            line-height: 8vh;
        }
    }
}
.pageRental{
    &>p{
        position: absolute;
        color: #afc327;
        opacity: 0;
        -webkit-animation: tada2 0.4s linear 0s 1;
        animation: tada2 0.4s linear 0s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    p.line1{
        width: 100%;
        height: 7vh;
        line-height: 7vh;
        font-size: 5.6vh;
        top: 10vh;
    }
    p.line2{
        width: 38vh;
        left: 50%;
        margin-left: -19vh;
        height: 6.16vh;
        line-height: 6.16vh;
        top: 22vh;
        color: #586c4f;
        font-size: 4.8vh;
        font-weight: bold;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        &:after{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #afc327;
            -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
            left: 0;
            z-index: 0;
            content: '';
        }
        *{
            position: relative;
            z-index: 1;
        }
        sub{
            font-size: 3vh;
            vertical-align:baseline ;
        }
    }
    p.line3{
        width: 100%;
        height: 3.2vh;
        line-height: 3.2vh;
        font-size: 2.5vh;
        top: 33vh;
        font-weight: bold;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .itemBox{
        position: absolute;
        margin: 0 0 0 -25vh;
        padding: 0;
        list-style: none;
        width: 50vh;
        height: 42vh;
        left: 50%;
        top: 45vh;
        li{
            opacity: 0;
            display: block;
            height: 7vh;
            margin-bottom: 3.2vh;
            border: 1px solid #fff;
            font-size: 3.1vh;
            text-align: left;
            line-height: 7vh;
            vertical-align: top;
            -webkit-animation:tada1 0.2s linear 0s 1;
            animation:tada1 0.2s linear 0s 1;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            >span{
                position: relative;
                font-size: 2.4vh;
                margin-right: 1.5vh;
                top: 0.5vh;
                vertical-align: inherit;
            }
            &:nth-child(2n-1){
                float: left;
                margin-right: 3.2vh;
            }
            &:nth-child(2n){
                overflow: hidden;
            }
            &:nth-child(1){
                width: 40%;
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }
            &:nth-child(2){
                -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
            }
            &:nth-child(3){
                width: 30%;
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
            }
            &:nth-child(4){
                -webkit-animation-delay: 0.9s;
                animation-delay: 0.9s;
            }
            &:nth-child(5){
                width: 55%;
                -webkit-animation-delay: 1.0s;
                animation-delay: 1.0s;
            }
            &:nth-child(6){
                -webkit-animation-delay: 1.1s;
                animation-delay: 1.1s;
            }
            &:nth-child(7){
                width: 100%;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
            }
            i{
                display: inline-block;
                width: 3vh;
                height: 3vh;
                margin: 2vh 1vh 2vh 2vh;
                background-size: contain;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
            i.sizeIcon{
                background-image: url("../../images/wechat_poster/size.png");
            }
            i.roomsIcon{
                background-image: url("../../images/wechat_poster/rooms.png");
            }
            i.rentalIcon{
                background-image: url("../../images/wechat_poster/rental.png");
            }
            i.estateIcon{
                background-image: url("../../images/wechat_poster/estate.png");
            }
            i.streetIcon{
                background-image: url("../../images/wechat_poster/street.png");
            }
            i.doorIcon{
                background-image: url("../../images/wechat_poster/door.png");
            }
            i.timeIcon{
                background-image: url("../../images/wechat_poster/time.png");
            }
        }
    }
}
.pageDescription{
    h2{
        opacity: 0;
        margin: 6vh 0 0vh;
        font-size: 10vh;
        color: #afc327;
        font-weight: 400;
        -webkit-animation: tada2 0.4s linear 0s 1;
        animation: tada2 0.4s linear 0s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    p{
        opacity: 0;
        margin: -5vh auto 5vh;
        font-size: 3vh;
        line-height: 1.4em;
        -webkit-animation: tada2 0.4s linear 0s 1;
        animation: tada2 0.4s linear 0s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
}
.modal{
    width: 100%;
    height: 100%;
    padding: 10vh 0;
    overflow: auto;
    position: absolute;
    top: 0;
    z-index: 100;
    overflow: auto;
    background-image: url("../../images/wechat_poster/container_bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    opacity: 0;
    animation: fadeInDown 0.4s linear 0s 1;
    -webkit-animation: fadeInDown 0.4s linear 0s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    color:#fff;
    h2{font-size: 3vh;}
    .facilities{
        margin: 3vh auto 6.8vh;
    }
}
.modal.animation{
    animation: fadeOutUp 0.4s linear 0s 1;
    -webkit-animation: fadeOutUp 0.4s linear 0s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.descriptionMore p{
    width: 48vh;
    margin: 0 auto 5vh;
    color: #fff;
    text-align: left;
    font-size: 3.4vh;
    line-height: 1.5em;
}
.btn{
    padding: 1.3vh 4vh;
    border-radius: 1.2vh;
    border: 1px solid #fff;
    cursor: pointer;
    font-size:2.6vh;
    color: #fff;
}
.page a:hover{
    border-color: #aec227;
    color: #aec227;
}
.facilities{
    width: 44vh;
    margin: 8vh auto 4.5vh;
    padding: 0;
    list-style: none;
    text-align: left;
    li{
        .pageDescription &{
            opacity: 0;
            -webkit-animation:tada1 0.2s linear 0s 1;
            animation:tada1 0.2s linear 0s 1;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        display: block;
        float: left;
        width: 22vh;
        height: 7vh;
        line-height: 7vh;
        vertical-align: top;
        font-size: 2.6vh;
        &:nth-child(1){
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
        &:nth-child(2){
            -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
        }
        &:nth-child(3){
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }
        &:nth-child(4){
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }
        &:nth-child(5){
            -webkit-animation-delay: 1.0s;
            animation-delay: 1.0s;
        }
        &:nth-child(6){
            -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
        }
        &:nth-child(7){
            -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
        }
        &:nth-child(8){
            -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s;
        }
        i{
            display: inline-block;
            width: 4.5vh;
            height: 4.5vh;
            margin: 1.25vh 2vh 1.25vh;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
        i.tvIcon{
            background-image: url("../../images/wechat_poster/tv.png");
        }
        i.fireIcon{
            background-image: url("../../images/wechat_poster/fire.png");
        }
        i.iceIcon{
            background-image: url("../../images/wechat_poster/ice.png");
        }
        i.heaterIcon{
            background-image: url("../../images/wechat_poster/heater.png");
        }
        i.washerIcon{
            background-image: url("../../images/wechat_poster/washer.png");
        }
        i.warmIcon{
            background-image: url("../../images/wechat_poster/warm.png");
        }
    }
}
.pageDescription{
    .btn{
        opacity: 0;
        -webkit-animation: tada2 0.4s linear 0s 1;
        animation: tada2 0.4s linear 0s 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .viewMoreBtn{
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .morefacilitiesBtn{
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
}
.pageMap{
    .mapImage{
        width: 100%;
        height: 100%;
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
        .pushpin{
            position: absolute;
            left: 50%;
            bottom: 50%;
            width: 28vh;
            height: 12vh;
            margin-left: -14vh;
            background: url("../../images/wechat_poster/pushpin.png") 50% 50% no-repeat;
            background-size: contain;
            animation: bounceInDown2 0.6s linear 0s 1;
            -webkit-animation: bounceInDown2 0.6s linear 0s 1;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
    }
}
.pagePhoto .photoList{
    margin: 0;
    padding: 0;
    position: relative;
}
