@import "../project/_imports";


.wechatPage_popup {
    display:none;
    overflow:hidden;
    text-align:center;
    width:100%;
    z-index:@jquery_modal-z-index;
    .tip {
        display:block;
        float:left;
        text-align:center;
        width:100%;
        padding:0 35px;
        font-size:17px;
        color:#999;
    }

    .buttonHolder {
        margin:20px auto;
        height:20px;
    }

    .guide {//http://stackoverflow.com/questions/8755716/how-can-i-center-my-h1-when-there-is-an-img-next-to-it
        width:100%;
        display:block;
        img {
             width:188px;
             margin:40px auto;
        }
    }

    .gotIt {
        color:#333;
    }
}
