html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
}

.loading .loadingCover{
    display: block;
}
.loadingCover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: #333;
    .ring {
        width: 15vh;
        height: 15vh;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}